// Top bar
$topBarHeight     : 60px;
$topBarBgColor    : #EEE;

$menuBarWidth     : 300px;
$playerPadding:   100px;

.undo-list{
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: block;
}

.undo-list > li{
  display: block;
}

.undo-link{
  text-decoration: none;
  color: inherit;
}

@mixin transition($property, $time) {
  -webkit-transition: $property $time cubic-bezier(0.45, 0.515, 0.36, 0.88);
  -moz-transition: $property $time cubic-bezier(0.45, 0.515, 0.36, 0.88);
  -o-transition: $property $time cubic-bezier(0.45, 0.515, 0.36, 0.88);
  transition: $property $time cubic-bezier(0.45, 0.515, 0.36, 0.88);
}

@mixin transform($property) {
  -webkit-transform: $property;
  -moz-transform: $property;
  -ms-transform: $property;
  -o-transform: $property;
  transform: $property;
}
// Font

@font-face {
  font-family: defaultFontFamily;
  src: url(../../../lib/fonts/Raleway-Regular.ttf) format("opentype");
}