@import 'config';

#blog{

  #player-frame{
    background-color: black;
    border: 5px solid black;
  }

  .navigation{
    height: $topBarHeight;
    background-color: $topBarBgColor;
  }
}
*{box-sizing: border-box;  }
