@import 'config';

#blog{

  #welcome{
    background-color: black;
    border: 5px solid black;
    height: 100vh;
    #player{
      height: 500px;
      width: calc(100vw - 10px);
      img{width: 100%;}
    }
  }

  .navigation{
    height: $topBarHeight;
    background-color: $topBarBgColor;
    color: #EEE;
  }
}

@import 'top-bar';