@import '../../../../style/base';

$lineHeight: $rowHeight;
$borderRadius: 2px;
$lightBorder: rgba(0,0,0,0.1);

form{
  padding: $padding;
  max-width: 500px;
  border: 1px solid $lightBorder;

  .field{
    padding: $padding;

    label{
      width: 100%;
      font-size: small;
      display: block;
      padding-bottom: $padding/2;
      color: $lightBorder;
    }
    input{
      display: block;
      font-size: medium;
      width: 100%;

      height: $lineHeight;
      line-height: $lineHeight;
      padding: 0px $padding;
      border-radius: $borderRadius;
      border: 1px solid $lightBorder;
    }
  }
  .error{
    padding: $padding $padding * 2;
    color: #ff3748;
  }
  .action{
    padding: 2 * $padding $padding;

    button{
      display: block;
      font-size: medium;
      width: 100%;
      height: $lineHeight;
      line-height: $lineHeight;
      padding: 0px $padding;
      border-radius: $borderRadius;
      border: 1px solid $lightBorder;
    }

    button.primary{
      background-color: $primaryBlue;
      color: $white;
    }
  }

}