
<div ng-controller="cucumberController" ng-if="!editor.showing">

    <div>
        <div>
            <h5 class="heading">table.feature</h5>
            <div id="gherkin-editor"></div>
        </div>

        <div>
            <h5 class="heading">step.rb</h5>
            <div id="step-editor"></div>
        </div>

        <div>
            <h5 class="heading">html table</h5>
            <table class="html-table">
                <tr>
                    <th class="tg-yw4l">Name</th>
                    <th class="tg-yw4l">Email</th>
                    <th class="tg-yw4l">Commission</th>
                    <th class="tg-yw4l">Enrolled</th>
                    <th class="tg-yw4l">HomePage</th>
                </tr>

                <tr ng-repeat="row in cucumber.table.rows">
                    <td class="tg-yw4l">
                        <input ng-model="row.name">
                    </td>
                    <td class="tg-yw4l">
                        <input ng-model="row.email">
                    </td>
                    <td class="tg-yw4l">
                        <input ng-model="row.amount">
                    </td>
                    <td class="tg-yw4l">
                        <input ng-model="row.accept">
                    </td>

                    <td class="tg-yw4l">
                        <input ng-model="row.url">
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <ul class="cucumber console">

                <li class="success" ng-show="cucumber.errors.length == 0">
                    No errors.
                </li>
                <li class="error" ng-repeat="error in cucumber.errors" >
                    <span ng-bind="error"></span>
                </li>
            </ul>
        </div>
        <button class="run" ng-click="cucumber.run()" ng-disabled="cucumber.running">
            <span ng-show="!cucumber.running">Run</span>
            <i ng-show="cucumber.running" class="fa fa-spin fa-spinner"></i>
        </button>

    </div>

</div>