@import '../../style/modules/debt';
.more-glyph{
  font-size: 13px;
}

#more-campaign-sections-dropdown {
  width: 300px;
  position: fixed;

  ul {
    text-align: left;
    li{
      a{
        width: calc(100% - 4px);
        border-radius: 15px;
        border-top: 1px solid #CCCBCB;
        box-shadow: 1px 3px 3px #B3B3B3;
        color: #484444;
        background-color: white;
        padding: 5px 15px 5px 15px;
        margin: 5px;
        font-size: 16px;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}