#google-play-window-wrapper{
  position: fixed;
  top: 0px;
  height: 100vh;
  width: 100vw;

  #google-play-window {
    @include transition(opacity, 100ms);
  }
    @import '../app/google-play/google-play';
}

#app:not(.show-google-play){
  #google-play-window-wrapper{
    @include transform(scale(0));
    #google-play-window{
      opacity: 0;
    }
  }
}