@import url(https://fonts.googleapis.com/css?family=Roboto:300,100,700);
#app * {
  box-sizing: border-box; }

input.default, .search .input {
  padding: 0px;
  margin: 0px;
  display: block;
  box-sizing: border-box;
  border: none; }

#app {
  height: calc(100% - 60px);
  width: 100%;
  font-family: 'Roboto', sans-serif; }
  #app .device-bar {
    height: 30px;
    color: white;
    background-color: black; }
    #app .device-bar .notifications, #app .device-bar .device-status {
      list-style: none;
      margin: 0px;
      padding: 0px; }
    #app .device-bar .notifications {
      float: left;
      width: calc(100% - 80px); }
      #app .device-bar .notifications .fb, #app .device-bar .notifications .wifi {
        padding: 0px 2px; }
    #app .device-bar .device-status {
      float: right;
      width: 80px; }
      #app .device-bar .device-status .time, #app .device-bar .device-status .batter, #app .device-bar .device-status .signal, #app .device-bar .device-status .network {
        padding: 0px 2px; }
      #app .device-bar .device-status .time {
        font-weight: 300; }
      #app .device-bar .device-status .battery {
        transform: rotate(-90deg);
        font-size: 9px; }
      #app .device-bar .device-status .network {
        font-size: 7px;
        position: relative;
        top: -5px;
        left: 5px; }
        #app .device-bar .device-status .network > span {
          font-size: 11px; }
    #app .device-bar li {
      height: 30px;
      float: left;
      line-height: 30px;
      text-align: center;
      font-size: 13px; }
  #app .google-play {
    z-index: 1;
    position: fixed;
    width: 100%; }
  #app .view {
    height: calc(100% - 30px);
    width: 100%; }

.search {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.26);
  height: 40px;
  margin: 5px 10px;
  border-radius: 1px; }
  .search .input, .search .voice {
    box-sizing: border-box;
    color: #B1B1B1;
    height: 40px;
    line-height: 40px; }
  .search .input {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.26);
    padding: 0px 10px; }
  .search .voice {
    width: 50px;
    padding-left: 10px;
    padding-top: 3px;
    font-size: 20px;
    color: #f4f4f4;
    text-align: center;
    float: right;
    position: relative;
    top: -40px; }

#app.show-google-play .search {
  box-shadow: 0px 1px 2px #B1B1B1; }
  #app.show-google-play .search .voice {
    color: #B1B1B1; }
  #app.show-google-play .search .input {
    background-color: white;
    color: #B1B1B1; }

#google-play-window-wrapper {
  position: fixed;
  top: 0px;
  height: 100vh;
  width: 100vw; }
  #google-play-window-wrapper #google-play-window {
    -webkit-transition: opacity 100ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
    -moz-transition: opacity 100ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
    -o-transition: opacity 100ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
    transition: opacity 100ms cubic-bezier(0.45, 0.515, 0.36, 0.88); }
  #google-play-window-wrapper #google-play-window {
    background-color: #EEE;
    padding-top: 75px;
    height: 100vh;
    overflow: auto; }
    #google-play-window-wrapper #google-play-window ul.swiper {
      margin: 0px auto;
      list-style: none;
      padding: 0px; }
    #google-play-window-wrapper #google-play-window ul.swiper > li {
      height: 73px;
      -webkit-transition: height 100ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
      -moz-transition: height 100ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
      -o-transition: height 100ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
      transition: height 100ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
      transition-delay: 100ms;
      overflow: hidden; }
    #google-play-window-wrapper #google-play-window ul.swiper > li.climate {
      height: 240px; }
    #google-play-window-wrapper #google-play-window ul.swiper > li.swiped-out > .swipable {
      transition-delay: 0ms;
      transform: translateX(-100vw);
      opacity: 0; }
    #google-play-window-wrapper #google-play-window .swiped-out {
      height: 0px !important;
      border: none; }
    #google-play-window-wrapper #google-play-window .swiping-out > .card.swipable {
      opacity: 0.5; }
    #google-play-window-wrapper #google-play-window .resize-container:after, #google-play-window-wrapper #google-play-window ul.swiper > li.climate .card .fore-cast:after, #google-play-window-wrapper #google-play-window ul.swiper > li.climate .card .fore-cast ul.week:after {
      content: "";
      display: table;
      clear: both; }
    #google-play-window-wrapper #google-play-window .sun {
      color: #FFE168; }
    #google-play-window-wrapper #google-play-window ul.swiper > li:first-child {
      margin-top: 10px; }
    #google-play-window-wrapper #google-play-window li > .card {
      background-color: white;
      padding: 10px 20px;
      color: #707070;
      margin: 0px 10px 10px 10px;
      box-shadow: 0px 2px 2px #D0CFCF;
      border-radius: 1px; }
      #google-play-window-wrapper #google-play-window li > .card .header {
        margin: 0px;
        height: 30px;
        line-height: 28px;
        font-size: 16px;
        font-weight: 300;
        text-align: left; }
      #google-play-window-wrapper #google-play-window li > .card .searches {
        font-size: 11px;
        line-height: 13px; }
    #google-play-window-wrapper #google-play-window ul.swiper > li.climate .card .header {
      width: 50%;
      text-align: center;
      font-size: 20px; }
    #google-play-window-wrapper #google-play-window ul.swiper > li.climate .card .current .sun, #google-play-window-wrapper #google-play-window ul.swiper > li.climate .card .current .temp {
      float: left;
      height: 100px;
      line-height: 95px;
      font-size: 80px;
      width: 50%;
      text-align: center; }
    #google-play-window-wrapper #google-play-window ul.swiper > li.climate .card .current .degree:after {
      font-weight: 700;
      content: "O";
      position: relative;
      display: inline-block;
      font-size: 15px;
      top: -55px; }
    #google-play-window-wrapper #google-play-window ul.swiper > li.climate .card .fore-cast {
      color: #828282;
      font-weight: 300; }
      #google-play-window-wrapper #google-play-window ul.swiper > li.climate .card .fore-cast .now, #google-play-window-wrapper #google-play-window ul.swiper > li.climate .card .fore-cast .week {
        width: 50%;
        float: left; }
      #google-play-window-wrapper #google-play-window ul.swiper > li.climate .card .fore-cast .now {
        height: 60px;
        color: #B1B1B1; }
        #google-play-window-wrapper #google-play-window ul.swiper > li.climate .card .fore-cast .now .humidity, #google-play-window-wrapper #google-play-window ul.swiper > li.climate .card .fore-cast .now .wind, #google-play-window-wrapper #google-play-window ul.swiper > li.climate .card .fore-cast .now .sky {
          height: 20px;
          line-height: 18px;
          font-size: 13px;
          text-align: center;
          margin: auto; }
      #google-play-window-wrapper #google-play-window ul.swiper > li.climate .card .fore-cast ul.week {
        list-style: none;
        margin: 0px;
        padding: 0px;
        display: block;
        text-align: center;
        height: 80px; }
        #google-play-window-wrapper #google-play-window ul.swiper > li.climate .card .fore-cast ul.week li {
          display: inline-block;
          float: left;
          width: 33.333%;
          height: 20px;
          font-size: 13px;
          line-height: 20px; }
          #google-play-window-wrapper #google-play-window ul.swiper > li.climate .card .fore-cast ul.week li .max, #google-play-window-wrapper #google-play-window ul.swiper > li.climate .card .fore-cast ul.week li .min {
            font-size: 11px; }
          #google-play-window-wrapper #google-play-window ul.swiper > li.climate .card .fore-cast ul.week li .degree:after {
            font-weight: 700;
            content: "O";
            position: relative;
            display: inline-block;
            font-size: 5px;
            top: -10px; }
          #google-play-window-wrapper #google-play-window ul.swiper > li.climate .card .fore-cast ul.week li .min {
            color: #B1B1B1; }

#app:not(.show-google-play) #google-play-window-wrapper {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0); }
  #app:not(.show-google-play) #google-play-window-wrapper #google-play-window {
    opacity: 0; }

#bottom-bar {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 5px; }
  #bottom-bar #menu-button {
    height: 40px;
    width: 40px;
    margin: 0px auto 5px auto;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #EEE;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid #D1D3D2;
    box-shadow: 0px 0px 1px #D1D3D2;
    transform: scale(1.3); }
    #bottom-bar #menu-button .pattern {
      display: block;
      line-height: 10px;
      position: relative;
      top: 10px;
      font-size: 19px; }

.menu-container .menu {
  height: 100%;
  width: 100%;
  color: white;
  padding: 10px;
  -webkit-transition: all 200ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
  -moz-transition: all 200ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
  -o-transition: all 200ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
  transition: all 200ms cubic-bezier(0.45, 0.515, 0.36, 0.88); }
  .menu-container .menu .app-link {
    text-align: center;
    margin: 10px 5px;
    float: left;
    width: calc(33.333% - 10px); }
    .menu-container .menu .app-link .icon {
      font-size: 35px;
      line-height: 50px;
      height: 50px;
      width: 50px; }
    .menu-container .menu .app-link .name {
      font-size: 16px;
      line-height: 25px; }

#menu-window-wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  z-index: 2; }
  #menu-window-wrapper #menu-window {
    background-color: black; }

#app:not(.show-menu) #menu-window-wrapper {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0); }
  #app:not(.show-menu) #menu-window-wrapper #menu-window {
    opacity: 0;
    -webkit-transform: scale(15);
    -moz-transform: scale(15);
    -ms-transform: scale(15);
    -o-transform: scale(15);
    transform: scale(15); }

.tumblr .icon {
  color: #36465D;
  background-color: white;
  border-radius: 7px; }

.amazon .icon {
  color: black;
  background-color: #f5d601;
  border-radius: 7px; }

.firefox .icon {
  color: #E58324;
  background-color: #f5d601;
  border-radius: 7px; }

.instagram .icon {
  color: #D3C5A8;
  background-color: #AC8367;
  border-radius: 7px; }

.medium .icon {
  color: #00AB6C;
  border-radius: 7px; }

.skype .icon {
  background-color: #6587ff;
  border-radius: 7px; }

.wordpress .icon {
  background-color: #00749A;
  border-radius: 7px; }

.pied-piper .icon {
  background-color: #2F9F46;
  border-radius: 7px; }

.launcher {
  position: absolute;
  width: 100%;
  margin-top: 50px;
  padding: 0px 10px;
  color: white; }

#background-image {
  height: 700px;
  position: fixed;
  z-index: -1;
  top: 10px; }

/*# sourceMappingURL=index.css.map */
