$searchHeight : 40px;

.search{
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.26);
  height: $searchHeight;
  margin: 5px 10px;
  border-radius: $cardRadius;

  .input, .voice{
    box-sizing: border-box;
    color: #B1B1B1;

    height: $searchHeight;
    line-height: $searchHeight;
  }
  .input{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.26);
    padding: 0px 10px;
    @extend input.default;
  }
  .voice{
    width: 50px;
    padding-left: 10px;
    padding-top: 3px;
    font-size: 20px;
    color: #f4f4f4;
    text-align: center;
    float: right;
    position: relative;
    top: -$searchHeight;
  }
}

#app.show-google-play{
  .search {
    box-shadow: 0px 1px 2px #B1B1B1;

    .voice{
      color: #B1B1B1;
    }
    .input{
      background-color: white;
      color: #B1B1B1;
    }
  }
}
