$deviceBarHeight : 30px;
$deviceBarFontSize : 13px;

$thinFontWeight : 300;

@import url(https://fonts.googleapis.com/css?family=Roboto:300,100,700);

$googlePlaySearchHeight : 30px;
$defaultLineHeight : 30px;

$calculateAppHeight : calc(100% - 60px);
$cardRadius : 1px;

#app * {
  box-sizing: border-box;
}

input.default{
  padding: 0px;
  margin: 0px;
  display: block;
  box-sizing: border-box;
  border: none;
}

@mixin transform( $property) {
  -webkit-transform: $property;
  -moz-transform: $property;
  -ms-transform: $property;
  -o-transform: $property;
  transform: $property;
}

@mixin transition($property, $time) {
  -webkit-transition: $property  $time cubic-bezier(0.45, 0.515, 0.36, 0.88);
  -moz-transition:    $property  $time cubic-bezier(0.45, 0.515, 0.36, 0.88);
  -o-transition:      $property  $time cubic-bezier(0.45, 0.515, 0.36, 0.88);
  transition:         $property  $time cubic-bezier(0.45, 0.515, 0.36, 0.88);
}