.tumblr{
  .icon{
    color: #36465D;
    background-color: white ;
    border-radius: 7px;
  }
}

.amazon{
  .icon{
    color: black;
    background-color: rgb(245, 214, 1);
    border-radius: 7px;
  }
}
.firefox{
  .icon{
    color: #E58324;
    background-color: rgb(245, 214, 1);
    border-radius: 7px;
  }
}

.instagram{
  .icon{
    color: #D3C5A8;
    background-color: #AC8367;
    border-radius: 7px;
  }
}

.medium{
  .icon{
    color: #00AB6C;
    border-radius: 7px;
  }
}

.skype{
  .icon{
    background-color: #6587ff;
    border-radius: 7px;
  }
}

.wordpress{
  .icon{
    background-color: #00749A;
    border-radius: 7px;
  }
}

.pied-piper{
  .icon{
    background-color: #2F9F46;
    border-radius: 7px;
  }
}