@import 'config';

#app{
  height: $calculateAppHeight;
  width: 100%;
  font-family: 'Roboto', sans-serif;

  .device-bar{
    height: $deviceBarHeight;
    color: white;
    background-color: black;

    .notifications, .device-status{
      list-style: none;
      margin: 0px;
      padding: 0px;
    }
    .notifications{
      float: left;
      width: calc(100% - 80px);
      @import 'notifications';
    }
    .device-status{
      float: right;
      width: 80px;
      @import 'device-bar';
    }

    li{
      height: $deviceBarHeight;
      float: left;
      line-height: $deviceBarHeight;
      text-align: center;
      font-size: $deviceBarFontSize;
    }
  }

  .google-play{
    z-index: 1;
    position: fixed;
    width: 100%;

    @import 'search';
  }

  .view{
    height: calc(100% - #{$deviceBarHeight});
    width: 100%;
  }
}

@import 'google-play-window';

#background-image{
  height: 700px;
  position: fixed;
  z-index: -1;
  top: 10px;
}