@import 'config';

#app{
  height: calc(100% - 60px);
  width: 100%;
  background-color: black;
  font-family: 'Roboto', sans-serif;

  .device-bar{
    height: $deviceBarHeight;
    color: white;

    .notifications, .device-status{
      list-style: none;
      margin: 0px;
      padding: 0px;
    }
    .notifications{
      float: left;
      width: calc(100% - 80px);
      @import 'notifications';
    }
    .device-status{
      float: right;
      width: 80px;
      @import 'device-bar';
    }

    li{
      height: $deviceBarHeight;
      float: left;
      line-height: $deviceBarHeight;
      text-align: center;
      font-size: $deviceBarFontSize;
    }
  }

  .view{
    height: calc(100% - #{$deviceBarHeight});
    width: 100%;
  }
}