@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300);

#app{
  .CodeMirror{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    height: auto;
    width: auto;
    padding: $padding;

    line-height: 17px;
    letter-spacing: 0.05em;
    background-color: transparent !important;
  }
  .CodeMirror-gutter-elt {/* text align in gutter(line numbers) */
    text-align: center;
  }

  .CodeMirror-linenumber{
    color: rgba(0, 0, 0, 0.1);
  }
  .CodeMirror-gutters{
    background-color: transparent;
    border: none;
  }


  .CodeMirror pre{
    // Code
    // line-height: 20px;

    .cm-property{

    }
  }
}