#app{
  .CodeMirror{
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 13px;
    height: auto;
    padding: $padding;

    line-height: 17px;
    letter-spacing: 0.05em;
    background-color: transparent !important;
  }
  .CodeMirror-gutter-elt {/* text align in gutter(line numbers) */
    text-align: center;
  }

  .CodeMirror-linenumber{
    color: rgba(0, 0, 0, 0.1);
  }
  .CodeMirror-gutters{
    background-color: transparent;
    border: none;
  }


  .CodeMirror pre{
    // Code
    // line-height: 20px;

    .cm-property{

    }
  }
}