$cardHeight : 486px;
$cardPadding: 20px;

$middleRowHeight: 100px;
@import url(https://fonts.googleapis.com/css?family=Roboto:300,100,700);

.resize-container:after {
  content:"";
  display:table;
  clear:both;
}

.sun{
  color: #FFE168;
}

ul.swiper > li.climate{
    height: $cardHeight;
    color: #707070;
    font-family: 'Roboto', sans-serif;

  .card{
      background-color: white;
      padding: 10px $cardPadding;
      .location{
        margin: 0px;
        height: 40px;
        line-height: 38px;

        font-weight: 300;
        font-size: 23px;
        width: 50%;
        text-align: center;
      }

      .current{
        .sun, .temp{
          float: left;
          height: $middleRowHeight;
          line-height: $middleRowHeight - 5px;
          font-size: 80px;
          width: 50%;
        }
        .sun{
        }
        .temp{
          text-align: right;

        }

        .degree:after{
          font-weight: 700;
          content: "O";
          position: relative;
          display: inline-block;
          font-size: 15px;
          top: -55px;
        }

      }

      .fore-cast{
        @extend .resize-container;
        .now, .week{
          width: 50%;
          float: left;
        }

        .now{
          height: 60px;
          .humidity, .wind, .sky{
            height: 20px;
            line-height: 18px;
            font-size: 13px;
            text-align: right;
            width: 80px;
          }
        }
        ul.week{
          @extend .resize-container;
          list-style: none;
          margin: 0px;
          padding: 0px;
          display: block;
          text-align: center;
          height: 80px;

          li{
            display: inline-block;
            float: left;
            width: 33.333%;
            height: 20px;
            font-size: 13px;
            line-height: 20px;
            .max, .min{
              font-size: 11px;
            }
            .degree:after{
              font-weight: 700;
              content: "O";
              position: relative;
              display: inline-block;
              font-size: 5px;
              top: -10px;
            }
          }
        }

      }
    }
}