$cardHeight : 486px;
$cardPadding: 20px;

$middleRowHeight: 200px;
@import url(https://fonts.googleapis.com/css?family=Roboto:300,100,700);

ul.swiper > li.climate{
    height: $cardHeight;
    color: #707070;
    font-family: 'Roboto', sans-serif;

  .card{
      background-color: white;
      padding: $cardPadding;
      .location{
        margin: 0px;
        height: 50px;
        text-align: left;
        font-weight: 300;
        font-size: 23px;
      }

      .current{
        .sun, .temp{
          float: left;
          height: $middleRowHeight;
          line-height: $middleRowHeight - 25px;
          font-size: 80px;

        }
        .sun{
          width: calc(50% - 25px);
        }
        .temp{
          width: calc(50% + 25px);
          text-align: right;

        }

        .degree:after{
          font-weight: 700;
          content: "O";
          position: relative;
          display: inline-block;
          font-size: 15px;
          top: -55px;
        }
        .sun{
          color: #FFE168;
        }

      }
    }
}