.x, .quado.plus, .x *, .quado.plus * {
  box-sizing: border-box; }

.quado {
  width: 150px;
  height: 300px;
  margin: auto;
  -webkit-transition: transform 100ms ease-in;
  -moz-transition: transform 100ms ease-in;
  -o-transition: transform 100ms ease-in;
  transition: transform 100ms ease-in;
  transition-delay: 100ms; }
  .quado .xx1, .quado .xx2 {
    -webkit-transition: transform 100ms ease-in;
    -moz-transition: transform 100ms ease-in;
    -o-transition: transform 100ms ease-in;
    transition: transform 100ms ease-in; }
    .quado .xx1 .x1, .quado .xx1 .x2, .quado .xx2 .x1, .quado .xx2 .x2 {
      height: 150px;
      width: 20px;
      background-color: black;
      border-radius: 10px;
      -webkit-transition: transform 100ms ease-in;
      -moz-transition: transform 100ms ease-in;
      -o-transition: transform 100ms ease-in;
      transition: transform 100ms ease-in; }

.quado.x, .quado.plus {
  text-align: center; }
  .quado.x .xx1, .quado.plus .xx1, .quado.x .xx2, .quado.plus .xx2 {
    height: 150px;
    width: 40px;
    margin: 0px auto; }
    .quado.x .xx1 .x1, .quado.plus .xx1 .x1, .quado.x .xx1 .x2, .quado.plus .xx1 .x2, .quado.x .xx2 .x1, .quado.plus .xx2 .x1, .quado.x .xx2 .x2, .quado.plus .xx2 .x2 {
      float: left; }
  .quado.x .xx1 .x1, .quado.plus .xx1 .x1 {
    transform: rotate(-45deg) translateX(10px) translateY(10px);
    transform-origin: 0 100%; }
  .quado.x .xx1 .x2, .quado.plus .xx1 .x2 {
    transform: rotate(45deg);
    transform-origin: 100% 100%; }
  .quado.x .xx2 .x1, .quado.plus .xx2 .x1 {
    transform: rotate(45deg) translateX(10px) translateY(-10px);
    transform-origin: 0 0; }
  .quado.x .xx2 .x2, .quado.plus .xx2 .x2 {
    transform: rotate(-45deg);
    transform-origin: 100% 0; }

.quado.collapse, body:hover > .quado.x, body:hover > .quado.plus {
  -webkit-transition: transform 100ms ease-in;
  -moz-transition: transform 100ms ease-in;
  -o-transition: transform 100ms ease-in;
  transition: transform 100ms ease-in; }
  .quado.collapse .xx1, body:hover > .quado.x .xx1, body:hover > .quado.plus .xx1, .quado.collapse .xx2, body:hover > .quado.x .xx2, body:hover > .quado.plus .xx2 {
    opacity: 0;
    -webkit-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    -o-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in; }
    .quado.collapse .xx1 .x2, body:hover > .quado.x .xx1 .x2, body:hover > .quado.plus .xx1 .x2, .quado.collapse .xx2 .x2, body:hover > .quado.x .xx2 .x2, body:hover > .quado.plus .xx2 .x2 {
      transform: scale(1);
      -webkit-transition: transform 100ms ease-in;
      -moz-transition: transform 100ms ease-in;
      -o-transition: transform 100ms ease-in;
      transition: transform 100ms ease-in; }
    .quado.collapse .xx1 .x1, body:hover > .quado.x .xx1 .x1, body:hover > .quado.plus .xx1 .x1, .quado.collapse .xx2 .x1, body:hover > .quado.x .xx2 .x1, body:hover > .quado.plus .xx2 .x1 {
      transform: translateX(20px);
      -webkit-transition: transform 100ms ease-in;
      -moz-transition: transform 100ms ease-in;
      -o-transition: transform 100ms ease-in;
      transition: transform 100ms ease-in; }

.quado.plus {
  -webkit-transform: rotate(135deg) translateX(-10px);
  -moz-transform: rotate(135deg) translateX(-10px);
  -ms-transform: rotate(135deg) translateX(-10px);
  -o-transform: rotate(135deg) translateX(-10px);
  transform: rotate(135deg) translateX(-10px);
  transform-origin: 50% 50%; }

.quado.maximize {
  transform: translateY(-75px) scale(1.5);
  transform-origin: 50% 50%; }
  .quado.maximize .xx1 .x1 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    transform-origin: 0 100%; }
  .quado.maximize .xx2 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transform-origin: 0 0; }
    .quado.maximize .xx2 .x2 {
      transform: rotate(-90deg);
      transform-origin: 0 0; }

/*# sourceMappingURL=x.css.map */
