@import "../config";

$itemHeight : $topBarHeight;

li{
  color: $topBarBG;
  text-shadow: none;
  border-right: none;
  height: $itemHeight;
  width: 100px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  background-color: #EEE;
}