@import "../../../style/base";

$rowHeight: 40px;
$padding: 10px;
$selectionColor: #0365C0;
$gutterWidth: 42px;
$editorHeight: 300px;

*{
  box-sizing: border-box;
  @include transition(all 150ms cubic-bezier(0.64, 0.57, 0.67, 1.53));
}

.top-bar{
  box-shadow: 0 0 5px 1px rgba(1, 1, 1, 0.3);
  padding: 0px $padding * 5;
  h1.head{
    text-align: center;
    padding-bottom: 1.5*$padding;
    margin-bottom : 1.5*$padding;
    width : calc(100% - #{3 * $padding});
    margin-left :   1.5 * $padding;
    margin-right : 1.5 * $padding;
    font-family: 'Raleway', sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.39);
    color: rgba(0, 0, 0, 0.69);
    font-size: 50px;

    i{
      color: #e9573f;
    }
  }
  .status{
    padding: $padding;
    text-align: right;

    .source{
      padding: 0px $padding;
      font-size: 13px;
      line-height: 16px;
      i{
        font-size: 16px;
      }
    }
  }
}


#play-area{
  margin: auto;

  #editor-container{
    padding: 0px $padding * 5;
    height: $editorHeight;
    width: 100%;
    font-size: 13px;
    line-height: 30px;
    .ace_gutter{
      width: $gutterWidth;
      background-color: transparent;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.28);
    }
    .ace_cursor,
    .ace_text-input{
      @include transition(all 0s);
    }
  }

  button.run{
    margin: $padding 0px;
    height: $rowHeight  ;
    line-height: $rowHeight;
    margin-left: $gutterWidth;
    width: 250px;
    font-size: large;

    background : $selectionColor;
    border     : 1px solid rgba(73, 75, 76, 0.22);
    color      : rgba(255, 255, 255, 0.95);
    box-shadow : 3px 3px 10px rgba(74, 75, 76, 0.27);

  }

  ul.console{
    @extend .undo-list;
    margin-top  : $padding;
    border-top      : 1px solid rgba(0, 0, 0, 0.1);
    padding: $padding $padding $padding $gutterWidth+$padding;

    li.success{
      color: #c5c5c5;
      font-weight: 100;
    }
    li.error{
      color: red;
    }
  }

  ul.samples{
    @extend .undo-list;
    font-weight: 500;
    font-size: 16px;
    box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.28);
    text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.31);

    > li {
      border-bottom  : 1px solid rgba(0, 0, 0, 0.1);
      a{
        padding       : $padding;
        display: block;
        height: 100%;
        width: 100%;
      }
    }
    > li:hover {
      background : $selectionColor;
      a{
        color: white;
      }
    }
  }
}

$leftPaneWidth: 250px;

.main-container{
  padding: 0px $padding * 5;
}
.content-pane{
  width: calc(100% - #{$leftPaneWidth})
}
.left-pane{
  width: $leftPaneWidth;
}
.content-pane, .left-pane{
  padding     : $padding;
  float: left;
}
