$positionFromTop: 70px;
$topPadding: 10px;

$videoHeight: 299px;
$videoWidth: 500px;

$transitionDuration: 500ms;


#video-sticky{
  width: $videoWidth;
  height: $videoHeight;
  background-color: rgba(0,0,0,0.02);

  .video-wrapper{
    padding: $topPadding;
    width: $videoWidth;
    height: $videoHeight;
    @include transition(transform, $transitionDuration, ease);
    @include transformOrigin(0 0);

    video{
      @include transformOrigin(0 0);
      @include transition(transform, $transitionDuration, ease);
    }
  }
}

#video-sticky.fixed{
  .video-wrapper{
    position: fixed;
    top: $positionFromTop - $topPadding;
  }
}

#video-sticky.resize{
  .video-wrapper{
    video{@include transform(scale(0.5));}
  }
}
