$topBarHeight : 75px;

$collapseLogoHeight: 50px;
$collapseLogoWidth : 175px;

$expandLogoHeight: 75px;
$expandLogoWidth : 305px;
$expandOffset: 15px;
$transitionTime : 250ms;
$collapsedSearchWidth: 220px;
$minNavigationWidth:  740px;

#top-fixed-bar{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: $topBarHeight;

  .bg{
    z-index: -1;
    position: relative;
    top: -$collapseLogoHeight;
    height: $expandLogoHeight;
    background-color: #F2F2F2;
    @include transition(transform, $transitionTime, ease);
    @include transform(translateY(-$collapseLogoHeight/2));
    @include transitionDelay($transitionTime);

  }

  .content{
    @extend .resize-container;
    height: $collapseLogoHeight;
    min-width: $minNavigationWidth + $collapsedSearchWidth;

    .logo{
      float: left;
      display: block;
      height: $collapseLogoHeight;
      width:  $collapseLogoWidth;
      will-change: transform;
      @include transition(transform, 2*$transitionTime, ease);
      @include transformOrigin(0 0);
    }
    .navigation{
      @extend .resize-container;
      float: left;
      width: calc(100% - #{$collapseLogoWidth});

      .search-widget, .links{
        height: $collapseLogoHeight;
        line-height: $collapseLogoHeight;
        float: left;
      }
      .search-widget{
        width: $collapsedSearchWidth;
        padding: 10px;
        input {
          box-sizing: border-box;
          padding: 5px;
          height: 100%;
          width: 100%;
        }
      }
      .links{
        @extend .undo-list;
        @extend .resize-container;
        width: calc(100% - #{$collapsedSearchWidth});
        text-align: right;
        @include transition(transform, $transitionTime, ease);
        @include transitionDelay($transitionTime);

        > li{
          @include transition(transform, $transitionTime, ease);
          display: inline-block;
          padding: 0px 10px;
          font-size: 16px;
         }
      }
    }
  }
}

#top-fixed-bar:not(.collapse){
  .logo{
    @include transform(scale(1.5));
  }
  .content{
    .navigation > ul.links{
      @include transform(translateY($collapseLogoHeight - $expandOffset));
      @include transitionDelay(0);

      > li{
        @include transitionDelay($transitionTime);
        @include transform(translateX($collapsedSearchWidth));
      }
    }
  }
  .bg{
    @include transform(translateY(0px));
    @include transitionDelay(0);
  }
}