$cardHeight : 270px;
$cardWidth  : 250px;
$lineHeight : 20px;

$borderColor: #E8E6E6;
$borderWidth: 1px;

$margin: 15px;

$captionHeight: 60px;
$captionLargeFont: 16px;
$captionSmallFont: 13px;

$captionTitleColor: #4E4D4D;
$captionSubTitleColor: #807E7E;

ul.deck{
  @extend .undo-list;
  > li{
    .card{
      width: $cardWidth + 2 * $borderWidth;
      height: $cardHeight;
      margin: $margin;
      overflow: hidden;

      text-align: center;
      border: $borderWidth solid $borderColor;

      .picture{
        height: calc(100% - #{$captionHeight});
        img{
          height: 100%;
        }
      }
      .caption{
        border-top: $borderWidth solid $borderColor;

        height: $captionHeight;
        .title{
          display: block;
          color: $captionTitleColor;
          font-size: $captionLargeFont;
          line-height: $captionHeight/2;
        }
        .sub-title{
          display: block;
          color: $captionSubTitleColor;
          font-size: $captionSmallFont;
          line-height: $captionHeight/2;
        }

      }
    }
  }
}