$cardHeight : 270px;
$cardWidth  : 250px;
$lineHeight : 20px;

$borderColor: #E8E6E6;
$borderWidth: 1px;

$margin: 15px;

$captionHeight: 60px;
$captionLargeFont: 16px;
$captionSmallFont: 13px;

$captionTitleColor: #4E4D4D;
$captionSubTitleColor: #807E7E;

$actionButtonSize  : 35px;
$actionButtonFont  : 16px;
$actionButtonColor  : rgb(247, 193, 74);
$actionButtonFontColor  : white;


.action-button{
  margin: 0px;
  padding: 0px;
  border: none;
  box-sizing: border-box;
  outline: none;
}
ul.deck{
  @extend .undo-list;
  > li{
    .card{
      width: $cardWidth + 2 * $borderWidth;
      height: $cardHeight;
      margin: $margin;
      overflow: hidden;

      text-align: center;
      border: $borderWidth solid $borderColor;
      border-radius: 2px;

      .picture{
        height: calc(100% - #{$captionHeight});
        img{
          height: 100%;
        }
      }
      .caption{
        border-top: $borderWidth solid $borderColor;

        height: $captionHeight;
        .title{
          display: block;
          color: $captionTitleColor;
          font-size: $captionLargeFont;
          line-height: $captionHeight/2;
        }
        .sub-title{
          display: block;
          color: $captionSubTitleColor;
          font-size: $captionSmallFont;
          line-height: $captionHeight/2;
        }

      }
      .action{
        position: relative;
        top: -$captionHeight -$actionButtonSize/2;
        text-align: right;
        padding-right: 5px;
        font-size: $actionButtonFont;
        button{
          @extend .action-button;
          border: 1px solid white;
          box-shadow: 0px 0px 3px white;
          background-color: $actionButtonColor;
          color: $actionButtonFontColor;
          line-height: $actionButtonSize;
          border-radius: 50%;
          height: $actionButtonSize;
          width: $actionButtonSize;
        }
      }
    }
  }
}