$margin: 10px;
$duration: 500ms;
$cardWidth: 250px;
$cardHeight: 250px;
$rotate : 0deg;
$cleanupDuration: 250ms;

ul.deck {
  margin: 0;
  padding: $margin;
  display: block;
  list-style: none;
  text-align: center;
  width: 100%;
  overflow: auto;
  > li{
    padding: $margin;
    display: inline-block;
    @include transition(#{opacity $cleanupDuration ease, transform $cleanupDuration ease});

    .card{
      height: $cardHeight;
      width: $cardWidth;
      border: 1px solid rgba(128, 128, 128, 0.14);
      img{width: 100%;}
    }

  }
}

.deck.focus{
  pointer-events: none;
  li.selected{
    pointer-events: all;
  }

  li.selected-head{
    @include transform(translateY(50px) rotate($rotate));
  }

  li.selected-tail{
    @include transform(translateY(-50px) rotate(-$rotate));
  }
  li.selected-pre{
    @include transform(translateX(50px) rotate($rotate));
  }

  li.selected-post{
    @include transform(translateX(-50px) rotate(-$rotate));
  }
  li:not(.selected){
    opacity: 0;
  }
}