$margin: 10px;
$duration: 500ms;
$cardWidth: 350px;
$cardHeight: 350px;

ul.deck {
  margin: 0;
  padding: $margin;
  display: block;
  list-style: none;
  text-align: left;
  width: 100%;
  overflow: auto;
  > li{
    padding: $margin;
    display: inline-block;
    .card{
      height: $cardHeight;
      width: $cardWidth;
      border: 1px solid grey;
    }

  }
}

.deck.focus{
  .card:not(.selected){
    opacity: 0;
  }
}