@import 'config';

#slate{
  overflow: hidden;
  height: 100vh;
  h1{margin: 0px auto;}
  *{box-sizing: border-box;};
  nav{
    height: $navigationBarHeight;
    background-color: black;
    width: 100%;
  }

  .deck{
    height: calc(100% - #{$navigationBarHeight});
  }
}

@import 'cards';
