@import 'config';

$modalBackdrop: rgba(0,0,0,0);

#slate{
  overflow: hidden;
  height: 100vh;
  h1{margin: 0px auto;}
  *{box-sizing: border-box;};
  nav{
    height: $navigationBarHeight;
    background-color: black;
    width: 100%;
  }

  .deck{
    height: calc(100% - #{$navigationBarHeight});
  }

  .modal{
    position: relative;
    top: calc(-100vh + #{$navigationBarHeight});
    height: calc(100% - #{$navigationBarHeight});
    min-width: 100vw;
    background-color: $modalBackdrop;
    padding: $containerPadding;
    pointer-events: none;
    .overview{
      padding: $containerPadding;
      height: 100%;
      float: left;
      .card-space{
        width: $cardWidth;
        height: $cardHeight;
        border: 1px solid rgba(0,0,0,0.5);
      }
    }
  }
}

#slate:not(.show-modal){
  .modal{
    @include transform(scale(0));
  }
}

@import 'cards';
