$slideSize: 350px;
$transitionTime: 500ms;

$slideHeight: $slideSize;
$slideWidth: $slideSize;

.carousel {
  -webkit-transition: all $transitionTime cubic-bezier(0.45, 0.515, 0.36, 0.88);
  -moz-transition:    all $transitionTime cubic-bezier(0.45, 0.515, 0.36, 0.88);
  -o-transition:      all $transitionTime cubic-bezier(0.45, 0.515, 0.36, 0.88);
  transition:         all $transitionTime cubic-bezier(0.45, 0.515, 0.36, 0.88);

  > .before {
    transition-delay: $transitionTime/2;
    transition: opacity $transitionTime/2 cubic-bezier(0.45, 0.515, 0.36, 0.88);
  }
  > .after {
    transition: opacity $transitionTime/2 cubic-bezier(0.45, 0.515, 0.36, 0.88);
  }
}

.carousel {
  background-color: #4285F4;
  height: $slideHeight;
  width: $slideWidth;
  border-radius: 50%;
  padding: 0;


  overflow: hidden;
  .slide {
    padding: 0;
    margin: 0;

    float: left;
    position: relative;
    height: $slideHeight;
    width: $slideWidth;
    border-radius: 50%;
    text-align: center;
  }
  .slide {
    background-color: #ff9b2f;
  }

  .slide:nth-child(2){
    top: -$slideHeight * 1;
  }

  .slide:nth-child(3){
    top: -$slideHeight * 2;
  }

  .slide:last-child {
    background-color: #89deaa;
    top: -$slideHeight * 3;
    opacity: 1;
  }
}

.carousel:hover {
  transform: rotate(360deg);

  > .before {
    opacity: 1;
  }
  > .after {
    opacity: 0;
  }
}

.carousel.index1{
  .slide:last-child {
    opacity: 0;
  }
}

.carousel.index2{
  .slide:nth-child(3){
    opacity: 0;
  }

  .slide:last-child {
    opacity: 0;
  }
}



.carousel.index3{
  .slide:nth-child(2){
    opacity: 0;
  }

  .slide:nth-child(3){
    opacity: 0;
  }

  .slide:last-child {
    opacity: 0;
  }
}


