$deleteHeaderWidth : 50px;

.headers{
  label , > ul > li > input{
    display: block;
    min-height: $rowHeight;
    line-height: $rowHeight;
    padding: 0 $padding;
  }

  > ul{
    @extend .undo-list;
    .header{
      display: block;
      border-bottom: 1px solid $solidColor;
      @extend .resize-container;
      .name, .value, .remove{
        float: left;
        height: $rowHeight;
        line-height: $rowHeight;
      }
      .name, .value{
        width: calc(50% - #{$deleteHeaderWidth/2});
      }
      .name:after{
        content: ":"
      }
      .remove{
        width: $deleteHeaderWidth;
        opacity: 0.5;
        text-align: center;
        font-size: large;
        color: $dangerColor;
        @extend .fa;
        @extend .fa-close;
      }
    }
  }
  button.add{
    height: $rowHeight;
    line-height: $rowHeight;
    padding: 0px 5 * $padding;
    margin :5px;
  }
}
