$solidColor: #F8F8F8;
$voidColor : #c5c5c5;
$rowHeight : 35px;
$padding   : 10px;

$defaultTransitionFunction : cubic-bezier(0.45, 0.515, 0.36, 0.88);


ul.undo-list{
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: block;
}

input{
  padding: 0px;
  margin: 0px;
  display: block;
  box-sizing: border-box;
  border: none;
}

.resize-container:after {
  content:"";
  display:table;
  clear:both;
}

@mixin transform( $property) {
  -webkit-transform: $property;
  -moz-transform: $property;
  -ms-transform: $property;
  -o-transform: $property;
  transform: $property;
}

@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform:    $value;
  -ms-transform:     $value;
  -o-transform:      $value;
  transform:         $value;
}

@mixin transformStyle($value) {
  -webkit-transform-style:  $value;
  -moz-transform-style:     $value;
  transform-style:          $value;
}

@mixin transformOrigin($value) {
  -webkit-transform-origin: $value;
  -moz-transform-origin: $value;
  transform-origin: $value;
}

@mixin transitionDelay($time){
  -webkit-transition-delay: $time;
  -moz-transition-delay: $time;
  -ms-transition-delay: $time;
  -o-transition-delay: $time;
  transition-delay: $time;
}

@mixin transition($value){
  -webkit-transition: $value;
  -moz-transition:    $value;
  -o-transition:      $value;
  transition:         $value;
}
