$tabHeadWidth: 300px;

.editor{
  ul.tabs{
    @extend .undo-list;
    @extend .resize-container;
    position: relative;
    height  : 100%;
    width   : 100%;
    padding : $padding;

    >li{
      position: absolute;
      left    : 0px;
      top     : 0px;
      display : block;
      height  : 100%;
      width   : 100%;
    }

    >li:nth-child(2) > .tab-head{
      left: $tabHeadWidth;
    }
    >li:nth-child(3) > .tab-head{
      left: 2 * $tabHeadWidth;
    }

    >li:nth-child(4) > .tab-head{
      left: 3 * $tabHeadWidth;
    }

  }


}