$borderColor : rgba(0,0,0,0.05);

ul.files-explorer{
  @extend .undo-list;

  font-size: smaller;
  .directory{
    position: relative;
    .icon{
      @extend .fa;

      position: absolute;
      left    : 0px;
      top     : 0px;
      font-size   : small;
      opacity     : 0.8;
      margin-left : $padding;
      height      : $rowHeight;
      line-height : $rowHeight;
    }

    >label {
      display      : block;
      height       : $rowHeight;
      line-height  : $rowHeight;
      padding-left : 3 * $padding;
      border-bottom: 1px solid $borderColor;
    }

    >label:before{
      @extend .icon;
      @extend .fa-folder;
    }

    .files{
      @extend .undo-list;
      height      : $rowHeight;
      line-height : $rowHeight;
      padding     : 0px 2 * $padding;

      .file{
        position: relative;
        padding-left : 5 * $padding;
        border-bottom: 1px solid $borderColor;
        cursor       : pointer;
      }
      .file:before{
        @extend .icon;
        @extend .fa-file-text;
        margin-left : 3 * $padding;
      }
      .file:hover{
        opacity: 0.8;
      }
    }
  }
}