@import 'config';
@import '../../lib/font-awesome-4.5.0/scss/font-awesome';

body{
  overflow: hidden;
  h1{margin: 0px auto;}
  *{box-sizing: border-box;};
}

@import "miraze-play";
@import "editor";
@import "tabs";
@import "files";
@import "request-editor";