
.json-editor{
  .jsoneditor-menu{
    display: none;
  }
  .jsoneditor{
    border : 1px solid transparent;
  }

  .ace_gutter, .ace_gutter-cell {
    background: white !important;
    opacity: 1;
  }
}
