$requestEditorWidth : 100%;
$requestBodyMinHeight : 300px;

.request-editor{
  width: $requestEditorWidth;
  border: 1px solid $voidColor;
  padding: $padding;
  border-radius: 5px;

  .target{
    $sendButtonWidth : 100px;
    padding : $padding;
    border-bottom: 1px solid $solidColor;
    margin-bottom: $padding;
    @extend .resize-container;

    .url, .send{
      float: left;
      line-height: $rowHeight;
      height: $rowHeight;
    }
    .send{
      width: $sendButtonWidth;
    }
    .url{
      width: calc(100% - #{$sendButtonWidth + 2 * $padding});
      margin-left: 2*$padding;
      padding: 0px $padding;
      border : 1px solid $solidColor;

      @extend .resize-container;
      .method,.url-base, .url-param{
        float: left;
        height: $rowHeight;
        line-height: $rowHeight;
        padding : 0px $padding;
      }

    }

  }

  .jsoneditor.jsoneditor-mode-code,
  .jsoneditor-outer,
  div.jsoneditor-tree,
  .ace_scroller,
  .ace_editor.ace-jsoneditor{
    min-height: $requestBodyMinHeight;
  }
}