$contentColor: white;
$borderWidth : 1px;
$borderRadius : 2px;

.tabs{
  position: relative;

   .tab {
     .tab-head{
       position    : relative;
       top         : $borderWidth - $rowHeight;
       width       : $tabHeadWidth;
       height      : $rowHeight;
       border      : 1px solid $voidColor;
       padding     : 0px $padding;
       line-height :$rowHeight ;
       background-color: $solidColor;
       z-index      : 1;
       opacity: 0.5;
       border-top-left-radius: $borderRadius;
       border-top-right-radius: $borderRadius;
       .close{
         @extend .fa;
         @extend .fa-close;

         position: absolute;
         top     : 0px;
         right   : 0px;
         display : block;
         height  : 100%;
         padding : 0px $padding;
         line-height  : inherit;
         cursor  : not-allowed;
       }
     }

     .tab-body{
       position: relative;
       top: -$rowHeight;
       height   : calc(100% - #{$rowHeight});
       border   : 1px solid $voidColor;
       background-color: $contentColor;
       opacity      : 0;
       pointer-events : none;
     }
   }

  .tab  .tab-head:hover{
    background-color: #8b8b8b;
  }

  .tab.selected{
    .tab-head{
      border-bottom: 1px solid transparent;
      background-color: $contentColor;
      opacity: 1;
      z-index      : 10;
    }
    .tab-body{
      z-index: 9;
      opacity      : 1;
      pointer-events : all;
    }

  }

 }
