<ul class="grid undo-list"
    ng-class="{'focus' : deck.current != -1}">
    <li class="grid-box all concepts" ng-repeat="a in app.cards">
        <div class="card"
             ng-click="deck.current = deck.current == $index ? -1 : $index">
            <img src="../images/carousel/carousel-1.jpg">
        </div>
    </li>

    <li class="grid-box all interactions" ng-repeat="a in app.cards">
        <div class="card three"
             ng-click="deck.current = deck.current == $index ? -1 : $index">
            <img src="../images/carousel/carousel-3.jpg">
        </div>
    </li>

    <li class="grid-box all concepts" ng-repeat="a in app.cards">
        <div class="card two"
             ng-click="deck.current = deck.current == $index ? -1 : $index">
            <img src="../images/carousel/carousel-2.jpg">
        </div>
    </li>
    <li class="grid-box all concepts" ng-repeat="a in app.cards">
        <div class="card"
             ng-click="deck.current = deck.current == $index ? -1 : $index">
            <img src="../images/carousel/carousel-1.jpg">
        </div>
    </li>

    <li class="grid-box all interactions" ng-repeat="a in app.cards">
        <div class="card three"
             ng-click="deck.current = deck.current == $index ? -1 : $index">
            <img src="../images/carousel/carousel-3.jpg">
        </div>
    </li>

    <li class="grid-box all concepts" ng-repeat="a in app.cards">
        <div class="card two"
             ng-click="deck.current = deck.current == $index ? -1 : $index">
            <img src="../images/carousel/carousel-2.jpg">
        </div>
    </li>
    <li class="grid-box all concepts" ng-repeat="a in app.cards">
        <div class="card"
             ng-click="deck.current = deck.current == $index ? -1 : $index">
            <img src="../images/carousel/carousel-1.jpg">
        </div>
    </li>

    <li class="grid-box all interactions" ng-repeat="a in app.cards">
        <div class="card three"
             ng-click="deck.current = deck.current == $index ? -1 : $index">
            <img src="../images/carousel/carousel-3.jpg">
        </div>
    </li>

    <li class="grid-box all concepts" ng-repeat="a in app.cards">
        <div class="card two"
             ng-click="deck.current = deck.current == $index ? -1 : $index">
            <img src="../images/carousel/carousel-2.jpg">
        </div>
    </li>

</ul>