.card{
  background: white;
  margin: 5px;;
  border: 1px solid rgba(0,0,0,0.5);
  height: calc(100% - 10px);
}
.card img{
  width: 100%;
}
.grid{
  position: relative;
  display: block;
  list-style: none;
}
.grid>li, .card{
  transition: transform 500ms ease, opacity 500ms ease ;
}

.grid-box:nth-child(n+1) .card{
  transition-delay: 50ms;;
}

.grid-box:nth-child(2n+1) .card{
  transition-delay: 90ms;;
}

.grid-box:nth-child(3n) .card{
  transition-delay: 110ms;;
}

.grid-box:nth-child(5n) .card{
  transition-delay: 0ms;;
}


.grid>li{
  width: 300px;
  box-sizing: border-box;
  display: block;
  float: left;

  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid rgba(0,0,0,0.1);
}

.grid>li:nth-child(2n+1){  height: 450px ;  }
.grid>li:nth-child(2n){  height: 350px ;  }
.grid>li:nth-child(3n){  height: 370px ;  }

.grid > li > .card{
  border: none;
}

*{
  box-sizing: border-box;
}
#app{
  margin: 0px;
  padding: 10px;
}
nav{
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1;
  height: 40px;
}
nav button, nav a{
  height: 40px;
  padding: 10px 20px;
}
.grid-box{
  opacity: 0;
  pointer-events: none;
}
.state.home  .grid-box.home, .state.dashboard  .grid-box.dashboard{
  opacity: 1;
  pointer-events: all;
}

.state.all  .grid-box.all{
  opacity: 1;
  pointer-events: all;
}

.state.home  .grid-box:not(.home) .card, .state.dashboard  .grid-box:not(.dashboard) .card{
  transform: translateY(100vh);
}