<div id="app" class="intro" ng-app="amoeba">
    <div id="top-fixed-bar">
        <div class="app bar">
            <ul class="undo-list">
                <li class="logo"><a>
                    <img src="../images/logo.png">
                </a></li>
                <li class="search">
                    <span class="fa fa-search"></span>
                    <input type="text" placeholder="search">
                </li>
                <!--<li class="icons">-->
                <!--<ul class="undo-list">-->
                <!--<li class="messages">-->
                <!--<span class="fa fa-comments"></span>-->
                <!--<label >5</label>-->
                <!--</li>-->
                <!--<li class="account">-->
                <!--<span class="fa fa-user"></span>-->
                <!--<label >user</label>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</li>-->
            </ul>
        </div>
        <div class="navigation bar">
            <ul class="undo-list">
                <li class="link home"        ><a href="#/all">All</a></li>
                <li class="link furniture"   ><a href="#/home" >Agility</a></li>
                <li class="link lighting"    ><a href="#/dashboard">AngularJS</a></li>
                <li class="link decor"       ><a >UI / UX</a></li>
                <li class="link blog"        ><a >Blog</a></li>
                <li class="link collections" style="display: none"><a>My collections</a></li>
            </ul>
            <div class="indicator"></div>
        </div>
    </div>

    <div id="home-fixed-bg">
        <img src="../images/show-biz.jpg">
        <div class="overlay">
            <!--<h1>amoeba.social</h1>-->
            <img class="as-logo" src="../images/royal%20graphite.png">
        </div>
    </div>
    <div class="intro-padding"></div>
    <article class="contents">
        <div class="psudeo-shadow"></div>
        <div class="state">

        <div id="slate" class="slate" ng-class="{'show-modal' : deck.current != -1}">
            <ul class="deck grid"
                ng-init="deck = {cards: [1,2,3,4,5,6], current: -1}"
                ng-class="{'focus' : deck.current != -1}">

                <li class="grid-box all {{type}}"
                    ng-repeat-start="card in deck.cards"
                    ng-init="type =  ($index % 2 == 0) ? 'home' : (($index % 3 == 0 ? 'dashboard' : ''))"
                    ng-class="{'home': $index % 2 == 0,'selected' : deck.current == $index, 'selected-head' : deck.current < $index - 1, 'selected-tail' : deck.current > $index + 1, 'selected-pre' : deck.current == $index - 1,'selected-post' : deck.current == $index + 1}">
                    <div class="card"
                         ng-click="deck.current = deck.current == $index ? -1 : $index">
                        <h1>Elements</h1>
                        <p>The TeX Gyre Heros family of sansserif fonts is based on the URW Nimbus Sans L family distributed with Ghostscript. The original font, Helvetica, was designed in 1957 by Max Miedinger in cooperation with Eduard Hoffman at the Haas type foundry. The constituent 8 faces (4 standard and 4 condensed) contain nearly 1250 glyphs each.

                        </p>
                    </div>
                </li>
                <li class="grid-box all {{type}}"
                    ng-repeat-end
                    ng-init="type =  ($index % 2 == 0) ? 'home' : (($index % 3 == 0 ? 'dashboard' : ''))"
                    ng-class="{'home': $index % 2 == 0,'selected' : deck.current == $index, 'selected-head' : deck.current < $index - 1, 'selected-tail' : deck.current > $index + 1, 'selected-pre' : deck.current == $index - 1,'selected-post' : deck.current == $index + 1}">
                    <div class="card"
                         ng-click="deck.current = deck.current == $index ? -1 : $index">
                        <img src="../dump/images/carousel/carousel-3.jpg">
                        <h1>Elements</h1>
                        <p>The TeX Gyre Heros family of sansserif fonts is based on the URW Nimbus Sans L family distributed with Ghostscript. The original font, Helvetica, was designed in 1957 by Max Miedinger in cooperation with Eduard Hoffman at the Haas type foundry. The constituent 8 faces (4 standard and 4 condensed) contain nearly 1250 glyphs each.

                        </p>
                        <div class="card-action">
                            <button class="open">Open</button>
                            <button class="close">Close</button>
                        </div>
                        <div class="card-footer">
                            <div class="green bar"></div>
                            <div class="red bar"></div>
                            <div class="blue bar"></div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
        </div>

    </article>
    <div id="footer">
        Copyright © 2016 Nishant Singh. <br> All Rights Reserved.
    </div>

</div>