$height : 30px;
$titleHeight: 53px;
$consoleWidth: 500px;

.console{
  position    : absolute;
  z-index     : 10;
  right       : 0;
  top         : $topBarHeight;

  height      : calc(100vh - #{$topBarHeight + 3 * $padding});
  width       : $consoleWidth;
  overflow    : hidden;
  border      : 1px solid $lightBorderColor;
  background-color: white;

  @include transition(all 250ms ease);

  .title{
    background-color: #EEE;
    padding         : $padding;
    border-bottom   : 1px solid $lightBorderColor;
    height          : $titleHeight;

    @extend .resize-container;
    .status{
      float   : right;
      width   : 100%;
      position: relative;
      height    : $height;
      line-height  : $height;

      .bar{
        position: absolute;
        top     : 0;
        left    : 0;
        display : block;
        height  : 100%;
        width   : 100%;
        border  : 1px solid $lightBorderColor;

        border-radius   : $borderRadius;
        .progress{
          display: block;
          width: 100%;
          height: 100%;
          opacity : 0.3;
          background-color: $playColor;
          @include transformOrigin(0 0);
          @include transition(transform $observableDuration ease);
        }
      }
      .counts{
        position: relative;
        float: left;
        padding-left: $padding;
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }
  .output{
    display     : block;
    width       : 100%;
    height      : calc(100% - #{$titleHeight});
    border-radius: 0px;
    border      : none;
    padding     : 0px;
    overflow    : auto;

    .scenarios {
      @extend .undo-list;
      .scenario{
        display: block;
        border-bottom: 1px solid $lightBorderColor;
        @include transition(all $observableDuration ease);
        .name{
          padding: $padding;
        }
      }
      .scenario.success{
        background: #5cb85c;
        color: rgba(255, 255, 255, 0.76);
      }
    }
  }
}

.console:not(.show){
  opacity: 0;
  @include transform(translateX(calc(100% + 100px)));
}