$runButtonWidth: 37px;
$height : 30px;

.console{
  position: absolute;
  z-index: 10;
  right: 0;
  top: $topBarHeight;

  height: calc(100vh - #{$topBarHeight + 3 * $padding});
  width: 500px;

  border: 1px solid $lightBorderColor;
  @include transition(all 250ms ease);

  .title{
    background-color: #EEE;
    padding         : $padding;
    border-bottom   : 1px solid $lightBorderColor;

    @extend .resize-container;
    .run{
      float     : left;
      width     : $runButtonWidth;
      text-align: center;
      border    : 1px solid $lightBorderColor;
      border-radius   : $borderRadius;

      a{
        width     : 100%;
        display   : block;
        color     : $playColor;
        height    : $height;
        line-height  : $height;
        text-decoration: none;
      }
    }
    .status{
      float   : right;
      width   : calc(100% - #{$runButtonWidth + 2 * $padding});
      position: relative;
      height    : $height;
      line-height  : $height;

      .bar{
        position: absolute;
        top     : 0;
        left    : 0;
        display : block;
        height  : 100%;
        width   : 100%;
        opacity : 0.3;

        background-color: $playColor;
        border-radius   : $borderRadius;
      }
      .counts{
        position: relative;
        float: left;
        padding-left: $padding;
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }
  .output{
    display     : block;
    width       : 100%;
    height      : 100%;
    border-radius: 0px;
    border      : none;
    .scenarios {
      @extend .undo-list;
    }
  }
}