$editorDarkColor: #EEE;
$padding: 10px;
$topBarHeight: 40px;
$borderRadius : 4px;
$lightBorderColor: rgba(0, 0, 0, 0.1);
$lightBgColor: rgba(0, 0, 0, 0.05);
$darkBorderColor : rgba(0, 0, 0, 0.3);
$observableDuration: 500ms;
$quickDuration   : 150ms;
$editorBarColor  : rgba(12, 12, 12, 0.88);
$editorBarFontColor: rgba(255, 255, 255, 0.77);
$white : white;
$playColor: #5cb85c;
$dangerColor: rgba(255, 87, 34, 0.87);
$editorBarHeight: $topBarHeight;
$pagePadding : 2*$padding;
$transition: ease;
$calcMaxPageHeight: calc(100vh - 2 * #{$pagePadding});

@import "../../../lib/config.scss";
@import "../../../lib/font-awesome-4.5.0/scss/font-awesome";

*{
  box-sizing: border-box;
}

button{
  outline: none !important;
}

body.full-screen-editor{
  height: 100vh;
  overflow: hidden;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

  .task-editor{
    .editor-bar{
      .editor-menu{
        .full-screen{
          button{
            opacity: 0.5;
          }
        }
      }

    }
  }
}

.task-editor, .task-overview{
  margin : $pagePadding;
  width: calc(100% - #{4 * $padding});
  border: 1px solid $lightBorderColor;
  border-radius : $borderRadius;
  max-height: $calcMaxPageHeight;
  overflow: auto;
}

@import "top-bar";
@import "task-editor/task-editor";
@import "task-editor/task-overview";
@import "task-editor/readme";
@import "task-editor/console";
@import "task-editor/breadcrumb";
@import "readme/hints";
