$editorDarkColor: #EEE;
$padding: 10px;
$topBarHeight: 40px;
$borderRadius : 4px;
$lightBorderColor: rgba(0, 0, 0, 0.1);
$lightBgColor: rgba(0, 0, 0, 0.05);
$darkBorderColor : rgba(0, 0, 0, 0.3);
$observableDuration: 500ms;
$quickDuration   : 150ms;
$editorBarColor  : #0c0c0c;
$editorBarFontColor: rgba(255, 255, 255, 0.77);

$playColor: #5cb85c;
$dangerColor: #F44336;

@import "../../../lib/config.scss";
@import "../../../lib/font-awesome-4.5.0/scss/font-awesome";

*{
  box-sizing: border-box;
}

button{
  outline: none !important;
}

body.full-screen-editor{
  height: 100vh;
  overflow: hidden;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

  .task-editor{
    .editor-bar{
      .editor-menu{
        .full-screen{
          button{
            opacity: 0.5;
          }
        }
      }

    }
  }
}

@import "task-editor/task-editor";
@import "task-editor/task-overview";
@import "task-editor/console";
