$rowHeight : 30px;

.repl {
  margin: 2*$padding;

  .cli{
    @extend .undo-list;
    $iconWidth: 30px;

    .current, .history{
      @extend .resize-container;
      .irb-icon{
        text-align: center;
        width: $iconWidth;
        color: #2196F3;
      }
      .repl-editor, .log{
        width: calc(100% - #{$iconWidth});
      }

      .repl-editor{
        resize: vertical;
        min-height: 100px;
      }

      .irb-icon,.repl-editor, .log{
        float: left;
        display: block;
      }
    }

    .history{
      border-bottom: 1px solid $lightBgColor;
      .input, .output{
        @extend .resize-container;
        color: rgba(0, 0, 0, 0.3);
      }
      .irb-icon{
        color: $lightBorderColor;
      }
    }
  }

  .repl-window {
    width           : 100%;
    border          : 1px solid $lightBorderColor;
    margin-top      : $padding;
    background-color: white;
    border-radius   : $borderRadius;
    .title-bar{
      border-bottom: 1px solid $lightBorderColor;
      @extend .resize-container;
      label{
        float: left;
      }
      button.clear:hover{
        border    : 1px solid $lightBorderColor;
      }
      button.clear{
        float     : right;
        color     : $lightBorderColor;
        background-color: transparent;
        border    : 1px solid transparent;
      }
      label,button.clear{
        height      : $rowHeight;
        line-height : $rowHeight;
        padding     :  0px $padding;
        border-radius: $borderRadius;
      }
    }

    .repl-editor{
      height    :  2*$rowHeight;
      width     : 100%;
      border    : none;
      outline   : none;
    }
    .repl-output:before{
      content: "out >";
      padding-right: $padding;
    }
    @include transition(all 250ms ease);
  }
}