$rowHeight : 30px;

.repl-window {
  width           : 100%;
  border          : 1px solid $lightBorderColor;
  background-color: white;
  border-radius   : $borderRadius;
  .title-bar{
    padding      : $padding;
    border-bottom: 1px solid $lightBorderColor;
    @extend .resize-container;
    label{
      float: left;
    }
    button.run:hover{
      border    : 1px solid $lightBorderColor;
    }
    button.run{
      float     : right;
      color     : $playColor;
      background-color: transparent;
      border    : 1px solid transparent;
    }
    label,button.run{
      height      : $rowHeight;
      line-height : $rowHeight;
      padding     :  0px $padding;
      border-radius: $borderRadius;
    }
  }

  .repl-editor{
    height    :  2*$rowHeight;
    width     : 100%;
    border    : none;
    padding   : $padding;
    outline   : none;
  }
  .repl-output:before{
    content: "out >";
    padding-right: $padding;
  }
  .repl-output{
    padding         : $padding;
    border-bottom   : 1px solid $lightBorderColor;
  }
  @include transition(all 250ms ease);
}