$sideBarMargin: 20px;
$sideBarPadding: 10px;
$cardWidth  : 250px;
$cardHeight   : 270px;

#content-modal{
  position: fixed;
  top: 0px;
  left: 0px;
  pointer-events: none;

  #view-card{
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    padding: $sideBarMargin;
    padding-top: 60px;
    .side-bar,.content{
      float: left;
      height: 100%;
    }
    .side-bar{
      @extend .card-container;
      padding: 10px;
      .card{
        opacity: 0;
      }
      .side-pad{
        height: 100vh;
        background-color: white;
      }
    }
    .content{
      width: calc(100% - 274px);
      background-color: transparent;
      height: 100vh;
    }
  }
}