$sideBarMargin: 20px;
$sideBarPadding: 10px;
$cardWidth  : 250px;
$cardHeight   : 270px;

#content-modal{
  position: fixed;
  top: 0px;
  left: 0px;
  pointer-events: none;

  #view-card{
    width: 100vw;
    height: 100vh;
    background-color: rgba(1, 1, 1, 0.3);
    padding: $sideBarMargin;
    padding-top: 60px;
    .side-bar,.content{
      float: left;
      height: 100%;
    }
    .side-bar{
      padding: $sideBarPadding;
      .card{
        border: 1px solid rgba(255, 255, 255, .8);
        width: $cardWidth;
        height: $cardHeight;
        img{
          height: calc(100% - 60px);
        }
        .caption{
          height: 60px;
        }
      }
    }
  }
}