@import url(https://fonts.googleapis.com/css?family=Roboto:300,100,700);
ul.undo-list, ul.sub-bar {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: block; }

.resize-container:after, .menu-link .fixed:after, .menu-link .floating:after, ul.sub-bar:after {
  content: "";
  display: table;
  clear: both; }

input {
  padding: 0px;
  margin: 0px;
  display: block;
  box-sizing: border-box;
  border: none; }

body {
  margin: 0px; }

.fixed-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none; }

.undo-link, .menu-link .fixed, .menu-link .floating {
  display: block;
  text-decoration: none; }

.menu-link {
  width: 150px;
  pointer-events: none;
  overflow: hidden; }
  .menu-link * {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    pointer-events: all; }
  .menu-link .fixed {
    position: relative;
    z-index: 1;
    display: block;
    overflow: hidden; }
    .menu-link .fixed label {
      display: inline-block;
      width: 100%;
      height: 40px;
      line-height: 40px;
      background-color: #f3f3f3;
      text-align: left;
      padding-left: 40px; }
    .menu-link .fixed .background {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      height: 100%;
      width: 100%;
      -webkit-transition: opacity 250ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
      -moz-transition: opacity 250ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
      -o-transition: opacity 250ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
      transition: opacity 250ms cubic-bezier(0.45, 0.515, 0.36, 0.88); }
  .menu-link .floating {
    background-color: #f3f3f3; }
    .menu-link .floating .icon, .menu-link .floating .description {
      float: left;
      height: 60px; }
    .menu-link .floating .icon {
      padding-top: 10px;
      padding-left: 10px;
      width: 40px;
      height: 40px; }
      .menu-link .floating .icon img {
        display: block;
        width: 100%;
        height: 100%; }
    .menu-link .floating .description {
      width: calc(100% - 40px);
      line-height: 16.66667px;
      text-align: left;
      padding: 10px; }

.menu-link .floating {
  -webkit-transition: transform 250ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
  -moz-transition: transform 250ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
  -o-transition: transform 250ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
  transition: transform 250ms cubic-bezier(0.45, 0.515, 0.36, 0.88); }

ul.sub-bar {
  position: relative; }
  ul.sub-bar li {
    position: relative;
    top: -1px;
    float: right;
    height: 40px;
    overflow: visible; }

.sub-bar > .background {
  position: absolute;
  bottom: 0;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: #f3f3f3;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: transform 250ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
  -moz-transition: transform 250ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
  -o-transition: transform 250ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
  transition: transform 250ms cubic-bezier(0.45, 0.515, 0.36, 0.88); }

.sub-bar .hover-padding {
  position: absolute;
  top: 0;
  left: -25px;
  z-index: -1;
  height: 125px;
  width: calc(100% + 25px);
  pointer-events: all;
  opactiy: 0; }

.sub-bar.collapse .menu-link .fixed .background, .collapse-sections .sub-bar.sections .menu-link .fixed .background, .collapse-navigation .sub-bar.navigation .menu-link .fixed .background {
  opacity: 0; }
.sub-bar.collapse > .background, .collapse-sections .sub-bar.sections > .background, .collapse-navigation .sub-bar.navigation > .background {
  -webkit-transform: translateY(-60px);
  -moz-transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  -o-transform: translateY(-60px);
  transform: translateY(-60px); }
.sub-bar.collapse .menu-link .floating, .collapse-sections .sub-bar.sections .menu-link .floating, .collapse-navigation .sub-bar.navigation .menu-link .floating {
  -webkit-transform: translateY(calc(-100% - 60px));
  -moz-transform: translateY(calc(-100% - 60px));
  -ms-transform: translateY(calc(-100% - 60px));
  -o-transform: translateY(calc(-100% - 60px));
  transform: translateY(calc(-100% - 60px)); }
.sub-bar.collapse .hover-padding, .collapse-sections .sub-bar.sections .hover-padding, .collapse-navigation .sub-bar.navigation .hover-padding {
  pointer-events: none; }

.sub-bar.sections {
  float: right;
  z-index: -1;
  -webkit-transition: transform 250ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
  -moz-transition: transform 250ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
  -o-transition: transform 250ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
  transition: transform 250ms cubic-bezier(0.45, 0.515, 0.36, 0.88); }
  .sub-bar.sections .menu-link .fixed label {
    background-color: transparent; }
  .sub-bar.sections .menu-link .fixed .background {
    background-color: #f3f3f3; }

.fixed-bar:not(.collapse-navigation) .sub-bar.sections {
  -webkit-transform: translateY(60px);
  -moz-transform: translateY(60px);
  -ms-transform: translateY(60px);
  -o-transform: translateY(60px);
  transform: translateY(60px); }

.sub-bar.navigation {
  pointer-events: all; }

/*# sourceMappingURL=expando.css.map */
