@import '../../lib/config';

$borderColor: rgba(0, 0, 0, 0.1);
$fillColor: #f3f3f3;

$barHeight : 40px;
$barExpandedHeight: 100px;

$collapseDuration: 250ms;
$collapseFunction: cubic-bezier(0.45, 0.515, 0.36, 0.88);
$pointerOffsetForHover: 25px;

body{
  margin: 0px;
}
@import 'fixed-bar';
@import 'menu-link';
@import 'sub-bar';
@import 'sections-bar';
