$linkWidth: 150px;
$padding : 10px;

$fixedHeight: $barHeight;
$fontColor : rgba(0, 0, 0, 0.8);

$floatingHeight: $barExpandedHeight - $barHeight;
$iconWidth     : 40px;
$iconHeight    : 40px;

.undo-link{
  display: block;
  text-decoration: none;
}

.menu-link{
  width: $linkWidth;
  pointer-events: none;
  overflow: hidden;

  *{
    cursor: pointer;
    color: $fontColor;
    box-sizing: border-box;
    pointer-events: all;
  }

  .fixed{
    @extend .undo-link;
    @extend .resize-container;
    position: relative;
    z-index: 1;
    label{
      display: inline-block;
      width: 100%;
      height: $fixedHeight;
      line-height: $fixedHeight;
      background-color: $fillColor;
      text-align: left;
      padding-left: $iconWidth;
    }
  }

  .floating{
    @extend .undo-link;
    @extend .resize-container;
    background-color: $fillColor;

    .icon, .description{
      float: left;
      height: $floatingHeight;
    }

    .icon{
      padding-top: ($floatingHeight - $iconHeight)/2;
      padding-left: $padding;
      width: $iconWidth;
      height: $iconHeight;
      img{
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .description{
      width: calc(100% - #{$iconWidth});
      line-height: ($floatingHeight - $padding)/3;
      text-align: left;
      padding: $padding;
    }
  }
}

.menu-link{
  .floating{
    @include transition(transform, $collapseDuration, $collapseFunction);
  }
}