.sub-bar.sections{
  float: right;
  z-index: -1;
  @include transition( transform, $collapseDuration, $collapseFunction);

  .menu-link{
    .fixed{
      label{
        background-color: transparent;
      }
      .background{
        background-color: $fillColor;
      }
    }
  }
}

.collapse-sections .sub-bar.sections{
  @extend .collapse;
}

.fixed-bar:not(.collapse-navigation) .sub-bar.sections{
  @include transform(translateY($barExpandedHeight - $barHeight));
}

