.sub-bar.sections{
  float: right;
  z-index: -1;
  @include transition( transform, $collapseDuration, $collapseFunction);
}

.collapse-sections .sub-bar.sections,
.collapse-navigation .sub-bar.navigation{
  @extend .collapse;
}

.fixed-bar:not(.collapse-navigation) .sub-bar.sections{
  @include transform(translateY($barExpandedHeight - $barHeight));
}

.sub-bar.navigation{
  pointer-events: all; //prevents menu from collapsing, when leaving menu bar.
}