ul.section-bar{
  @extend .undo-list;
  @extend .resize-container;
  position: relative;

  li{
    position: relative;
    top: -1px;

    float: right;
    height: $barHeight;
    overflow: visible;
  }
}

.section-bar{
  .background {
    position: absolute;
    bottom: 0;
    top: 0;

    height: $barExpandedHeight;
    width: 100%;

    background-color: $fillColor;
    border-bottom: 1px solid $borderColor;

    @include transition( transform, $collapseDuration, $collapseFunction);
  }
}

.section-bar.collapse{
 .background{
   @include transform(translateY(-$barExpandedHeight + $barHeight));
 }
}