ul.sub-bar{
  @extend .undo-list;
  @extend .resize-container;
  position: relative;

  li{
    position: relative;
    top: -1px;

    float: right;
    height: $barHeight;
    overflow: visible;
  }
}

.sub-bar{
  > .background {
    position: absolute;
    bottom: 0;
    top: 0;

    height: $barExpandedHeight;
    width: 100%;

    background-color: $fillColor;
    border-bottom: 1px solid $borderColor;

    @include transition( transform, $collapseDuration, $collapseFunction);
  }
}

.sub-bar{
  .hover-padding {
    position: absolute;
    top: 0;
    left: -$pointerOffsetForHover;
    z-index: -1;

    height: $barExpandedHeight + $pointerOffsetForHover;
    width: calc(100% + #{$pointerOffsetForHover});

    pointer-events: all;
    opactiy: 0;
  }
}

.sub-bar.collapse{
 > .background{
   @include transform(translateY(-$barExpandedHeight + $barHeight));
 }
 .menu-link{
    .floating{
      @include transform(translateY(-100%));
    }
  }
  .hover-padding{
    pointer-events: none;
  }
}