ul.sub-bar{
  @extend .undo-list;
  @extend .resize-container;
  position: relative;

  li{
    position: relative;
    top: -1px;

    float: right;
    height: $barHeight;
    overflow: visible;
  }
}

.sub-bar{
  .background {
    position: absolute;
    bottom: 0;
    top: 0;

    height: $barExpandedHeight;
    width: 100%;

    background-color: $fillColor;
    border-bottom: 1px solid $borderColor;

    @include transition( transform, $collapseDuration, $collapseFunction);
  }
}

.sub-bar.collapse{
 .background{
   @include transform(translateY(-$barExpandedHeight + $barHeight));
 }
 .menu-link{
    .floating{
      @include transform(translateY(-100%));
    }
  }
}

.sub-bar.sections{
  z-index: -1;
  @include transition( transform, $collapseDuration, $collapseFunction);
}

.collapse-sections .sub-bar.sections,
.collapse-navigation .sub-bar.navigation{
  @extend .collapse;
}

.fixed-bar:not(.collapse-navigation) .sub-bar.sections{
  @include transform(translateY($barExpandedHeight - $barHeight));
}