$atddCardColor : #DCBD23;
$atddLabelColor: #DCBD23;
$collapseRowHeight: $rowHeight + 2 * $padding;

$atddFontColor : rgba(0, 0, 0, 0.91);
$atddWidth : 800px;

.atdd{
  position   : relative;
  height     : 100%;

  min-height : calc(#{$slideHeight} - #{6* $padding});
  border     : $padding solid $atddCardColor ;
  padding: $padding;

  .card{
    height    : auto;
    width     : calc(100% -  #{2 * $padding});
    min-height: $collapseRowHeight;
    margin : $padding;

    > label{
      padding-left    : $padding * 2;
      color           : $atddFontColor;
      background-color: $atddCardColor;
      text-align      : left;
      background-color: $atddCardColor;
    }
  }

  .development{
    > .card{
      height: auto;
      border: $padding solid $atddCardColor;
      background-color: $atddCardColor;

      > label{
        display:  block;
        position: relative;
        padding-left: $padding;
        top: -$padding;
      }
    }
  }

}