$atddCardColor : #DCBD23;
$atddLabelColor: #DCBD23;
$collapseRowHeight: $rowHeight + 2 * $padding;

$atddFontColor : rgba(0, 0, 0, 0.91);
$atddWidth : 800px;
$minDevHeight : 300px;

.atdd{
  position   : relative;
  height     : 100%;

  border     : $padding solid $atddCardColor ;
  padding   :  0px;
  .atdd-title{
    height      : 2 * $padding + $rowHeight;
    line-height : $rowHeight;
    padding     : $padding ;
    background-color: $atddCardColor;
    display: block;
    position: relative;
  }

  .card{
    height    : auto;
    width     : calc(100% -  #{ $padding});
    min-height: $collapseRowHeight;
    margin : $padding/2;

    > label{
      padding-left    : $padding * 2;
      color           : $atddFontColor;
      background-color: $atddCardColor;
      text-align      : left;
      background-color: $atddCardColor;
    }
  }

  .development{
    height: calc(100% - #{4 * $collapseRowHeight + 5 * $padding / 2});
    min-height: $minDevHeight;

    > .card{
      height: 100%;
      border: $padding solid $atddCardColor;
      background-color: $atddCardColor;

      > label{
        display:  block;
        position: relative;
        padding-left: $padding;
        top: -$padding;
      }
    }
  }

}