@import '../../../style/base';
@import "../../../lib/font-awesome-4.5.0/scss/font-awesome";
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');

$rowHeight: 25px;
$darkTint: rgba(0, 0, 0, 0.2);
$emptyBackgroundColor: white;
$lineHeight: $rowHeight;
$borderRadius: 2px;
$lightBorder: rgba(0,0,0,0.1);

$cardHeight: 190px;
$cardWidth: 273px;

$normalFontSize: 18px;
$smallFontSize: 13px;

$slideHeight: 100vh;
$minHeight: 528px;

$atddCardColor : #DCBD23;
$tddColor : #00882B;
$tddFontColor : rgba(255, 255, 255, 0.88);
$transitionFunction :  cubic-bezier(0.64, 0.57, 0.67, 1.53);
$shortTransitionTime : 100ms;
$darkFontColor: rgba(0, 0, 0, 0.92);

article{
  font-family: 'Raleway', sans-serif;
  overflow: auto;
  background: rgb(230, 230, 230);
  *{
    @include transition(all $shortTransitionTime ease);
  }
}

$arrowSize: 50px;
$connectorWidth: 150px;
.card.connector{
  position  : relative;
  z-index   : 1;
  overflow  : visible;
  background: transparent !important;
  width     : $connectorWidth !important;

  .arrow, > label{
    position: absolute;
    top: 0;
    left: 0;
    height: $cardHeight;
    width: 100%;
    line-height: $cardHeight;
    text-align: center;
  }
  .arrow{
    font-size: $arrowSize;
    i{
      color: $darkFontColor;
      @include transform(scaleX(2));
    }
  }
  > label{
    top: $arrowSize/3;
    color: $darkFontColor !important;
    background-color: transparent !important;
  }
}

.subject-title{
  > label{
    font-weight: 600;
    padding-right: $padding/2;
    > a{
      color: inherit;
    }
  }
  > span{
    opacity: 0.5;
    font-size: $smallFontSize;
  }
}

.card{
  position: relative;
  height: $cardHeight;
  width: $cardWidth;

  > label{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size       : $normalFontSize;

    line-height: $rowHeight;
    padding: $padding;

    text-align: center;
  }
}

.stack{
  @extend .undo-list;
  padding: $padding !important;

  li{
    display: block;
    margin: $padding;
    width: calc(100% - #{2 * $padding});
    height: $rowHeight;
  }
}

@import "scrum";
@import "atdd";
@import "tdd";

@import "states/scrum-only";
@import "states/overview-only";
