@import '../../../style/base';
@import "../../../lib/font-awesome-4.5.0/scss/font-awesome";
@import url('https://fonts.googleapis.com/css?family=Raleway');

$rowHeight: 25px;
$darkTint: rgba(0, 0, 0, 0.2);
$emptyBackgroundColor: white;
$lineHeight: $rowHeight;
$borderRadius: 2px;
$lightBorder: rgba(0,0,0,0.1);

$cardHeight: 190px;
$cardWidth: 273px;

$normalFontSize: 18px;
$slideHeight: 100vh;
$minHeight: 528px;

article{
  font-family: 'Raleway', sans-serif;
  overflow: auto;
}

.card{
  position: relative;
  height: $cardHeight;
  width: $cardWidth;

  > label{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size       : $normalFontSize;

    border-top: 1px solid rgba(0, 0, 0, 0.1);

    line-height: $rowHeight;
    padding: $padding;

    text-align: center;
  }
}

.stack{
  @extend .undo-list;
  padding: $padding !important;

  li{
    display: block;
    margin: $padding;
    width: calc(100% - #{2 * $padding});
    height: $rowHeight;
  }
}

@import "scrum";
@import "atdd";
@import "tdd";
