$scrumCardColor : #DE6A10;
$scrumLabelColor: #DE6A10;

$stackOuterColor: #DE6A10;
$stackInnerColor: #ee8510;
$stackFontColor : rgba(255, 255, 255, 0.93);
$sprintWidth : 800px;

.scrum{
  @extend .resize-container;
  @extend .undo-list;

  min-width  : $sprintWidth + 2 * $cardWidth + 8 * $padding;
  overflow   : auto;
  position   : relative;
  min-height : $slideHeight;
  border     : $padding solid #DE6A10 ;

  > li{
    float: left;
    position: absolute;
    margin: $padding;
  }

  > li > .card{
    background-color: $scrumCardColor;
    > label{
      color           : $stackFontColor;
      background-color: $scrumLabelColor;
    }
  }

  .sprint-plan, .backlog{
    top: 0;
  }

  .retrospective, .feedback-summary{
    bottom: 0;
  }

  .backlog, .feedback-summary{
    left: 0;
  }
  .sprint-plan, .retrospective{
    left: $cardWidth + 2 *$padding;
  }

  .sprint{
    right : 0;
    top   : 0;
    height: calc(100% - #{2 * $padding});
    width : $sprintWidth;
    overflow: auto;
    border: $padding solid $scrumCardColor;
    background-color: transparent;
  }

  ul.stack{
    background-color: $stackOuterColor;
    > li{
      background-color: $stackInnerColor;
    }
  }


}