$scrumCardColor : #DE6A10;
$scrumLabelColor: #DE6A10;

$stackOuterColor: #DE6A10;
$stackInnerColor: #ee8510;
$stackFontColor : rgba(255, 255, 255, 0.93);
$sprintWidth : 800px;
$planningAndRetroWidth: 600px;
$planningAndRetroHeight: 210px;
$planningAndRetroSpace: 100px;
$planningHeight: 210px;
.scrum{
  @extend .resize-container;
  border     : $padding solid #DE6A10 ;
  padding    : $padding;
  width: $planningAndRetroWidth + $sprintWidth + 4*$padding ;

  .planning-and-retro, .sprint{
    float: left;
    width: $planningAndRetroWidth;
  }

  .planning, .retro{
    @extend .resize-container;

    > .card{
      float: left;
      background-color: $scrumCardColor;
      margin: $padding;
      > label{
        color           : $stackFontColor;
        background-color: $scrumLabelColor;
      }
    }
  }

  .plan-space-retro{
    height: calc(100vh - #{2 * $planningAndRetroHeight + 4 * $padding});
    width: 50px;
  }


  .sprint{
    width   : $sprintWidth;
    border  : $padding solid $scrumCardColor;
  }

  ul.stack{
    background-color: $stackOuterColor;
    > li{
      background-color: $stackInnerColor;
    }
  }


}