/* start design */

.top-bar-height {
  top: -105px; /*total height : 105 pixels(hidden by offset)*/
}

.app-menu-height{
  height: 65px;
}

.position-below-context-menu{
  top: 45px;
}

#loader-bar{
  padding-top: 2px;
}

#app-menu {
  /*total height : 60 pixels*/
  padding: 20px 0 0 0;
  height: 40px;
}

#context-menu {
  /*total height : 45 pixels*/
  padding: 5px 0 0 0;
  height: 40px;
}

#section-heading {
  margin: 45px 0 0 0;
  padding-top: 10px;
  min-height: 50px;/* app-bar-height =  minimum-height + top-padding  */
}

/* end design */
