/* start fonts */

$boldFontFamily: UbuntuTitlingBold;
$regularFontFamily: RalewayRegular;

// font size for immediate user attention
$catchyFontSize: 1.3em;

@font-face {
  font-family: $regularFontFamily;
  src: url("../fonts/Raleway-Regular.ttf") format("opentype");
}

@font-face {
  font-family: $boldFontFamily;
  src: url("../fonts/UbuntuTitling-Bold.ttf") format("opentype");
}

.bold-font{
  font-family: $boldFontFamily;

}

.regular-font{
  font-family: $regularFontFamily;
}

h1, img, form, input, button, select, option{
  @extend .bold-font;
}

body, div,p, span, ul, li, a {
  @extend .regular-font
}

h1{
  font-size: 1.6em;
}

input, button, select, option{
  font-size: $catchyFontSize;
}

/* end fonts */
