<!DOCTYPE html>
<html>

<head>
    <script src="lib/angular.js"></script>
    <style>
        .carousel{
            width: 400px;
            overflow: hidden;;
        }
        .slide-container{
            width: 1300px;
            -webkit-transition: right 0.5s;
            -moz-transition: right 0.5s;
            transition: right 0.5s;
        }
        .slide{
            width: 400px;
            display: inline-block;
        }
        .red-bg{
            background-color: red;
        }
        .green-bg{
            background-color: green;
        }

    </style>
</head>

<body class="txt-centered" ng-app="carousel-demo">

<div class="carousel" as-model="carousel">
    <div class="slide-container">
        <div class="slide red-bg">
            Slide 1
        </div>
        <div class="slide green-bg">
            Slide 2
        </div>
        <div class="slide red-bg">
            Slide 3
        </div>
    </div>
</div>
<button ng-click="carousel.next()">Next</button>
<button ng-click="carousel.previous()">Back</button>


<script type="text/javascript">

    var app = angular.module("carousel-demo", []);
    app.directive("carousel", [function(){
        var carousel = function(carouselElement){
            var slideContainerElement = carouselElement.find("div"),
                currentSlide = slideContainerElement.find("div");

            slideContainerElement.css("right", "0");
            slideContainerElement.css("position", "relative");

            return {
                next: function(){
                    var moveTo    = parseInt(currentSlide.prop('offsetWidth')) + parseInt(slideContainerElement.css("right"));
                    slideContainerElement.css("right", moveTo + "px");
                    currentSlide = currentSlide.next();
                },
                previous: function(){
                    var moveTo    = parseInt(slideContainerElement.css("right")) - parseInt(currentSlide.prop('offsetWidth'));
                    slideContainerElement.css("right", moveTo + "px");
                },
                hasNext : function(){
                    return !!currentSlide.next();
                }
            }
        };
        return {
            restrict: "C",
            scope:false,
            transclude: false,
            link: function(scope, element, attrs){
                scope[attrs.asModel] = carousel(element);
            }
        };
    }])
</script>
</body>
</html>
