<!DOCTYPE html>
<html>

<head>
    <script src="lib/angular.js"></script>

</head>

<div class="txt-centered">

    <style>
        .carousel {
            margin-left: auto;
            margin-right: auto;
        }

        .slide{
            -webkit-transition: all 200ms linear;
            -moz-transition:    all 200ms linear;
            -o-transition:      all 200ms linear;
            transition:         all 200ms linear;
        }
        .not-active{
            width :0px !important;
        }
    </style>


    <div class="card"
         ng-repeat="slide in carousel"
         ng-init="slide.__showIndex = 1">

        <div class="carousel" style="width:300px; height: 300px;" >
            <img
                  class="slide"
                  style="width:300px; height: 300px;"
                  ng-repeat="image in slide.images"
                  ng-src="{{'rob-the-robe/carousel/carousel-' + ($index+1) + '.jpg'}}"
                  ng-class="slide.__showIndex - 1 == $index ? '' : 'not-active'">
        </div>

        {{slide.__showIndex}}
        <select  ng-model="slide.__showIndex">
            <option ng-repeat="index in [1, 2, 3]"> {{index}}</option>
        </select>

    </div>


</div>