@import 'fonts';

$bottomBarColor: #1A212B;
$topBarColor: #293e4f;
$bodyBgColor: #EFEFEF;

$bottomBarTextColor: $bodyBgColor;
$topBarTextColor: $bodyBgColor;

$topBarHeight: 45px;
$bottomBarHeight: 45px;
$titleBarHeight : $topBarHeight + $bottomBarHeight;

$secondaryTextColor: #675D5D;
$selectionBlueColor: #629CE4;

body{
  background-color: $bodyBgColor;
  @extend .body-font;
}

* {
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

ul.inline-menu{
  height: 100%;
  li {
    font-size: 16px;
    height: 100%;
  }
}
.shade-light{
  background-color: #818181;
}

.shade-up{
  background: rgba(226,226,226,1);
  background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(100%, rgba(254,254,254,1)));
  background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 100%);
  background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 100%);
  background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 100%);
  background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );
}
.shade-down{
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 10%, rgba(201,201,201,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(10%, rgba(255,255,255,1)), color-stop(100%, rgba(201,201,201,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 10%, rgba(201,201,201,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 10%, rgba(201,201,201,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 10%, rgba(201,201,201,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 10%, rgba(201,201,201,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c9c9c9', GradientType=0 );
}

#menu-wrapper{
  position: fixed;
  width: 100%;
  box-shadow: 2px 2px 5px #B9B7B7;
  @extend .title-font;
}

.tk-button{
  border-radius: 15px;
  border-top: 1px solid #CCCBCB;
  box-shadow: 1px 3px 3px #B3B3B3;
  color: #484444;
  background-color: white;
  padding: 5px 15px 5px 15px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.tk-input{
  box-shadow: 1px 3px 3px #B3B3B3;
  color: #484444;
  margin: 5px;
  border: none;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
  background-color: white;
  padding: 5px 15px 5px 10px;
  text-align: left;
  border-radius: 10px;
}

.tk-input.large{
  min-width: 300px;
}

#app-bar {
  height: $topBarHeight;
  @extend .shade-up;
  .inline-menu {
    li {
      a{
        @extend .tk-button
      }
      a:hover{
        color: #DEDEDE;
        @extend .shade-light;
      }
    }
    li.selected-link{
      a{
        color: #DEDEDE;
        @extend .shade-light;
      }
    }
  }

  li.profiles-option .glyphicon{
    font-size: 1.5em;
    padding: 5px 10px 5px 10px;
    background-color: white;
    border-radius: 15px;
    border-top: 1px solid #CCCBCB;
    box-shadow: 1px 3px 3px #B3B3B3;
    margin: 5px;
    transform: translateY(15px);
  }

  li.profiles-option:hover .glyphicon{
    @extend .shade-light;
  }

  li a {
    color: grey;
  }

}

#section-bar {
  height: $bottomBarHeight;
  @extend .shade-down;
  .inline-menu {
    li {
      a{
        @extend .tk-button
      }
    }
    li.selected-tab{
      a{
        color: #DEDEDE;
        @extend .shade-light;
      }
    }
    li:hover > a {
        color: #DEDEDE;
      @extend .shade-light;
    }
  }
}

#business-account-indicator-wrapper{
  position: fixed;
  top: 0;
  left: 5vw;
  margin: 2px;
  #business-account-indicator{
    transform: translateY(20px);
    color: #6C6E71;
    span{
      border-radius: 15px;
      color: #484444;
      padding: 5px;
      cursor: pointer;
      font-size: 13px;
      @extend .title-font
    }
    span.error-outline{
      color: red;
    }
    .subject{
      color: #EFEFEF;
      background-color: $selectionBlueColor;
    }
    .input{
      min-width: 350px;
      position: fixed;
      @extend .shade-up;

      border: 1px solid #D2CECE;
      border-radius: 3px;

      input{
        background-color: white;
        height: 20px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        padding: 2px;
        margin: 2px;
        font-size: 13px;
      }
    }

    .account-option{
      margin: 5px;
      border-radius: 3px;
      padding: 5px;
      border: 1px solid #faf5f5;
      font-size: 13px;
    }

    #account-indicator-pad{
      position: fixed;
      top: 0;
      left: 40%;
      background-color: transparent;
      height: 500px;
      width: 500px;
      z-index: -1;
    }
  }
}

.clickable:hover{
  cursor: pointer;
  background-color: $selectionBlueColor;
}

.no-display{
  opacity: 0;
}

.display{
  opacity: 1;
}

.inline-list {
  display: block;
  list-style-type: none;
}

.inline-list li {
  display: inline-block;
}

.inline-block{
  display: inline-block;
}

.layer-1{
  z-index: 1;
}
.pull-right{
  float: right;
}

.pull-left{
  float: left;
}

.text-align-right{
  text-align: right;
}

.very-large-scrollable-body{
  padding-bottom: 1900px;
}

.error-outline{
  outline: 1px solid red;
}

.layer-2{
  z-index: 2;
}
.layer-1{
  z-index: 1;
}

// hide element by transform it to a point.
.sutle-hide{
  transform: translate(0px, -1800px) !important;
  opacity: 0 !important;
  height: 0 !important;

  -webkit-transition: width,height 500ms linear !important;
  -moz-transition: all 500ms linear !important;
  -o-transition: all 500ms linear !important;
  transition: all 500ms linear !important;
}

#body{
  padding-top: 120px;
  min-height: 110vh;
  background-color: #FAFAFA;
}
