$bottomBarColor: #1A212B;
$topBarColor: #293e4f;
$bodyBgColor: #EFEFEF;

$bottomBarTextColor: $bodyBgColor;
$topBarTextColor: $bodyBgColor;

$topBarHeight: 45px;
$bottomBarHeight: 45px;
$titleBarHeight : $topBarHeight + $bottomBarHeight;

$secondaryTextColor: #675D5D;
$selectionBlueColor: #629CE4;

body{
  background-color: $bodyBgColor;
}

* {
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

ul.inline-menu{
  height: 100%;
  li {
    padding: 10px 20px 5px 10px;
    font-size: 16px;
    height: 100%;
  }
}

#menu-wrapper{
  position: fixed;
  width: 100%;
}

#app-bar {
  background-color: $topBarColor;
  height: $topBarHeight;
  .inline-menu {
    li {
      color: $topBarTextColor;
    }
    li:hover{
      background-color: rgba(26, 33, 43, 0.4);
    }
    li.selected-link{
      background-color: $bottomBarColor;
    }
  }
}

#section-bar {
  background-color: $bottomBarColor;
  height: $bottomBarHeight;
  .inline-menu {
    li {
      color: $bottomBarTextColor;
    }
    li.selected-tab{
      background-color: $bodyBgColor;
      color: $bottomBarColor;
    }
    li:hover{
      background-color: $bodyBgColor;
      color: $bottomBarColor;
    }
  }
}

#business-account-indicator{
  position: fixed;
  top: 0;
  left: 45vw;
  background-color: $bodyBgColor;
  margin: 2px;
  span{
    font-size: 13px;
    color: $secondaryTextColor;
    padding: 5px;
  }
  span.error-outline{
    color: red;
  }
  .subject{
    color: #EFEFEF;
    background-color: $selectionBlueColor;
  }
  .input{
    position: fixed;
    background-color: inherit;
    border: 1px solid #D2CECE;
    border-radius: 3px;

    input{
      background-color: white;
      height: 20px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      padding: 2px;
      margin: 2px;
      font-size: 13px;
    }
  }

  .account-option{
    margin: 5px;
    border-radius: 3px;
    padding: 5px;
    border: 1px solid #faf5f5;
    font-size: 13px;
  }

  #account-indicator-pad{
    position: fixed;
    top: 0;
    left: 40%;
    background-color: transparent;
    height: 500px;
    width: 500px;
    z-index: -1;
  }
}

.clickable:hover{
  cursor: pointer;
  background-color: $selectionBlueColor;
}

.inline-list {
  display: block;
  list-style-type: none;
}

.inline-list li {
  display: inline-block;
}

.pull-right{
  float: right;
  clear: both;
}

.pull-left{
  float: left;
  clear: both;
}

.very-large-scrollable-body{
  padding-bottom: 1900px;
}

.error-outline{
  outline: 1px solid red;
}

.layer-1{
  z-index: 1;
}

#body{
  padding-top: $titleBarHeight + 5px;
}

@media screen and (max-width: 700px) {
  #business-account-indicator{
    position: initial;
    .input{
      position: initial;
    }
  }
  #menu-wrapper{
    position: initial;
  }

  #body{
    padding-top: 5px;
  }
}