body, div, h1, p, span, img, form, input, button, ul, li, a, table, thead, tbody, tr, td, th{
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  outline: none;
  text-align: center;
  background-color: transparent;
  font-size: large;
  border-radius: 0;
}

a, span{
  display: inline-block;
}
/* end reset */
