@import "../config";

$offsetFromButton  : 10px;

$menuWidth         : 300px;
$menuHeight        : 300px;

$menuWrapperPadding: 10px;
$menuRightOffset   : 10px;
$barHeight         : $topBarHeight;
$animateTime       : 300ms;
$wrapperPadding    : 50px;
$wrapperPaddingTop : 20px;

$filterButtonMargin : 2px;
$filterBorderSize   : 1px;
$filterButtonHeight : $barHeight - 2 *$filterButtonMargin + 2*$filterBorderSize;
$filterButtonWidth : 35px;


#filter-menu-wrapper{
  @include animate(transform, 500ms);
  transition-delay: $animateTime;

  position: fixed;
  top: $topBarHeight * 2 + $offsetFromButton - $wrapperPaddingTop; /*initial position*/
  right: $menuRightOffset - $wrapperPadding;
  z-index: $modalLayer - 1;
  padding: $wrapperPaddingTop $wrapperPadding  ;
  background: transparent;

  .filter-menu{
    height: $menuHeight;
    width: $menuWidth;
    background-color: #EEE;

    padding: $menuWrapperPadding;
    border-radius: 2px;

    text-align: center;

    @include animate(opacity, $animateTime);
    transition-delay: 0ms;
  }

  .marker {
    position: relative;
    top: -17px;
    left: $menuRightOffset;

    float: right;
    width: 0;
    height: 0;

    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #EEE;
  }
}

:not(.show-menu) > #filter-menu-wrapper{
  visibility: hidden;
  .filter-menu{
    opacity: 0;
  }
}

.filter-button{
  float: right;
  height: $filterButtonHeight;
  line-height: $filterButtonHeight - 2px;
  width: $filterButtonWidth;

  text-align: center;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.67);
}
.filter-button{
  @include animate(transform, 500ms);
}
.show-menu{
  .filter-button{
    opacity: 0.5;
    border-color: rgba(0, 0, 0, 0.1) ;
  }
}
.filter-button{
  border: 1px solid transparent;
}
.filter-button:hover{
  border-color: rgba(0, 0, 0, 0.1) ;
}
.show-adsets-filter.show-menu > #filter-menu-wrapper{
  transform : translateY($barHeight);
  opacity: 1;
}

.show-ads-filter.show-menu > #filter-menu-wrapper{
  transform : translateY(2*$barHeight);
  opacity: 1;
}

.filter-menu {
  overflow: hidden;
  ul.menu {
    list-style: none;
    display: table-row;
    padding: 0px;
    margin: 0px;
    @include animate(transform, $animateTime);

    .campaigns, .adsets, .ads{
      display: table-cell;
      float: left;
      padding: 0px;
      margin: 0px;
      height: $menuHeight;
      width: $menuWidth;
    }
  }
}

.show-campaigns-filter #filter-menu-wrapper .filter-menu{
  ul.menu{
    transform: translateY(0px);
  }
}
.show-adsets-filter{
  ul.menu{
    transform: translateY(-300px);
  }
}
.show-ads-filter{
  ul.menu{
    transform: translateY(-600px);
  }
}