@import "../config";

$sectionHeaderColor  : #EEE;
$sectionHeaderHeight : $topBarHeight;
$barsCount           : 4;  /* top bar + 3   section bars*/
$sectionBorderSize   : 0px;

$fullContentHeight   : calc(#{"100vh -  #{$sectionHeaderHeight * $barsCount}"});
$adsetsOffsetFull    : calc(#{"-100vh +  #{$sectionHeaderHeight * $barsCount - $sectionBorderSize*2}"});

$adsInitialOffset    : calc(#{"-100vh +  #{$sectionHeaderHeight * $barsCount - $sectionBorderSize*2}"});
$adsOffsetFull       : calc(#{"-100vh +  #{$sectionHeaderHeight * $barsCount - $sectionBorderSize*2}"});

#power-access{
  section{
    position: relative;
    box-sizing: border-box;
    border: $sectionBorderSize solid rgba(251, 251, 251, 0.1);
    @include animate(transform, 500ms);

    .header{
      @extend .gradient-bar;
      height: $sectionHeaderHeight;
    }
    .content{
      overflow: auto;
      height  : $fullContentHeight;
    }
  }

  #campaigns {
    z-index: 1;
  }

  #adsets {
    z-index: 2;
  }

  #ads {
    z-index: 2;
    top: $adsInitialOffset
  }
}

.show-adsets{
  #adsets{
    transform: translateY($adsetsOffsetFull);
  }
}

.show-ads{
  @extend .show-adsets;
  #ads{
    transform: translateY($adsOffsetFull);
  }
}

/*Split pane config*/
$splitSectionHeight : 200px;

#power-access.split{
  #campaigns{
    .content{
      height: calc(#{"100vh -  #{($sectionHeaderHeight + $splitSectionHeight) * 2 + 2 * $sectionHeaderHeight - $sectionBorderSize*4}"});

    };
  }
  #adsets{
    .content{
      height: $splitSectionHeight;
    };
  }
  #ads{
    top: 0;
    .content{
      height: $splitSectionHeight;
    };
  }
}