@import "../config";

$sectionHeaderColor  : #EEE;
$sectionHeaderHeight : $topBarHeight;
$barsCount           : 4;  /* top bar + 3   section bars*/
$sectionBorderSize   : 0px;

#power-access{
  section{
    position: relative;
    box-sizing: border-box;
    border: $sectionBorderSize solid rgba(251, 251, 251, 0.1);
    @include animate(all, 500ms);

    .header{
      height: $sectionHeaderHeight;
      @extend .gradient-bar;
    }
    .content{
      overflow: auto;
      height: calc(#{"100vh -  #{$sectionHeaderHeight * $barsCount}"});
    }
  }

  #campaigns {
    z-index: 1;
  }

  #adsets {
    z-index: 2;
  }

  #ads {
    z-index: 2;
    top: calc(#{"-100vh +  #{$sectionHeaderHeight * $barsCount - $sectionBorderSize*2}"})
  }
}

.show-adsets{
  #adsets{
    transform: translateY(calc(#{"-100vh +  #{$sectionHeaderHeight * $barsCount - $sectionBorderSize*2}"}));
  }
}

.show-ads{
  @extend .show-adsets;
  #ads{
    transform: translateY(calc(#{"-100vh +  #{$sectionHeaderHeight * $barsCount - $sectionBorderSize*2}"}));
  }
}