@import "../config";
$barHeight : $topBarHeight;
$titleWidth: 100px;
$searchWidth: 200px;
$filterBoxMaxWidth : calc(#{"100% -  #{$titleWidth + $searchWidth}"});

#power-access > section > .content {
  background-color: #F9F9F9;
  text-align: center;
}
#power-access > section > .header {
  .title, .filter{
    padding: ($barHeight - $defaultLineHeight)/2 5px 5px 5px;
    display: inline-block;
    height : $barHeight;
  }

  .search-and-title{
    max-width: $titleWidth + $searchWidth;
    height : $barHeight;
    float: left;

    .title{
      float: left;
      padding-right: 0px;
    }
    .search{
      width: $searchWidth ;
      height : $barHeight;
      float: left;
      padding: 2.5px;

      .icon, input{
        float: left;
        height : $barHeight - 5px;
        line-height : $barHeight - 7px;
        outline: none;
        border: none;
      }
      .icon{
        width: $barHeight - 5px;
        text-align: center;
        border: 1px solid #EEE;
      }
      input{
        width: calc(100% - #{$barHeight - 5px});
        box-sizing: border-box;
        padding: 5px;
        border: 1px solid transparent;

        @include animate(all, 500ms);
      }
      .suggestions{
        top: $barHeight;

        height: 300px;
        width: 100%;
        position: relative;
        background-color: white;
      }
    }
  }
  .search-and-title:not(:hover){
    .search{
      .icon{
        border: 1px solid transparent;
        opacity: 0.1;
      }
      input{
        width: 0;
        opacity: 0;
        padding: 0;
      }
      .suggestions{
        visibility: hidden;
      }
    }
  }

  .filter-box, .save-form{
    float: right;
    width: $filterBoxMaxWidth;

    ul.filters{
      float: right;
      display: block;
      max-width: calc(#{"100% -  #{$filterButtonWidth + 5px}"}); /* 15 pixel for margin of filter button*/
      overflow: hidden;
      height: $barHeight;

      li.filter{
        float: left;
        display: inline;
      }
    }
  }

  .save-form{
    text-align: right;
    button.save{
      width: 100%;
      outline: none;
      height: $barHeight;
      line-height: $barHeight - 6px;
      text-align: center;
      border: none;
      color: rgba(0, 0, 0, 0.67);
    }
  }
}

#power-access > section:not(.create) > header{
  .save-form{
    display: none;
  }
}

#power-access section.create > header{
  .filter-box{
    display: none;
  }
}