@import "../config";
$rowHeight : $sectionTableRowHeight;
$fontSize  : $sectionTableFontSize;
$minWidth  : $tableMinWidth;

section .content > table{
  width: 100%;
  min-width: $minWidth;
  //maxHeight:
  overflow: auto;

  td, th{
    width: $defaultCellWidth;
    height: $rowHeight;
    display: inline-block;
    overflow: hidden;

    text-align: center;
    line-height: $rowHeight - 2px;   /* Hide overflowing lines*/
    font-size: $fontSize;
  }
}