@import "../config";
$rowHeight : $sectionTableRowHeight;
$fontSize  : $sectionTableFontSize;
$minWidth  : $tableMinWidth;

section .content > .table{
  height: calc(100% - 5px);

  min-width: $minWidth;
  overflow: auto; /* scroll left inside table (columns)*/

  text-align: center;

  .thead{
    @extend .solid-bar;
    background-color: #F3F0F0;
    border-bottom: 1px solid #E6E6E6;
  }

  .tbody{
    overflow: auto; /* scroll contents (rows)*/
    height: calc(#{"100% -  #{$rowHeight}"});
  }
  .tr{
    height: $rowHeight;
  }
  .td, .th{
    width: $defaultCellWidth;
    height: $rowHeight;
    display: inline-block;
    overflow: hidden;

    text-align: center;
    line-height: $rowHeight - 2px;   /* Hide overflowing lines*/
    font-size: $fontSize;
  }
  .table-footer.tr {
    background-color: transparent !important;
    text-align: center;
    .td{
      width: calc(100% - 5px);
      background-color: #EEE;
    }

  }
}

section .content > .stripe.table .tbody > .tr:nth-child(2n){
  background-color: #F9F9F9;
}
section .content > .stripe.table .tbody > .tr:nth-child(2n+1){
  background-color: #FFF;
}

.table-controls{
  height: $rowHeight;
  line-height: $rowHeight - 2px;
  font-size: $fontSize;

  background-color: #F9F9F9;
}