@import '../../style/modules/debt';
.more-glyph{
  font-size: 13px;
  transform: translate(0px, 1px);
}

#more-campaign-sections-dropdown {
  width: 300px;
  @extend .shade-up;
  position: fixed;
  transform: translate(-10px, 7px);

  *{
    //transform: translateX(-10px); // for padding inside li
  }
  ul {
    li{
      width: calc(100% - 4px);
      margin: 2px;
    }
  }
}