    <div id="app-bar">
        <ul id="section-links" class="inline-menu inline-list pull-left">
            <li ng-class="menu.section('dashboard')    ? 'selected-link' : '' " ng-click="menu.showMenuFor('dashboard')"><a ng-mouseover="menu.showMenuFor('dashboard')" >dashboard</a></li>
            <li ng-class="menu.section('campaigns')    ? 'selected-link' : '' " ng-click="menu.showMenuFor('campaigns')"><a ng-mouseover="menu.showMenuFor('campaigns')" >campaigns</a></li>
            <li ng-class="menu.section('reports')      ? 'selected-link' : '' " ng-click="menu.showMenuFor('reports')"  ><a ng-mouseover="menu.showMenuFor('reports')"   >reports</a></li>
            <li ng-class="menu.section('products')     ? 'selected-link' : '' " ng-click="menu.showMenuFor('products')"> <a ng-mouseover="menu.showMenuFor('products')"  >products</a></li>
        </ul>
    </div>

    <div id="section-bar" ng-show="!menu.section('dashboard')">
        <ul ng-show="menu.section('campaigns')" class="inline-menu inline-list pull-left">
            <li ng-class="menu.tab('campaigns') ? 'selected-tab' : '' " >campaigns</li>
            <li ng-class="menu.tab('adsets')    ? 'selected-tab' : '' " > adsets</li>
            <li ng-class="menu.tab('ads')       ? 'selected-tab' : '' " >ads</li>
            <li ng-class="menu.tab('audiences') ? 'selected-tab' : '' " >audiences</li>
            <li>more <strong>v</strong></li>
        </ul>

        <ul ng-show="menu.section('reports')" class="inline-menu inline-list pull-left">
            <li ng-class="menu.tab('campaigns') ? 'selected-tab' : '' " >campaigns</li>
            <li ng-class="menu.tab('missed-call-campaigns')    ? 'selected-tab' : '' " >missed call campaign</li>
            <li ng-class="menu.tab('campaign-assets')       ? 'selected-tab' : '' " >campaigns assets</li>
        </ul>

        <ul ng-show="menu.section('products')" class="inline-menu inline-list pull-left">
            <li ng-class="menu.tab('triggers') ? 'selected-tab' : '' " >triggers</li>
            <li ng-class="menu.tab('behaviour-intel')    ? 'selected-tab' : '' " >behavior intelligence</li>
        </ul>
    </div>
