<div id="app-bar">
    <ul id="section-links" class="inline-menu inline-list inline-block">
        <li ng-class="menu.section('dashboard')    ? 'selected-link' : '' " ng-click="menu.showMenuFor('dashboard')"><a>dashboard</a></li>
        <li ng-class="menu.section('campaigns')    ? 'selected-link' : '' " ng-click="menu.showMenuFor('campaigns')"><a>campaigns</a></li>
        <li ng-class="menu.section('reports')      ? 'selected-link' : '' " ng-click="menu.showMenuFor('reports')"  ><a>reports</a></li>
        <li ng-class="menu.section('products')     ? 'selected-link' : '' " ng-click="menu.showMenuFor('products')"> <a>products</a></li>
    </ul>
    <ul id="profile-options" class="inline-menu inline-list inline-block pull-right">
        <li class="profiles-option"><span class="glyphicon glyphicon-user"></span></li>
        <li class="profiles-option"><span class="glyphicon glyphicon-bell"></span></li>
    </ul>
</div>

<div id="section-bar" ng-show="!menu.section('dashboard')">
    <ul ng-show="menu.section('campaigns')" class="inline-menu inline-list">
        <li ng-class="menu.tab('campaigns') ? 'selected-tab' : '' " ><a>campaigns</a></li>
        <li ng-class="menu.tab('adsets')    ? 'selected-tab' : '' " ><a> adsets</a></li>
        <li ng-class="menu.tab('ads')       ? 'selected-tab' : '' " ><a>ads</a></li>
        <li ng-class="menu.tab('audiences') ? 'selected-tab' : '' " ><a>audiences</a></li>
        <li ng-mouseleave="menu.showMoreThings = false" ng-click="menu.showMoreThings = !menu.showMoreThings">
            <a>
                more <span class="more-glyph glyphicon glyphicon-menu-down"></span>
            </a>
            <div id="more-campaign-sections-dropdown" ng-show="menu.showMoreThings">
                <ul class="">
                    <li><a>Dynamic Product Catalogue</a></li>
                    <li><a>Dynamic Product Audience</a></li>
                    <li><a>App Details</a></li>
                 </ul>
            </div>
        </li>
    </ul>

    <ul ng-show="menu.section('reports')" class="inline-menu inline-list pull-left">
        <li ng-class="menu.tab('campaigns') ? 'selected-tab' : '' " >campaigns</li>
        <li ng-class="menu.tab('missed-call-campaigns')    ? 'selected-tab' : '' " >missed call campaign</li>
        <li ng-class="menu.tab('campaign-assets')       ? 'selected-tab' : '' " >campaigns assets</li>
    </ul>

    <ul ng-show="menu.section('products')" class="inline-menu inline-list pull-left">
        <li ng-class="menu.tab('triggers') ? 'selected-tab' : '' " >triggers</li>
        <li ng-class="menu.tab('behaviour-intel')    ? 'selected-tab' : '' " >behavior intelligence</li>
    </ul>
</div>
