$loaderSize  : 200px;
$color       : #ff0000;
$circleBorder: 10px;

$loaderHeight: $loaderSize;
$loaderWidth : $loaderSize;

.circle{
  display: block;
  height : calc(100% - #{2*$circleBorder});
  width  : calc(100% - #{2*$circleBorder});
  border-radius: 50%;
}

.loader{
  box-sizing: border-box;
  * {  box-sizing: border-box;  }
  position : relative;
  height  : $loaderSize;
  width   : $loaderSize;
  .progress{
    position          : absolute;
    -webkit-clip-path: polygon(50% 50%, 50% 50%, 100% 100%, 0% 100%);
    @extend .circle;
  }
  .progress::before{
    content: "";
    border : $circleBorder solid $color ;
    background-color  : $color;
    display: block;
    height : calc(100% - #{2*$circleBorder});
    width  : calc(100% - #{2*$circleBorder});

    -webkit-clip-path: circle(50% at 50% 50%);
  }
  .progress::after{
    content: "";
    position          : absolute;
    top: 0;
    left: 0;

    @extend .circle;

    border : $circleBorder solid white ;
    display: block;
    height : calc(100% - #{2*$circleBorder});
    width  : calc(100% - #{2*$circleBorder});
  }
}