

.loader{
  .blipper {
    @include transition(opacity $transitionDuration ease);
    margin: 100px auto;
    height: 60px;
    text-align: center;
    font-size: 10px;
  }

  .blipper > .bar {
    height: 100%;
    width: 12px;
    display: inline-block;

    -webkit-animation: blip 1.2s infinite ease-in-out;
    animation: blip 1.2s infinite ease-in-out;

    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(51, 51, 51, 0.1);
  }

  .blipper .bar:nth-child(2) {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }

  .blipper .bar:nth-child(3) {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  .blipper .bar:nth-child(4) {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }

  .blipper .bar:nth-child(5) {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }

  @-webkit-keyframes blip {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
  }

  @keyframes blip {
    0%, 40%, 100% {
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% {
         transform: scaleY(1.0);
         -webkit-transform: scaleY(1.0);
       }
  }
}

#slate:not(.show-modal) .loader, .loader.no-display{
  @include transform(scale(0));
  .blipper{
    opacity: 0;
  }
}