<div class="request-editor">

    <div class="target">
        <button class="send">Send</button>
        <div class="url">
            <span class="method">POST</span>
            <span class="url-base">/users</span>
            <input class="url-param" placeholder="?" ng-show="request.query">
        </div>
    </div>

    <div class="headers">
        <label>Request Headers</label>
        <ul>
            <li class="header">
                <input class="name"  value="Content-Type"  disabled="disabled">
                <input class="value" value="application/json"  disabled="disabled">
            </li>
            <li class="header custom" ng-repeat="header in request.headers">
                <input class="name"   placeholder="header" ng-model="header.name">
                <input class="value"  placeholder="value" ng-model="header.value">
                <span class="remove"  ng-click="request.headers.splice($index, 1)"></span>
            </li>
            <li>
                <button class="add" ng-click="request.headers.push({name: null, value: null})">Add</button>
            </li>
        </ul>
    </div>

    <div class="request-body-editor json-editor">
        <div ng-jsoneditor  ="requestBody.onLoad"
             ng-model       ="requestBody.content"
             options        ="requestBody.options"></div>
    </div>

</div>