@import "config";

body{
  font-family: Raleway;
  font-size: $defaultFontSize;
  line-height: $defaultLineHeight;
}

#top-bar{
  height: $topBarHeight;
  background-color: $topBarColor;
}

article {
  box-sizing: border-box;
  height: calc(#{"100vh -  #{$topBarHeight}"});
  overflow: hidden;
}