$topBarHeight     : 30px;
$topBarColor      : #53585F;
$defaultFontSize  : 13px;
$defaultLineHeight: 16px;
$modalLayer       : 100; /* modal start on or after this z-index*/

$filterButtonWidth : 35px;

$sectionTableRowHeight : 25px;
$sectionTableFontSize  : 13px;
$defaultCellWidth      : 60px;
$tableMinWidth         : 896px;
$tableMaxHeight        : calc(#{"100vh -  #{$topBarHeight * 4}"});
$tableMinHeight        : $sectionTableRowHeight * 11  /*Show ten rows and header*/;

@mixin animate($time, $property) {
  -webkit-transition: $property  $time cubic-bezier(0.45, 0.515, 0.36, 0.88);
  -moz-transition:    $property  $time cubic-bezier(0.45, 0.515, 0.36, 0.88);
  -o-transition:      $property  $time cubic-bezier(0.45, 0.515, 0.36, 0.88);
  transition:         $property  $time cubic-bezier(0.45, 0.515, 0.36, 0.88);
}

@font-face {
  font-family: Raleway;
  src: url("../../../lib/fonts/Raleway-Regular.ttf") format("opentype");
}

ul.undo-list, ul.undo-list > li{
  margin: 0;
  padding: 0;
  list-style: none;
}
.gradient-bar{
  background: rgb(221, 221, 221);
  background: -moz-linear-gradient(270deg, rgb(221, 221, 221) 27%, rgb(229, 229, 229) 76%);
  background: -webkit-linear-gradient(270deg, rgb(221, 221, 221) 27%, rgb(229, 229, 229) 76%);
  background: -o-linear-gradient(270deg, rgb(221, 221, 221) 27%, rgb(229, 229, 229) 76%);
  background: -ms-linear-gradient(270deg, rgb(221, 221, 221) 27%, rgb(229, 229, 229) 76%);
  background: linear-gradient(0deg, rgb(221, 221, 221) 27%, rgb(229, 229, 229) 76%);
}