@import "config";

$offsetFromButton  : 10px;
$menuWidth         : 300px;
$menuWrapperPadding: 10px;
$menuRightOffset   : 10px;
$barHeight         : $topBarHeight;
$animateTime       : 300ms;

#filter-menu-wrapper{
  @include animate(transform, 500ms);
  transition-delay: $animateTime;

  position: fixed;
  top: $topBarHeight * 2 + $offsetFromButton; /*initial position*/
  right: $menuRightOffset;
  z-index: $modalLayer - 1;

  .filter-menu{
    height: $menuWidth;
    width: $menuWidth;
    background-color: white;

    padding: $menuWrapperPadding;
    border-radius: 2px;

    text-align: center;

    @include animate(opacity, $animateTime);
    transition-delay: 0ms;
  }

  .marker {
    position: relative;
    top: -17px;
    left: $menuRightOffset;

    float: right;
    width: 0;
    height: 0;

    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
  }
}

:not(.show-menu) > #filter-menu-wrapper{
  visibility: hidden;
  .filter-menu{
    opacity: 0;
  }
}

.filter-button{
  @include animate(transform, 500ms);
}
.show-menu{
  .filter-button{
    opacity: 0.5;
    border-color: rgba(0, 0, 0, 0.1) ;
  }
}
.filter-button{
  border: 1px solid transparent;
}
.filter-button:hover{
  border-color: rgba(0, 0, 0, 0.1) ;
}
.show-adsets-filter.show-menu > #filter-menu-wrapper{
  transform : translateY($barHeight);
  opacity: 1;
}

.show-ads-filter.show-menu > #filter-menu-wrapper{
  transform : translateY(2*$barHeight);
  opacity: 1;
}
