@import "config";

$offsetFromButton  : 10px;
$menuWidth         : 300px;
$menuWrapperPadding: 10px;
$menuRightOffset   : 10px;
$barHeight         : $topBarHeight;

#filter-menu-wrapper{
  @include animate(transform, 500ms);

  position: fixed;
  top: $topBarHeight * 2 + $offsetFromButton; /*initial position*/
  right: $menuRightOffset;
  z-index: $modalLayer -1;

  height: $menuWidth;
  width: $menuWidth;
  background-color: #EEE;

  padding: $menuWrapperPadding;
  border-radius: 2px;

  text-align: center;

  .marker {
    position: relative;
    top: -17px;
    left: $menuRightOffset;

    float: right;
    width: 0;
    height: 0;

    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #EEE;
  }
}

:not(.show-menu) > #filter-menu-wrapper{
  transform : translateX(10px + $menuWidth + $menuRightOffset);
}

.filter-button{
  @include animate(transform, 500ms);
}
.show-menu{
  .filter-button{
    transform : rotate(360deg);
    opacity: 0.5;
  }
}

.show-adsets-filter.show-menu > #filter-menu-wrapper{
  transform : translateY($barHeight);
}

.show-ads-filter.show-menu > #filter-menu-wrapper{
  transform : translateY(2*$barHeight);
}
