@import "config";

$sectionHeaderColor  : #EEE;
$sectionHeaderHeight : $topBarHeight;
$barsCount           : 4;  /* top bar + 3   section bars*/
$sectionBorder       : 1px solid rgba(1, 1, 1, 0.1);

#power-access{
  box-sizing: border-box;
  height: calc(#{"100vh -  #{$sectionHeaderHeight}"});
  overflow: hidden;

  section{
    position: relative;
    box-sizing: border-box;
    border: $sectionBorder;
    @include animate(all, 500ms);

    .header{
      height: $sectionHeaderHeight;
      background-color: $sectionHeaderColor;
    }
    .content{
      overflow: auto;
      height: calc(#{"100vh -  #{$sectionHeaderHeight * $barsCount}"});
    }
  }

  #campaigns {
    z-index: 1;
  }

  #adsets {
    z-index: 2;
  }

  #ads {
    z-index: 2;
    top: calc(#{"-100vh +  #{$sectionHeaderHeight * $barsCount - 2px}"})
  }
}

.show-adsets{
  #adsets{
    transform: translateY(calc(#{"-100vh +  #{$sectionHeaderHeight * $barsCount - 2px}"}));
  }
}

.show-ads{
  @extend .show-adsets;
  #ads{
    transform: translateY(calc(#{"-100vh +  #{$sectionHeaderHeight * $barsCount - 2px}"}));
  }
}