@import "config";
$barHeight : $topBarHeight;
$titleWidth: 100px;
$filterButtonWidth : 35px;

#power-access > section > .header {
  .title, .filter{
    padding: ($barHeight - $defaultLineHeight)/2 5px 5px 5px;
    display: inline-block;
    height : $barHeight;
  }

  .title{
    width: 100px;
  }

  .filter-box{
    float: right;
    max-width: calc(#{"100% -  #{$titleWidth}"});

    ul.filters{
      float: right;
      display: block;
      max-width: calc(#{"100% -  #{$filterButtonWidth + 15px}"}); /* 15 pixel for margin of filter button*/
      overflow: hidden;
      height: $barHeight;

      li.filter{
        float: left;
        display: inline;
      }
    }
    .filter-button{
      float: right;
      margin: 7.5px;
      padding-top: 7px;

      height: $barHeight - ($barHeight - $defaultLineHeight)/2;
      width: $filterButtonWidth;

      text-align: center;
      font-size: 20px;

      border-radius: 5px;
      color: rgba(0, 0, 0, 0.67);
    }
  }
}