@import "config";
$barHeight : $topBarHeight;
$titleWidth: 100px;
$filterBoxMaxWidth : calc(#{"100% -  #{$titleWidth}"});

#power-access > section > .header {
  .title, .filter{
    padding: ($barHeight - $defaultLineHeight)/2 5px 5px 5px;
    display: inline-block;
    height : $barHeight;
  }

  .title{
    width: 100px;
  }

  .filter-box{
    float: right;
    max-width: $filterBoxMaxWidth;

    ul.filters{
      float: right;
      display: block;
      max-width: calc(#{"100% -  #{$filterButtonWidth + 5px}"}); /* 15 pixel for margin of filter button*/
      overflow: hidden;
      height: $barHeight;

      li.filter{
        float: left;
        display: inline;
      }
    }
  }
}