@import '../../lib/config';
$buttonSpace: 50px;
$onColor    : #4CAF50;
$offColor   : grey;
$height     : 30px;
$width      : 150px;
$padding    : 10px;

body{
  padding: 150px;
  text-align: center;
  background-color: #ededed;
  *{box-sizing: border-box;}
}
.switch{

  text-align: left;
  display: inline-block;
  border-radius: $height/2;
  overflow: hidden;
  width: $width;
  @include transform(scale(1));

  ul{
    position: relative;
    width: calc(200% + #{$buttonSpace});
    border-radius: $height/2;

    @extend .undo-list;
    @extend .resize-container;
    @include transition(transform, 500ms, ease);

    li{
      float: left;
      height: $height;
      text-align: center;
      line-height: $height;
      @include transition(transform, 500ms, ease);
    }

    li.on{
      width: $width;
      background-color: $onColor;
      padding-left: $buttonSpace + $padding;
      text-align: left;
    }
    li.button{
      position: absolute;
      left: -1px;

      width: $buttonSpace;
      border-radius: $height/2;

      background-color: white;
    }
    li.off{
      width: $width;
      background-color: $offColor;
      padding-right: $buttonSpace + $padding;
      text-align: right;
    }
  }
}

.switch.transit{
  ul{
    @include transform(translateX(-$width/2));
  }
  li.button{
    @include transform(translateX(($width * 2 - $buttonSpace)/2));
  }
}

.switch.off{
  ul{
    @include transform(translateX(-$width));
  }
  li.button{
    @include transform(translateX($width * 2 - $buttonSpace));
  }
}
