@import '../../css/config';

$nameCellWidth: 250px;
$nameCellPad  : 10px;

.campaigns.table{
  .td.name, .th.name{
    width: $nameCellWidth;
    text-align: left;
    padding-left: $nameCellPad;
    overflow: hidden;
  }

  .td.name{
    .value{
      display: inline-block;
      width: calc(100% - 25px);

      height: $sectionTableRowHeight;
      line-height: $sectionTableRowHeight - 2px;
      overflow: hidden;
    }
    .actions{
      display: inline-block;
      float: right;

      width: 25px;
      line-height: $sectionTableRowHeight - 2px;
      border-radius: 3px;

      text-align: center;
      color: rgba(0 ,0, 0, 0.05);

      @include animate(background-color, 200ms);
    }
    .menu{
      height: 200px;
      margin-left: -$nameCellPad;
      width: $nameCellWidth;
      background-color: white;
      opacity: 0;

      @include animate(opacity, 200ms);
    }
  }

  .td.name.active{
    background-color: white;
    border-bottom: 1px solid #2196F3;
    overflow: visible;

    .value {
    }
    .actions {
      background-color: #2196F3;
      color: white;
    }
    .menu {
      opacity: 1;
      transform: translateY(-7.5px);
    }
  }
  .td.name:hover {
    @extend .td.name.active;
  }

  .td.date, .th.date{
    width: 80px;
  }
  .td.select, .th.select{
    width: 20px;
  }
}