$bgColor: rgba(0, 0, 0, 0.49);
$size: 200px;

$durationInMinutes : 10;
$rotationsSmall: calc(360deg    * 30 * #{$durationInMinutes});
$rotationsLarge: calc(-360deg   * 15 * #{$durationInMinutes});

$loaderTime: 60s  * $durationInMinutes;

@mixin transition($property, $time) {
  -webkit-transition: $property $time cubic-bezier(0.45, 0.515, 0.36, 0.88);
  -moz-transition: $property $time cubic-bezier(0.45, 0.515, 0.36, 0.88);
  -o-transition: $property $time cubic-bezier(0.45, 0.515, 0.36, 0.88);
  transition: $property $time cubic-bezier(0.45, 0.515, 0.36, 0.88);
}

@mixin transform($function) {
  -webkit-transform: $function;
  -moz-transform: $function;
  -ms-transform: $function;
  -o-transform: $function;
  transform: $function;
}

.loader {
  .view {
    height: $size;
    min-width: $size;
    border: 1px solid #BD1010;
    line-height: $size - 5px;
    text-align: center;

    .t, .small-cog, .large-cog {
      display: inline-block;
    }
    .small-cog, .large-cog {
      @include transition(transform, $loaderTime);

    }
    .t {
      font-size: $size/0.8;
      font-family: sans-serif;
      @include transform(rotate(180deg) rotateY(180deg));
    }
    .small-cog {
      font-size: $size/4;
      width: (42.8594px * $size/200px);
      @include transform(rotate($rotationsSmall));
    }
    .large-cog {
      font-size: $size/2;
      position: relative;
      top: -$size/10;
      left: -$size/200 *15;
      @include transform(rotate($rotationsLarge));
    }
  }
  .bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    min-width: 100vw;
    background-color: $bgColor;
  }
}

.loader.no-bg {
  .bg {
    display: none;
  }
}

.loader:not(.start) {
  .view {
    .small-cog, .large-cog {
      @include transform(rotate(0deg));
    }
  }
}