.missions {
  text-align: center;
}

.missions > .mission,
.submit {
  margin: 5px;
  padding: 10px;

  width: 100%;
  line-height: 20px;

  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.missions > .mission {
  display: inline-block;
  height: 120px;
}

.missions > .mission.ignored {
  opacity: 0.3;
}

.missions > .mission > .planet {
  display: inline-block;
  float: left;
  width: 100px;
}

.missions > .mission > .info {
  float: left;
  height: 80px;
  width: calc(100% - 100px);
}

.missions > .mission > .planet > img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.mission > .info > .action > .ignore {
  color: rgba(0, 0, 0, 1);
}

.submit > .info > .action {
  margin-top: 10px;
}