.missions {
  text-align: center;
}

.missions > .mission,
.submit {
  text-align: left;
}

.missions > .mission {
  display: inline-block;
  height: 120px;
}

.missions > .mission.ignored {
  opacity: 0.3;
}

.mission .ignore {
  color: rgba(0, 0, 0, 1);
}

.submit > .info > .action {
  margin-top: 10px;
}