<ul class="missions undo-list" ng-if="!game.loading()">
    <li class="mission"
        ng-repeat="planet in game.planets()"
        ng-class="{'assigned' : planet.spacecraft, 'ignored' : game.ignore(planet)}">

        <div class="planet">
            <img ng-src="{{planet | planetIcon}}">
        </div>

        <div class="info">
            <div class="field">
                <span class="name">Name</span>
                <span class="value" ng-bind="planet.name"></span>
            </div>
            <div class="field">
                <span class="name">Distance</span>
                <span class="value">{{planet.distance}} megamiles</span>
            </div>

            <div class="field">
                <span class="name">Spacecraft</span>
                <span class="value" ng-if="planet.spacecraft" ng-bind="planet.spacecraft.name"></span>
                <img class="small icon" ng-if="planet.spacecraft" ng-src="{{planet.spacecraft | vehicleIcon}}">
                <span class="value" ng-if="!planet.spacecraft">-</span>
            </div>

            <div class="field" >
                <span class="name">Time</span>
                <span class="value" ng-if="planet.spacecraft">{{planet | missionTime:planet.spacecraft}} hours</span>
                <span class="value" ng-if="!planet.spacecraft">-</span>
            </div>

            <div class="action">
                <span class="send"   ng-click="game.selectSpacecraftFor(planet)">set mission</span>
                <span class="cancel" ng-click="game.removeMissionFor(planet)">cancel</span>
                <span class="ignore" >no mission</span>
            </div>

        </div>
    </li>
</ul>

<div class="submit">
    <div class="info">
        <div class="field">
            <div class="name">Time</div>
            <div class="value">{{ game.planets() | totalMissionTime}} Hours</div>
        </div>
        <div class="field">
            <div class="name">Search</div>
            <div class="value commas">
                <span ng-repeat="planet in game.assignedPlanets()" ng-bind="planet.name"></span>
            </div>
        </div>
        <div class="field">
            <div class="name">Don't Search</div>
            <div class="value commas">
                <span ng-repeat="planet in game.unAssignedPlanets()" ng-bind="planet.name"></span>
            </div>
        </div>

        <div class="action">
            <span >submit</span>
        </div>

    </div>
</div>