* {
  box-sizing: border-box; }

.undo-list, #top-bar .left-menu .navigation, #top-bar .right-menu .business-account, #top-bar .right-menu .actions {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: block; }

.undo-list > li, #top-bar .left-menu .navigation > li, #top-bar .right-menu .business-account > li, #top-bar .right-menu .actions > li {
  display: block; }

.undo-link, #top-bar a {
  text-decoration: none;
  color: inherit; }

@font-face {
  font-family: defaultFontFamily;
  src: url(../../../lib/fonts/Raleway-Regular.ttf) format("opentype"); }
#app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-size: 13px;
  font-family: defaultFontFamily;
  min-width: 500px; }

#top-bar {
  position: relative;
  z-index: 1;
  width: 100%;
  min-width: 500px;
  height: 35px;
  line-height: 33px;
  text-shadow: 1px 1px 1px #3f3f3f;
  box-shadow: 0px 1px 3px #3f3f3f;
  background: linear-gradient(to bottom, #2f2f2f, #020202);
  font-size: 13px;
  color: #C7C7C7; }
  #top-bar * {
    box-sizing: border-box; }
  #top-bar .undo-list, #top-bar .left-menu .navigation, #top-bar .right-menu .business-account, #top-bar .right-menu .actions {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: block; }
  #top-bar .undo-list > li, #top-bar .left-menu .navigation > li, #top-bar .right-menu .business-account > li, #top-bar .right-menu .actions > li {
    display: block; }
  #top-bar .undo-link, #top-bar a {
    text-decoration: none;
    color: inherit; }
@font-face {
  #top-bar {
    font-family: defaultFontFamily;
    src: url(../../../lib/fonts/Raleway-Regular.ttf) format("opentype"); } }
  #top-bar .left-menu {
    float: left;
    width: 400px;
    height: 35px;
    overflow: visible;
    /*navigation pointer overflows*/ }
    #top-bar .left-menu * {
      box-sizing: border-box; }
    #top-bar .left-menu .undo-list, #top-bar .left-menu .navigation, #top-bar .left-menu .right-menu .business-account, #top-bar .right-menu .left-menu .business-account, #top-bar .left-menu .right-menu .actions, #top-bar .right-menu .left-menu .actions {
      list-style: none;
      padding: 0px;
      margin: 0px;
      display: block; }
    #top-bar .left-menu .undo-list > li, #top-bar .left-menu .navigation > li, #top-bar .left-menu .right-menu .business-account > li, #top-bar .right-menu .left-menu .business-account > li, #top-bar .left-menu .right-menu .actions > li, #top-bar .right-menu .left-menu .actions > li {
      display: block; }
    #top-bar .left-menu .undo-link, #top-bar .left-menu a {
      text-decoration: none;
      color: inherit; }
@font-face {
  #top-bar .left-menu {
    font-family: defaultFontFamily;
    src: url(../../../lib/fonts/Raleway-Regular.ttf) format("opentype"); } }
    #top-bar .left-menu .navigation {
      height: 35px; }
      #top-bar .left-menu .navigation li {
        height: 35px;
        float: left;
        padding: 0px 10px;
        text-align: center;
        border-right: 1px solid #4d4d4d;
        overflow: hidden; }
      #top-bar .left-menu .navigation li:last-child {
        border-color: transparent; }
      #top-bar .left-menu .navigation li.more {
        width: 30px;
        padding: 0px 5px;
        overflow: visible; }
        #top-bar .left-menu .navigation li.more > i {
          height: 35px;
          display: block;
          line-height: 33px;
          width: 100%; }
        #top-bar .left-menu .navigation li.more .dropdown {
          float: right;
          top: -20px;
          position: relative;
          padding: 20px;
          left: 30px;
          background-color: transparent; }
          #top-bar .left-menu .navigation li.more .dropdown * {
            box-sizing: border-box; }
          #top-bar .left-menu .navigation li.more .dropdown .undo-list, #top-bar .left-menu .navigation li.more .dropdown .navigation, #top-bar .left-menu .navigation li.more .dropdown .right-menu .business-account, #top-bar .right-menu .left-menu .navigation li.more .dropdown .business-account, #top-bar .left-menu .navigation li.more .dropdown .right-menu .actions, #top-bar .right-menu .left-menu .navigation li.more .dropdown .actions {
            list-style: none;
            padding: 0px;
            margin: 0px;
            display: block; }
          #top-bar .left-menu .navigation li.more .dropdown .undo-list > li, #top-bar .left-menu .navigation li.more .dropdown .navigation > li, #top-bar .left-menu .navigation li.more .dropdown .right-menu .business-account > li, #top-bar .right-menu .left-menu .navigation li.more .dropdown .business-account > li, #top-bar .left-menu .navigation li.more .dropdown .right-menu .actions > li, #top-bar .right-menu .left-menu .navigation li.more .dropdown .actions > li {
            display: block; }
          #top-bar .left-menu .navigation li.more .dropdown .undo-link, #top-bar .left-menu .navigation li.more .dropdown a {
            text-decoration: none;
            color: inherit; }
@font-face {
  #top-bar .left-menu .navigation li.more .dropdown {
    font-family: defaultFontFamily;
    src: url(../../../lib/fonts/Raleway-Regular.ttf) format("opentype"); } }
          #top-bar .left-menu .navigation li.more .dropdown li {
            color: black;
            text-shadow: none;
            border-right: none;
            height: 35px;
            width: 100px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            background-color: #EEE; }
    #top-bar .left-menu .navigation-pointer {
      position: relative;
      top: -10px;
      height: 2px;
      background-color: #4a89dc;
      width: 0px;
      border-radius: 15px;
      -webkit-transition: all 200ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
      -moz-transition: all 200ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
      -o-transition: all 200ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
      transition: all 200ms cubic-bezier(0.45, 0.515, 0.36, 0.88); }
  #top-bar .right-menu {
    float: right;
    max-width: calc(100% - 400px); }
    #top-bar .right-menu .business-account {
      float: left;
      max-width: calc(100% - 100px);
      height: 35px;
      overflow: hidden; }
      #top-bar .right-menu .business-account * {
        box-sizing: border-box; }
      #top-bar .right-menu .business-account .undo-list, #top-bar .right-menu .business-account .left-menu .navigation, #top-bar .left-menu .right-menu .business-account .navigation, #top-bar .right-menu .business-account .business-account, #top-bar .right-menu .business-account .actions {
        list-style: none;
        padding: 0px;
        margin: 0px;
        display: block; }
      #top-bar .right-menu .business-account .undo-list > li, #top-bar .right-menu .business-account .left-menu .navigation > li, #top-bar .left-menu .right-menu .business-account .navigation > li, #top-bar .right-menu .business-account .business-account > li, #top-bar .right-menu .business-account .actions > li {
        display: block; }
      #top-bar .right-menu .business-account .undo-link, #top-bar .right-menu .business-account a {
        text-decoration: none;
        color: inherit; }
@font-face {
  #top-bar .right-menu .business-account {
    font-family: defaultFontFamily;
    src: url(../../../lib/fonts/Raleway-Regular.ttf) format("opentype"); } }
      #top-bar .right-menu .business-account .indicator:last-child {
        padding-right: 5px !important; }
      #top-bar .right-menu .business-account .indicator {
        float: left;
        height: 35px;
        overflow: hidden; }
      #top-bar .right-menu .business-account .indicator:nth-child(n):not(:first-child):before {
        content: "/";
        padding: 0px 5px; }
    #top-bar .right-menu .actions {
      float: left;
      width: 100px; }
      #top-bar .right-menu .actions * {
        box-sizing: border-box; }
      #top-bar .right-menu .actions .undo-list, #top-bar .right-menu .actions .left-menu .navigation, #top-bar .left-menu .right-menu .actions .navigation, #top-bar .right-menu .actions .business-account, #top-bar .right-menu .actions .actions {
        list-style: none;
        padding: 0px;
        margin: 0px;
        display: block; }
      #top-bar .right-menu .actions .undo-list > li, #top-bar .right-menu .actions .left-menu .navigation > li, #top-bar .left-menu .right-menu .actions .navigation > li, #top-bar .right-menu .actions .business-account > li, #top-bar .right-menu .actions .actions > li {
        display: block; }
      #top-bar .right-menu .actions .undo-link, #top-bar .right-menu .actions a {
        text-decoration: none;
        color: inherit; }
@font-face {
  #top-bar .right-menu .actions {
    font-family: defaultFontFamily;
    src: url(../../../lib/fonts/Raleway-Regular.ttf) format("opentype"); } }
      #top-bar .right-menu .actions .user, #top-bar .right-menu .actions .refresh {
        float: left;
        width: 50px;
        text-align: center;
        height: 35px;
        line-height: 33px;
        font-size: 16px;
        border-left: 1px solid #4d4d4d; }
      #top-bar .right-menu .actions * {
        box-sizing: border-box; }
      #top-bar .right-menu .actions .undo-list, #top-bar .right-menu .actions .left-menu .navigation, #top-bar .left-menu .right-menu .actions .navigation, #top-bar .right-menu .actions .business-account, #top-bar .right-menu .actions .actions {
        list-style: none;
        padding: 0px;
        margin: 0px;
        display: block; }
      #top-bar .right-menu .actions .undo-list > li, #top-bar .right-menu .actions .left-menu .navigation > li, #top-bar .left-menu .right-menu .actions .navigation > li, #top-bar .right-menu .actions .business-account > li, #top-bar .right-menu .actions .actions > li {
        display: block; }
      #top-bar .right-menu .actions .undo-link, #top-bar .right-menu .actions a {
        text-decoration: none;
        color: inherit; }
@font-face {
  #top-bar .right-menu .actions {
    font-family: defaultFontFamily;
    src: url(../../../lib/fonts/Raleway-Regular.ttf) format("opentype"); } }
      #top-bar .right-menu .actions .user {
        overflow: hidden; }
        #top-bar .right-menu .actions .user .icon {
          display: block;
          height: inherit;
          line-height: inherit; }
        #top-bar .right-menu .actions .user .icon:last-child {
          position: relative;
          top: -40px;
          left: 15px;
          text-align: center;
          height: 35px;
          width: 35px;
          color: #CDDC39;
          text-shadow: 0px 0px 15px rgba(100, 164, 100, 0.1);
          box-shadow: 0px 0px 15px #CDDC39;
          border-radius: 50%;
          background-color: #64a464;
          -webkit-transform: scale(0.4);
          -moz-transform: scale(0.4);
          -ms-transform: scale(0.4);
          -o-transform: scale(0.4);
          transform: scale(0.4);
          -webkit-transition: opacity 500ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
          -moz-transition: opacity 500ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
          -o-transition: opacity 500ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
          transition: opacity 500ms cubic-bezier(0.45, 0.515, 0.36, 0.88); }
      #top-bar .right-menu .actions .user:not(.notification) .icon:last-child {
        opacity: 0; }

[layout] {
  width: 100%;
  height: calc(100vh - 35px); }
  [layout] * {
    box-sizing: border-box; }
  [layout] .undo-list, [layout] #top-bar .left-menu .navigation, #top-bar .left-menu [layout] .navigation, [layout] #top-bar .right-menu .business-account, #top-bar .right-menu [layout] .business-account, [layout] #top-bar .right-menu .actions, #top-bar .right-menu [layout] .actions {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: block; }
  [layout] .undo-list > li, [layout] #top-bar .left-menu .navigation > li, #top-bar .left-menu [layout] .navigation > li, [layout] #top-bar .right-menu .business-account > li, #top-bar .right-menu [layout] .business-account > li, [layout] #top-bar .right-menu .actions > li, #top-bar .right-menu [layout] .actions > li {
    display: block; }
  [layout] .undo-link, [layout] #top-bar a, #top-bar [layout] a {
    text-decoration: none;
    color: inherit; }
@font-face {
  [layout] {
    font-family: defaultFontFamily;
    src: url(../../../lib/fonts/Raleway-Regular.ttf) format("opentype"); } }
  [layout] .views {
    overflow: hidden; }
  [layout] .view {
    width: 100vw;
    float: left;
    overflow: hidden; }
  [layout] .state {
    width: 100%;
    height: calc(100vh - 35px);
    overflow: auto;
    background-color: white;
    border: 1px solid transparent; }
    [layout] .state .contents {
      height: 100%; }
  [layout] .views, [layout] .states {
    -webkit-transition: transform 200ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
    -moz-transition: transform 200ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
    -o-transition: transform 200ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
    transition: transform 200ms cubic-bezier(0.45, 0.515, 0.36, 0.88); }

#user-settings {
  top: 30px;
  position: fixed;
  right: 0px;
  margin: 15px 50px;
  /* margin acts as padding of hover and leaving space for update icon*/
  min-height: 35px;
  width: 330px;
  background-color: #EEE;
  border-radius: 2px;
  text-align: center;
  overflow: hidden;
  -webkit-transition: transform 300ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
  -moz-transition: transform 300ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
  -o-transition: transform 300ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
  transition: transform 300ms cubic-bezier(0.45, 0.515, 0.36, 0.88); }
  #user-settings * {
    box-sizing: border-box; }
  #user-settings .undo-list, #user-settings #top-bar .left-menu .navigation, #top-bar .left-menu #user-settings .navigation, #user-settings #top-bar .right-menu .business-account, #top-bar .right-menu #user-settings .business-account, #user-settings #top-bar .right-menu .actions, #top-bar .right-menu #user-settings .actions {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: block; }
  #user-settings .undo-list > li, #user-settings #top-bar .left-menu .navigation > li, #top-bar .left-menu #user-settings .navigation > li, #user-settings #top-bar .right-menu .business-account > li, #top-bar .right-menu #user-settings .business-account > li, #user-settings #top-bar .right-menu .actions > li, #top-bar .right-menu #user-settings .actions > li {
    display: block; }
  #user-settings .undo-link, #user-settings #top-bar a, #top-bar #user-settings a {
    text-decoration: none;
    color: inherit; }
@font-face {
  #user-settings {
    font-family: defaultFontFamily;
    src: url(../../../lib/fonts/Raleway-Regular.ttf) format("opentype"); } }
  #user-settings .settings-header {
    height: 30px;
    line-height: 29px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    #user-settings .settings-header li {
      float: left;
      width: 110px;
      border-left: 1px solid rgba(0, 0, 0, 0.1); }
    #user-settings .settings-header li:first-child {
      border-left-color: transparent; }
  #user-settings .contents {
    width: 990px;
    background-color: white;
    height: 330px;
    -webkit-transition: transform 300ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
    -moz-transition: transform 300ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
    -o-transition: transform 300ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
    transition: transform 300ms cubic-bezier(0.45, 0.515, 0.36, 0.88); }
    #user-settings .contents li {
      width: 330px;
      display: block;
      float: left;
      height: 100%;
      overflow: auto; }

#app:not(.settings) > #user-settings {
  -webkit-transform: translateX(500px);
  -moz-transform: translateX(500px);
  -ms-transform: translateX(500px);
  -o-transform: translateX(500px);
  transform: translateX(500px); }

#app.settings.user > #user-settings .contents {
  -webkit-transform: translateX(-330px);
  -moz-transform: translateX(-330px);
  -ms-transform: translateX(-330px);
  -o-transform: translateX(-330px);
  transform: translateX(-330px); }

#app.settings.notifications > #user-settings .contents {
  -webkit-transform: translateX(-660px);
  -moz-transform: translateX(-660px);
  -ms-transform: translateX(-660px);
  -o-transform: translateX(-660px);
  transform: translateX(-660px); }

/*# sourceMappingURL=index.css.map */
