@import url(https://fonts.googleapis.com/css?family=Roboto:300,100,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,100,700);
ul.undo-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: block; }

input {
  padding: 0px;
  margin: 0px;
  display: block;
  box-sizing: border-box;
  border: none; }

#treniq {
  font-family: 'Roboto', sans-serif; }
  #treniq h1 {
    margin: 0px auto; }
  #treniq * {
    box-sizing: border-box; }
  #treniq #view {
    height: 300vh; }

#top-fixed-bar {
  position: fixed;
  top: 0px;
  width: 100%;
  overflow: hidden;
  background-color: #EEE;
  text-align: center;
  font-size: 13px;
  color: grey;
  -webkit-transition: transform 100ms ease;
  -moz-transition: transform 100ms ease;
  -o-transition: transform 100ms ease;
  transition: transform 100ms ease; }
  #top-fixed-bar .bar > ul > li {
    float: left; }
    #top-fixed-bar .bar > ul > li a {
      display: block;
      width: 100px;
      text-transform: capitalize; }
  #top-fixed-bar .app.bar {
    position: relative;
    z-index: 1;
    height: 45px;
    padding: 5px;
    border-bottom: 1px solid rgba(222, 220, 220, 0.29);
    line-height: 35px;
    -webkit-transition: transform 100ms ease;
    -moz-transition: transform 100ms ease;
    -o-transition: transform 100ms ease;
    transition: transform 100ms ease; }
    #top-fixed-bar .app.bar .logo {
      padding: 10px 20px;
      width: 120px; }
      #top-fixed-bar .app.bar .logo a {
        width: 100%; }
        #top-fixed-bar .app.bar .logo a img {
          width: 100%; }
    #top-fixed-bar .app.bar .search {
      overflow: hidden;
      height: 45px; }
      #top-fixed-bar .app.bar .search input, #top-fixed-bar .app.bar .search span {
        display: block;
        float: left;
        box-sizing: border-box;
        height: 35px;
        line-height: 33px;
        border-top: 1px solid rgba(222, 220, 220, 0.29);
        border-bottom: 1px solid rgba(222, 220, 220, 0.29); }
      #top-fixed-bar .app.bar .search span {
        width: 50px;
        border-right: 1px solid rgba(222, 220, 220, 0.29);
        font-size: 16px;
        background-color: white; }
      #top-fixed-bar .app.bar .search input {
        padding-left: 10px;
        border-left: 1px solid rgba(222, 220, 220, 0.29); }
    #top-fixed-bar .app.bar .icons {
      float: right; }
      #top-fixed-bar .app.bar .icons > ul > li {
        float: left;
        width: 100px;
        text-transform: capitalize; }
        #top-fixed-bar .app.bar .icons > ul > li .fa {
          font-size: 16px; }
  #top-fixed-bar .navigation.bar {
    -webkit-transition: transform 100ms ease;
    -moz-transition: transform 100ms ease;
    -o-transition: transform 100ms ease;
    transition: transform 100ms ease;
    height: 40px;
    line-height: 30px;
    padding: 5px;
    border-bottom: 1px solid rgba(222, 220, 220, 0.29); }
    #top-fixed-bar .navigation.bar > ul > li:last-child {
      float: right; }

#treniq.reading > #top-fixed-bar {
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px); }
  #treniq.reading > #top-fixed-bar .app.bar {
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  #treniq.reading > #top-fixed-bar .navigation.bar {
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }

/*# sourceMappingURL=index.css.map */
