@import url(https://fonts.googleapis.com/css?family=Roboto:300,100,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,100,700);
ul.undo-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: block; }

input {
  padding: 0px;
  margin: 0px;
  display: block;
  box-sizing: border-box;
  border: none; }

#treniq {
  font-family: 'Roboto', sans-serif; }
  #treniq h1 {
    margin: 0px auto; }
  #treniq * {
    box-sizing: border-box; }
  #treniq #view {
    position: relative;
    top: 45px;
    max-height: calc(100vh - 45px);
    padding-top: 40px;
    overflow: scroll; }
    #treniq #view .page {
      height: 300vh; }

#top-fixed-bar {
  position: fixed;
  top: 0px;
  z-index: 1000;
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-size: 13px;
  color: grey;
  pointer-events: none; }
  #top-fixed-bar .bar {
    pointer-events: all;
    background-color: #EEE; }
    #top-fixed-bar .bar > ul > li {
      float: left; }
      #top-fixed-bar .bar > ul > li a {
        display: block;
        width: 100px;
        text-transform: capitalize; }
  #top-fixed-bar .app.bar {
    position: relative;
    z-index: 1;
    height: 45px;
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.01);
    line-height: 35px;
    -webkit-transition: box-shadow 100ms ease;
    -moz-transition: box-shadow 100ms ease;
    -o-transition: box-shadow 100ms ease;
    transition: box-shadow 100ms ease;
    -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
    -ms-transition-delay: 150ms;
    -o-transition-delay: 150ms;
    transition-delay: 150ms; }
    #top-fixed-bar .app.bar .logo {
      padding: 0px 20px;
      width: 120px; }
      #top-fixed-bar .app.bar .logo a {
        width: 100%; }
        #top-fixed-bar .app.bar .logo a img {
          vertical-align: middle;
          width: 100%; }
    #top-fixed-bar .app.bar .search {
      overflow: hidden;
      height: 45px;
      width: calc(100% - 340px); }
      #top-fixed-bar .app.bar .search input, #top-fixed-bar .app.bar .search span {
        display: block;
        float: left;
        box-sizing: border-box;
        height: 35px;
        line-height: 33px;
        border-top: 1px solid rgba(0, 0, 0, 0.01);
        border-bottom: 1px solid rgba(0, 0, 0, 0.01);
        -webkit-transition: border 500ms ease;
        -moz-transition: border 500ms ease;
        -o-transition: border 500ms ease;
        transition: border 500ms ease; }
      #top-fixed-bar .app.bar .search span {
        width: 50px;
        border-right: 1px solid rgba(0, 0, 0, 0.01);
        font-size: 16px;
        background-color: white;
        -webkit-transition: background-color 500ms ease;
        -moz-transition: background-color 500ms ease;
        -o-transition: background-color 500ms ease;
        transition: background-color 500ms ease;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px; }
      #top-fixed-bar .app.bar .search input {
        outline: none;
        width: calc(100% - 50px);
        max-width: 350px;
        padding-left: 10px;
        border-left: 1px solid rgba(0, 0, 0, 0.01);
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px; }
    #top-fixed-bar .app.bar .search.active input, #top-fixed-bar .app.bar .search:hover input {
      border: 1px solid #4CAF50; }
    #top-fixed-bar .app.bar .search.active span, #top-fixed-bar .app.bar .search:hover span {
      background: #4CAF50;
      color: white; }
    #top-fixed-bar .app.bar .icons {
      float: right;
      width: 200px; }
      #top-fixed-bar .app.bar .icons > ul > li {
        float: left;
        width: 100px;
        text-transform: capitalize; }
        #top-fixed-bar .app.bar .icons > ul > li .fa {
          font-size: 16px; }
  #top-fixed-bar .navigation.bar {
    -webkit-transition: transform 250ms ease;
    -moz-transition: transform 250ms ease;
    -o-transition: transform 250ms ease;
    transition: transform 250ms ease;
    height: 40px;
    line-height: 30px;
    padding: 5px 5px 5px 125px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.01);
    background-color: white; }
    #top-fixed-bar .navigation.bar > ul {
      height: 40px; }
      #top-fixed-bar .navigation.bar > ul > li:last-child {
        float: right; }
    #top-fixed-bar .navigation.bar .link {
      text-align: left;
      padding-left: 10px; }
    #top-fixed-bar .navigation.bar .link:hover {
      border-bottom: 2px solid rgba(0, 128, 0, 0.2); }
    #top-fixed-bar .navigation.bar .indicator {
      position: relative;
      top: -10px;
      height: 2px;
      pointer-events: none;
      width: 100px;
      background-color: rgba(0, 128, 0, 0.8); }

#treniq.reading > #top-fixed-bar .app.bar {
  box-shadow: 0 0 5px 1px rgba(1, 1, 1, 0.3); }
#treniq.reading > #top-fixed-bar .navigation.bar {
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px); }

/*# sourceMappingURL=index.css.map */
