@import 'config';

@import url(https://fonts.googleapis.com/css?family=Roboto:300,100,700);

#treniq{
  font-family: 'Roboto', sans-serif;

  h1{margin: 0px auto;}
  *{box-sizing: border-box;};
  #view{
    position: relative;
    top:$appBarHeight;
    max-height: calc(100vh - #{$appBarHeight});
    padding-top: $navigationBarHeight;
    overflow: scroll;
    .page{
      height: 300vh;
    }
  }
}

@import 'top-fixed-bar';