$linkWidth: 110px;

#state.home{
  .navigation.bar{
    .link.home > a{
      opacity: 0.6;
      transform: none !important;
    }
    .indicator{
      @include transform(translateX(0px));
    }
  }
  #views > li.home.drift > .page{
    @include transform(translateX(0px));
  }
}

#state.furniture{
  .link.furniture > a{
    opacity: 0.6;
    transform: none !important;
  }
  .navigation.bar{
    .indicator{
      @include transform(translateX($linkWidth));
    }
  }
  #views > li.furniture.drift > .page{
    @include transform(translateX(0px));
  }
}
#state.lighting{
  .link.lighting > a{
    opacity: 0.6;
    transform: none !important;
  }
  .navigation.bar{
    .indicator{
      @include transform(translateX(2 * $linkWidth));
    }
  }
  #views > li.lighting.drift > .page{
    @include transform(translateX(0px));
  }
}
#state.decor{
  .link.decor > a{
    opacity: 0.6;
    transform: none !important;
  }
  .navigation.bar{
    .indicator{
      @include transform(translateX(3 * $linkWidth));
    }
  }
  #views > li.decor.drift > .page{
    @include transform(translateX(0px));
  }
}
#state.blog{
  .link.blog > a{
    opacity: 0.6;
    transform: none !important;
  }
  .navigation.bar{
    .indicator{
      @include transform(translateX(4 * $linkWidth));
    }
  }
  #views > li.blog.drift > .page{
    @include transform(translateX(0px));
  }
}