
$borderColor: rgba(222, 220, 220, 0.29);
$barColor: #EEE;

$searchHeight: 35px;
$fontSize: 13px;
$iconSize: 16px;
$iconsWidth: 200px;

$barTransition: ease;
$logoWidth: 120px;
$linkHoverHighlight: rgba(0, 128, 0, 0.2);
$linkSelectedHighlight: rgba(0, 128, 0, 0.8);
$navigationLinkWidth: 100px;
$navigationPadding: 10px;
$barShadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 5px 0 rgba(0,0,0,.12);

#top-fixed-bar{
  position: fixed;
  top: 0px;
  z-index: $topBarLayer;

  width: 100%;
  overflow: hidden;

  text-align: center;
  font-size: $fontSize;
  color: grey;
  pointer-events: none;

  .bar{
    pointer-events: all;
    background-color: $barColor;
    > ul > li {
      float: left;
      a{
        display: block;
        width: $navigationLinkWidth;
        text-transform: capitalize;
      }
    }
  }
  .app.bar{
    position: relative;
    z-index: 1;
    height: $appBarHeight;
    padding: 5px;
    border-bottom: 1px solid $borderColor;
    line-height: $searchHeight;
    @include transition(box-shadow, 100ms, $barTransition);
    @include transitionDelay(100ms);

    .logo {
      padding: 10px 20px;
      width: $logoWidth;
      a{
        width: 100%;
        img{
          width: 100%;
        }
      }
    }
    .search{
      overflow: hidden;
      height: $appBarHeight;
      width: calc(100% - #{$iconsWidth + $logoWidth + 20px});
      input, span{
        display: block;
        float: left;
        box-sizing: border-box;
        height: $searchHeight;
        line-height: $searchHeight - 2px;

        border-top: 1px solid $borderColor;
        border-bottom: 1px solid $borderColor;
        @include transition(border, 500ms, ease);
      }
      span{
        width: 50px;
        border-right: 1px solid $borderColor;
        font-size: $iconSize;
        background-color: white;
        @include transition(background-color, 500ms, ease);
      }
      input{
        outline: none;
        width: calc(100% - 50px);
        max-width: 350px;
        padding-left: 10px;
        border-left: 1px solid $borderColor;
      }
    }
    .search.active{
      input{
        border: 1px solid #4CAF50;
      }
      span{
        background: #4CAF50;
        color: white;
      }
    }
    .search:hover{@extend .active;}

    .icons{
      float: right;
      width: $iconsWidth;
      > ul > li {
        float: left;
        width: 100px;
        text-transform: capitalize;
        .fa{font-size: $iconSize;}
      }
    }
  }

  .navigation.bar{
    @include transition(transform, 250ms, $barTransition);
    height: $navigationBarHeight;
    line-height: $navigationBarHeight - $navigationPadding;
    padding: 5px 5px 5px $logoWidth + 5px;
    border-bottom: 1px solid $borderColor;
    background-color: white;
    > ul {
      height: $navigationBarHeight;
      > li:last-child {
        float: right;
      }
    }
    .link{
      text-align: left;
      padding-left: 10px;
    }
    .link:hover{
      border-bottom: 2px solid $linkHoverHighlight;
    }
    .indicator{
      position: relative;
      top: -$navigationPadding;
      height: 2px;
      pointer-events: none;
      width: $navigationLinkWidth;
      background-color: $linkSelectedHighlight;
    }
  }
}


#treniq.reading > #top-fixed-bar{
  .app.bar{
    box-shadow: $barShadow;
  }
  .navigation.bar{
    @include transform(translateY(-$navigationBarHeight));
  }
}
