$fixedBarHeight: 100px;
$appBarHeight  : 60px;
$navigationBarHeight: $fixedBarHeight - $appBarHeight;

$borderColor: #DEDCDC;
$barColor: #EEE;
#top-fixed-bar{
  position: fixed;
  top: 0px;

  width: 100%;
  height: $fixedBarHeight;

  background-color: $barColor;
  text-align: center;

  .app.bar{
    height: $appBarHeight;
    line-height: $appBarHeight - 10px;
    padding: 5px;
    border-bottom: 1px solid $borderColor;
  }

  .navigation.bar{
    height: $navigationBarHeight;
    line-height: $navigationBarHeight - 10px;
    padding: 5px;
    border-bottom: 1px solid $borderColor;

    > ul > li {
      float: left;
      a{
        display: block;
        width: 100px;
        font-size: 13px;
        text-transform: uppercase;
        color: grey;
      }
    }
    > ul > li:last-child {
      float: right;
    }
  }
}