#views{
  display: block;
  height: 100vh;
  width:700vw;
  > li{
    position: relative;
    float: left;

    height: 100vh;
    width:100vw;
    overflow: hidden;
    @include transition(transform, 500ms, ease );
  }
}

$viewWidth: 100vw;

.show-view{
  @include transform(translateX(170vw));
}

#views:hover{
  li:nth-child(1){
    @extend .show-view;
  }
}

#views > li:nth-child(1){
  left: -$viewWidth;
}

#views > li:nth-child(2){
  left: -2 * $viewWidth;
}

#views > li:nth-child(3){
  left: -3 * $viewWidth;
}

#views > li:nth-child(4){
  left: -4 * $viewWidth;
}

#views > li:nth-child(5){
  left: -5 * $viewWidth;
}

#views > li:nth-child(6){
  left: -6 * $viewWidth;
}

.page:not(.splash){
  padding-top: $appBarHeight + $navigationBarHeight;
  height: 100%;
  border-bottom: 1px solid red;
  overflow: scroll;
  .content{
    height: 300vh;
  }
}