@import url(https://fonts.googleapis.com/css?family=Roboto:300,100,700);
ul.undo-list, #top-fixed-bar .content .navigation ul.links {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: block; }

.resize-container:after, #top-fixed-bar .content:after, #top-fixed-bar .content .navigation:after, #top-fixed-bar .content .navigation .links:after {
  content: "";
  display: table;
  clear: both; }

input {
  padding: 0px;
  margin: 0px;
  display: block;
  box-sizing: border-box;
  border: none; }

#app {
  padding: 100px 50px;
  min-height: 1000vh;
  border: 1px solid #EEE; }

* {
  box-sizing: border-box; }

#video-sticky {
  width: 500px;
  height: 299px; }
  #video-sticky .video-wrapper {
    padding: 10px 0px;
    width: 500px;
    height: 299px;
    -webkit-transition: transform 300ms ease;
    -moz-transition: transform 300ms ease;
    -o-transition: transform 300ms ease;
    transition: transform 300ms ease;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0; }
    #video-sticky .video-wrapper video {
      -webkit-transform-origin: 0 0;
      -moz-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transition: transform 300ms ease;
      -moz-transition: transform 300ms ease;
      -o-transition: transform 300ms ease;
      transition: transform 300ms ease; }

#video-sticky.fixed .video-wrapper {
  position: fixed;
  top: 50px; }

#video-sticky.resize .video-wrapper video {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5); }

#top-fixed-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 75px; }
  #top-fixed-bar .bg {
    z-index: -1;
    position: relative;
    top: -50px;
    height: 75px;
    background-color: #F2F2F2;
    -webkit-transition: transform 250ms ease;
    -moz-transition: transform 250ms ease;
    -o-transition: transform 250ms ease;
    transition: transform 250ms ease;
    -webkit-transform: translateY(-25px);
    -moz-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    -o-transform: translateY(-25px);
    transform: translateY(-25px);
    -webkit-transition-delay: 250ms;
    -moz-transition-delay: 250ms;
    -ms-transition-delay: 250ms;
    -o-transition-delay: 250ms;
    transition-delay: 250ms; }
  #top-fixed-bar .content {
    height: 50px;
    min-width: 960px;
    padding: 0px 50px; }
    #top-fixed-bar .content .logo {
      float: left;
      display: block;
      height: 50px;
      width: 175px;
      will-change: transform;
      -webkit-transition: transform 250ms ease;
      -moz-transition: transform 250ms ease;
      -o-transition: transform 250ms ease;
      transition: transform 250ms ease;
      -webkit-transform-origin: 0 0;
      -moz-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transition-delay: 250ms;
      -moz-transition-delay: 250ms;
      -ms-transition-delay: 250ms;
      -o-transition-delay: 250ms;
      transition-delay: 250ms; }
    #top-fixed-bar .content .navigation {
      float: left;
      width: calc(100% - 175px); }
      #top-fixed-bar .content .navigation .search-widget, #top-fixed-bar .content .navigation .links {
        height: 50px;
        line-height: 50px;
        float: left; }
      #top-fixed-bar .content .navigation .search-widget {
        width: 220px;
        padding: 10px; }
        #top-fixed-bar .content .navigation .search-widget input {
          box-sizing: border-box;
          padding: 5px;
          height: 100%;
          width: 100%; }
      #top-fixed-bar .content .navigation .links {
        width: calc(100% - 220px);
        text-align: right;
        -webkit-transition: transform 250ms ease;
        -moz-transition: transform 250ms ease;
        -o-transition: transform 250ms ease;
        transition: transform 250ms ease;
        -webkit-transition-delay: 250ms;
        -moz-transition-delay: 250ms;
        -ms-transition-delay: 250ms;
        -o-transition-delay: 250ms;
        transition-delay: 250ms; }
        #top-fixed-bar .content .navigation .links > li {
          -webkit-transition: transform 250ms ease;
          -moz-transition: transform 250ms ease;
          -o-transition: transform 250ms ease;
          transition: transform 250ms ease;
          display: inline-block;
          padding: 0px 10px;
          font-size: 16px; }

#top-fixed-bar:not(.collapse) .logo {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5); }
#top-fixed-bar:not(.collapse) .content .navigation > ul.links {
  -webkit-transform: translateY(35px);
  -moz-transform: translateY(35px);
  -ms-transform: translateY(35px);
  -o-transform: translateY(35px);
  transform: translateY(35px);
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }
  #top-fixed-bar:not(.collapse) .content .navigation > ul.links > li {
    -webkit-transition-delay: 250ms;
    -moz-transition-delay: 250ms;
    -ms-transition-delay: 250ms;
    -o-transition-delay: 250ms;
    transition-delay: 250ms;
    -webkit-transform: translateX(220px);
    -moz-transform: translateX(220px);
    -ms-transform: translateX(220px);
    -o-transform: translateX(220px);
    transform: translateX(220px); }
#top-fixed-bar:not(.collapse) .bg {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }

/*# sourceMappingURL=index.css.map */
