$sceneWidth         : 1900px;
$lampWidth          : (90/1000) * $sceneWidth;
$lampTopMinOffset   : -(100/1000) * $sceneWidth;
$lampTopMaxOffset   : -(60/1000) * $sceneWidth;
$lampLeftOffset     : (100/1000) * $sceneWidth;
$lampSpacing        : 2 * $lampLeftOffset;

$eye1Left           : (700/1000) * $sceneWidth;
$eye1Size           : (10/1000) * $sceneWidth;
$eye1Bottom         : (450/1000) * $sceneWidth;
$eye1-1-left        : (5/1000) * $sceneWidth;
$eye1-2-left        : (30/1000) * $sceneWidth;

@mixin lamp($index, $topOffset) {
  $index: $index;
  $topOffset: $lampTopMinOffset + ($lampTopMaxOffset - $lampTopMinOffset)/($index+1);
  position: absolute;
  top: $topOffset;
  left: $lampLeftOffset + ($lampSpacing * $index);
  width: $lampWidth;
}

*{box-sizing: border-box;}


.scene{
  position: relative;
  overflow: hidden;
  width: $sceneWidth;

  img.hanging:nth-child(1){@include lamp(0, $lampTopMinOffset);}
  img.hanging:nth-child(2){@include lamp(1, $lampTopMinOffset);}
  img.hanging:nth-child(3){@include lamp(2, $lampTopMaxOffset);}
  img.hanging:nth-child(4){@include lamp(3, $lampTopMaxOffset);}

  .owl-eyes{
    position: absolute;
    left: $eye1Left;
    bottom: $eye1Bottom;
    width: 2*$eye1Size;

    .eye{
      height: $eye1Size;
      width: $eye1Size;
      background: red;
      border-radius: 50%;
      float: left;
      position: relative;
    }

    .eye:nth-child(1){
      left: $eye1-1-left;
    }
    .eye:nth-child(2){
      left: $eye1-2-left;
    }
  }
  img.background{
    width: 100%;
  }
}
