@import "../../style/base";

$padding: 10px;
$side_padding: 20px;
$row_height : $rowHeight;
$border_light: rgba(0, 0, 0, 0.1);
$light_text: rgba(0, 0, 0, 0.5);
$dark_text: rgba(0, 0, 0, 0.7);
$link_color: #bda6e0;

$bold_text: 600;
$medium_bold_text: 500;
$medium_light_text: 300;
$super_bold_text: 700;

$top_bar_duration: 300ms;
$border_radius:3px;
$picture_radius  : 25px;

.ruby-gem{
  color: rgba(255, 255, 255, 0.8);
  background: #e9573f;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.39);
}

@import url('https://fonts.googleapis.com/css?family=Raleway:300,600,500,700');

body{
  font-family: 'Raleway', sans-serif;
}

#placeholder-screen {
  width: 100%;
}
.top-bar-transition {
  @include transition(all $top_bar_duration  ease);
}

.bold-text{
  font-weight: $super_bold_text;
  color: $dark_text;
}

.small-light-text{
  font-size: small;
  color: $light_text;
  font-weight: $medium_light_text;
}

.small-bold-text{
  font-size: small;
  font-weight: $medium_bold_text;
}

.page{
  h1.head{
    padding: $padding;
    margin-left: $padding;
    margin-bottom: $side_padding;
  }
  .work-history{
  }
}

@import "intro";
@import "top_bar";
@import "cover";
@import "profile/title";
@import "footer";
@import "contacts";
@import "profile/work-history";