@import "../../style/base";

$padding: 10px;
$side_padding: 20px;

$light_text: rgba(0, 0, 0, 0.5);
$dark_text: rgba(0, 0, 0, 0.7);

$bold_text: 600;
$super_bold_text: 700;
@import url('https://fonts.googleapis.com/css?family=Raleway:300,600,700');

body{
  font-family: 'Raleway', sans-serif;
}

#placeholder-screen {
  width: 100%;
}

@import "profile";
@import "top_bar";
@import "body";
@import "cover";