@import "../../style/base";

$padding: 10px;
$side_padding: 20px;

$light_text: rgba(0, 0, 0, 0.5);
$dark_text: rgba(0, 0, 0, 0.7);

$bold_text: 600;
$medium_bold_text: 500;
$super_bold_text: 700;

$top_bar_duration: 300ms;
$border_radius: 10px;
$picture_radius  : 25px;

@import url('https://fonts.googleapis.com/css?family=Raleway:300,600,500,700');

body{
  font-family: 'Raleway', sans-serif;
}

#placeholder-screen {
  width: 100%;
}
.top-bar-transition {
  @include transition(all $top_bar_duration  ease);
}

@import "profile";
@import "top_bar";
@import "intro";
@import "cover";
@import "profile/title";