$image_height  : 195px;
$background    : #000000;
$gradience_from: 10%;
$gradience_to  : 90%;

$profile_pic_size: 200px;
$picture_radius  : 25px;

.profile{
  position: relative;
  height: 100%;

  > .cover{
    margin   : auto;
    display  : block;
    position : fixed;
    top      : 0;
    left     : 0;
    width    : 100%;
    z-index  : -1;
    //background: $background;
    padding-bottom: 100vh;

    .bg-wrapper{
      background: $background;
      padding: 0px $side_padding;

      > img.bg{
        display  : block;
        margin   : auto;
        width    : calc(100% - 2 * #{$side_padding});
      }
    }
    .gradience{
      width     : 100%;
      height    : 100vh;
      background: -moz-linear-gradient(top,  $background $gradience_from, rgba(255,255,255,0) $gradience_to); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  $background $gradience_from,rgba(255,255,255,0) $gradience_to); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  $background $gradience_from,rgba(255,255,255,0) $gradience_to); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    }
  }
  .cover-padding{
    height: $image_height;
    opacity: 0;
  }

  >.body{
    margin: 0px $side_padding;
    background: white;
    padding: $profile_pic_size/2 $padding * 2;

  }
}


.overview{
  .profile-image{
    img{
      display      : block;
      position     : relative;
      top          : $profile_pic_size/2;
      margin       : auto;
      height       : $profile_pic_size;
      border       : $padding solid white;
      border-radius: $picture_radius;
    }
  }
}
