$image_height  : 195px;
$background    : #000000;
$gradience_from: 10%;
$gradience_to  : 90%;

$profile_pic_size: 200px;
$from_color: $background;
$to_color  : rgba(255,255,255,0);

$top_bar_index: 99;

.invert-gradience{
  @include gradient(#{bottom, rgba(0, 0, 0, 1) 0%, transparent 100%});

}
.gradience{
  @include gradient(#{top, $from_color $gradience_from, $to_color $gradience_to});
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.profile{
  position: relative;
  height: 100%;
}


.overview{
  margin: 0px $side_padding;
  padding-top: $image_height + 2 * $padding;

  .profile-image{
    position  : relative;
    top       : $profile_pic_size/2;

    img{
      display      : block;
      margin       : auto;
      height       : $profile_pic_size;
      border       : $padding solid white;
      border-radius: $picture_radius;
    }
  }
}

