
$small_image_size: $rowHeight;


.top-bar{
  box-shadow: 0 0 5px 1px rgba(1, 1, 1, 0.3);
  position: fixed;
  z-index: $top_bar_index;
  top: 0px;
  margin: 0px $side_padding;

  height: $profile_pic_size/2;
  width: calc(100% - #{2 * $side_padding});

  background: white;
  @extend .top-bar-transition;
  .image{
    display: block;
    margin: auto;
    height: $small_image_size;
  }
}



#nishants-site:not(.show-top-bar) {
  .top-bar {
    pointer-events: none;
    opacity: 0;
    @include transform(translateY(-100%));
  }
}

#nishants-site {
  .overview {
    @extend .top-bar-transition;
    .profile-image {
      img{
        @extend .top-bar-transition;
      }
    }
  }
}

#nishants-site.show-top-bar {
  .overview {
    .profile-image > img{
      opacity: 0;
      @include transform(translateY(-100%));
    }
  }
}