@import '../../css/config';

$formLineHeight     : 30px;
$overviewLineHeight : 25px;
$overviewWidth      : 200px;
$formWidth          : calc(100% - #{$overviewWidth});
$formHeight         : calc(100vh - #{2 * $topBarHeight});
$overviewBackground : rgba(255, 255, 255, 0.3);

$topPadding : 10px;
$fixedPartHeight         : $formLineHeight;
$scrollablePartHeight    : calc(100vh - #{2 * $topBarHeight + $topPadding + $fixedPartHeight});

.audience-form{
  height: 100%;
  width: 100%;
  overflow: hidden;
  min-width: 700px;

  .editor,.overview{
    float: left;
    padding-top: 10px;
    overflow: hidden;
  }
  .editor{
    width: $formWidth;
    text-align: left;
    padding-right: 5px;
    overflow: hidden;
    .fixed{
      padding-top: $topPadding;
    }
    .scrollable{
      height: $scrollablePartHeight;
      overflow: auto;
    }
  }

  .overview{
    width: $overviewWidth;
    background-color: $overviewBackground;
    overflow: auto;
    height: 100%;

    .summary, .reach{
      text-align: left;
      padding: 10px;
      line-height: $overviewLineHeight - 2px;
      border: 1px solid #EEE;
      margin: 0px 5px;

      .title{
        line-height: $formLineHeight - 2px;
        font-weight: bold;
        border-bottom: 1px solid #EEE;
      }
    }
    .reach{
      margin-top: 10px;
    }
  }

  .form-section{
    min-height: $formLineHeight;
    margin-bottom: 10px;
    min-width: 500px;
    overflow: hidden;

    label.name, input.value{
      height: $formLineHeight;
      line-height: $formLineHeight - 2px;
    }

    .value{
      line-height: $formLineHeight - 2px;
      width: calc(100% - 100px);
      float: left;
      padding-left: 10px;
      border: 1px solid #EEE;
      min-height: $formLineHeight;
    }

    label.name{
      float: left;
      width: 100px;
      padding-right: 10px;
      text-align: right;
      overflow: hidden;
    }
    .controls{
      width: 100%;
      float: left;
      text-align: right;
      padding: 5px 5px 15px 0px;
    }

    .value{
      .field{
        width: 100px;
        float: left;
        text-align: right;
        padding-right: 5px;
        overflow: hidden;
        height: $formLineHeight;
        background-color: transparent;
      }
      .field-summary{
        width: calc(100% - 100px);
        float: left;
        text-align: left;
        padding-left: 5px;
        overflow: hidden;
        height: $formLineHeight;
      }
    }
  }

  .form-section.flash-focus{
    .value{
      -webkit-animation-name: flash-highlight;
      -moz-animation-name: flash-highlight;
      -o-animation-name: flash-highlight;
      animation-name: flash-highlight;

      -webkit-animation-duration: 2s;
      -moz-animation-duration: 2s;
      -o-animation-duration: 2s;
      animation-duration: 2s;
    }
    @keyframes flash-highlight{
      from {
        background-color: transparent;
      }
      30%{
        background-color: rgba(33, 150, 243, 0.13);
      }
      to{
        background-color: transparent;
      }
    }
    @-webkit-keyframes flash-highlight{
      from {
        background-color: transparent;
      }
      30%{
        background-color: rgba(33, 150, 243, 0.13);
      }
      to{
        background-color: transparent;
      }
    }
    @-moz-keyframes flash-highlight{
      from {
        background-color: transparent;
      }
      30%{
        background-color: rgba(33, 150, 243, 0.13);
      }
      to{
        background-color: transparent;
      }
    }
    @-o-keyframes flash-highlight{
      from {
        background-color: transparent;
      }
      30%{
        background-color: rgba(33, 150, 243, 0.13);
      }
      to{
        background-color: transparent;
      }
    }
  }
}