@import '../../../lib/config';

$imageHeight : 50px;

$rightSize: 100px;
$timeColor: #EEE;
$lineColor: rgba(0,0,0,0.05);

.message:after {
  content:"";
  display:table;
  clear:both;
}

.chat{
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;

  .message{
    padding: 20px;
    padding-bottom: 10px;

    .right, .left{
      float: left;
      height: 100%;
    }

    .right{
      width: $rightSize;
      img{
        height: $imageHeight;
      }
    }
    .left{
      width: calc(100% - #{$rightSize});
      .time{
        text-align: right;
        color: $timeColor;
      }
      .text{
        padding-bottom: 15px;
      }
    }
    border-bottom: 1px solid $lineColor;
  }
}