<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="style/app.css">
</head>
<body>

<!-- show this after load and login-->
<div id="app" ng-app="tiktik">

    <!-- app header space-->
    <section id="header">

        <div id="menu-wrapper" ng-controller="TopMenuController" ng-mouseleave="menu.showByUrl()">
            <div id="app-bar">
                <ul id="section-links" class="inline-menu inline-list pull-left">
                    <li ng-class="menu.section('dashboard')    ? 'selected-link' : '' "><a ng-mouseover="menu.showMenuFor('dashboard')" ng-click="menu.showMenuFor('dashboard')" >dashboard</a></li>
                    <li ng-class="menu.section('campaigns')    ? 'selected-link' : '' "><a ng-mouseover="menu.showMenuFor('campaigns')" ng-click="menu.showMenuFor('campaigns')" >campaigns</a></li>
                    <li ng-class="menu.section('reports')      ? 'selected-link' : '' "><a ng-mouseover="menu.showMenuFor('reports')"   ng-click="menu.showMenuFor('reports')"   >reports</a></li>
                    <li ng-class="menu.section('products')     ? 'selected-link' : '' "><a ng-mouseover="menu.showMenuFor('products')"  ng-click="menu.showMenuFor('products')"  >products</a></li>
                </ul>
            </div>

            <div id="section-bar" ng-show="!menu.section('dashboard')">
                <ul ng-show="menu.section('campaigns')" class="inline-menu inline-list pull-left">
                    <li ng-class="menu.tab('campaigns') ? 'selected-tab' : '' " >campaigns</li>
                    <li ng-class="menu.tab('adsets')    ? 'selected-tab' : '' " > adsets</li>
                    <li ng-class="menu.tab('ads')       ? 'selected-tab' : '' " >ads</li>
                    <li ng-class="menu.tab('audiences') ? 'selected-tab' : '' " >audiences</li>
                    <li>more <strong>v</strong></li>
                </ul>

                <ul ng-show="menu.section('reports')" class="inline-menu inline-list pull-left">
                    <li ng-class="menu.tab('campaigns') ? 'selected-tab' : '' " >campaigns</li>
                    <li ng-class="menu.tab('missed-call-campaigns')    ? 'selected-tab' : '' " >missed call campaign</li>
                    <li ng-class="menu.tab('campaign-assets')       ? 'selected-tab' : '' " >campaigns assets</li>
                </ul>

                <ul ng-show="menu.section('products')" class="inline-menu inline-list pull-left">
                    <li ng-class="menu.tab('triggers') ? 'selected-tab' : '' " >triggers</li>
                    <li ng-class="menu.tab('behaviour-intel')    ? 'selected-tab' : '' " >behavior intelligence</li>
                </ul>
            </div>
        </div>

    </section>

    <section id="body">
        <p>here is the content</p>
    </section>

    <section id="footer">
    </section>

    <div id="business-account-indicator" ng-controller="BusinessAccountController">
        <span>{{account.selected.business.name}}</span> -
        <span>{{account.selected.account.name}}</span> -
        <span>{{account.selected.subAccount.name}}</span>
        <div class="input">
            <input type="text" placeholder="search" ng-model="account.input.business">
            <ul>
                <li ng-repeat="option in account.filter(account.options.business, account.input.business)" ng-click="account.set(account.input.business, option)"> {{option.name}} </li>
                <li>&nbsp;</li>
            </ul>
        </div>
    </div>
</div>



<script src="../lib/angular.js"></script>
<script src="app/app.js"></script>
<script src="app/top-menu/menu-controller.js"></script>
<script src="app/top-menu/business-account-controller.js"></script>
</body>
</html>
