$item_height : 60px;

.page{

  ul.work-history{
    //@extend .undo-list;

    > li{
      display: block;
      padding: $padding;
      border : 1px solid $border_light;
      margin-bottom: $padding;
      line-height: $item_height;

      @extend .resize-container;
      .logo{
        float: left;
        width : $item_height;
        height: $item_height;
        overflow: hidden;
        img{
          display: inline-block;
          max-height: 100%;
          max-width: 100%;
        }
      }

      .detail{
        float: left;
        > label{
          line-height: $item_height/3;
          text-align: left;
          display: block;
          padding: 0px $padding;
          @extend .bold-text;
          font-size: small;
          margin: 0px;
        }
        > label:not(.title){
          font-size: small;
          color: $light_text;
        }
      }

    }
  }
}