$boxHeight : 30px;

.select-box{
  overflow: hidden;
  height: $boxHeight;
  border:1px solid  #EEE;

  .mask{
    height: $boxHeight;
    width: 100%;
    .icon{
      float: right;
      display: inline-block;

      height: $boxHeight;
      line-height: $boxHeight - 2px;
      padding: 0px 10px;

      border-left:1px solid  #EEE;
      color: #EEE;
    }
  }
  select{
    -webkit-appearance: none;
    height: $boxHeight;
    width: 100%;
    position: relative;
    top: -$boxHeight;
    opacity: 0;
  }
}