
$flipFunction : cubic-bezier(0.45, 0.515, 0.36, 0.88);

@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform:    $value;
  -ms-transform:     $value;
  -o-transform:      $value;
  transform:         $value;
}

@mixin transformStyle($value) {
  -webkit-transform-style:  $value;
  -moz-transform-style:     $value;
  transform-style:          $value;
}

@mixin transformOrigin($value) {
  -webkit-transform-origin: $value;
  -moz-transform-origin: $value;
  transform-origin: $value;
}

@mixin transition($property, $time, $effect){
  -webkit-transition: $property  $time $effect;
  -moz-transition:    $property  $time $effect;
  -o-transition:      $property  $time $effect;
  transition:         $property  $time $effect;
}

.bookish{
  .book, .page{
    padding: 0px;
    margin: 0px;
    display: block;
  }
  .book{
    background-color: inherit;
    list-style: none;
    display: block;
  }

  .page{
    background-color: inherit;
    height: inherit;
    @include transformStyle(preserve-3d);
    @include transition(transform, 1200ms, $flipFunction);
  }

  .page.opened{
    @include transformOrigin(#{"-50px  center"});
  }

  .page.opened.closed{
    @include transform(rotateY(-180deg) skewY(-45deg));
  }

  .page:not(.opened):not(.closed){
    @include transformOrigin(#{"right"});
    @include transform(rotateY(-30deg));
    opacity: 0;
  }

  .book > li {
    @extend .page;
  }
}
