
*{
  box-sizing: border-box;
  img{width: 100%;}
}

.page:nth-child(2n){
  background-color: #EEE;
}

.bookish{
  background: white;
  padding: 30px;
  .book{
    overflow: hidden;
  }
}
@import 'bookish';