
$calendarCellSize: 50px;
$fontSize : 13px;

.calendar{
  width:  7 * $calendarCellSize;
  height: 6 * $calendarCellSize;
  font-size: $fontSize;
  line-height: $calendarCellSize - 2px;
  text-align: center;

  .head .cell{
    border-bottom: 1px solid rgba(0 , 0, 0, 0.1);
  }
  .head  .cell, .body  .cell{
    height: $calendarCellSize;
    width : $calendarCellSize;
    float: left;
    display: inline-block;
  }

  ul.month{
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  ul.month > li {
    display: block;
    height: $calendarCellSize;
    width : $calendarCellSize * 7;
    background-color: #EEE;
  }
  ul.month > li >.cell{
    display: inline-block;
    float: left;
  }
}