@import "../../../style/base";

$white : #ffffff;
$black : rgba(0, 0, 0, 0.5);
$layerColor: #F5D328;
$selectColor: #0365C0;
$veryLightColor : rgba(0,0,0,0.1);
$cellHeight: 132px;

$batteryWidth: 1325px;
$scrollerWidth: 20px;

.battery{
  width: 100%;
  padding: $padding;
  overflow: auto;

  ul{
    min-width: $batteryWidth;
    position: relative;
    @extend .undo-list;
    @extend .resize-container;
    li{
      float   : left;
      margin-right  : $padding/2;
    }
  }
}


.battery{
  .cell{
    float: left;
    height: $cellHeight;
    border  : 1px solid $veryLightColor;
    .name, .target, .role{
      padding  : $padding;
      text-align: center;
    }
    .target, .role{
      text-align: center;
    }
    .name{
      margin   : 0px;
      font-size: large;
      background-color: $selectColor;
      color    : $white;
      padding  : 2 * $padding;
    }

     .target{
      border-top  : 1px solid $veryLightColor;
    }
  }

  >ul >li:not(:first-child):before {
    float: left;
    width: 50px;
    height: $cellHeight;
    line-height: $cellHeight;
    text-align: center;
    content: ">>";
  }
}

.packaging.cell{
  border: 1px solid $selectColor;
  .name{
    height: 100%;
    padding: $padding;
    line-height: ($cellHeight - $padding * 2)/3;
    background: $veryLightColor;
    color: $selectColor;
  }
}


$cylinder-color: red;

$height:60px;
$width :20px;

