@import '../config';

@mixin activate($index){
  transform: translateX(calc( #{ - $articlesWidth} * #{$index}))
}

#app > #view {
  @include transition(transform, 500ms);
}

#app > #view > *{
  float: left;
  height: $articleHeight;
  width: $articlesWidth;
  background-color: green;
}


#app > #view > *:nth-child(2n){
  background-color: #ff7b85;
}

#app.url-state1 > #view { @include activate($homeIndex); }
#app.url-state2 > #view { @include activate($campaignsIndex); }
#app.url-state3 > #view { @include activate($audiencesIndex); }
#app.url-state4 > #view { @include activate($reportsIndex); }
#app.url-state5 > #view { @include activate($settingsIndex); }

#app.default    > #view {
  @include activate($defaultIndex);
}