$topBarHeight : 50px;
$show2 : calc(#{$topBarHeight}  - 100vh);
$show3 : calc(#{2 * $topBarHeight}  - 200vh);
$show4 : calc(#{3 * $topBarHeight}  - 200vh);

@mixin transform( $property) {
  -webkit-transform: $property;
  -moz-transform: $property;
  -ms-transform: $property;
  -o-transform: $property;
  transform: $property;
}

article.two  .sections{
  @include transform(translateY($show2));
}

article.three  .sections{
  @include transform(translateY($show3));
}

article.four  .sections{
  @include transform(translateY($show4));
}

