#top-bar, #side-left-bar, #side-right-bar {
  position: fixed;
  text-align: center;
}

#side-left-bar, #side-right-bar {
  width: 95vw;
}

#top-bar {
  height: 60px;
  background-color: #4d8dff;
  padding-left: 50px;
  padding-right: 50px;
}

#side-right-bar > .content {
  background-color: #ff5e46;
  min-height: calc(100vh - 60px - 50px);
}

#side-left-bar > .content {
  background-color: #33ffba;
  min-height: calc(100vh - 60px - 50px);
}

.shutter.top {
  top: 0;
  width: 100%;
}

.shutter.left, .shutter.right {
  top: 60px;
}

.shutter.left {
  left: 0;
}

.shutter.right {
  right: 0;
}

section {
  padding-top: 60px;
  text-align: center;
}

.close > .shutter.top {
  transform: translateY(-170px);
}

.close > .shutter.left {
  transform: translateX(-100vw);
}

.close > .shutter.right {
  transform: translateX(100vw);
}

.close > .menu-button > .close-menu {
  display: none;
}

nav:not(.close) > .menu-button > .show-menu {
  display: none;
}

.menu-button > .close-menu {
  font-size: 45px;
}

.icon {
  font-size: 40px;
  line-height: 40px;
  text-shadow: 1px 1px 1px #ECE9E9;
  color: #2F2F2E;
}

.menu-button {
  position: fixed;
  top: 0;
  line-height: 60px;
  z-index: 100;
  right: 0;
  margin: 10px 10px 5px 5px;
}

.shutter {
  z-index: 5;
}

.shutter.active {
  z-index: 10;
}

.shutter {
  -webkit-transition: all 500ms cubic-bezier(0.450, 0.515, 0.360, 0.880);
  -moz-transition: all 500ms cubic-bezier(0.450, 0.515, 0.360, 0.880);
  -o-transition: all 500ms cubic-bezier(0.450, 0.515, 0.360, 0.880);
  transition: all 500ms cubic-bezier(0.450, 0.515, 0.360, 0.880); /* custom */
}

#top-bar > .search {
  position: fixed;
  font-size: 35px;
  left: 10px;
  top: 0;
  margin-top: 10px;
}
#top-bar > .search-input {
  float: left;
  width: 0px;
  opacity: 0;
}
#top-bar.show-search > .search-input {}

#top-bar.show-search > h1 {
  display: none;
}
#top-bar.show-search > .search-input {
  width: calc(100% - 200px);
  opacity: 1;
  height: 60px;
  font-size: 35px;
  padding-left: 10px;
  margin-left: 10px;
}

#top-bar > h1 {
  line-height: 60px;
  margin: 0;
}