#top-bar, #side-left-bar, #side-right-bar {
  position: fixed;
  text-align: center;
}

#side-left-bar, #side-right-bar {
  width: 95vw;
}

#top-bar {
  height: 60px;
  background-color: #4d8dff;
  padding-left: 50px;
  padding-right: 50px;
}

#top-bar > h1 {
  line-height: 60px;
  margin: 0;
}

#side-right-bar > .content {
  background-color: #ff5e46;
  min-height: calc(100vh - 60px - 50px);
}

#side-left-bar > .content {
  background-color: #33ffba;
  min-height: calc(100vh - 60px - 50px);
}

.shutter.top {
  top: 0;
  width: 100%;
}

.shutter.left, .shutter.right {
  top: 60px;
}

.shutter.left {
  left: 0;
}

.shutter.right {
  right: 0;
}

section {
  padding-top: 60px;
  text-align: center;
}

.close > .shutter.top {
  transform: translateY(-170px);
}

.close > .shutter.left {
  transform: translateX(-100vw);
}

.close > .shutter.right {
  transform: translateX(100vw);
}

.close > .menu-button > .close-menu {
  display: none;
}

nav:not(.close) > .menu-button > .show-menu {
  display: none;
}

.menu-button > .close-menu {
  font-size: 45px;
}

.icon {
  line-height: 40px;
  font-size: 40px;
  text-shadow: 1px 1px 1px #ECE9E9;
  color: #2F2F2E;
  padding: 10px;
}

#search-panel, .menu-button {
  position: fixed;
  line-height: 40px;
  height: 60px;
  z-index: 100;
  top: 0;
  margin: 0;
}

#search-panel {
  left: 0;
}
.menu-button {
  right: 0;
}

.shutter {
  z-index: 5;
}

.shutter.active {
  z-index: 10;
}

.shutter {
  -webkit-transition: all 500ms cubic-bezier(0.450, 0.515, 0.360, 0.880);
  -moz-transition: all 500ms cubic-bezier(0.450, 0.515, 0.360, 0.880);
  -o-transition: all 500ms cubic-bezier(0.450, 0.515, 0.360, 0.880);
  transition: all 500ms cubic-bezier(0.450, 0.515, 0.360, 0.880); /* custom */
}

#search-panel > .icon{
  margin-right: 0px;
  height: 60px;
  font-size: 35px;
}

#search-panel > .search {
  float: left;
}

#search-panel.show-search > .icon{
  background-color: #f4efef;
}
#search-panel.show-search{
  width: calc(100% - 50px);
}

#search-panel > .search-input {
  float: left;
  width: 0px;
  opacity: 0;

}

#search-panel.show-search > .search-input {
  width: calc(100% - 80px);
  opacity: 1;
  display: inline-block;

  input{
    width: calc(100% - 80px);
    height: 60px;
    font-size: 25px;
    padding-left: 10px;
    float: left;
    box-sizing: border-box;
    border: none;
  }

  .search-button{
    width: 50px;
    display: inline-block;
    float: left;
    background-color: #f4efef;
    font-size: 30px;
    height: 60px;
  }
  -webkit-transition: width 200ms cubic-bezier(0.450, 0.515, 0.360, 0.880), opacity 500ms cubic-bezier(0.450, 0.515, 0.360, 0.880);
  -moz-transition:    width 200ms cubic-bezier(0.450, 0.515, 0.360, 0.880), opacity 500ms cubic-bezier(0.450, 0.515, 0.360, 0.880);
  -o-transition:      width 200ms cubic-bezier(0.450, 0.515, 0.360, 0.880), opacity 500ms cubic-bezier(0.450, 0.515, 0.360, 0.880);
  transition:         width 200ms cubic-bezier(0.450, 0.515, 0.360, 0.880), opacity 500ms cubic-bezier(0.450, 0.515, 0.360, 0.880); /* custom */

}
