body{
  background-color: #464545;
}

#content{
  background-color: white;
  margin-top: 60px;
  padding-bottom: 100px;
}

#content.fade {
  opacity: 0.1;
}

#top-bar, #bottom-bar {
  height: 60px;
  background-color: rgba(1, 1, 1, 0.75);
  position: fixed;
  width: 100%;
  color: white;
  z-index: 100;
}

#top-bar {
  top: 0;
}

#bottom-bar {
  bottom: 0;
}

#bottom-bar.expand {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.undo-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

#top-bar > .restart, #top-bar > .message {
  height: 60px;
  font-size: 20px;
  padding: 10px;
  line-height: 40px;
  max-width: 250px;
  overflow: auto;
  color: rgba(255, 255, 255, 0.9);
}

#top-bar > .message {
  text-align: right;
  float: right;
  font-size: 10px;
}

#top-bar > .restart {
  float: left;
}

.missions {
  text-align: center;
}

.missions > .mission, .submit {
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 100%;
  text-align: left;
  line-height: 20px;
}

.submit{
  height: 180px;
}

.missions > .mission {
  display: inline-block;
  height: 120px;
}

.missions > .mission.ignored {
  opacity: 0.3;
}

.missions > .mission > .planet{
  display: inline-block;
  float: left;
  width: 100px;
}

.missions > .mission > .info{
  float: left;
  height: 80px;
  width: calc(100% - 100px);
}

.info > .field > .name, .info > .field > .value{
  font-size: 13px;
}

.info > .field > .name{
  font-weight: 900;
}

.info > .field > .value{
  opacity: 0.7;
}

.info > .field > .value.commas > span:before{
  content: ", ";
}

.info > .field > .value.commas > span:first-child:before{
  content: "";
}

.info > .action{
  text-align: right;
  color: rgba(48, 131, 251, 1);
  font-size: 13px;
  padding-right: 10px;
}

.mission > .info > .action > .ignore{
  color: rgba(0, 0, 0, 1);
}

.mission:not(.assigned) > .info > .action > .cancel, .mission.assigned > .info > .action > .send,.mission.ignored > .info > .action > .send, .mission:not(.ignored) > .info > .action > .ignore{
  display: none;
}


.missions > .mission > .planet > img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.missions > .mission.selected > .no-mission {
  display: none;
}

.mission:not(.assigned) .spacecraft {
  display: none;
}

.mission.assigned .no-mission {
  display: none;
}

.mission .spacecraft, .mission .no-mission {
  padding: 5px;
  border-top: 1px solid #EEE;
  margin-top: 5px;
  height: 35px;
}

.mission .spacecraft > img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  float: left;
  opacity: 0.5;
}

.mission .spacecraft > .time {
  padding: 5px;
  display: inline-block;
  float: left;
}

.mission .spacecraft > .remove {
  color: rgba(250, 8, 8, 0.3);
}

.mission .spacecraft > .remove, .mission .spacecraft > .add {
  float: right;
  font-size: 20px;
}

.mission .spacecraft:after {
  content: "";
  display: table;
  clear: both;
}

.submit > .info > .action {
  margin-top: 10px;
}

.submit > button[disabled="disabled"] {
  opacity: 0.3;
}


#bottom-bar.expand {
  height: auto;
}

#bottom-bar.expand > .spacecrafts > .spacecraft {
  display: block;
}

.spacecrafts {
  text-align: center;
}

.spacecrafts > .spacecraft {
  padding: 5px;
  display: inline-block;
  font-size: 10px;
  line-height: 20px;
}

.spacecrafts > .spacecraft .icon {
  width: 50px;
}

.spacecrafts > .spacecraft .icon > .count {
  margin-top: -5px;
}

.spacecrafts > .spacecraft .icon > img {
  width: 30px;
  height: 30px;
  border-radius: 50%;

  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 1px;
}

.expand > .spacecrafts .spacecraft {
  height: 80px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2)
}

.expand > .spacecrafts .spacecraft > .icon {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.expand > .spacecrafts .spacecraft > .icon, .expand > .spacecrafts .spacecraft > .description {
  display: inline-block;
  float: left;
}

:not(.expand) > .spacecrafts .spacecraft > .description {
  display: none;
}

#bottom-bar.expand {
  background-color: rgba(24, 24, 24, 0.85);
}

.expand > .spacecrafts .spacecraft > .description {
  margin-left: 10px;
  text-align: left;
}

.expand > .spacecrafts .spacecraft > .description > span {
  display: block;
}

.expand > .spacecrafts .spacecraft > .description > .name {
  font-size: 13px;
}

.expand > .spacecrafts .spacecraft > .select {
  float: right;
  height: 30px;
  font-size: 20px;
  padding: 5px;
  margin: 10px 5px;
}

.expand:not(.and-select) > .spacecrafts .spacecraft > .select {
  display: none;
}
.spacecraft.disable{
  opacity: 0.5;
}
.spacecraft.disable > .select {
  visibility: hidden;
}

:not(.expand) > .spacecrafts > .collapse-bottom-bar {
  display: none;
}

.spacecrafts > .collapse-bottom-bar {
  height: 50px;
  width: 50px;
  padding: 15px;
  margin: -25px auto 0px auto;
  background-color: rgba(24, 24, 24, 0.85);
  border-radius: 50%;
  border: 1px solid rgba(254, 254, 254, 0.2);
}

.typewritter:not(.show), .cursor:not(.show){
  display: none !important;
}
.typewritter {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  -webkit-animation   : type 0.5s steps(60, end);
  animation           : type 0.5s steps(60, end);
  text-align: left;
}

@keyframes type {
  from {
    width: 0;
  }
}

.modal{
  position: fixed;
  top: 100px;
  width: calc(100% - 20px);
  text-align: center;
  background: white;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 5px;

  margin: 10px;
  padding: 15px;
  z-index: 105;

  -webkit-transition: transform 500ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
  -moz-transition:    transform 500ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
  -o-transition:      transform 500ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
  transition:         transform 500ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
}

.modal:not(.show){
  transform: translateY(-110vh);
}