@import 'config';

@import url(https://fonts.googleapis.com/css?family=Roboto:300,100,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,300);

#treniq{
  font-family: 'Roboto', sans-serif;

  overflow: hidden;
  h1{margin: 0px auto;}
  *{box-sizing: border-box;};
}

#to-top{
  position: fixed;
  bottom: $toTopIconSize + 10px;
  right: 10px;
  margin: 0px;
  padding: 0px;
  border: 1px solid transparent;
  outline: none;
  width: $toTopIconSize;
  height: $toTopIconSize;
  box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  background-color: rgba(0,0,0,0.5);
  color: rgba(255, 255, 255, 0.8);
  line-height: $toTopIconSize - 2px;
  text-align: center;
  @include transition(opacity, 500ms);
}

#treniq:not(.reading){
  #to-top{
    opacity: 0;
    pointer-events: none;
  }
}

@import 'states';
@import 'top-fixed-bar';
@import 'views';
@import 'sr-form';
@import '../../../lab/cards/css/cards';