$labelWidth: 100px;
.field{
  @extend .resize-container;
  padding: $padding 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  > label{
    width: $labelWidth;
    float: left;
  }
  >span{
    float: left;
    width: calc(100% - #{$labelWidth});
  }
}

.past-addresses.field,
.address.field{
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  > label{
    width: 100%;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.address.field{

}
.date{

  .day:after,
  .month:after{
    content: "/";
    padding: 0px 2px;
  }
}