<!DOCTYPE html>
<html ng-app>

<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../lib/normalize-3.0.2.css">
    <link rel="stylesheet" href="../lib/font-awesome-4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/index.css">

</head>

<body >
    <div class="miraze-play">
        <div class="root-dir">
            <h3>--root-dir</h3>
            <ul class="files-explorer">
                <li class="--files">
                    <label>files</label>
                    <ul class="files">
                        <li><label>expressions.json</label></li>
                    </ul>
                </li>
                <li class="mappings">
                    <label>mappings</label>
                    <ul class="files">
                        <li><label>expressions.json</label></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="editor">
            <ul class="tabs" ng-init="showTab = 2">
                <li class="tab" ng-click="showTab = 0" ng-class="{'selected' : showTab == 0}">
                    <div class="tab-head">--files/expressions.json<i class="close fa fa-close"></i></div>
                    <div class="tab-body"></div>
                </li>
                <li class="tab" ng-click="showTab = 1" ng-class="{'selected' : showTab == 1}">
                    <div class="tab-head">mappings/expressions.json<i class="close fa fa-close"></i></div>
                    <div class="tab-body"></div>
                </li>
                <li class="tab selected" ng-click="showTab = 2" ng-class="{'selected' : showTab == 2}">
                    <div class="tab-head">Run<i class="close fa fa-close"></i></div>
                    <div class="tab-body"></div>
                </li>
                <li class="tab-body-border"></li>
            </ul>
        </div>


    </div>
</body>
</html>
