<!DOCTYPE html>
<html >

<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../lib/normalize-3.0.2.css">
    <link rel="stylesheet" href="css/index.css">

    <script type="text/javascript" src="lib/angular-1.4.3.js"></script>

    <script src="lib/lodash-4.13.1.min.js"></script>
    <script src="lib/jsoneditor.min.js"></script>
    <script src="lib/ng-jsoneditor.min.js"></script>
    <link rel="stylesheet" href="lib/jsoneditor.css">

    <script src="lib/ace-1.1.8.js" type="text/javascript" charset="utf-8"></script>
    <script src="app.js" type="text/javascript" charset="utf-8"></script>

</head>

<body ng-app="miraze-play" ng-controller="ui-controller">
    <div class="miraze-play" ng-init="tabs = {current: 2}">
        <div class="root-dir">
            <h3>--root-dir</h3>
            <ul class="files-explorer">
                <li class="--files directory" ng-click="tabs.current = 0">
                    <label>--files</label>
                    <ul class="files">
                        <li class="file"  ng-class="{'selected' : tabs.current == 0}"><label>expressions.json</label></li>
                    </ul>
                </li>
                <li class="mappings directory" ng-click="tabs.current = 1">
                    <label>mappings</label>
                    <ul class="files">
                        <li class="file"  ng-class="{'selected' : tabs.current == 1}"><label>expressions.json</label></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="editor">
            <ul class="tabs">
                <li class="tab" ng-click="tabs.current = 0" ng-class="{'selected' : tabs.current == 0}">
                    <div class="tab-head">--files/expressions.json<i class="close"></i></div>
                    <div class="tab-body" ng-include="'templates/template-editor.html'"></div>
                </li>
                <li class="tab mapping-editor" ng-click="tabs.current = 1" ng-class="{'selected' : tabs.current == 1}">
                    <div class="tab-head">mappings/expressions.json<i class="close"></i></div>
                    <div class="tab-body" ng-include="'templates/mapping-editor.html'"></div>
                </li>
                <li class="tab runner selected" ng-click="tabs.current = 2" ng-class="{'selected' : tabs.current == 2}">
                    <div class="tab-head">Runner<i class="close"></i></div>
                    <div class="tab-body" ng-include="'templates/runner.html'">
                    </div>
                </li>
            </ul>
        </div>


    </div>
</body>
</html>
