<div class="dress-home card-container">
    <div class="dress card" ng-repeat="dress in home.dresses">
        <img ng-src="{{dress.images[0]}}">
        <div>
            <p class="head"></p>
            <button class="btn btn-primary">View</button>
        </div>
    </div>

    <div class="dress card" ng-repeat="i in [0, 1, 2, 3, 4 ,5]">
        <img ng-src="../rob-the-robe/carousel/carousel-{{$index%3 + 1}}.jpg">
        <div>
            <p class="head"></p>
            <button class="btn btn-primary">View</button>
        </div>
    </div>
</div>