$topBarHeight : 50px;
$articleHeight : calc(100vh  - #{$topBarHeight});
$articleWidth  : 100vw;

$mapHeight : calc((100vh  - #{$topBarHeight}) * 2);
$mapWidth  : calc(100vw * 2);

$topRight    : translateX(-$articleWidth);
$bottomRight : translateX(-$articleWidth) translateY(calc( -100vh  + #{$topBarHeight}));
$bottomLeft  : translateY(calc( -100vh  + #{$topBarHeight}));

#mapped{
  margin-top: $topBarHeight;
  overflow  : hidden;
  height    : $articleHeight;
  width     : $articleWidth;

  .articles{
    height    : $mapHeight;
    width     : $mapWidth;
    article{
      height: $articleHeight;
      width : $articleWidth;
      float : left;
      overflow: hidden;
    }
  }

  .articles.two{
    transform: $topRight;
  }
  .articles.three{
    transform: $bottomLeft;
  }
  .articles.other{
    transform: $bottomRight;
  }
}