$topBarHeight : 50px;
$articleHeight : calc(100vh  - #{$topBarHeight});
$articleWidth  : 100vw;

$mapHeight : calc((100vh  - #{$topBarHeight}) * 2);
$mapWidth  : calc(100vw * 2);

@mixin transform( $property) {
  -webkit-transform: $property;
  -moz-transform: $property;
  -ms-transform: $property;
  -o-transform: $property;
  transform: $property;
}

#mapped{
  margin-top: $topBarHeight;
  overflow  : hidden;
  height    : $articleHeight;
  width     : $articleWidth;

  .articles{
    height    : $articleHeight;
    width     : 4 * $articleWidth;
    article{
      height: $articleHeight;
      width : $articleWidth;
      float : left;
      overflow: hidden;
    }
  }

  .articles.two{
    @include transform(translateX(-$articleWidth))
  }

  .articles.three{
    @include transform(translateX(2 * -$articleWidth));
  }

  .articles.other{
    @include transform(translateX(3 * -$articleWidth));
  }
}