
$linkHeight       : 30px;
$linkWidth        : 100px;
$linkPad          : 5px;
$indicatorHeight  : 2px;

@mixin transform( $property) {
  -webkit-transform: $property;
  -moz-transform: $property;
  -ms-transform: $property;
  -o-transform: $property;
  transform: $property;
}


.menu{
  width: $linkWidth * 4;
  height: $linkHeight + $indicatorHeight;
  .section-links{
    list-style: none;
    display: block;
    float: left;
    margin: 0px;
    padding: 0px;

    li{
      display: inline-block;
      float: left;
      width: $linkWidth;
      height: $linkHeight;
      margin: 0px;
      text-align: center;
      padding: 0px $linkPad;
    }
  }

  .indicator{
    display: block;
    float: left;

    width: 100%;
    height: $indicatorHeight;

    .pointer{
      position: relative;
      left: $linkPad;

      width: $linkWidth - $linkPad;
      height: 100%;
      background-color: #4a89dc;
    }
  }
}

.two .pointer{
  @include transform(translateX($linkWidth))
}

.three .pointer{
  @include transform(translateX(2 * $linkWidth))
}

.other .pointer{
  @include transform(translateX(3 * $linkWidth))
}


