#state.overview-only{
  .scrum{
    .sprint{
     .analysis, .automation, .development, .demo{
        .card {
          > label {
            color: transparent;
          }
        }
      }
      .atdd{
        background-color: $atddCardColor;
        .tdd{
          background-color: $tddColor;
          .subject-title{
            color: $tddFontColor;
          }
          .card{
            > ul > li {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}