<!DOCTYPE html>
<html>

<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <!-- external css-->
    <link rel="stylesheet" href="../../lib/normalize-3.0.2.css">
    <link rel="stylesheet" href="../../lib/font-awesome-4.5.0/css/font-awesome.min.css">

    <!-- app css-->
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/audiences.css">

    <link rel="stylesheet" href="css/sections/power-view.css">
    <link rel="stylesheet" href="css/sections/sections.css">
    <link rel="stylesheet" href="css/sections/filters.css">
    <link rel="stylesheet" href="app/audiences/audience-form.css">

    <style>
        * {
            box-sizing: border-box;
        }

    </style>
</head>

<body ng-app="xsaas">
    <nav id="top-bar">

    </nav>

    <article id="power-access" ng-class="{'show-menu' : __showMenu}">
        <section id="audiences">
            <header class="header">
                <span class="title">audiences</span>
                <div class="filter-box">
                    <div class="filter-button" ng-click="__showMenu = !__showMenu">
                        <span class="fa fa-filter"></span>
                    </div>

                    <ul class="filters undo-list">
                        <li class="filter"
                            ng-repeat="f in [{name: 'running'}, {name: 'saved'}, {name: 'recent'}, {name: 'custom'}, {name: 'lookalike'}]">
                            {{f.name}}
                            <span class="fa fa-close"></span>
                        </li>
                    </ul>
                </div>
            </header>
            <div class="content" ng-include="'app/audiences/audience-form.html'"></div>
        </section>
        <div id="filter-menu-wrapper" ng-mouseleave="__showMenu = false">
            <div class="filter-menu">
                <div class="marker"></div>
                <div>clear all</div>
            </div>
        </div>
    </article>


    <script src="../../lib/angular-1.4.3.js"></script>
    <script src="../../lib/jquery-2.1.4.min.js"></script>

    <script src="app/app.js"></script>
    <script src="app/audiences/audiences.js"></script>
    <script src="app/audiences/audience-form-controller.js"></script>
    <script src="app/audiences/editor.scrollable.js"></script>
<script></script>
</body>

</html>

