<!DOCTYPE html>
<html>

<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <!-- external css-->
    <link rel="stylesheet" href="../../lib/normalize-3.0.2.css">
    <link rel="stylesheet" href="../../lib/font-awesome-4.5.0/css/font-awesome.min.css">

    <!-- app css-->
    <link rel="stylesheet" href="css/app.css">

    <link rel="stylesheet" href="css/sections/power-view.css">
    <link rel="stylesheet" href="css/sections/sections.css">
    <link rel="stylesheet" href="css/sections/filters.css">
    <link rel="stylesheet" href="css/sections/table.css">
    <link rel="stylesheet" href="app/campaigns/campaigns-table.css">

    <style>
        * {
            box-sizing: border-box;
        }
        .lime-green{
            background-color: #8BC34A;
        }
        .green{
            background-color: #4caf50;
        }
        .blue{
            background-color: #4d8dff;
        }
    </style>
</head>

<body ng-app="xsaas">
    <nav id="top-bar">

    </nav>

    <article id="power-access" class=" {{ui.section}} {{ui.showMenu}}" ng-class="{'show-menu' : ui.showMenu}" ng-controller="CampaignsController">
        <section id="campaigns" ng-click="ui.section = 'show-campaigns'">
            <header class="header">
                <span class="title">Campaigns</span>
                <div class="filter-box">
                    <div class="filter-button" ng-click="ui.showCampaigns()">
                        <span class="fa fa-filter"></span>
                    </div>

                    <ul class="filters undo-list">
                        <li class="filter"
                            ng-repeat="f in [5, 4]">
                            filter-{{$index}}
                            <span class="fa fa-close"></span>
                        </li>
                    </ul>
                </div>
            </header>
            <div class="content" ng-include="'app/campaigns/campaigns-table.html'"></div>
        </section>

        <section id="adsets" ng-click="ui.section = 'show-adsets'">
            <header class="header">
                <span class="title">Adsets</span>
                <div class="filter-box">
                    <div class="filter-button" ng-click="ui.showAdsets();">
                        <span class="fa fa-filter"></span>
                    </div>

                    <ul class="filters undo-list">
                        <li class="filter"
                            ng-repeat="f in [3,4]">
                            filter-{{$index}}
                            <span class="fa fa-close"></span>
                        </li>
                    </ul>
                </div>
            </header>
            <div class="lime-green content" ng-include="'app/campaigns/campaigns-table.html'"></div>
        </section>

        <section id="ads" ng-click="ui.section = 'show-ads'">
            <header class="header">
                <span class="title">Ads</span>
                <div class="filter-box">
                    <div class="filter-button" ng-click="ui.showAds()">
                        <span class="fa fa-filter"></span>
                    </div>

                    <ul class="filters undo-list">
                        <li class="filter"
                            ng-repeat="f in [1,2]">
                            filter-{{$index}}
                            <span class="fa fa-close"></span>
                        </li>
                    </ul>
                </div>
            </header>
            <div class="green content" ng-include="'app/campaigns/campaigns-table.html'"></div>
        </section>

        <div id="filter-menu-wrapper" ng-mouseleave="ui.showMenu = false;">
            <div class="filter-menu">
                <div class="marker"></div>
                <div>clear all</div>
            </div>
        </div>
    </article>


    <script src="../../lib/angular-1.4.3.js"></script>
    <script src="app/app.js"></script>
    <script src="app/campaigns/campaigns.js"></script>
    <script src="app/campaigns/campaigns-controller.js"></script>
</body>

</html>
