<!DOCTYPE html>
<html>

<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <!-- external css-->
    <link rel="stylesheet" href="../../lib/normalize-3.0.2.css">
    <link rel="stylesheet" href="../../lib/font-awesome-4.5.0/css/font-awesome.min.css">

    <!-- app css-->
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/power-view.css">
    <link rel="stylesheet" href="css/sections.css">
    <link rel="stylesheet" href="css/filters.css">

    <style>
        * {
            box-sizing: border-box;
        }
        .red{
            background-color: #ff5e46;
        }
        .green{
            background-color: #4caf50;
        }
        .blue{
            background-color: #4d8dff;
        }
    </style>
</head>

<body ng-app>
    <nav id="top-bar">

    </nav>

    <article id="power-access" class="{{__section}}" ng-class="{'show-menu' : __showMenu}">
        <section id="campaigns" ng-click="__section = 'show-campaigns'">
            <header class="header">
                <span class="title">Campaigns</span>
                <div class="filter-box">
                    <div class="filter-button fa fa-filter" ng-click="__showMenu = !__showMenu;"></div>

                    <ul class="filters undo-list">
                        <li class="filter"
                            ng-repeat="f in [1, 2, 3, 4, 5, 6, 7, 8, 9,10, 11, 12,13,14,15, 16, 17]">
                            filter-{{$index}}
                            <span class="fa fa-close"></span>
                        </li>
                    </ul>
                </div>
            </header>
            <div class="red content"></div>
        </section>

        <section id="adsets" ng-click="__section = 'show-adsets'">
            <header class="header">
                <span class="title">Adsets</span>
            </header>
            <div class="blue content"></div>
        </section>

        <section id="ads" ng-click="__section = 'show-ads'">
            <header class="header">
                <span class="title">Ads</span>
            </header>
            <div class="green content"></div>
        </section>

        <div id="filter-menu-wrapper">
            <div class="filter-menu">
                <div>clear all</div>
            </div>
        </div>
    </article>


    <script src="../../lib/angular-1.4.3.js"></script>
</body>

</html>
