.home.page{
  text-align    : center;
  font-family   : 'Raleway', sans-serif;
  letter-spacing: 1px;

  .logo{
    margin      : 0px;
    font-size   : 80px;
    line-height : 200px;
  }
  .navigation{
    @extend .inline-list;

    .link{
      font-size   : 40px;
      line-height : 50px;
      display     : inline-block;
      min-width       :200px;
    }
  }
}
