$topBarHeight : 50px;
$articleHeight : calc(100vh  - #{$topBarHeight});
$articleWidth  : 100vw;

@mixin transform( $property) {
  -webkit-transform: $property;
  -moz-transform: $property;
  -ms-transform: $property;
  -o-transform: $property;
  transform: $property;
}

.tetris{
  height: $articleHeight;
  width: $articleWidth;
  overflow: hidden;
  display: table-row;
}

.articles{
  width: $articleWidth * 4;
}

.articles article{
  height: $articleHeight;
  width: $articleWidth;
  display: table-cell;
  overflow: hidden;
}

.articles article .sections{
  height: $articleHeight;
}

.articles article section{
  height: $articleHeight;
  width: $articleWidth;
  text-align: center;
  padding-top: 30vh;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
}

#tetris .articles article.a{
  background-color: #008040;
}

#tetris .articles article.b{
  background-color: #FFD479;
}

#tetris .articles article.c{
  background-color: #76D6FF;
}

#tetris .articles article.d{
  background-color: #FF7E79;
}

#tetris.b .articles{
  @include transform(translateX(-$articleWidth));
}

#tetris.c .articles{
  @include transform(translateX(-$articleWidth * 2));
}

#tetris.d .articles{
  @include transform(translateX(-$articleWidth * 3));
}