<!DOCTYPE html>
<html>
<head>
    <title>aomeba.social</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>

<div id="app" class="intro" ng-app="amoeba">
    <div id="top-fixed-bar">
        <div class="app bar">
            <ul class="undo-list">
                <li class="logo"><a>
                    <img src="../images/logo.png">
                </a></li>
                <li class="search">
                    <span class="fa fa-search"></span>
                    <input type="text" placeholder="search">
                </li>
                <!--<li class="icons">-->
                <!--<ul class="undo-list">-->
                <!--<li class="messages">-->
                <!--<span class="fa fa-comments"></span>-->
                <!--<label >5</label>-->
                <!--</li>-->
                <!--<li class="account">-->
                <!--<span class="fa fa-user"></span>-->
                <!--<label >user</label>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</li>-->
            </ul>
        </div>
        <div class="navigation bar">
            <ul class="undo-list">
                <li class="link home"        ><a href="#/all">All</a></li>
                <li class="link furniture"   ><a href="#/home" >Agility</a></li>
                <li class="link lighting"    ><a href="#/dashboard">AngularJS</a></li>
                <li class="link decor"       ><a >UI / UX</a></li>
                <li class="link blog"        ><a >Blog</a></li>
                <li class="link collections" style="display: none"><a>My collections</a></li>
            </ul>
            <div class="indicator"></div>
        </div>
    </div>

    <div id="home-fixed-bg">
        <img src="../images/show-biz.jpg">
        <div class="overlay">
            <!--<h1>amoeba.social</h1>-->
            <img class="as-logo" src="../images/royal%20graphite.png">
        </div>
    </div>
    <div class="intro-padding"></div>
    <article class="contents">
        <div class="psudeo-shadow"></div>
        <div class="state">
            <div class="introduction">
                <h1>JSO-NG</h1>
                <h3>let the json drive your development</h3>
            </div>

        <div id="slate" class="slate">
            <ul class="deck grid"
                ng-controller="deckController"
                ng-class="{'focus' : deck.current != -1}">
                <li class="grid-box all"
                    ng-repeat="card in deck.cards"
                    ng-click="deck.current = deck.current == $index ? -1 : $index"
                    ng-init="type =  ($index % 2 == 0) ? 'home' : (($index % 3 == 0 ? 'dashboard' : ''))"
                    ng-class="{'home': $index % 2 == 0,'selected' : deck.current == $index, 'selected-head' : deck.current < $index - 1, 'selected-tail' : deck.current > $index + 1, 'selected-pre' : deck.current == $index - 1,'selected-post' : deck.current == $index + 1}">
                    <div class="card">
                        <h1 ng-bind="card.title"></h1>
                        <p ng-bind="card.description"></p>
                        <div class="card-action">
                            <button class="green open">Open</button>
                            <button class="blue close">Close</button>
                        </div>
                        <div class="card-footer">
                            <div class="green bar"></div>
                            <div class="active blue bar"></div>
                        </div>
                    </div>
                </li>


            </ul>
            <div id="modal">
                <div class="modal-body">
                    <ul class="code-demo" ng-controller="snippetController">

                        <li class="request" ng-show="snippet.request">
                            <div class="snippet card">
                                <textarea class="code"
                                          snippet="snippet.request"
                                          mode="application/ld+json"></textarea>
                                <div class="card-action">
                                    <button class="blue">request body</button>
                                </div>
                                <div class="card-footer">
                                    <div class="blue bar"></div>
                                </div>
                            </div>
                        </li>

                        <li class="request" ng-show="snippet.controller">
                            <div class="snippet card">
                                <textarea class="code"
                                          snippet="snippet.controller"
                                          mode="application/ld+json"></textarea>
                                <div class="card-action">
                                    <button class="blue">script.js</button>
                                </div>
                                <div class="card-footer">
                                    <div class="blue bar"></div>
                                </div>
                            </div>
                        </li>

                        <li class="request" ng-show="snippet.template">
                            <div class="snippet card">
                                <textarea class="code"
                                          snippet="snippet.template"
                                          mode="application/ld+json"></textarea>

                                <div class="card-action">
                                    <button class="blue">template.json</button>
                                </div>
                                <div class="card-footer">
                                    <div class="blue bar"></div>
                                </div>
                            </div>
                        </li>

                        <li class="response" ng-show="snippet.response">
                            <div class="snippet card">
                                <textarea class="code"
                                          snippet="snippet.response"
                                          mode="application/ld+json"></textarea>
                                <div class="card-action">
                                    <button class="blue">response.json</button>
                                </div>
                                <div class="card-footer">
                                    <div class="blue bar"></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </div>

    </article>
    <h1 id="logo">amoeba.social</h1>
    <div id="footer">
        Copyright © 2016 Nishant Singh. <br> All Rights Reserved.
    </div>

</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>

<script src="js/app.js"></script>

<link rel="stylesheet" href="../dump/lib/code-mirror/codemirror.css"/>
<script src="../dump/lib/code-mirror/codemirror.js"></script>

<!-- code mirror modes for mixed html(dependent on xml, css and js modes -->
<script src="../dump/lib/code-mirror/xml-mode.js"></script>
<script src="../dump/lib/code-mirror/js-mode.js"></script>
<script src="../dump/lib/code-mirror/css-mode.js"></script>
<script src="../dump/lib/code-mirror/html-mixed-mode.js"></script>

</body>
</html>