<form class="login-form" name="loginForm" ng-controller="LoginController">
    <div class="field">
        <label>Email</label>
        <input name="email" type="email" ng-model="login.form.email">
    </div>
    <div class="field">
        <label>Password</label>
        <input name="password" type="password" ng-model="login.form.password">
    </div>

    <div class="error">
        <div ng-bind="login.form.error"></div>
    </div>

    <div class="action">
        <button class="primary" ng-click="login.form.submit()">Sign In</button>
    </div>
    <div class="options">
        <div class="next link" ng-click="auth.user_exists = false">
            <a >Create Account
                <i class="fa fa-chevron-right"></i></a>

        </div>
    </div>
</form>