#menu-window-wrapper{
  position: fixed;
  top: 0px;
  left: 0px;

  height: 100vh;
  width: 100vw;

  z-index: 2;
  #menu-window{
    background-color: black;
    height: 100%;
    width: 100%;
    color: white;

    @include transition(all, 100ms);
  }
}

#app:not(.show-menu){
  #menu-window-wrapper{
    @include transform(scale(0));
    #menu-window{
      opacity: 0;
      @include transform(scale(5));
    }
  }
}