.missions {
  text-align: center;
}

.missions > .mission,
.submit {
  text-align: left;
  border-bottom: 1px solid #EEE;
}

.missions > .mission {
  display: inline-block;
}

.missions > .mission.ignored {
  opacity: 0.3;
}

.mission .ignore {
  color: rgba(0, 0, 0, 1);
}

.submit > .info > .action {
  margin-top: 10px;
}

.mission > .icon{
  width: 90px;
}

.mission > .info{
  font-size: 13px;
  width: 180px;
}

.mission > .action{
float: left;
font-size: 30px;
padding: 25px 10px;
width: calc(100% - 270px);
}

.mission > .action > .cancel{
  color: #FB6464;
}
