<!DOCTYPE html>
<html>

<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../lib/normalize-3.0.2.css">
    <link rel="stylesheet" href="../../lib/font-awesome-4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/index.css">

    <style>
        /* this style applies to loader while app css is loading*/
        .loader.page{
            position: fixed;
            top:0px;
            left:0px;
            z-index: 9999;

            height: 100vh;
            width: 100vw;
        }
        .loader.page > .content{
            background-color: black;
            color: white;
            text-align : center;
            height: 100%;
            width: 100%;
        }

    </style>

</head>

<body>
    <div id="app"
         ng-controller="UIController"
         ng-init="ui.loadSession()">

        <div class="home page" display="ui.user">
            <div class="content" ng-controller="homeController">
                <h1 >Welcome {{ui.user.name}}</h1>
                <div ng-include="'app/home/mails.html'"></div>
            </div>
        </div>

        <div class="login page" display="!ui.user">
            <div class="content">
                <form class="login" ng-controller="loginFormController">
                    <input name="email"
                           type="email"
                           ng-model="loginForm.email"
                           placeholder="company email">
                    <input name="password"
                           type="password"
                           ng-model="loginForm.password"
                           placeholder="password">
                    <button ng-click="loginForm.submit();">Login</button>
                </form>
            </div>
        </div>

        <div class="loader page" display="!ui.ready">
            <div id="loader" class="content">
                <h1>Loading...</h1>
            </div>
        </div>
    </div>

    <script src="../../lib/jquery-2.1.4.min.js"></script>
    <script src="../../lib/angular-1.4.3.js"></script>

    <script src="app/app.js"></script>
    <script src="app/ui-controller.js"></script>
    <script src="app/login/login-service.js"></script>
    <script src="app/login/login-form-controller.js"></script>
    <script src="app/home/home-controller.js"></script>

    <script src="app/mails/mail-service.js"></script>

    <script src="app/components/display.js"></script>

    <script>
        angular.bootstrap(
                document.getElementById("app"),
                ["referral.jobs"]);

    </script>
</body>
</html>
