@import '../config';

#intro{
  color: white;
  text-transform: uppercase;
  .left,.right{
    width: 50%;
    height: 100%;
  }
  .left{
    float: left;
    h1{
      font-size: 60px;
      line-height: 60px;
      @extend .very-heavy-text;
      .fa{
        color: #FFCC00;
      }
      .bang{
        color: #FFCC00;
      }
    }
    h3{
      .welcome{
        @extend .light-text;
      }
      .brand{
        color: #FFCC00;
        @extend .very-heavy-text;
      }
    }
  }
  .right{
    float: right;
    padding-top: 50px;
    img{
      float: right;
      height: 240px;
      margin-right: -60px;
    }
  }
}
