$themeColor:  #2D3E50;
$topBarHeight: 60px;
$topBarLineHeight: 50px;

.navigation-bar, .navigation-menu{
  font-size: 20px;
  line-height: $topBarLineHeight;
  padding: 5px;
}
.navigation-bar{
  height: $topBarHeight;

  background-color: $themeColor;
  color: rgba(200,200,200,0.95);

  text-align: right;

  .logo-and-call{
    float: left;
  }

  .logo, .call-us{
    padding-left: 5px;
  }

  .search{
    display: inline-block;
    background-color: transparent;

    input, span{
      border: none;
      outline: none;
      box-shadow: none;
      background-color: transparent;
      padding-left: 10px;
      padding-right: 10px;

      height: $topBarLineHeight ;
      line-height: $topBarLineHeight ;
    }
  }

  .search.active{
    input{background-color: white;}
    outline: 1px solid rgba(255, 255, 255, 0.1);
  }

  .show-menu{
    width: 50px;
    text-align: center;
  }
}

.navigation-menu{
  text-align: right;
  padding-right: 15px;
  color: #C1C2C3;
  background-color: $themeColor;

  height: 0px;
  overflow: hidden;
}

.navigation-menu.active{
  border: 1px solid rgba(255, 255, 255, 0.1);
  height: auto;
  overflow: auto;

}