<div class="navigation-bar">
    <span class="logo">flipper</span>
    <span class="call-us "><span class="glyphicon glyphicon-earphone"></span></span>
    <div  ng-hide="true" class="search" ng-class="{'active' : __activateSearch}"></span><input ng-click="__activateSearch = true" type="search"><span ng-click="__activateSearch = !__activateSearch" class="search-icon glyphicon glyphicon-search"></div>
    <span class="show-menu" ng-click="__showMenu = !__showMenu"><span class="search-icon glyphicon glyphicon-align-justify"></span></span>
</div>
<div class="navigation-menu" ng-class="{'active' : __showMenu}" ng-click="__showMenu = false">
    <div class="navigation-option" > <a ui-sref="home">Ethnic Collection</a></div>
    <div class="navigation-option">  <a ui-sref="dress">Western Collection</a></div>
    <div class="navigation-option">Footwears</div>
</div>