$themeColor:  #2D3E50;
$topBarHeight: 60px;
$topBarLineHeight: 50px;

.navigation-bar{
  height: $topBarHeight;

  font-size: 20px;
  line-height: $topBarLineHeight;

  background-color: $themeColor;
  color: rgba(200,200,200,0.95);

  padding: 5px;
  text-align: right;

  .logo, .call-us{
    float: left;
    padding-left: 5px;
  }

  .search{
    display: inline-block;
    background-color: transparent;

    input, span{
      border: none;
      outline: none;
      box-shadow: none;
      background-color: transparent;
      padding-left: 10px;
      padding-right: 10px;

      height: $topBarLineHeight ;
      line-height: $topBarLineHeight ;
    }
  }

  .search.active{
    input{background-color: white;}
    outline: 1px solid rgba(255, 255, 255, 0.1);
  }

  .show-menu{
    width: 50px;
    text-align: center;
  }
}

.navigation-menu.active{
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: $themeColor;
  height: 300px;
}