$imageWidth: 250px;
$imageHeight: 250px;

$cardHeight: auto;
$cardBorder : 1px;

$cardWidth: $imageWidth + 10px;
$cardPadding : 5px;

$captionHeight: 60px;
$buttonHeight: 45px;

.card{
  display: block;
  box-sizing: border-box;

  height: $cardHeight;
  width: $cardWidth;
  overflow: hidden;

  text-align: center;
  border: 1px solid rgba(1, 1, 1, 0.1);
  padding: $cardPadding;

  .picture{
    img{
      width: $imageWidth;
      height: $imageHeight;
      box-sizing: border-box;
    }
  }
  .caption{
    height: $captionHeight;
    .title{
      font-size: 2em;
      display: block;
    }
  }
  button.open{
    width: 80%;
    height: $buttonHeight;
  }
}