$appBarHeight : 60px;

.top-bar{
  border-bottom : 1px solid $lightBorderColor;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);

  .trade-mark{
    @extend .resize-container;
    padding: $padding;

    .practice-labs, .studio{
      float       : left;
      padding     : 0px 2 * $padding;
      height      : $appBarHeight - 2 * $padding;
      line-height : $appBarHeight - 2 * $padding;
    }

    .practice-labs{
      font-size   : 22px;
      border-right: 1px solid $lightBorderColor;
    }

    .studio{
      font-size   : 18px;
      opacity     : 0.5;
      font-weight : bold;
    }
  }
}