@import "home/home";
$bodyBgColor: #080808;
$blackTint  : rgba(0, 0, 0, 0.1);

body{
  margin: 0;
  padding: 0;
  background-color: $bodyBgColor;

  #app{
    .contents{
      margin-top : 100vh;
      height: 200vh;
      background-color: white;
    }

    #home-fixed-bg{
      top: 0;
      left: 0;
      position: fixed;
      z-index: -1;
      img, .overlay{
        width: 100vw;
        height: 100vh;
      }
      .overlay{
        position: relative;
        top: -100vh;
        background-color: $blackTint;

        h1{
          position: absolute;
          top: 0;
          width: 100%;
          line-height: 100vh;
          text-align: center;
          color: #CDCDCD;
          font-size: 60px;
        }
      }
    }
  }
}

@import "style/scroll-hack";