$linkWidth: 110px;

#state.home{
  .navigation.bar{
    .link.home{
      cursor: default;
      > a{
        opacity: 0.6;
        transform: none !important;
      }
    }
    .indicator{
      @include transform(translateX(0px));
    }
  }
  #views > li.home.drift > .page{
    @include transform(translateX(0px));
  }
}

#state.furniture{
  .navigation.bar{
    .link.furniture {
      cursor: default;
      > a{
        opacity: 0.6;
        transform: none !important;
      }
    }
    .indicator{
      @include transform(translateX($linkWidth));
    }
  }
  #views > li.furniture.drift > .page{
    @include transform(translateX(0px));
  }
}
#state.lighting{
  .navigation.bar{
    .link.lighting {
      cursor: default;
      > a{
        opacity: 0.6;
        transform: none !important;
      }
    }
    .indicator{
      @include transform(translateX(2 * $linkWidth));
    }
  }
  #views > li.lighting.drift > .page{
    @include transform(translateX(0px));
  }
}
#state.decor{
  .navigation.bar{
    .link.decor{
      cursor: default;
      > a{
        opacity: 0.6;
        transform: none !important;
      }
    }
    .indicator{
      @include transform(translateX(3 * $linkWidth));
    }
  }
  #views > li.decor.drift > .page{
    @include transform(translateX(0px));
  }
}

#state.blog{
  .navigation.bar{
    .link.blog{
      cursor: default;
      > a{
        opacity: 0.6;
        transform: none !important;
      }
    }
    .indicator{
      @include transform(translateX(4 * $linkWidth));
    }
  }
  #views > li.blog.drift > .page{
    @include transform(translateX(0px));
  }
}