$rowHeight : $topBarHeight;

section.hints{
  max-height: $rowHeight;
  @include transition(max-height $slowDuration);
  overflow: hidden;
  border     : 1px solid $lightBorderColor;
  border-radius: $borderRadius;

  > .title{
    display    : block;
    margin     : 0px;
    height     : $rowHeight;
    line-height: $rowHeight;
    text-align : center;
    width      : 100%;
    font-size  : 1.5em;
  }
  ul.hints{
    @extend .undo-list;
    > li {
      border-top  : 1px solid $lightBorderColor;
      padding    : 0px $padding * 1.5;
      background-color: $white;
      .heading{
        height     : $rowHeight;
        line-height: $rowHeight;
        padding-left: $padding;
      }
      .hint{
        pointer-events: none;
        padding-bottom: $padding;
        border-top  : 1px solid $lightBorderColor;
      }
    }
  }
}

section.hints:hover{
  @include transition(max-height $slowDuration ease);
  max-height: 5000vh;
}