ul.undo-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: block; }

input {
  padding: 0px;
  margin: 0px;
  display: block;
  box-sizing: border-box;
  border: none; }

#slate {
  overflow: hidden;
  height: 100vh; }
  #slate h1 {
    margin: 0px auto; }
  #slate * {
    box-sizing: border-box; }
  #slate nav {
    height: 60px;
    background-color: black;
    width: 100%; }
  #slate .grid {
    height: calc(100% - 60px); }

ul.grid {
  margin: 0;
  padding: 10px;
  display: block;
  list-style: none;
  text-align: left;
  width: 100%;
  overflow: auto; }
  ul.grid > li {
    padding: 10px;
    display: inline-block;
    will-change: transform;
    -webkit-transition: opacity 400ms ease, transform 400ms ease;
    -moz-transition: opacity 400ms ease, transform 400ms ease;
    -o-transition: opacity 400ms ease, transform 400ms ease;
    transition: opacity 400ms ease, transform 400ms ease; }

.grid.focus {
  pointer-events: none; }
  .grid.focus li.selected {
    pointer-events: none; }
  .grid.focus li.selected-head {
    -webkit-transform: translateY(50px) rotate(0deg);
    -moz-transform: translateY(50px) rotate(0deg);
    -ms-transform: translateY(50px) rotate(0deg);
    -o-transform: translateY(50px) rotate(0deg);
    transform: translateY(50px) rotate(0deg); }
  .grid.focus li.selected-tail {
    -webkit-transform: translateY(-50px) rotate(0deg);
    -moz-transform: translateY(-50px) rotate(0deg);
    -ms-transform: translateY(-50px) rotate(0deg);
    -o-transform: translateY(-50px) rotate(0deg);
    transform: translateY(-50px) rotate(0deg); }
  .grid.focus li.selected-pre {
    -webkit-transform: translateX(50px) rotate(0deg);
    -moz-transform: translateX(50px) rotate(0deg);
    -ms-transform: translateX(50px) rotate(0deg);
    -o-transform: translateX(50px) rotate(0deg);
    transform: translateX(50px) rotate(0deg); }
  .grid.focus li.selected-post {
    -webkit-transform: translateX(-50px) rotate(0deg);
    -moz-transform: translateX(-50px) rotate(0deg);
    -ms-transform: translateX(-50px) rotate(0deg);
    -o-transform: translateX(-50px) rotate(0deg);
    transform: translateX(-50px) rotate(0deg); }
  .grid.focus li:not(.selected) {
    opacity: 0; }

.card {
  will-change: transform;
  height: 250px;
  width: 250px;
  border: 1px solid rgba(128, 128, 128, 0.14); }
  .card img {
    width: 100%; }

.loader .blipper {
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  margin: 100px auto;
  height: 60px;
  text-align: center;
  font-size: 10px; }
.loader .blipper > .bar {
  height: 100%;
  width: 12px;
  display: inline-block;
  -webkit-animation: blip 1.2s infinite ease-in-out;
  animation: blip 1.2s infinite ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(51, 51, 51, 0.1); }
.loader .blipper .bar:nth-child(2) {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }
.loader .blipper .bar:nth-child(3) {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }
.loader .blipper .bar:nth-child(4) {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }
.loader .blipper .bar:nth-child(5) {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }
@-webkit-keyframes blip {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1); } }
@keyframes blip {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4); }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1); } }
#slate:not(.show-modal) .loader, .loader.no-display {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0); }
  #slate:not(.show-modal) .loader .blipper, .loader.no-display .blipper {
    opacity: 0; }

#slate .modal {
  position: relative;
  top: calc(-100vh + 60px);
  height: calc(100% - 60px);
  min-width: 100vw;
  background-color: transparent;
  padding: 10px;
  pointer-events: none; }
  #slate .modal .content, #slate .modal .overview {
    padding: 10px;
    height: 100%;
    float: left; }
  #slate .modal .overview .card-space {
    width: 250px;
    height: 250px; }
  #slate .modal .overview .card-actions {
    -webkit-transition: transform 400ms ease;
    -moz-transition: transform 400ms ease;
    -o-transition: transform 400ms ease;
    transition: transform 400ms ease;
    width: 250px;
    height: 300px;
    pointer-events: all;
    padding: 10px; }
    #slate .modal .overview .card-actions button {
      width: 100%;
      height: 50px;
      background-color: rgba(0, 0, 0, 0.075);
      border: 1px solid rgba(0, 0, 0, 0.05); }
  #slate .modal .content {
    -webkit-transition: transform 500ms ease, opacity 1000ms ease;
    -moz-transition: transform 500ms ease, opacity 1000ms ease;
    -o-transition: transform 500ms ease, opacity 1000ms ease;
    transition: transform 500ms ease, opacity 1000ms ease;
    width: calc(100% - 270px);
    position: relative; }
    #slate .modal .content .frame, #slate .modal .content .loader {
      position: absolute;
      top: 0;
      left: 0; }
    #slate .modal .content .frame {
      height: 100%;
      width: 100%;
      overflow: auto;
      background-color: white;
      border: none;
      pointer-events: all; }
    #slate .modal .content .loader {
      display: none;
      position: relative;
      pointer-events: all;
      height: 100%;
      width: 100%;
      background-color: #f5f5f5;
      text-align: center;
      padding: 100px; }

#slate:not(.show-modal) .modal {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition-delay: 400ms;
  -moz-transition-delay: 400ms;
  -ms-transition-delay: 400ms;
  -o-transition-delay: 400ms;
  transition-delay: 400ms; }
  #slate:not(.show-modal) .modal .overview .card-actions {
    -webkit-transform: translateY(100vh);
    -moz-transform: translateY(100vh);
    -ms-transform: translateY(100vh);
    -o-transform: translateY(100vh);
    transform: translateY(100vh); }
  #slate:not(.show-modal) .modal .content {
    -webkit-transform: translateX(100vw);
    -moz-transform: translateX(100vw);
    -ms-transform: translateX(100vw);
    -o-transform: translateX(100vw);
    transform: translateX(100vw);
    opacity: 0; }
    #slate:not(.show-modal) .modal .content .frame:not(.show) {
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0); }

/*# sourceMappingURL=index.css.map */
