@import 'config';

$modalBackdrop: rgba(0,0,0,0);
$contentTransitionDuration : $transitionDuration + 100;

#slate{
  overflow: hidden;
  height: 100vh;
  h1{margin: 0px auto;}
  *{box-sizing: border-box;};
  nav{
    height: $navigationBarHeight;
    background-color: black;
    width: 100%;
  }
  .deck{
    height: calc(100% - #{$navigationBarHeight});
  }
}

@import 'deck';
@import 'cards';
@import 'loader';
@import 'modal';
