@import 'modules/fonts';

#x{

  body  {
    @extend .body-font;
  }

  .bar {
    color: grey;
  }

  .full-width {
    width: 100%;
  }

  .absolute-position {
    position: absolute;
  }

  .top-position {
    top: 0;
  }
  .display-inline{
    display: inline-block;
  }
  .text-align-right{
    text-align: right;
  }

  .xbutton{
    @extend .title-font;
    color: rgb(83, 88, 95);
    font-size: 13px;
    padding: 20px 10px 5px 10px;
    height: 100%;
    text-align: center;
  }

  .xbutton:hover{
    //transform: scale(1.1);
    background-color: rgb(218, 220, 222);
    opacity: 0.8;
  }

  #top-bar2{
    width: 100%;
    padding-left: 10px;
    background-color: rgb(237, 239, 241);
    height: 65px;

    #brand-logo{
      display: inline-block;
      height: 100%;
    }

    #section-menu-buttons{
      display: inline-block;
      width: 500px;
      height: 100%;
      #menu-buttons-wrapper{
        width: 100%;
        height: 100%;
        .menu-buttons{
          display: inline-block;
          margin: 0;
          width: 90px;
        }
      }
    }

    #business-indicator-wrapper{
      display: inline-block;
      height: 100%;
      .business-indicator{
        display: inline-block;
        //width: 300px;
      }
    }


    #application-actions{
      height: 100%;
      float: right;
      display: inline-block;
      .app-button{
        display: inline-block;
      }
      padding-right: 10px;
    }
  }
}