@import "config";

$toolTipMargin : 5px;
$toolIconSize  : 15px;

.tool-tip {
  margin-left: $toolTipMargin;
  margin-right: $toolTipMargin;
  display: inline-block;
  overflow: hidden;
}

.tool-tip,.tool-tip > .tool{
  width: $toolIconSize;
  height: $toolIconSize;
}

.tool-tip > .tip{
  position: absolute;
  padding: 5px;
  background-color: rgba(12, 12, 12, 0.46);
  color: whitesmoke;
  font-size: 10px;
  z-index: -1;
}

.tool-tip > .tool{
  font-size: $toolIconSize - 2px;
  padding-top: 1px;
  line-height: $toolIconSize - 2px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  background-color: #53585F;
  color: #CFCFCF;
  overflow: hidden;
}

.tool-tip:hover{
  .tip{
    z-index: auto;
  }
}