@import '../../../../lib/config';

$diskHeight  : 60px;
$borderWidth : 5px;
$borderColor : rgba(0, 0, 0, 0.1);
$padding     : 10px;


*{
  box-sizing: border-box;
}
body{
  margin  :0px;
}

.scene{
  height  : 100%;
  width   : 100%;
  overflow: auto;
  padding : 0px $padding $padding $padding;
  .subject{
    @import 'svg';
  }
}

@import 'scenes/blackbox';
@import 'scenes/blackbox-tester';
@import 'scenes/subjects/browser';
