.categories > ul{
  display: flex;
  list-style-type: none;
  flex-direction: column;
  margin-right: -10px;
  padding: 0;
}
.categories > ul > li {
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

.categories > ul > li > label{
  display: inline-block;
  text-align: right;
  font-size: 25px;
  line-height: 40px;
  height: 50px;
  padding: 10px;
  padding-right: 20px;
}
.categories > ul > li > img{
  height: 40px;
  width:  40px;
  margin: 5px;
  float: right;
}

ul.select-gender{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    padding: 0;
  }
ul.select-gender > li{
  width: 50%;
  height: 50px;
  padding: 5px;
  line-height: 40px;
  background-color: #f4efef;
  border: 1px solid rgba(0, 0, 0, 0.07);
  color: rgba(0, 0, 0, 0.53);
}

ul.select-gender > .selected{
  border-color: rgba(238, 205, 38, 0.87);
  color: rgba(0, 0, 0, 0.95);
}

