.card{
  padding: 10px;
  width: 100%;
}

.card > .icon > img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.card > .icon {
  display: inline-block;
  float: left;
  text-align: center;
}

.card .info {
  float: left;
  text-align: left;
  padding: 5px;
}

.card > .action{
  text-align: right;
  color: rgb(116, 173, 255);
  font-size: 13px;
  padding-right: 10px;
}

.card .info > .field > .name{
  font-weight: bold;
}

.info > .field > .value{
  font-weight: normal;
}

.commas > span:before{
  content: ", ";
}

.commas > span:first-child:before{
  content: "";
}
