@import "../config";

.business-account{
  float: left;
  @extend .undo-list;
  .indicator{
    float: left;
    height: $topBarHeight;
    overflow: hidden;
  }
  .indicator:nth-child(n):not(:last-child):after{
    content: "/";
    padding: 0px 5px;
  }
}