@import "../config";

.navigation{
  @extend .undo-list;
  li{
    height: $topBarHeight;
    float: left;
    padding: 0px 10px;
    text-align: center;
    border-right: $menuBorder;
    > a{
      @extend .undo-link;
    }
  }
}