@import "../config";

.left-menu{
  float: left;
  width: $menuWidth;
  @import "navigation";
}

.right-menu{
  float: right;
  max-width: calc(100% - #{$menuWidth});
  .business-account{
    @extend .undo-list;
    @import "business-account";
    float: left;
    max-width: calc(100% - #{$actionsWidth});
    height: $topBarHeight;
    overflow: hidden;
  }

  .actions{
    @extend .undo-list;
    float: left;
    width: $actionsWidth;
    @import "actions";
  }
}

a{
  @extend .undo-link;
}