@import "../config";

$linkCount : 6;
$linkWidth : 80px;

$menuWidth : 450px;

.left-menu{
  float: left;
  width: $menuWidth;
  @import "navigation";
}

.right-menu{
  float: right;
  width: calc(100% - #{$menuWidth});
  @import "business-account";
}
