@import "../config";

$notificationColor: #CDDC39;;
$notificationBgColor: rgba(100, 164, 100, 1);

.user{
  overflow: hidden;
  .icon{
    display: block;
    height: inherit;
    line-height: inherit;
  }

  .icon:last-child{
    position: relative;
    top: -$topBarHeight - 5px;
    left: ($topBarHeight - 5px)/2;
    text-align: center;

    height: $topBarHeight;
    width: $topBarHeight;
    transform: scale(0.4);

    color: $notificationColor;

    text-shadow: 0px 0px 15px rgba(100, 164, 100, 0.1);
    box-shadow: 0px 0px 15px $notificationColor;

    border-radius: 50%;
    background-color: $notificationBgColor;
  }
}

.user:not(.notification){
  .icon:last-child{display: none;}
}