@import '../../../style/base';

$border_color: rgba(0, 0, 0, 0.1);
$empty_cell_color : rgba(0, 0, 0, 0.85);
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
$mono_space_font: "'Inconsolata', monospace";
$input_font_size : 12px;
$focus_color: rgba(81, 167, 249, 0.3);
$label_font_size: 10px;
$label_color: rgba(0, 0, 0, 0.3);

.crossword{
  position: relative;
  ul.crossword-layout{
    @extend .undo-list;
    @extend .resize-container;
    width: 100%;
    border-top: 1px solid $border_color;
    border-left: 1px solid $border_color;
    box-sizing: content-box;
    > li {
      float: left;
      position: relative;
      border-right: 1px solid $border_color;
      border-bottom: 1px solid $border_color;
      box-sizing: border-box;
      text-align: center;
      overflow: hidden;
      input{
        display: block;
        height: 100%;
        width: 100%;
        text-align: center;
        box-sizing: border-box;
      }
      label {
        position: absolute;
        top: $padding/2;
        left: $padding/2;

        font-size: $label_font_size;
        line-height: $label_font_size;
        vertical-align: super;
        color: $label_color;
        pointer-events: none;
        text-align: left;
      }
    }
    > li.solid{
      background-color: $empty_cell_color;
      border-color: rgba(255, 255, 255, 0.47);
      input{
        display: none;
      }
    }
    > li.focus{
      input{
        background-color: $focus_color;
      }
    }
  }
}