@import '../../../style/base';

$border_color: rgba(0, 0, 0, 0.1);
$empty_cell_color : black;
 
.crossword{
  margin: 10px;
  ul.crossword-layout{
    @extend .undo-list;
    @extend .resize-container;
    border-top: 1px solid $border_color;
    border-left: 1px solid $border_color;
    box-sizing: content-box;
    > li {
      float: left;
      border-right: 1px solid $border_color;
      border-bottom: 1px solid $border_color;
      box-sizing: border-box;
    }
    > li:not(.empty){
      background-color: $empty_cell_color;
    }
  }
}