@import '../../../style/base';

$border_color: rgba(0, 0, 0, 0.1);
$empty_cell_color : black;
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
$mono_space_font: "'Inconsolata', monospace";
$input_font_size : 12px;

.crossword{
  position: relative;
  margin: 10px;
  ul.crossword-layout{
    @extend .undo-list;
    @extend .resize-container;
    width: 100%;
    border-top: 1px solid $border_color;
    border-left: 1px solid $border_color;
    box-sizing: content-box;
    > li {
      float: left;
      border-right: 1px solid $border_color;
      border-bottom: 1px solid $border_color;
      box-sizing: border-box;
      text-align: center;
    }
    > li.solid{
      background-color: $empty_cell_color;
    }
  }
  ul.input-layout{
    @extend .undo-list;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    input{
      background-color: transparent;
      font-family: $mono_space_font;
      font-size: $input_font_size;
      border: none;
      color: transparent;
    }
  }
}