$cardBg: #F4F4F4;
$cardColor: $pencilBlack;
$borderRadius: 2px;
$barHeight: 3px;
$transition: ease;
$sideMargin: 11px;

ul.deck > li{
  .card{
    margin: $padding;

    font-family: 'Roboto', sans-serif;

    background-color: $cardBg;
    color: $cardColor;

    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: none;
    padding: $padding $padding 0px $padding;

    img{width: 100%;}

    @include transition(#{opacity $cleanupDuration $cleanupFunction, transform $cleanupDuration $cleanupFunction});
    .card-action{
      margin-left: -$sideMargin;
      width: calc(100% + #{ 2 * $sideMargin});
    }
    .card-footer{
      .bar{
        margin-left: -$sideMargin;
        width: calc(100% + #{ 2 * $sideMargin});
      }
    }
  }
}

ul.deck > li.selected{
  .card{
    .card-footer {
      .bar.blue {
        @include transform(scale(1));
        opacity: 1;
      }
    }
    .card-action{
      button.close{
        @include transform(scale(1));
        opacity: 1;
      }
    }
  }
}

.card:hover{
  .card-footer{
    .bar.active {
      @include transform(scale(1));
      opacity: 1;
    }
  }
}

.card{
  .card-action{
    position: relative;
    $buttonHeight: 30px;
    $buttonWidth : 80px;
    height: $buttonHeight;

    overflow: hidden;

    top: 1px;  // overlap 1px gap with footer
    z-index: 1;

    button{
      position: absolute;
      top: 0;
      right: 0;

      display: block;
      width : $buttonWidth;
      height: $buttonHeight;
      line-height: $buttonHeight;

      font-weight: 500;
      color: rgba(255, 255, 255, 0.86);

      border: 1px solid transparent;
      outline: none;
    }
    button.green{
      background-color: #8BC34A;
      box-shadow: 0px 1px 5px rgba(139, 195, 74, 0.26);
    }
    button.blue{
      background-color: #2196F3;
    }
    button.close{
      @include transitionDelay(500ms);
      @include transition(#{opacity 250ms $transition, transform 250ms $transition});
      @include transformOrigin(100% 100%);
      @include transform(translateY(100%));
    }
  }

  .card-footer{
    position: relative;
    height: $barHeight;
    border-radius: $borderRadius;

    .bar{
      position: absolute;
      height: $barHeight;
      width: 100%;
    }
    .bar.blue{
      background-color: #2196F3;
    }
    .bar.red{
      background-color: #FF5722;
      display: none;
    }

    .bar.active{
      opacity: 0;
      @include transition(#{opacity 250ms $transition, transform 250ms $transition});
      @include transformOrigin(50% 50%);
      @include transform(scale(0));
    }

    .bar.green{
      background-color: #8BC34A;
    }
  }
}