$cardBg: #F4F4F4;
$cardColor: #646464;
$borderRadius: 2px;

ul.deck > li{
  .card{
    $sideMargin: 11px;

    font-family: 'Roboto', sans-serif;

    background-color: $cardBg;
    color: $cardColor;

    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: none;
    padding: $padding $padding 0px $padding;

    img{width: 100%;}

    .card-footer{
      $barHeight: 3px;

      position: relative;
      height: $barHeight;
      border-radius: $borderRadius;

      .bar{
        position: absolute;
        height: $barHeight;
        margin-left: -$sideMargin;
        width: calc(100% + #{ 2 * $sideMargin});
      }
      .bar.blue{
        background-color: #2196F3;
      }
      .bar.red{
        background-color: #FF5722;
      }

      .bar.blue, .bar.red{
        opacity: 0;
        @include transition(#{opacity $cleanupDuration $defaultTransitionFunction, transform $cleanupDuration $defaultTransitionFunction});
        @include transformOrigin(50% 50%);
        @include transform(scale(0));
      }

      .bar.green{
        background-color: #8BC34A;
      }
    }

    .card-action{
      position: relative;
      $buttonHeight: 30px;
      $buttonWidth : 80px;
      height: $buttonHeight;
      margin-left: -$sideMargin;
      width: calc(100% + #{ 2 * $sideMargin});

      button{
        position: absolute;
        top: 0;
        right: 0;

        display: block;
        width : $buttonWidth;
        height: $buttonHeight;
        line-height: $buttonHeight;

        border: 1px solid transparent;
      }
      button.open{
        background-color: #8BC34A;
      }
      button.close{
        background-color: #2196F3;
      }
    }
    @include transition(#{opacity $cleanupDuration $cleanupFunction, transform $cleanupDuration $cleanupFunction});
  }
  .card.active {
    .bar.red{
      @include transform(scale(1));
      opacity: 1;
    }
  }
  .card:hover{
    @extend .active;
  }
}

ul.deck > li.selected{
  .card{
    .card-footer {
      .bar.blue {
        @include transform(scale(1));
        opacity: 1;
      }
    }
  }
}