@import '../config';

$rowHeight: 40px;
$width: 630px;

.home.page{

  ul.referral-mails{
    @extend .undo-list;
    width: $width + 2px; // two pixels for border
    margin: auto;

    .referral-mail{
      height: $rowHeight;
      border: 1px solid black;
      .name, .preview, .delete{
        float: left;
        height: $rowHeight;
        line-height: $rowHeight - 2px;
        padding: 0px 5px;
        overflow: hidden;
      }
      .name{
        width: 100px;
      }
      .preview{
        width: ($width - 100px - 30px);
      }
      .delete{
        width: 30px;
      }
    }
  }
}