@import "../config";

$inputHeight: 40px;
$buttonHeight: 50px;
$secondaryColor: rgba(139, 195, 74, 0.38);

.login.page{
  padding-top: 100px;

  form.login{
    width: 350px;
    margin: auto;
    padding: 10px;
    border: 1px solid #CDDC39;
    border-radius: 5px;

    input, button{
      display: block;
      margin: auto;
      width: 100%;
      text-align: center;
      outline-color: rgba(255, 235, 59, 0.51);
    }
    input{
      height: $inputHeight;
      border-bottom: 1px solid #CDDC39;
    }
    button{
      margin-top: 5px;
      height: $buttonHeight;
      border: 1px solid #8BC34A;
      background-color: #4CAF50;
      color: white;
      border-radius: 5px;
      padding: 10px;
    }
    input::-webkit-input-placeholder {
      color: $secondaryColor ;
    }

    input:-moz-placeholder { /* Firefox 18- */
      color: $secondaryColor ;
    }

    input::-moz-placeholder {  /* Firefox 19+ */
      color: $secondaryColor ;
    }

    input:-ms-input-placeholder {
      color: $secondaryColor ;
    }
  }
}
