@import '../config';

$pageTransitionDuration: 100ms;
.page{
  position: fixed;
  top: 0px;
  left: 0px;

  height: 100vh;
  width: 100vh;

  background-color: white;
  @include transitionDelay($pageTransitionDuration);
  .contents{
    @include transition(opacity, $pageTransitionDuration);
  }
}

.page.no-display{
  @include transform(scale(0));
  .contents{
    opacity: 0;
  }
}