<div id="business-account-indicator" ng-controller="BusinessAccountController" ng-mouseleave="account.input.select(null)">
    <span class="clickable" ng-click="account.input.select('business')"   ng-class="account.input.subjectIs('business') ? 'subject' : ''">{{account.selected.business.name}}</span> -
    <span class="clickable" ng-click="account.input.select('account')"    ng-class="account.input.subjectIs('account') ? 'subject' : ''">{{account.selected.account.name}}</span> -
    <span class="clickable" ng-click="account.input.select('subaccount')" ng-class="account.input.subjectIs('subaccount') ? 'subject' : ''">{{account.selected.subaccount.name}}</span>

    <div class="input" ng-show="account.input.subject">
        <input type="text" placeholder="search" ng-model="account.input.value">
        <ul>
            <li class="clickable account-option" ng-repeat="option in account.filter(account.options.of(account.input.subject), account.input.value)" ng-click="account.set(account.input.subject, option)"> {{option.name}} </li>
            <li>&nbsp;</li>
        </ul>
    </div>
</div>