$black: rgba(0,0,0,0.9);
$white: rgba(255,255,255, 0.9);
$transition: ease;
$transitionDuration: 500ms;
$subtleBorder: 1px solid rgba(0, 0, 0, 0.09);

*{
  box-sizing: border-box;
}

ul.undo-list{
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: block;
}

input, button{
  padding: 0px;
  margin: 0px;
  display: block;
  box-sizing: border-box;
  border: none;
}

@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform:    $value;
  -ms-transform:     $value;
  -o-transform:      $value;
  transform:         $value;
}

@mixin transformStyle($value) {
  -webkit-transform-style:  $value;
  -moz-transform-style:     $value;
  transform-style:          $value;
}

@mixin transformOrigin($value) {
  -webkit-transform-origin: $value;
  -moz-transform-origin: $value;
  transform-origin: $value;
}

@mixin transitionDelay($time){
  -webkit-transition-delay: $time;
  -moz-transition-delay: $time;
  -ms-transition-delay: $time;
  -o-transition-delay: $time;
  transition-delay: $time;
}

@mixin transition($value){
  -webkit-transition: $value;
  -moz-transition:    $value;
  -o-transition:      $value;
  transition:         $value;
}
