#app > section.home{
  height: 100vh;

  > span.contact{
    display: block;
    position: relative;
    z-index: 1;
    float: right;
    margin: 10px;


    @include transform(rotateY(180deg) rotateZ(90deg));
    @include transition(#{opacity 500ms, transform 500ms});
    >a{
      display: block;
      height: 30px;
      line-height: 30px;
      padding: 0px 15px;
      text-decoration: none;
      font-size: 20px;
      color: $white;
      border: 1px solid transparent;

      @include transition(#{all 500ms});
      @include transitionDelay(0ms);
    }
  }
}

#app.scrolled > section.home{
  > span.contact{
    transform: translateX(calc(70px - 100vw)) translateY(calc(100vh - 45px));

    a{
      border-radius: 2px;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
      @include transitionDelay(250ms);
    }
  }
}
