section.lab{
  height: calc(100vh - #{$topBarHeight + $homePageBottomOffset} );
  overflow: hidden;

  .grid-container{
    height: 100%;
    overflow: hidden;
  }
}

#app.show-labs section.lab{
  .grid-container{
    overflow: auto;
  }
}