$footerSpace: 0px;

section.lab{
  height: 100vh;
  overflow: hidden;

  .grid-container{
    height: 100%;
    padding: $navBarHeight + $padding $padding $padding;
    overflow: hidden;
  }
}

#app.show-labs section.lab{
  .grid-container{
    overflow: auto;
  }
}