$footerSpace: 15px;

section.lab{
  height: calc(100vh - #{$homePageBottomOffset + $footerSpace} );
  //padding: $padding;
  overflow: hidden;

  .grid-container{
    height: 100%;
    padding-top: $navBarHeight;
    overflow: hidden;
  }
}

#app.show-labs section.lab{
  .grid-container{
    overflow: auto;
  }
}