$shutterDuration : 250ms;

#app:not(.show-labs) nav.top-bar{
  pointer-events: none;
  .title-bar{
    @include transform(translateY(-$titleBarHeight));
    opacity: 0;
  }
}

nav.top-bar{
  position: fixed;
  top:0;
  left:0;

  height: $titleBarHeight;
  width: 100vw;

  background-color: transparent;
  color: $black;
  @include transition(opacity $shutterDuration  $transition);
  overflow: hidden;

  .title-bar{
    background: $white;
    height: $titleBarHeight;
    line-height: $titleBarHeight;
    padding: 0px $padding;
    @include transition(#{transform $shutterDuration  $transition, opacity $shutterDuration  $transition});
  }
}

.nav-bar{
  position: absolute;
  bottom: 0;
  width: 100%;

  background: $black;
  height: $navBarHeight;
  line-height: $navBarHeight;
  padding: 0px $padding;

  color: $white;
  text-align: right;
  font-weight: $boldFontWeight;
  text-shadow: $glowyWhiteText;

  @include transition(#{transform $shutterDuration  $transition, opacity $shutterDuration  $transition});
}