#app:not(.show-labs) > nav.top-bar{
  opacity: 0;
  pointer-events: none;
}

nav.top-bar{
  position: fixed;
  top:0;
  left:0;

  height: $topBarHeight;
  width: 100vw;

  background-color: $white;
  color: $black;
  @include transition($transitionDuration opacity $transition);

  .title-bar{
    background: $white;
    height: $titleBarHeight;
    line-height: $titleBarHeight;
    padding: 0px $padding;
  }
  .nav-bar{
    background: $black;
    height: $navBarHeight;
    line-height: $navBarHeight;
    padding: 0px $padding;

    color: $white;
    text-align: right;
  }
}