$flyDownDuration :500ms;
$contactHeight : 30px;
$conactIconSize: 20px;

#app section.home{
  height: 100vh;

  > a.contact{
    display   : none;
    position  : relative;
    z-index   : 1;
    float     : right;
    margin    : $padding;
    overflow  : hidden;

    height      : $contactHeight;
    line-height : $contactHeight;
    padding     : 0px $conactIconSize;

    border-radius  : 2px;
    text-decoration: none;

    @include transition(#{opacity $flyDownDuration, transform $flyDownDuration});
    > span{
      display    : block;
      height     : 100%;
      line-height: inherit;

      font-size   : $conactIconSize;
      color       : $white;
      text-shadow : $glowyWhiteText;

      @include transition(#{transform $flyDownDuration});
      @include transform(rotateY(180deg) rotateZ(90deg));
    }
    .white, .black{
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  > a.contact:hover{
    > span{
      color: $black;
      @include transform(scale(0.8));
    };
    background: $white;
  }
}

#app.scrolled section.home{
  > a.contact{
    transform: translateX(calc(70px - 100vw)) translateY(calc(100vh - 45px));
    span{
      @include transform(scale(1));
    }
  }
  > a.contact:hover{
    > span{
      color: $black;
      @include transform(scale(0.8) rotateY(180deg) rotateZ(90deg));
    };
  }
}

#app.scrolled.show-labs section.home {
  > a.contact {
    @include transform(translateX(calc(#{$topBarLogoWidth} + 100% - 100vw)) translateY(calc(100vh - #{$topBarHeight + 5})));
    background: transparent;
    > span{
      @include transform(scale(0.6));
      color: $black;
      text-shadow: $shadyBlackText;
    }
  }

  >a.contact:hover{
    >span{
      color: rgba(0,0,0,0.5);
      @include transform(scale(0.5));
    }
  }
}
