@import "../style/base";

* {
  box-sizing: border-box;
}

$padding: 10px;
$cardHeadColor: #2196f3;
$cardHeadFontColor: rgba(255, 255, 255, 0.97);
$cardBodyColor: #EBEBEB;
$rowHeight : 30px;
$borderRadius : 5px;

.deck {
  @extend .undo-list;

  .card {
    margin: $padding;
    //display: inline-block;
    //width: 350px;
    //float: left;
    border-radius: $borderRadius;

    .description, .contents, .duration {
      padding: $padding $padding;
      //background-color: $cardBodyColor;
    }
    .description{
      padding-top: $padding;
    }

    .name {
      padding: $padding;
      margin: 0px;
      //background-color: $cardHeadColor;
      //color: $cardHeadFontColor;
    }
    .contents > ul > li {
      text-transform: capitalize;
      font-weight: bold;
    }

  }
}
