$size : 150px;
$weight: 20px;
$smoothness: 10px;

.x, .x *{
  box-sizing: border-box;
}

.x{
  width: $size;
  height: 2 * $size;
  text-align: center;
  margin: auto;

  .xx1, .xx2 {
    height: $size;
    width: 2 * $weight;
    margin: 0px auto;

    .x1, .x2 {
      height: $size;
      width: $weight;
      float: left;
      background-color: black;
      border-radius: $smoothness;
    }
  }
  .xx1{
    .x1{
      transform: rotate(-45deg) translateX($weight/2) translateY($weight/2);
      transform-origin: 0 100%;
    }
    .x2{
      transform: rotate(45deg);
      transform-origin: 100% 100%;
    }

  }
  .xx2{
    .x1{
      transform: rotate(45deg) translateX($weight/2) translateY(-$weight/2);
      transform-origin: 0 0;
    }
    .x2{
      transform: rotate(-45deg);
      transform-origin: 100% 0;
    }
  }
}

.x.collapse{
  opacity: 0;
  .xx1, .xx2{
    transform: rotate(90deg);
    .x2{
      transform: scale(1);
    }
    .x1{
      transform: translateX($weight);
    }
  }
}