$size : 150px;
$weight: 20px;
$smoothness: 10px;

.x, .x *{
  box-sizing: border-box;
}

@mixin transition($property, $time) {
  -webkit-transition: $property $time ease-in;
  -moz-transition: $property $time ease-in;
  -o-transition: $property $time ease-in;
  transition: $property $time ease-in;
}

@mixin transform($property) {
  -webkit-transform: $property;
  -moz-transform: $property;
  -ms-transform: $property;
  -o-transform: $property;
  transform: $property;
}

.x{
  width: $size;
  height: 2 * $size;
  text-align: center;
  margin: auto;
  @include transition(transform, 100ms);
  transition-delay: 100ms;
  .xx1, .xx2 {
    height: $size;
    width: 2 * $weight;
    margin: 0px auto;
    @include transition(transform, 100ms);

    .x1, .x2 {
      height: $size;
      width: $weight;
      float: left;
      background-color: black;
      border-radius: $smoothness;
      @include transition(transform, 100ms);
    }
  }
  .xx1{
    .x1{
      transform: rotate(-45deg) translateX($weight/2) translateY($weight/2);
      transform-origin: 0 100%;
    }
    .x2{
      transform: rotate(45deg);
      transform-origin: 100% 100%;
    }

  }
  .xx2{
    .x1{
      transform: rotate(45deg) translateX($weight/2) translateY(-$weight/2);
      transform-origin: 0 0;
    }
    .x2{
      transform: rotate(-45deg);
      transform-origin: 100% 0;
    }
  }
}

.x.collapse{
  @include transform(rotate(90deg));
  @include transition(transform, 100ms);

  .xx1, .xx2{
    opacity: 0;
    @include transition(opacity, 100ms);
    .x2{
      transform: scale(1);
      @include transition(transform, 100ms);
    }
    .x1{
      transform: translateX($weight);
      @include transition(transform, 100ms);
    }
  }
}

body:hover > .x{
  @extend .plus;
}

.plus{
  @extend .x;
  @include transform(rotate(135deg) translateX(-$weight/2));
  transform-origin: 50% 50%;
}