@import "config";

html{
  background: url(../images/twinkle.gif) repeat fixed center center;
}

body{
  min-width: $appMinWidth;
}

#galaxy > * {
  box-sizing: border-box;
}

.undo-list{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img.space-station, #bottom-bar, #top-bar{
  width: 100%;
  position: fixed;
  min-width: $appMinWidth;
}

img.space-station, #bottom-bar{
  bottom: 0px;
}

img.space-station{
  z-index: $backgroundLayer;
}

#bottom-bar, #top-bar{
  z-index: $barsLayer;
  background-color: $barsColor;
  height: $barsHeight;
  padding: 2.5px;
}

#top-bar{
  border-bottom: $barsBorder;
  @import "top-bar";
}

#bottom-bar{
  border-top: $barsBorder;
  @import "bottom-bar";
}
