@import "config";

html{
  background: url(../images/twinkle.gif) repeat fixed center center;
}

#galaxy > * {
  box-sizing: border-box;
}

.undo-list{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img.space-station, #bottom-bar, #top-bar{
  width: 100%;
  position: fixed;
}

img.space-station, #bottom-bar{
  bottom: 0px;
}

img.space-station{
  z-index: $backgroundLayer;
}

#bottom-bar, #top-bar{
  z-index: $barsLayer;
  background-color: $barsColor;
  height: $barsHeight;
}

#top-bar{
  border-bottom: $barsBorder;
}

#bottom-bar{
  border-top: $barsBorder;
  padding: 2.5px;
}

#bottom-bar{
  @import "bottom-bar";
}