@import "config";

$borderSize : 1px;

button.submit,.time{
  height: $barsHeight - 7px;
  line-height: $barsHeight - 9px;
  border: $barsBorder;
  box-sizing: border-box;
}

.time{
  float: left;
  color: $themeColor;
  min-width: 150px;
  text-align: center;
  overflow: hidden;
  width: calc(100% - 200px - #{$borderSize * 4});
  border-color: $themeColor;
}

button.submit{
  float: right;
  width: 200px;

  background-color: $themeColor;
  color: white;
}