$backgroundImage :  "../images/twinkle.gif";
$spaceStationImage : "../images/space-center.png";

$appMinWidth  : 360px;

// z-indexes
$backgroundLayer : 1;
$barsLayer       : 100;

// top and bottom bars
$barsHeight : 50px;
$barsBorder      : 1px solid rgba(255, 255, 255, 0.1);
$barsColor       : rgba(0, 0, 0, 0.62);

$themeColor      : #A4C936;

$contentColor     : #FAFFED;
$contentBorder    : 1px solid rgba(255, 255, 255, 0.5);
$contentShadow    : 0 0 5px rgba(247, 247, 247, 0.7);

.shining-text{
  text-shadow: 0 0 3px #f7f7f7;
}