$backgroundImage :  "../images/twinkle.gif";
$spaceStationImage : "../images/space-center.png";

// z-indexes
$backgroundLayer : 1;
$barsLayer       : 100;

// top and bottom bars
$barsHeight : 50px;
$barsBorder      : 1px solid rgba(255, 255, 255, 0.1);
$barsColor       : rgba(0, 0, 0, 0.62);