@import "config";

$planetWidth : 110px;
$vehicleWidth: 250px;
$iconWidth   : 50px;

$missionWidth: $planetWidth + $vehicleWidth + $iconWidth;

$missionHeight: 50px;
$bgColor: rgba(255, 255, 255, 0.34);
$overviewBorder: 2px solid rgba(0,0,0,1);

h1{
  @extend .shining-text
}

.missions {
  text-align: center;

  .mission{
    width: $missionWidth;
    height: $missionHeight;
    line-height: $missionHeight - 4px;

    .icon{
      width: $iconWidth;
      float: left;
      line-height: inherit;
      background-color: $bgColor;
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
      font-size: 25px;
      text-align: center;
    }
    .overview, .vehicle, .planet{
      float: left;
      background-color: $bgColor;
      border-right: $overviewBorder;
    }

    .overview, .vehicle{
      border-radius:  $defaultBorderRadius 0px 0px $defaultBorderRadius;
    }

    .overview{
      width: calc(100% - #{$iconWidth});
    }

    .planet{
      width: $planetWidth;
      height: $menuHeight;
      overflow: auto;
      @import 'planet-overview';
    }

    .vehicle{
      width: calc(100% - #{$planetWidth})
    }
  }
  .mission.select {
    .overview {
      .add{display: none;}
    }
  }
  .mission.add:not(.select){
    .overview{
      .vehicle{
        display: none;
      }
      .planet{
        display: none;
      }
    }
  }
}

