@import "config";

$borderSize : 1px;

$logoWidth  : 100px;
$resetWidth : 50px;
$helpWidth  : calc(100% - #{$logoWidth + $resetWidth});

.logo, .help, .reset{
  height: $barsHeight - 7px;
  line-height: $barsHeight - 9px;
  border: none;
  box-sizing: border-box;
  float: left;
  color: $themeColor;
}

.logo{
  width: $logoWidth;
  text-align: center;
}

.reset{
  width: $resetWidth;
  text-align: center;
}

.help{
  width: $helpWidth;
  text-align: left;
  overflow: hidden;
}