<!DOCTYPE html>
<html>

<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../lib/normalize-3.0.2.css">
    <link rel="stylesheet" href="../../lib/font-awesome-4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/app.css">
    <style>
        * {
            box-sizing: border-box;
        }
        #loader{
            position: absolute;
            z-index: 100;
            height: 100%;
            width: 100%;
            background-color: #181818;
            color: white;
            text-align: center;
            padding-top: 10vh;
        }
    </style>
</head>

<body ng-app="game" ng-controller="GameController">
    <div id="loader" ng-show="game.loading()">Loading...</div>
    <div id="app">
        <div id="top-bar">
            <div class="restart" ng-click="game.reset()"> <span class="fa fa-undo"></span></div>
            <div class="total-time"></div>
        </div>
        <div id="content">
            <ul class="missions undo-list" ng-if="!game.loading()">
                <li class="mission"
                    ng-repeat="planet in game.planets()"
                    ng-class="{'assigned' : planet.spacecraft, 'ignored' : game.ignore(planet)}">
                    <img ng-src="{{planet | planetIcon}}">
                    <div class="name">{{planet.name}}</div>
                    <div class="distance"> {{planet.distance}} megamiles</div>

                    <div class="no-mission"
                         ng-click="game.selectSpacecraftFor(planet)">
                        Send Mission
                        <span class="add fa fa-chevron-right"></span>
                    </div>

                    <div class="spacecraft">
                        <img ng-src="{{planet.spacecraft | vehicleIcon}}">
                        <span class="time">({{planet | missionTime:planet.spacecraft}} hr)</span>
                        <span class="remove fa fa-times" ng-click="game.removeMissionFor(planet)"></span></div>
                </li>
                <li class="submit">
                    <button  ng-disabled="!game.noMoreMissions()" ng-click="game.findFalcone()">Find Falcone</button>
                </li>
            </ul>
        </div>
        <div id="bottom-bar" ng-class="{'expand' : game.expandBottomBar, 'and-select' : game.selectedPlanet}">
            <ul class="spacecrafts undo-list">
                <li class="collapse-bottom-bar" ng-click="game.cancelSelection()"><span class="fa fa-chevron-down"></span></li>
                <li class="spacecraft"
                    ng-repeat="vehicle in game.vehicles()"
                    ng-class="{'disable' : game.disabledVehicle(vehicle)}"
                    ng-click="game.selectVehicle(vehicle)">
                    <div class="icon">
                        <img ng-src="{{vehicle | vehicleIcon}}">
                        <div class="count">({{vehicle.count}})</div>
                    </div>
                    <div class="description">
                        <span class="name">{{vehicle.name}}</span>
                        <span class="range">Range: {{vehicle.range}} megamiles</span>
                        <span class="speed">Speed: {{vehicle.speed}} megamiles/hr</span>
                    </div>

                    <div class="select" >
                        <span class="select fa fa-chevron-right"></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <script src="../../lib/angular-1.4.3.js"></script>
    <script src="app/app.js"></script>
    <script src="app/controllers/game-controller.js"></script>
    <script src="app/services/game-service.js"></script>
    <script src="app/models/planets.js"></script>
    <script src="app/models/vehicle.js"></script>
    <script src="app/components/mission-time-filter.js"></script>
    <script src="app/components/planet-icon.js"></script>
    <script src="app/components/vehicle-icon.js"></script>

</body>
</html>
