<div class="console"
     ng-class="{'show' : editor.console.show}">
    <div class="title">
        <div class="status">
            <span class="bar">
                <span class="progress" task-status-bar></span>
            </span>
            <span class="counts">{{editor.console.output.scenarios | passingCount}}/{{editor.console.output.scenarios.length}}</span>
        </div>
    </div>

    <div class="output">
        <ul class="scenarios">
            <li class="scenario"
                ng-repeat="scenario in editor.console.output.scenarios"
                ng-init="show_detail = !scenario.success"
                ng-class="{'success' : scenario.success, 'show-detail' : show_detail}">
                <div class="overview">
                    <span class="status"></span>
                    <span class="name"   ng-bind="scenario.name"></span>
                    <button class="toggle fa fa-chevron-right"
                            ng-click="show_detail = !show_detail"></button>
                </div>
                <ul class="detail">
                    <li><label>Expected</label><span class="value" >{{scenario.expected}}</span></li>
                    <div><label>Actual  </label><span class="value">{{scenario.actual}}</span></div>
                </ul>
            </li>
        </ul>

    </div>
</div>
