<div class="repl-window" ng-controller="replController">
    <div class="title-bar">
        <label>Interactive Ruby Shell</label>
    </div>

    <ul class="cli">
        <li class="output"
            ng-repeat="output in repl.history track by $index">
            <span ng-bind="output"></span>
        </li>

        <li class="input">
            <label class="irb-icon">&gt;</label>
            <textarea class="repl-editor"
                      ng-model="repl.input"
                      ng-keypress="repl.enter($event)"
                      placeholder="Type ruby code and press enter">
            </textarea>
        </li>

    </ul>

</div>

