<div class="repl-window">
    <div class="title-bar">
        <label>Interactive Ruby Shell</label>
        <button class="clear fa fa-trash" ng-click="repl.clear()"></button>
    </div>

    <ul class="cli">
        <li class="history"
            ng-repeat="history in repl.history track by $index">
            <div class="input">
                <label class="irb-icon">&gt;</label>
                <span class="log" ng-bind="history.input"></span>
            </div>
            <div class="output">
                <label class="irb-icon">&lt;</label>
                <span class="log" ng-bind="history.output"></span>
            </div>
        </li>

        <li class="current">
            <label class="irb-icon">&gt;</label>
            <textarea class="repl-editor"
                      bind-keys="repl.hotkeys"
                      ng-model="repl.input">
            </textarea>
        </li>

    </ul>

</div>

