<ul class="spacecrafts undo-list">
    <li class="collapse-bottom-bar" ng-click="game.cancelSelection()"><span class="fa fa-chevron-down"></span></li>
    <li class="spacecraft card"
        ng-repeat="vehicle in game.vehicles()"
        ng-class="{'disable' : game.disabledVehicle(vehicle)}"
        ng-click="game.selectVehicle(vehicle)">

        <div class="icon">
            <img ng-src="{{vehicle.icon}}">
            <div class="count">({{vehicle.count}})</div>
        </div>

        <div class="info">
            <div class="field">
                <span class="name">Name</span>
                <span class="value" ng-bind="vehicle.name"></span>
            </div>
            <div class="field">
                <span class="name">Range</span>
                <span class="value">{{vehicle.range}} megamiles</span>
            </div>

            <div class="field">
                <span class="name">Speed</span>
                <span class="value">{{vehicle.speed}} megamiles/hr</span>
            </div>

            <div class="action"
                 ng-show="game.selectedPlanet">
                <span>select</span>
            </div>

        </div>

    </li>
</ul>