<ul class="spacecrafts undo-list">
    <li class="collapse-bottom-bar" ng-click="game.cancelSelection()"><span class="fa fa-chevron-down"></span></li>
    <li class="spacecraft"
        ng-repeat="vehicle in game.vehicles()"
        ng-class="{'disable' : game.disabledVehicle(vehicle)}"
        ng-click="game.selectVehicle(vehicle)">
        <div class="icon">
            <img ng-src="{{vehicle.icon}}">
            <div class="count">({{vehicle.count}})</div>
        </div>
        <div class="description">
            <span class="name">{{vehicle.name}}</span>
            <span class="range">Range: {{vehicle.range}} megamiles</span>
            <span class="speed">Speed: {{vehicle.speed}} megamiles/hr</span>
        </div>

        <div class="select" >
            <span class="select fa fa-chevron-right"></span>
        </div>
    </li>
</ul>