.spacecrafts{
  text-align: center;
}

.spacecrafts > .spacecraft{
  height: 80px;
}

.spacecrafts > .spacecraft.disable{
  opacity: 0.5;
}

.spacecrafts > .spacecraft.disable .action, .spacecrafts > .spacecraft.disable .action{
  display: none;
}

.spacecrafts > .spacecraft > .icon > .count{
  font-size: 10px;
  margin-top: -5px;
}

.collapse-bottom-bar{
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  padding: 10px;
}

.spacecrafts > .spacecraft > .icon > img{
  width: 45px;
  height: 45px;
}

.spacecrafts > .spacecraft > .info{
  height: 50px;
}


:not(.expand) > .spacecrafts > .spacecraft > .icon > img{
  width: 25px;
  height: 25px;
}

:not(.expand) > .spacecrafts > .collapse-bottom-bar {
  display: none;
}

:not(.expand) > .spacecrafts > .spacecraft {
  display: inline-block;
  width: 60px;
}

:not(.expand) > .spacecrafts > .spacecraft {
  padding-top: 5px;
}
:not(.expand) > .spacecrafts > .spacecraft > .info{
  display: none;
}

:not(.expand) > .spacecrafts > .spacecraft > .icon{
  width: 60px;
  margin-top: -5px;
}
