$labelWidth     : 110px;
$inputWidth     : 350px;
$helpIconWidth  : 40px;
$rowHeight      : 40px;
$inputAddonWidth: 40px;
$messageWidth   : 150px;

$padding        : 10px;
$borderRadius   : 2px;
$triangleSize   : 7.5px;
$overlayColor   : #4C4C4C;
$helpFontColor  : rgba(255, 255, 255, 0.9);
$helpFontSize   : 13px;

$solidBorder    : 1px solid rgba(0,0,0,0.1);

$mobileAt       : 650px;
$fontSize       : 14px;

@mixin transition-f($property){
  -webkit-transition: $property;
  -moz-transition:    $property;
  -o-transition:      $property;
  transition:         $property;
}

form{
  height: $rowHeight;
  font-size: $fontSize;
  width: 100% ;
  padding: $padding;
  @extend .resize-container;

  .clickable{
    cursor: pointer;
  }

  .field{
    width: 100%;
    box-sizing: border-box;
    padding: 0px;
    padding-bottom: $padding;
    .label, .input, .help-icon, .overlay{
      float: left;
      display: block;
      height: $rowHeight;
      line-height: $rowHeight - 2px;
      box-sizing: border-box;
    }
    .label{
      width: $labelWidth;
      text-align: right;
      padding-right: $padding;
    }
    .input{
      width: calc(100% - #{$helpIconWidth + $labelWidth + $messageWidth});
      border: $solidBorder;
      border-radius: $borderRadius;
      input{
        width: 100%;
        height: 100%;
        padding: 0px $padding;
        outline: none;
        border-radius: $borderRadius;
      }
    }

    .help-icon{
      width: $helpIconWidth;
      text-align: center;
      font-size: 20px;
      color: rgba(255,255,255,0.9);
      height: 40px;
      line-height: 40px;
      background-color: rgba(0,0,0,0.07);
      border-radius: 50%;
      @include transformOrigin(100% 50%);
      @include transform(scale(0.7));
    }
    .overlay.show{
      opacity: 1;
      @include transform(translateX(0px));
    }
    .overlay{
      z-index: 1;
      overflow: visible;
      position: relative;
      left: -$helpIconWidth + $padding;
      pointer-events: none;
      opacity: 0;
      width: $messageWidth;
      @include transition-f(#{opacity 500ms ease, transform 250ms ease});
      @include transform(translateX(-5px));

      .icon{
        position: absolute;
        top: $triangleSize;
        left: -$triangleSize + 2px;
        border-top: $triangleSize solid transparent;
        border-bottom: $triangleSize solid transparent;
        border-right: $triangleSize solid $overlayColor;
      }
      .message{
        position: absolute;

        background-color: $overlayColor;
        color: $helpFontColor;
        border-radius: $borderRadius;
        padding: $padding;
        line-height: $padding*2;
        font-size: small;
      }
    }
  }

  > fieldset{
    @extend .field;
    border: none;
    > label {
      @extend .label;
    }
    > input {
      @extend .input;
      outline: none;
      padding: 0px $padding;
    }
    > span  {
      @extend .help-icon;
    }
  }

}

@media (max-width:$mobileAt){
  form{
    width: auto;

    .field{
      padding-bottom: 20px;
      position: relative;
      .label{
        width: 100%;
        text-align: left;
        padding-left: 5px;
        padding-top: 5px;
      }
      .input{
        width: calc(100% - #{$helpIconWidth});
      }
      .overlay{
        width: 100%;
        position: absolute;
        left: 0;
        top: 2 *$rowHeight + $padding - 5px;
        padding: 5px;
        @include transform(translateY(-5px));
        .message{
          position: relative;
          width: 100%;
          margin: auto;
        }
        .icon{
          top: -$padding/2;
          left: calc(100% - #{$helpIconWidth/2 + $padding/2});
          transform: rotate(90deg);
        }
      }
      .overlay.show{
        opacity: 1;
        @include transform(translateY(0px));
      }
    }
  }
}
