<!DOCTYPE html>
<html>

<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../../../lib/normalize-3.0.2.css">
    <link rel="stylesheet" href="../../../lib/font-awesome-4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="index.css">

    <style>
        /* this style applies to loader while app css is loading*/
        .splash.page{
            position: fixed;
            top:0px;
            left:0px;
            z-index: 9999;

            height: 100vh;
            width: 100vw;
        }
        .splash.page > .content{}
        .splash.page > .content > h1, .splash.page > .content > h5{
            margin: 0 auto;
        }
        .splash.page > .content{
            background-color: black;
            color: white;
            text-align : center;
            height: 100%;
            width: 100%;
        }

        #copyright{
            text-align: center;
        }
        body{
            height: 500vh;
            padding: 100px 0px;
        }
    </style>

</head>

<body ng-app="treniq">
    <div class="splash page" ng-show="false">
        <div id="loader" class="content" ng-hide="true">
            <h1></h1>
            <h5>loading...</h5>
        </div>
    </div>
    <form class="sourcing-request" ng-controller="sourcingRequestFormCtrl">
        <fieldset class="field" ng-mouseleave="__showOverlay = false">
            <label>Title</label>
            <div class="input">
                <input>
            </div>
            <span class="help-icon fa fa-question" ng-mouseenter="__showOverlay = true" ng-click="__showOverlay = !__showOverlay"></span>
            <div class="overlay" ng-class="{'show' : __showOverlay}" >
                <div class="icon"></div>
                <div class="message">You asked, Font Awesome delivers with 20 shiny new icons in version 4.5. Want to request new icons? Here's how. Need vectors or want to use on the desktop? Check the cheatsheet.
                </div>
            </div>
        </fieldset>

        <fieldset class="field" ng-mouseleave="__showOverlay = false">
            <label>Reference URLs</label>
            <div class="input urls">
                <div class="add">
                    <input >
                    <span class="icon clickable fa fa-plus"></span>
                </div>
                <div class="remove">
                    <a href="https://www.treniq.com/" target="_blank">https://www.treniq.com/</a>
                    <span class="icon clickable fa fa-remove"></span>
                </div>
            </div>
            <span class="help-icon fa fa-question" ng-mouseenter="__showOverlay = true" ng-click="__showOverlay = !__showOverlay"></span>
            <div class="overlay" ng-class="{'show' : __showOverlay}">
                <div class="icon"></div>
                <div class="message">You asked, Font Awesome delivers with 20 shiny new icons in version 4.5. Want to request new icons? Here's how. Need vectors or want to use on the desktop? Check the cheatsheet.
                </div>
            </div>
        </fieldset>

        <fieldset class="field" ng-mouseleave="__showOverlay = false">
            <label>Reference Images</label>
            <div class="input images">
                <div class="image-card upload clickable">+Upload</div>
                <div class="image-card"><img src="../../../images/wall-lamp.jpg">  <div class="remove icon  clickable fa fa-remove"></div> </div>
                <div class="image-card"><img src="../images/seed.png">             <div class="remove icon  clickable fa fa-remove"></div> </div>
                <div class="image-card"><img src="../../../images/wall-lamp.jpg">  <div class="remove icon  clickable fa fa-remove"></div> </div>
                <div class="image-card"><img src="../images/seed.png">             <div class="remove icon  clickable fa fa-remove"></div> </div>
                <div class="image-card"><img src="../../../images/wall-lamp.jpg">  <div class="remove icon  clickable fa fa-remove"></div> </div>
                <div class="image-card"><img src="../images/seed.png">             <div class="remove icon  clickable fa fa-remove"></div> </div>
            </div>
            <span class="help-icon fa fa-question" ng-mouseenter="__showOverlay = true" ng-click="__showOverlay = !__showOverlay"></span>
            <div class="overlay" ng-class="{'show' : __showOverlay}">
                <div class="icon"></div>
                <div class="message">Urls to refer</div>
            </div>
        </fieldset>
        <fieldset class="field" ng-mouseleave="__showOverlay = false">
            <label>Tags</label>
            <div class="input tags">
                <ul class="tags">
                    <li class="tag" ng-repeat="tag in form.tags.list">
                        {{tag.name}} <span class="remove fa fa-remove" ng-click= "form.tags.remove($index)"></span>
                    </li>
                    <li class="tag search" >
                        <input class="search" ng-model="form.tags.searchFor" ng-change="form.tags.filter()" hotkeys="form.tags.hotkeys">
                        <div class="dropdown">
                          <ul class="undo-list">
                              <li class="suggested-tag"
                                  ng-repeat="suggetion in form.tags.suggestions"
                                  ng-class="{'selected' : form.tags.selectedIndex == $index}"
                                  ng-mouseenter="form.tags.selectedIndex = $index"
                                  ng-click= "form.tags.push(suggetion)">{{suggetion.name}}</li>
                          </ul>
                        </div>
                    </li>
                </ul>

            </div>
            <span class="help-icon fa fa-question" ng-mouseenter="__showOverlay = true" ng-click="__showOverlay = !__showOverlay"></span>
            <div class="overlay" ng-class="{'show' : __showOverlay}">
                <div class="icon"></div>
                <div class="message">Add as many tags as you like.</div>
            </div>
        </fieldset>
    </form>

    <script src="../../../lib/jquery-2.1.4.min.js"></script>
    <script src="../../../lib/angular-1.4.3.js"></script>

    <script>
        var app = angular.module("treniq", []);
        app.directive("fieldset" , [function(){
            return {
                restrict: "C",
                transclude: false,
                scope: true,
                link: function(scope, element){
                }
            };
        }
        ]);
        app.directive("hotkeys" , ["$parse", "$timeout", function($parse, $timeout){
            var hotKeys = {
                40 : "down",
                38 : "up",
                37 : "left",
                39 : "right",
                32 : "space",
                13 : "enter",
                27 : "escape",
                8 :  "backspace",
            };

            return {
                restrict: "A",
                transclude: false,
                scope: false,
                link: function(scope, element, attrs){
                    element.on("keydown", function(e){
                        var key         = hotKeys[e.keyCode],
                            actionFor   = $parse(attrs["hotkeys"])(scope);

                        hotKeys[e.keyCode] && $timeout(function(){
                            actionFor(key)();
                        });
                    });
                }
            };
        }
        ]);
        app.controller("sourcingRequestFormCtrl" , ["$scope", function(scope){
            var tags = [{name: "table"},{name: "chair"},{name: "lamp"},{name: "wood"},{name: "metal"},{name: "platinum"},];
            scope.form = {
                tags: {
                    list        : [],
                    suggestions : tags,
                    selectedIndex : 0,
                    searchFor   : "",
                    reset       : function(){
                        this.searchFor = "" ;
                        this.selectedIndex  = 0;
                        this.filter() ;
                    },
                    push        : function(tag){
                        this.list.push(tag);
                        this.reset();
                    },
                    remove      : function(index){
                        this.list.splice(index, 1);
                    },
                    filter      : function(){
                        var input = scope.form.tags.searchFor,
                            hasTag = function(tag) {
                            var existing = scope.form.tags.list;
                            for(var i =0; i < existing.length; i++){
                                if(tag.name == existing[i].name) return true;
                            }
                            return false;
                        };
                        this.suggestions = [];
                        for(var i = 0; i < tags.length; i++){
                            var tag = tags[i];
                            tag.name.startsWith(input)  && !hasTag(tag) && this.suggestions.push(tag);
                        }
                    },
                    hotkeys: function(hotkey){
                        var next    = function () {
                                        scope.form.tags.selectedIndex = (scope.form.tags.selectedIndex+1)%(scope.form.tags.suggestions.length);
                                      },
                            prev    = function () {
                                scope.form.tags.selectedIndex = scope.form.tags.selectedIndex == 0 ? scope.form.tags.suggestions.length - 1 :  scope.form.tags.selectedIndex = (scope.form.tags.selectedIndex - 1)%(scope.form.tags.suggestions.length);
                            },
                            select  = function () {
                                var createTag = function(name){
                                    return {name: name};
                                };
                                var newTag = scope.form.tags.suggestions.length ?
                                                scope.form.tags.suggestions[scope.form.tags.selectedIndex] :
                                                createTag(scope.form.tags.searchFor);
                                scope.form.tags.push(newTag)
                            },
                            cancel  = function () {
//                                console.log("cancel")
                            },
                            erase  = function () {
//                                scope.form.tags.searchFor.length ? "" : console.log("erase");
                            },
                            actions =  {
                                "down"  : next,
                                "right" : next,
                                "up"    : prev,
                                "left"  : prev,
                                "space" : select,
                                "enter" : select,
                                "escape" : cancel,
                                "backspace" : erase,
                            };
                        return actions[hotkey];
                    }
                }
            }
        }
        ]);

        var     $tagInput       = $(".input.tags").first(),
                $tagSearch      = $tagInput.find(".tag.search").first(),
                $tagSearchInput = $tagSearch.find("input").first(),
                noDropDown      = function(){
                    $tagSearch.removeClass("show-dropdown");
                    $tagSearchInput.blur();
                },
                showDropDown      = function(){
                    $tagSearch.addClass("show-dropdown");
                    $tagSearchInput.focus();
                };

        $tagInput.on("click", function(e){
            var target          = e.target,
                isTag           = target.classList.contains("tag") && !target.classList.contains("search"),
                isRemoveTag     = target.classList.contains("remove");

            (isTag || isRemoveTag) ? noDropDown() : showDropDown();
        });
        $tagInput.on("mouseleave", noDropDown);
    </script>

</body>
</html>
