@import url(https://fonts.googleapis.com/css?family=Roboto:300,100,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,100,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,300);
ul.undo-list, form.sourcing-request .input.tags ul.tags, form.sourcing-request form > fieldset > input.tags ul.tags {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: block; }

input {
  padding: 0px;
  margin: 0px;
  display: block;
  box-sizing: border-box;
  border: none; }

.resize-container:after, form:after, form.sourcing-request .input.images:after, form.sourcing-request form > fieldset > input.images:after, form.sourcing-request .input.urls .add:after, form.sourcing-request form > fieldset > input.urls .add:after, form.sourcing-request .input.urls .remove:after, form.sourcing-request form > fieldset > input.urls .remove:after {
  content: "";
  display: table;
  clear: both; }

body {
  font-family: 'Roboto', sans-serif; }
  body h1 {
    margin: 0px auto; }
  body * {
    box-sizing: border-box; }

@media (min-width: 650px) {
  html {
    background-color: #EEE; }
    html body {
      margin: 50px auto;
      background: white;
      width: 80%; } }
form {
  height: 35px;
  font-size: 14px;
  width: 100%;
  max-width: 750px;
  padding: 10px; }
  form .clickable {
    cursor: pointer; }
  form .field, form > fieldset {
    width: 100%;
    box-sizing: border-box;
    padding: 0px 0px 20px; }
    form .field .label, form > fieldset .label, form .field form > fieldset > label, form > fieldset > label, form .field .input, form > fieldset .input, form .field form > fieldset > input, form > fieldset > input, form .field .help-icon, form > fieldset .help-icon, form .field form > fieldset > span, form > fieldset > span, form .field .overlay, form > fieldset .overlay {
      float: left;
      display: block;
      height: 35px;
      line-height: 33px;
      box-sizing: border-box;
      color: rgba(0, 0, 0, 0.7); }
    form .field .label, form > fieldset .label, form .field form > fieldset > label, form > fieldset > label {
      width: 150px;
      text-align: right;
      padding-right: 10px; }
    form .field .input, form > fieldset .input, form .field form > fieldset > input, form > fieldset > input {
      width: calc(100% - 335px);
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 2px; }
      form .field .input input, form > fieldset .input input, form .field form > fieldset > input input, form > fieldset > input input {
        width: 100%;
        height: 100%;
        padding: 0px 10px;
        outline: none;
        border-radius: 2px; }
    form .field .help-icon, form > fieldset .help-icon, form .field form > fieldset > span, form > fieldset > span {
      width: 35px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      border-radius: 50%;
      background-color: rgba(249, 174, 8, 0.5);
      font-size: 20px;
      color: rgba(255, 255, 255, 0.7);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      textshadow: 0 0 5px rgba(0, 0, 0, 0.2);
      -webkit-transform-origin: 100% 50%;
      -moz-transform-origin: 100% 50%;
      transform-origin: 100% 50%;
      -webkit-transform: scale(0.7);
      -moz-transform: scale(0.7);
      -ms-transform: scale(0.7);
      -o-transform: scale(0.7);
      transform: scale(0.7); }
    form .field .help-icon.active, form > fieldset .help-icon.active, form .field form > fieldset > span.active, form > fieldset > span.active {
      opacity: 0.5; }
    form .field .overlay.show, form > fieldset .overlay.show {
      opacity: 1;
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      -o-transform: translateX(0px);
      transform: translateX(0px); }
    form .field .overlay, form > fieldset .overlay {
      z-index: 1;
      overflow: visible;
      position: relative;
      left: -25px;
      pointer-events: none;
      opacity: 0;
      width: 150px;
      -webkit-transition: opacity 500ms ease, transform 250ms ease;
      -moz-transition: opacity 500ms ease, transform 250ms ease;
      -o-transition: opacity 500ms ease, transform 250ms ease;
      transition: opacity 500ms ease, transform 250ms ease;
      -webkit-transform: translateX(-5px);
      -moz-transform: translateX(-5px);
      -ms-transform: translateX(-5px);
      -o-transform: translateX(-5px);
      transform: translateX(-5px); }
      form .field .overlay .icon, form > fieldset .overlay .icon {
        position: absolute;
        top: 7.5px;
        left: -5.5px;
        border-top: 7.5px solid transparent;
        border-bottom: 7.5px solid transparent;
        border-right: 7.5px solid #4C4C4C; }
      form .field .overlay .message, form > fieldset .overlay .message {
        position: absolute;
        background-color: #4C4C4C;
        color: rgba(255, 255, 255, 0.9);
        border-radius: 2px;
        padding: 10px;
        line-height: 20px;
        font-size: small; }
  form > fieldset {
    border: none; }
    form > fieldset > input {
      outline: none;
      padding: 0px 10px; }

@media (max-width: 650px) {
  form {
    width: auto; }
    form .field, form > fieldset {
      position: relative; }
      form .field .label, form > fieldset .label, form .field form > fieldset > label, form > fieldset > label {
        width: 100%;
        text-align: left;
        padding-left: 5px;
        padding-top: 5px; }
      form .field .input, form > fieldset .input, form .field form > fieldset > input, form > fieldset > input {
        width: calc(100% - 35px); }
      form .field .overlay, form > fieldset .overlay {
        width: 100%;
        position: absolute;
        left: 0;
        top: 75px;
        padding: 5px;
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -o-transform: translateY(-5px);
        transform: translateY(-5px); }
        form .field .overlay .message, form > fieldset .overlay .message {
          position: relative;
          width: 100%;
          margin: auto; }
        form .field .overlay .icon, form > fieldset .overlay .icon {
          top: -5px;
          left: calc(100% - 22.5px);
          transform: rotate(90deg); }
      form .field .overlay.show, form > fieldset .overlay.show {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px); } }
form.sourcing-request .input.images, form.sourcing-request form > fieldset > input.images {
  height: auto; }
  form.sourcing-request .input.images .image-card, form.sourcing-request form > fieldset > input.images .image-card {
    position: relative;
    float: left;
    height: 75px;
    width: 75px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 5px;
    box-sizing: border-box; }
    form.sourcing-request .input.images .image-card img, form.sourcing-request form > fieldset > input.images .image-card img {
      height: 100%;
      width: 100%;
      display: block; }
    form.sourcing-request .input.images .image-card .icon.remove, form.sourcing-request form > fieldset > input.images .image-card .icon.remove {
      position: absolute;
      top: 0;
      right: 0;
      margin: 5px;
      color: rgba(255, 0, 0, 0.57);
      opacity: 0.1; }
  form.sourcing-request .input.images .image-card.upload, form.sourcing-request form > fieldset > input.images .image-card.upload {
    line-height: 75px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.05); }
  form.sourcing-request .input.images .image-card:hover .icon.remove, form.sourcing-request form > fieldset > input.images .image-card:hover .icon.remove {
    opacity: 1; }
form.sourcing-request .input.urls, form.sourcing-request form > fieldset > input.urls {
  height: auto;
  padding: 0px; }
  form.sourcing-request .input.urls .add, form.sourcing-request form > fieldset > input.urls .add, form.sourcing-request .input.urls .remove, form.sourcing-request form > fieldset > input.urls .remove {
    padding-right: 0px; }
    form.sourcing-request .input.urls .add .icon, form.sourcing-request form > fieldset > input.urls .add .icon, form.sourcing-request .input.urls .remove .icon, form.sourcing-request form > fieldset > input.urls .remove .icon {
      float: right;
      width: 34px;
      text-align: center;
      height: 33px;
      line-height: 35px;
      font-size: 20px;
      color: rgba(0, 0, 0, 0.1); }
    form.sourcing-request .input.urls .add .icon:hover, form.sourcing-request form > fieldset > input.urls .add .icon:hover, form.sourcing-request .input.urls .remove .icon:hover, form.sourcing-request form > fieldset > input.urls .remove .icon:hover {
      color: rgba(0, 0, 0, 0.5); }
    form.sourcing-request .input.urls .add input, form.sourcing-request form > fieldset > input.urls .add input, form.sourcing-request .input.urls .remove input, form.sourcing-request form > fieldset > input.urls .remove input {
      float: left;
      padding: 10px;
      height: 33px;
      width: calc(100% - 40px); }
  form.sourcing-request .input.urls .add, form.sourcing-request form > fieldset > input.urls .add {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  form.sourcing-request .input.urls .remove, form.sourcing-request form > fieldset > input.urls .remove {
    position: relative;
    background-color: #f3f3f3; }
    form.sourcing-request .input.urls .remove a, form.sourcing-request form > fieldset > input.urls .remove a {
      color: rgba(0, 0, 0, 0.5);
      background-color: transparent;
      padding: 10px; }
    form.sourcing-request .input.urls .remove .icon, form.sourcing-request form > fieldset > input.urls .remove .icon {
      color: rgba(255, 0, 0, 0.05);
      background-color: transparent; }
    form.sourcing-request .input.urls .remove .icon:hover, form.sourcing-request form > fieldset > input.urls .remove .icon:hover {
      color: rgba(255, 0, 0, 0.5); }
form.sourcing-request .input.tags, form.sourcing-request form > fieldset > input.tags {
  height: auto;
  min-height: 35px; }
  form.sourcing-request .input.tags ul.tags .tag, form.sourcing-request form > fieldset > input.tags ul.tags .tag {
    display: block;
    float: left;
    height: 25px;
    line-height: 25px;
    padding: 0px 5px;
    border: 1px solid transparent;
    margin: 5px;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.7);
    font-size: small; }
    form.sourcing-request .input.tags ul.tags .tag .remove, form.sourcing-request form > fieldset > input.tags ul.tags .tag .remove {
      font-size: small;
      color: rgba(255, 255, 255, 0.8); }
  form.sourcing-request .input.tags ul.tags .tag:not(.search), form.sourcing-request form > fieldset > input.tags ul.tags .tag:not(.search) {
    background-color: rgba(249, 174, 8, 0.5);
    color: rgba(255, 255, 255, 0.8);
    border-radius: 5px; }
  form.sourcing-request .input.tags ul.tags .tag.search, form.sourcing-request form > fieldset > input.tags ul.tags .tag.search {
    overflow: visible;
    border: 1px solid transparent;
    width: 100px;
    opacity: 0; }
    form.sourcing-request .input.tags ul.tags .tag.search input.search, form.sourcing-request form > fieldset > input.tags ul.tags .tag.search input.search {
      width: 100%;
      height: 100%;
      padding: 0px;
      border-radius: 0px;
      border: 1px solid transparent;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
    form.sourcing-request .input.tags ul.tags .tag.search .dropdown, form.sourcing-request form > fieldset > input.tags ul.tags .tag.search .dropdown {
      width: 100%;
      overflow: auto;
      background-color: white;
      -webkit-transition: transoform 500ms ease;
      -moz-transition: transoform 500ms ease;
      -o-transition: transoform 500ms ease;
      transition: transoform 500ms ease;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0); }
      form.sourcing-request .input.tags ul.tags .tag.search .dropdown .suggested-tag:last-child, form.sourcing-request form > fieldset > input.tags ul.tags .tag.search .dropdown .suggested-tag:last-child {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
      form.sourcing-request .input.tags ul.tags .tag.search .dropdown .suggested-tag, form.sourcing-request form > fieldset > input.tags ul.tags .tag.search .dropdown .suggested-tag {
        padding: 0px 5px;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        border-right: 1px solid rgba(0, 0, 0, 0.1); }
      form.sourcing-request .input.tags ul.tags .tag.search .dropdown .suggested-tag.selected, form.sourcing-request form > fieldset > input.tags ul.tags .tag.search .dropdown .suggested-tag.selected {
        background-color: rgba(249, 174, 8, 0.5);
        color: rgba(255, 255, 255, 0.8); }
  form.sourcing-request .input.tags ul.tags .tag.search.show-dropdown, form.sourcing-request form > fieldset > input.tags ul.tags .tag.search.show-dropdown {
    opacity: 1; }
    form.sourcing-request .input.tags ul.tags .tag.search.show-dropdown .dropdown, form.sourcing-request form > fieldset > input.tags ul.tags .tag.search.show-dropdown .dropdown {
      border-top: none;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }

/*# sourceMappingURL=index.css.map */
