@import 'config';

@import url(https://fonts.googleapis.com/css?family=Roboto:300,100,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,300);

body{
  font-family: 'Roboto', sans-serif;
  h1{margin: 0px auto;}
  *{box-sizing: border-box;};
}
$mobileAt       : 650px;

@media (min-width:$mobileAt){
  html{
    background-color: #EEE;

    body{
      margin: 50px auto;
      background: white;
      width: 80%;
    }

  }
}

@import 'sr-form';