@import 'form';

$inputWidth       : 350px;
$thumbnailSize    : 100px;
$thumbnailPerRow  : 3;
$imageMargin      : floor(($inputWidth - $thumbnailPerRow * $thumbnailSize)/($thumbnailPerRow * 2 + 2));

$tagHeight        : 30px;
$tagSearchWidth   : 200px;

form.sourcing-request{
  .input.images{
    @extend .resize-container;
    height: auto;
    padding: $imageMargin;
    .image-card{
      position: relative;
      float: left;
      height: $thumbnailSize;
      width: $thumbnailSize;
      overflow: hidden;
      border: $solidBorder;
      margin: $imageMargin;
      box-sizing: border-box;

      img{
        height: $thumbnailSize;
        width: $thumbnailSize;
        display: block;
      }
      .icon.remove{
        position: absolute;
        top: 0;
        right: 0;
        margin: 5px;
        color: rgba(255, 0, 0, 0.57);
        opacity: 0.1
      }
    }

    .image-card.upload{
      line-height: $thumbnailSize;
      text-align: center;
      color: rgba(0,0,0,0.5);
      background-color: rgba(0,0,0,0.05);
    }

    .image-card:hover{
      .icon.remove{
        opacity: 1;
      }
    }
  }

  .input.urls{
    height: auto;
    padding: 0px;
    .add, .remove{
      @extend .resize-container;
      padding-right: 0px;

      .icon{
        float: right;
        width: $iconSize - 1px;
        text-align: center;
        height: $rowHeight - 2px;
        line-height: $rowHeight;
        font-size: 20px;
        color: rgba(0,0,0,0.1);
      }
      .icon:hover{
        color: rgba(0,0,0,0.5);
      }

      input{
        float: left;
        padding:$padding;
        height: $rowHeight - 2px;
        width: $inputWidth - $iconSize - 1px;
      }
    }
    .add{
      border-bottom: $solidBorder;
    }
    .remove{
      position: relative;
      background-color: rgb(243, 243, 243);

      a{
        color: rgba(0,0,0,0.5);
        background-color: rgba(0,0,0,0);
        padding: $padding;
      }
      .icon{
        color: rgba(255,0,0,0.05);
        background-color: rgba(0,0,0,0);
      }
      .icon:hover{
        color: rgba(255,0,0,0.5);
      }
    }
  }

  .input.tags{
    height: auto;
    min-height: $rowHeight;
    ul.tags{
      @extend .undo-list;

      .tag.search{
        overflow: visible;
        border: 1px solid transparent;
        display: none;
        input.search{
          width: 100%;
          height: 100%;
          padding: $padding;
          border-radius: 0px;
          border: 1px solid transparent;
        }
        .dropdown{
          width: 100%;
          overflow: auto;

          background-color: white;
          border: $solidBorder;

          @include transition(transoform 500ms ease);
          @include transform(scale(0));
          .suggested-tag{
            padding: 0px 5px;
          }
          .suggested-tag.selected{
            background-color: rgba(33, 150, 243, 0.5);
            color: white;
          }
        }
      }

      .tag.search.show-dropdown{
        display: block;

        input.search{
          border: $solidBorder;
          border-bottom: 1px solid transparent;
        }
        .dropdown{
          border-top: none;
          @include transform(scale(1));
        };
      }

      .tag{
        display: block;
        float: left;
        height: $tagHeight;
        line-height: $tagHeight;
        padding: 0px 5px;

        border: $solidBorder;
        margin: 4px;
        border-radius: 2px;
        color: rgba(0,0,0,0.7);
        font-size: small;
        .remove{
          font-size: small;
          color: rgba(0,0,0,0.1);
        }
      }
    }
  }
}