@import 'form';

$inputWidth       : 350px;
$thumbnailSize    : 75px;
$thumbnailPerRow  : 3;
$imageMargin      : floor(($inputWidth - $thumbnailPerRow * $thumbnailSize)/($thumbnailPerRow * 2 + 2));

$tagHeight        : $rowHeight - $padding;
$tagSearchWidth   : 100px;
$tagBgColor       : $themeHighlightColor;
$tagFontColor     : rgba(255, 255, 255, 0.8);

form.sourcing-request{
  .input.images{
    @extend .resize-container;
    height: auto;
    .image-card{
      position: relative;
      float: left;
      height: $thumbnailSize;
      width: $thumbnailSize;
      overflow: hidden;
      border: $solidBorder;
      margin: $padding/2;
      box-sizing: border-box;

      img{
        height: 100%;
        width: 100%;
        display: block;
      }
      .icon.remove{
        position: absolute;
        top: 0;
        right: 0;
        margin: 5px;
        color: rgba(255, 0, 0, 0.57);
        opacity: 0.1
      }
    }

    .image-card.upload{
      line-height: $thumbnailSize;
      text-align: center;
      color: rgba(0,0,0,0.5);
      background-color: rgba(0,0,0,0.05);
    }

    .image-card:hover{
      .icon.remove{
        opacity: 1;
      }
    }
  }

  .input.urls{
    height: auto;
    padding: 0px;
    .add, .remove{
      @extend .resize-container;
      padding-right: 0px;

      .icon{
        float: right;
        width: $helpIconWidth - 1px;
        text-align: center;
        height: $rowHeight - 2px;
        line-height: $rowHeight;
        font-size: 20px;
        color: rgba(0,0,0,0.1);
      }
      .icon:hover{
        color: rgba(0,0,0,0.5);
      }

      input{
        float: left;
        padding:$padding;
        height: $rowHeight - 2px;
        width: calc(100% - #{$inputAddonWidth});
      }
    }
    .add{
      border-bottom: $solidBorder;
    }
    .remove{
      position: relative;
      background-color: rgb(243, 243, 243);

      a{
        color: rgba(0,0,0,0.5);
        background-color: rgba(0,0,0,0);
        padding: $padding;
      }
      .icon{
        color: rgba(255,0,0,0.05);
        background-color: rgba(0,0,0,0);
      }
      .icon:hover{
        color: rgba(255,0,0,0.5);
      }
    }
  }

  .input.tags{
    height: auto;
    min-height: $rowHeight;
    ul.tags{
      @extend .undo-list;

      .tag{
        display: block;
        float: left;
        height: $tagHeight;
        line-height: $tagHeight;
        padding: 0px 5px;

        border: 1px solid transparent;
        margin: $padding / 2;
        border-radius: 2px;
        color: rgba(0,0,0,0.7);
        font-size: small;
        .remove{
          font-size: small;
          color: $tagFontColor;
        }
      }

      .tag:not(.search){
        background-color: $tagBgColor;
        color: $tagFontColor;
        border-radius: 5px;
      }
      .tag.search{
        overflow: visible;
        border: 1px solid transparent;
        width: $tagSearchWidth;
        opacity: 0;

        input.search{
          width: 100%;
          height: 100%;
          padding: 0px;
          border-radius: 0px;
          border: 1px solid transparent;
          border-bottom: 1px solid rgba(0,0,0,0.05);
        }
        .dropdown{
          width: 100%;
          overflow: auto;

          background-color: white;

          @include transition(transoform 500ms ease);
          @include transform(scale(0));

          .suggested-tag:last-child{
            border-bottom: $solidBorder;
          }

          .suggested-tag{
            padding: 0px 5px;
            border-left: $solidBorder;
            border-right: $solidBorder;
          }
          .suggested-tag.selected{
            background-color: $tagBgColor;
            color: $tagFontColor;
          }
        }
      }

      .tag.search.show-dropdown{
        opacity: 1;
        .dropdown{
          border-top: none;
          @include transform(scale(1));
        };
      }


    }
  }
}