@import url("https://fonts.googleapis.com/css?family=Open+Sans:700,600,400");
@import url(https://fonts.googleapis.com/css?family=Raleway);
* {
  box-sizing: border-box; }

ul.undo-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: block; }

input, button {
  padding: 0px;
  margin: 0px;
  display: block;
  box-sizing: border-box;
  border: none; }

#app {
  height: 100vh;
  overflow: auto;
  font-family: 'Metrophobic', Arial, serif;
  font-weight: 400; }
  #app * {
    box-sizing: border-box; }

#app section.home > a.contact {
  display: none;
  position: relative;
  z-index: 1;
  float: right;
  margin: 10px;
  overflow: hidden;
  height: 30px;
  line-height: 30px;
  padding: 0px 20px;
  border-radius: 2px;
  text-decoration: none;
  -webkit-transition: opacity 500ms, transform 500ms;
  -moz-transition: opacity 500ms, transform 500ms;
  -o-transition: opacity 500ms, transform 500ms;
  transition: opacity 500ms, transform 500ms; }
  #app section.home > a.contact > span {
    display: block;
    height: 100%;
    line-height: inherit;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    -webkit-transition: transform 500ms;
    -moz-transition: transform 500ms;
    -o-transition: transform 500ms;
    transition: transform 500ms;
    -webkit-transform: rotateY(180deg) rotateZ(90deg);
    -moz-transform: rotateY(180deg) rotateZ(90deg);
    -ms-transform: rotateY(180deg) rotateZ(90deg);
    -o-transform: rotateY(180deg) rotateZ(90deg);
    transform: rotateY(180deg) rotateZ(90deg); }
  #app section.home > a.contact .white, #app section.home > a.contact .black {
    position: absolute;
    top: 0;
    left: 0; }
#app section.home > a.contact:hover {
  background: rgba(255, 255, 255, 0.9); }
  #app section.home > a.contact:hover > span {
    color: rgba(0, 0, 0, 0.9);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8); }

#app.scrolled section.home > a.contact {
  transform: translateX(calc(70px - 100vw)) translateY(calc(100vh - 45px)); }
  #app.scrolled section.home > a.contact span {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
#app.scrolled section.home > a.contact:hover > span {
  color: rgba(0, 0, 0, 0.9);
  -webkit-transform: scale(0.8) rotateY(180deg) rotateZ(90deg);
  -moz-transform: scale(0.8) rotateY(180deg) rotateZ(90deg);
  -ms-transform: scale(0.8) rotateY(180deg) rotateZ(90deg);
  -o-transform: scale(0.8) rotateY(180deg) rotateZ(90deg);
  transform: scale(0.8) rotateY(180deg) rotateZ(90deg); }

#app.scrolled.show-labs section.home > a.contact {
  -webkit-transform: translateX(calc(110px + 100% - 100vw)) translateY(calc(100vh - 50px));
  -moz-transform: translateX(calc(110px + 100% - 100vw)) translateY(calc(100vh - 50px));
  -ms-transform: translateX(calc(110px + 100% - 100vw)) translateY(calc(100vh - 50px));
  -o-transform: translateX(calc(110px + 100% - 100vw)) translateY(calc(100vh - 50px));
  transform: translateX(calc(110px + 100% - 100vw)) translateY(calc(100vh - 50px));
  background: transparent; }
  #app.scrolled.show-labs section.home > a.contact > span {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
    color: rgba(0, 0, 0, 0.9);
    text-shadow: 1px 1px 1px rgba(1, 2, 1, 0.5); }
#app.scrolled.show-labs section.home > a.contact:hover > span {
  color: rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5); }

#app > .state > section.home {
  position: relative;
  height: calc(100vh - 0px); }

section.lab {
  height: calc(100vh - 60px );
  overflow: hidden; }
  section.lab .grid-container {
    height: 100%;
    overflow: hidden; }

#app.show-labs section.lab .grid-container {
  overflow: auto; }

.nav-bar {
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: 45px;
  padding-right: 10px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.09);
  text-align: right;
  -webkit-transition: transform 250ms ease, opacity 250ms ease;
  -moz-transition: transform 250ms ease, opacity 250ms ease;
  -o-transition: transform 250ms ease, opacity 250ms ease;
  transition: transform 250ms ease, opacity 250ms ease; }
  .nav-bar a {
    display: inline-block;
    line-height: 45px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.9);
    text-align: right;
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-family: "Raleway", sans-serif; }
  .nav-bar a:after {
    padding: 0px 5px;
    content: "|"; }

#app.show-labs .nav-bar {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5); }

@media (max-width: 700px) {
  .nav-bar {
    text-align: center; } }
.card {
  background: white;
  margin: 5px;
  border: 1px solid rgba(1, 1, 1, 0.05);
  height: calc(100% - 10px); }

.card img {
  width: 100%; }

.grid {
  position: relative;
  display: block;
  list-style: none; }

.grid > li, .card {
  transition: transform 500ms ease, opacity 500ms ease; }

.grid-box:nth-child(n+1) .card {
  transition-delay: 50ms; }

.grid-box:nth-child(2n+1) .card {
  transition-delay: 90ms; }

.grid-box:nth-child(3n) .card {
  transition-delay: 110ms; }

.grid-box:nth-child(5n) .card {
  transition-delay: 0ms; }

.grid > li {
  width: 200px;
  box-sizing: border-box;
  display: block;
  float: left;
  position: absolute;
  top: 0;
  left: 0; }

.grid > li:nth-child(2n+1) {
  height: 450px; }

.grid > li:nth-child(2n) {
  height: 350px; }

.grid > li:nth-child(3n) {
  height: 370px; }

.grid-box {
  opacity: 0;
  pointer-events: none; }

.state.concepts .grid-box.concepts, .state.interactions .grid-box.interactions {
  opacity: 1;
  pointer-events: all; }

.state.all .grid-box.all {
  opacity: 1;
  pointer-events: all; }

.state.concepts .grid-box:not(.concepts) .card, .state.interactions .grid-box:not(.interactions) .card {
  transform: translateY(100vh); }

/*# sourceMappingURL=index.css.map */
