@import url('https://fonts.googleapis.com/css?family=Open+Sans:700,600,400');
@import url(https://fonts.googleapis.com/css?family=Raleway);

@import "app/css/config";

$navBarHeight   : 35px;
$topBarHeight   : $navBarHeight;

$veryBoldFontWeight : 700;
$boldFontWeight     : 500;
$normalFontWeight   : 400;

$ralewayFont : 'Raleway', sans-serif;

$glowyWhiteText: 1px 1px 1px rgba(255, 255, 255, 0.5);
$shadyBlackText: 1px 1px 1px rgba(1, 2, 1, 0.5);

$padding : 10px;
$homePageBottomOffset: 5px;

#app{
  height: 100vh;
  overflow: auto;
  font-family: 'Metrophobic', Arial, serif;
  font-weight: $normalFontWeight;

  *{box-sizing: border-box;}
}

@import "app/css/home";
@import "app/css/lab";
@import "app/css/top-bar";

@import "app/grid/grid";
