@import '../../../../style/base';
@import "../../../../lib/font-awesome-4.5.0/scss/font-awesome";

$lineHeight: $rowHeight;
$borderRadius: 2px;
$lightBorder: rgba(0,0,0,0.1);

.auth{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.79);
  z-index: 9;
  padding-top: 5 * $padding;

  form{
    max-width: 500px;
    margin: auto;
    padding: $padding;
    background: white;
    border: 1px solid $lightBorder;
    border-radius: $borderRadius;

    .field{
      padding: $padding;

      label{
        width: 100%;
        font-size: small;
        display: block;
        padding-bottom: $padding/2;
        color: $lightBorder;
      }
      input{
        display: block;
        font-size: medium;
        width: 100%;

        height: $lineHeight;
        line-height: $lineHeight;
        padding: 0px $padding;
        border-radius: $borderRadius;
        border: 1px solid $lightBorder;
      }
    }
    .error{
      padding: $padding $padding * 2;
      color: #ff3748;
    }
    .action{
      padding: 2 * $padding $padding;

      button{
        display: block;
        font-size: medium;
        width: 100%;
        height: $lineHeight;
        line-height: $lineHeight;
        padding: 0px $padding;
        border-radius: $borderRadius;
        border: 1px solid $lightBorder;
      }

      button[disabled]{
        opacity: 0.5;
        cursor: not-allowed;
      }
      button.primary{
        background-color: $primaryBlue;
        color: $white;
      }
    }

    .options{
      text-align: right;
      .link.next{
        a{
          padding-right: $padding;
        }
      }
      .link.previous{
        a{
          padding-left: $padding;
        }
      }
    }
  }
}

@import 'authentication';
