$leftPane: $gridBoxWidth;
$duration: 500ms;
#modal{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  padding: 0px 0px 0px $gridBoxWidth;
  pointer-events: none;

  .modal-body{
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: white;
    pointer-events: all;

    ul.code-demo{
      $demoWidth: $gridBoxWidth;
      @extend .undo-list;
      text-align: left;
      li{
        display: inline-block;
        padding: $padding;
      }
    }
  }

  @include transition(transform $duration ease);
  @include transform(translateX(100vw));
}

#app.show-modal #modal{
  @include transform(translateX(0px));
}