$lineHeight : 30px;

.ad{
  width: 470px;  /*fb preview size*/

  label{
    display: block;
    font-size: 10px;
  }
  .page{
    border: 1px solid #EEE;
  }

  .body{
    border: 1px solid #EEE;

    textarea{
      width: 100%;
      padding: 15px;
      box-sizing: border-box;
      border: none;
    }
  }

  .image{
    img{
      width: 100%;  /*fb preview size*/
    }
  }
  .title, .link-description, .display-url{
    border: 1px solid #EEE;

    input{
      width: 100%;
      box-sizing: border-box;
      border: none;
      height: $lineHeight;
    }
  }
  .cta-button{
    select{
      float: right;
      height: 60px;
    }
  }
}