<h3>Create audience</h3>
<div class="create-audience-progress-bar"
     ng-controller="ProgressIndicator"
     ng-include="'app/progress-indicator/progress-indicator.html'"></div>

<div class="wizard-buttons-wrapper">
<fieldset class="wizard-buttons">
    <button class="tk-button" ng-click="wizard.cancel()"    ng-hide="!wizard.showSection('set-name')"     > cancel   </button>
    <button class="tk-button" ng-click="wizard.showPrev()"  ng-hide="wizard.showSection('set-name')"      > previous </button>
    <button class="tk-button" ng-click="wizard.showNext()"  ng-hide="wizard.showSection('set-targeting')" ng-disabled="!wizard.allowNext()" ng-class="{'disabled' : !wizard.allowNext()}"> next     </button>
    <button class="tk-button" ng-click="wizard.finish()"    ng-hide="!wizard.showSection('set-targeting')"> finish   </button>
</fieldset>
</div>

<div class="form-wrapper">
    <div class="audience-preview">
        <p ng-class="{'no-display' : !wizard.form.name}"> <strong>name</strong> : {{wizard.form.name}}</p>
    </div>

    <hr/>

    <form name="wizard.form">
        <fieldset ng-if="wizard.showSection('set-name')">
            <label class="form-label">name</label>
            <input type="text"
                   placeholder="audience name"
                   ng-model="wizard.form.name"
                   class="audience-name large tk-input">
        </fieldset>
    </form>
</div>