@import '../../style/modules/debt';

.create-audience-progress-bar {
  margin: 10px;
  background-color: #F2F2F2;
  padding: 20px 10px 10px 10px;
}

.wizard-buttons{
  margin: 10px;
  background-color: #F2F2F2;

  button{
    @extend .tk-button;
    color: #FAFAFA;
    background-color: #3083FB;
    border: none;
    font-size: 1em;
  }
}

.form-wrapper {
  .form-label{
    margin: 5px;
  }
  .form-input {
    @extend .tk-input;
    @extend .tk-input.large;
  }
}
