<h3>Create audience</h3>
<div class="create-audience-progress-bar"
     ng-controller="ProgressIndicator"
     ng-include="'app/progress-indicator/progress-indicator.html'"></div>

<div class="wizard-buttons-wrapper">
<fieldset class="wizard-buttons">
    <button class="tk-button" ng-click="wizard.cancel()"    ng-hide="!wizard.showSection('set-name')"     > cancel   </button>
    <button class="tk-button" ng-click="wizard.showPrev()"  ng-hide="wizard.showSection('set-name')"      > previous </button>
    <button class="tk-button" ng-click="wizard.showNext()"  ng-hide="wizard.showSection('set-targeting')" ng-disabled="!wizard.allowNext()" ng-class="{'disabled' : !wizard.allowNext()}"> next     </button>
    <button class="tk-button" ng-click="wizard.finish()"    ng-hide="!wizard.showSection('set-targeting')"> finish   </button>
</fieldset>
</div>

<div class="form-wrapper">
    <div class="audience-preview">
        <p ng-class="{'no-display' : !wizard.form.name}"> <strong>audience name</strong> : {{wizard.form.name}}</p>

        <div class="grid">
            <div ng-class="{'no-display' : !wizard.form.demographics}" class="header-card card">
                <p class="title">{{wizard.form.demographics.name}}</p>
                <p><strong>genders</strong> : {{wizard.form.demographics.gender}}</p>
                <p><strong>min age</strong> : {{wizard.form.demographics.fromAge}}</p>
                <p><strong>max age</strong> : {{wizard.form.demographics.toAge}}</p>
            </div>
        </div>

    </div>

    <hr/>

    <form name="wizard.form">
        <fieldset ng-if="wizard.showSection('set-name')">
            <label class="form-label">name</label>
            <input type="text"
                   placeholder="audience name"
                   ng-model="wizard.form.name"
                   class="audience-name large tk-input">
        </fieldset>

        <fieldset ng-if="wizard.showSection('set-demographics')">
            <button ng-click="wizard.showDemographic()"
                    ng-class="{'no-display' : wizard.form.demographics}"
                    class="audience-name large tk-button">select demographic target</button>
        </fieldset>
    </form>
</div>