/* start fonts */
@font-face {
  font-family: RalewayRegular;
  src: url("../fonts/Raleway-Regular.ttf") format("opentype"); }
@font-face {
  font-family: UbuntuMonoOriginal;
  src: url("../fonts/UbuntuMono-R.ttf") format("opentype"); }
.body-font, body {
  font-family: RalewayRegular; }

.title-font, #menu-wrapper, #business-account-indicator-wrapper #business-account-indicator span {
  font-family: UbuntuMonoOriginal; }

body {
  background-color: #EFEFEF; }

* {
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1); }

ul.inline-menu {
  height: 100%; }
  ul.inline-menu li {
    font-size: 16px;
    height: 100%; }

.shade-light, #app-bar .inline-menu li a:hover, #app-bar .inline-menu li.selected-link a, #app-bar li.profiles-option:hover .glyphicon, #section-bar .inline-menu li.selected-tab a, #section-bar .inline-menu li:hover > a {
  background-color: #818181; }

.indicator-text {
  font-size: small;
  color: grey; }

.shade-up, #app-bar, #business-account-indicator-wrapper #business-account-indicator .input {
  background: #e2e2e2;
  background: -moz-linear-gradient(top, #e2e2e2 0%, #fefefe 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #e2e2e2), color-stop(100%, #fefefe));
  background: -webkit-linear-gradient(top, #e2e2e2 0%, #fefefe 100%);
  background: -o-linear-gradient(top, #e2e2e2 0%, #fefefe 100%);
  background: -ms-linear-gradient(top, #e2e2e2 0%, #fefefe 100%);
  background: linear-gradient(to bottom, #e2e2e2 0%, #fefefe 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 ); }

.shade-down, #section-bar {
  background: white;
  background: -moz-linear-gradient(top, white 0%, white 10%, #c9c9c9 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(10%, white), color-stop(100%, #c9c9c9));
  background: -webkit-linear-gradient(top, white 0%, white 10%, #c9c9c9 100%);
  background: -o-linear-gradient(top, white 0%, white 10%, #c9c9c9 100%);
  background: -ms-linear-gradient(top, white 0%, white 10%, #c9c9c9 100%);
  background: linear-gradient(to bottom, white 0%, white 10%, #c9c9c9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c9c9c9', GradientType=0 ); }

#menu-wrapper {
  position: fixed;
  width: 100%;
  box-shadow: 2px 2px 5px #B9B7B7; }

.tk-button, #app-bar .inline-menu li a, #section-bar .inline-menu li a, .wizard-buttons button {
  border-radius: 15px;
  border-top: 1px solid #CCCBCB;
  box-shadow: 1px 3px 3px #B3B3B3;
  color: #484444;
  background-color: white;
  padding: 5px 15px 5px 15px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none; }

.tk-input {
  box-shadow: 1px 3px 3px #B3B3B3;
  color: #484444;
  margin: 5px;
  border: none;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
  background-color: white;
  padding: 5px 15px 5px 10px;
  text-align: left;
  border-radius: 10px; }

.tk-input.large {
  min-width: 300px; }

.tk-button.primary, #app-bar .inline-menu li a.primary, #section-bar .inline-menu li a.primary, .wizard-buttons button {
  color: #DEDBDB;
  background-color: #3083FB; }

.tk-button.disabled, #app-bar .inline-menu li a.disabled, #section-bar .inline-menu li a.disabled, .wizard-buttons button.disabled {
  color: #959596;
  background-color: #B4BDCA;
  cursor: not-allowed; }

.tk-button-pressed {
  transform: scale(0.8); }

#app-bar {
  height: 45px; }
  #app-bar .inline-menu li a:hover {
    color: #DEDEDE; }
  #app-bar .inline-menu li.selected-link a {
    color: #DEDEDE; }
  #app-bar li.profiles-option .glyphicon {
    font-size: 1.5em;
    padding: 5px 10px 5px 10px;
    background-color: white;
    border-radius: 15px;
    border-top: 1px solid #CCCBCB;
    box-shadow: 1px 3px 3px #B3B3B3;
    margin: 5px;
    transform: translateY(15px); }
  #app-bar li a {
    color: grey; }

#section-bar {
  height: 45px; }
  #section-bar .inline-menu li.selected-tab a {
    color: #DEDEDE; }
  #section-bar .inline-menu li:hover > a {
    color: #DEDEDE; }

#business-account-indicator-wrapper {
  position: fixed;
  top: 0;
  left: 5vw;
  margin: 2px; }
  #business-account-indicator-wrapper #business-account-indicator {
    transform: translateY(20px);
    color: #6C6E71; }
    #business-account-indicator-wrapper #business-account-indicator span {
      border-radius: 15px;
      color: #484444;
      padding: 5px;
      cursor: pointer;
      font-size: 13px; }
    #business-account-indicator-wrapper #business-account-indicator span.error-outline {
      color: red; }
    #business-account-indicator-wrapper #business-account-indicator .subject {
      color: #EFEFEF;
      background-color: #629CE4; }
    #business-account-indicator-wrapper #business-account-indicator .input {
      min-width: 350px;
      position: fixed;
      border: 1px solid #D2CECE;
      border-radius: 3px; }
      #business-account-indicator-wrapper #business-account-indicator .input input {
        background-color: white;
        height: 20px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        padding: 2px;
        margin: 2px;
        font-size: 13px; }
    #business-account-indicator-wrapper #business-account-indicator .account-option {
      margin: 5px;
      border-radius: 3px;
      padding: 5px;
      border: 1px solid #faf5f5;
      font-size: 13px; }
    #business-account-indicator-wrapper #business-account-indicator #account-indicator-pad {
      position: fixed;
      top: 0;
      left: 40%;
      background-color: transparent;
      height: 500px;
      width: 500px;
      z-index: -1; }

.clickable:hover {
  cursor: pointer;
  background-color: #629CE4; }

.no-display {
  opacity: 0; }

.display {
  opacity: 1; }

.inline-list {
  display: block;
  list-style-type: none; }

.inline-list li {
  display: inline-block; }

.inline-block {
  display: inline-block; }

.layer-1 {
  z-index: 1; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.text-align-right {
  text-align: right; }

.very-large-scrollable-body {
  padding-bottom: 1900px; }

.error-outline {
  outline: 1px solid red; }

.layer-2 {
  z-index: 2; }

.layer-1 {
  z-index: 1; }

.sutle-hide {
  transform: translate(0px, -1800px) !important;
  opacity: 0 !important;
  height: 0 !important;
  -webkit-transition: width,height 500ms linear !important;
  -moz-transition: all 500ms linear !important;
  -o-transition: all 500ms linear !important;
  transition: all 500ms linear !important; }

#body {
  padding-top: 120px;
  min-height: 110vh;
  background-color: #FAFAFA; }

.create-audience-progress-bar {
  margin: 10px;
  background-color: #F2F2F2;
  padding: 20px 10px 10px 10px; }

.wizard-buttons-wrapper {
  margin: 10px;
  background-color: #F2F2F2; }

.wizard-buttons {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto; }
  .wizard-buttons button {
    border: none;
    font-size: 1em; }

.form-wrapper .form-label {
  margin: 5px; }

.audience-preview .no-display {
  position: absolute;
  left: -500px; }

.grid .card {
  display: inline-block;
  width: 200px;
  padding: 5px;
  background-color: white;
  margin: 10px;
  box-shadow: 2px 2px 5px #B9B7B7; }
  .grid .card .title {
    border-bottom: 1px solid grey;
    margin: 5px 15px 0px 15px; }
.grid .card.header-card {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*# sourceMappingURL=sample-section.css.map */
