doctype html
html
  head
    meta(charset='UTF-8')
    title Angular Dragula Test
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
    link(rel='stylesheet prefetch', href='https://cdnjs.cloudflare.com/ajax/libs/angular-dragula/1.2.6/dragula.min.css')
    link(rel='stylesheet', href='css/style.css')
  body
    div(ng-app='myApp')
      .wrapper(ng-controller='IsContainerModel')
          #containerLeft.containerVertical(dragula='"bag-one"', dragula-model='items1')
            div(ng-repeat='item in items1', dragula-scope='$parent')
              | {{item.content}}
          #cart.containerVertical(dragula='"bag-one"', dragula-model='cartModel')
            .cursorDefault(ng-repeat='item in cartModel', dragula-scope='$parent')
              | {{item.content}}
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-dragula/1.2.6/angular-dragula.min.js')
    script(src='js/index.js')