$rowHeight: 40px;
$padding: 10px;

@import "../../../style/base";
*{
  box-sizing: border-box;
}
h1.head{
  text-align: center;
  padding-bottom: 1.5*$padding;
  margin-bottom : 1.5*$padding;
  border-bottom : 1px solid rgba(0, 0, 0, 0.1);
  width : calc(100% - #{3 * $padding});
  margin-left :   1.5 * $padding;
  margin-right : 1.5 * $padding;
}
#play-area{
  margin: auto;
  padding: 0px $padding * 5;

  #editor-container{
    height: 300px;
    width: 100%;
    font-size: 13px;
    .ace_gutter{
    }
  }

  button.run{
    margin: $padding 0px;
    width: 100%;
    height: $rowHeight  ;
    line-height: $rowHeight;
    font-size: large;
  }

  ul.console{
    @extend .undo-list;
    padding     : $padding;
    margin-top  : $padding;
    border      : 1px solid rgba(0, 0, 0, 0.1);
    li.success{
      color: green;
    }
    li.error{
      color: red;
    }
  }

  ul.samples{
    @extend .undo-list;
    > li {
      padding       : $padding;
      border-bottom  : 1px solid rgba(0, 0, 0, 0.1);
      a{
        display: block;
        height: 100%;
        width: 100%;
      }
    }
  }
}

$leftPaneWidth: 200px;

.main-container{
  padding: 0px $padding * 5;
}
.content-pane{
  width: calc(100% - #{$leftPaneWidth})
}
.left-pane{
  width: $leftPaneWidth;
}
.content-pane, .left-pane{
  padding     : $padding;
  float: left;
}

.status{
  padding: $padding;
  text-align: right;
  .source{
    padding: 0px $padding;
  }
}