$positionFromTop: $collapsedBarHeight;
$topPadding: 10px;

$videoHeight: 299px;
$videoWidth: 500px;

$transitionDuration: 300ms;


#video-sticky{
  width: $videoWidth;
  height: $videoHeight;

  .video-wrapper{
    padding: $topPadding 0px;
    width: $videoWidth;
    height: $videoHeight;
    @include transition(transform, $transitionDuration, ease);
    @include transformOrigin(0 0);

    video{
      @include transformOrigin(0 0);
      @include transition(transform, $transitionDuration, ease);
    }
  }
}

#video-sticky.fixed{
  .video-wrapper{
    position: fixed;
    top: $positionFromTop;
  }
}

#video-sticky.resize{
  .video-wrapper{
    video{@include transform(scale(0.5));}
  }
}
