@import 'base';

$bodyHeight: calc(100vh - 200px);

#content{
  padding: 0px 50px;
  #right-window{
    width: $rightWindowWidth;
    height: $bodyHeight;
    border: 1px solid black;
    display: inline-block;
  }
  #left-window{
    width: $leftWindowWidth;
    height: $bodyHeight;
    border: 1px solid black;
    display: inline-block;
  }
}

.high{
  #content{
    position: relative;
    top: -50px;
  }
}