@import 'base';

$bodyHeight: calc(100vh - 200px);
$barColor: $barLabelColor;
$bodyColor: rgba(33, 150, 243, 0.1);
$borderColor: rgba(119, 147, 169, 0.18);
$barHeight: 50px;
$borderRadius: 1px;

#content{
  padding: 0px 50px;
  .window{
    height: $bodyHeight;
    float: left;
    background-color: $bodyColor;
    margin-left: 10px;
    border: 1px solid $borderColor;
    border-radius: $borderRadius;

    .pane{
      height: calc(100% - #{$barHeight});
      overflow: hidden;
    }

    .bar{
      height: 50px;
      background-color: rgba(255, 255, 255, 0.95);
      color: $barColor;
      border-bottom: 1px solid rgba(209, 235, 255, 0.7);
      border-top-right-radius: $borderRadius;
      border-top-left-radius: $borderRadius;

      > li{
        display: inline-block;
        height: 50px;
        line-height: 48px;
      }
      .icon{
        width: 50px;
        text-align: center;
      }
      .more{
        float: right;
        padding-top: 5px;
        border-left: 1px solid $borderColor;
        color: rgba(0,0,0,0.2);
      }
    }
  }
  .right.window{
    width: $rightWindowWidth;
  }
  .left.window{
    width: $leftWindowWidth;
  }
}

.high{
  #content{
    position: relative;
    top: -50px;
  }
}