@import 'base';

$bodyHeight: calc(100vh - 200px);
$barColor: $barLabelColor;

#content{
  padding: 0px 50px;
  .window{
    height: $bodyHeight;
    //display: inline-block;
    float: left;
    background-color: rgba(33, 150, 243, 0.1);
    margin-left: 10px;
    .bar{
      height: 50px;
      background-color: white;
      box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
      color: $barColor;
      > li{
        display: inline-block;
        height: 50px;
        line-height: 48px;
      }
      .icon{
        width: 50px;
        text-align: center;
      }
      .more{
        float: right;
      }
    }
  }
  .right.window{
    width: $rightWindowWidth;
  }
  .left.window{
    width: $leftWindowWidth;
  }
}

.high{
  #content{
    position: relative;
    top: -50px;
  }
}