@import 'base';
@import url(https://fonts.googleapis.com/css?family=Roboto:300,100,700);


$topBarHeight : 100px;
$topBarBg : rgba(1, 1, 1, 0.3);
$logoColor: rgba(255, 255, 255, 0.7);
$navigationButtonWidth : 100px;
$circularButtonSize : 50px;

body{
  font-family: 'Roboto', sans-serif;
  *{box-sizing: border-box;}
}

#top-bar{
  height: $topBarHeight;
  background-color: $topBarBg;

  ul.buttons{
    @extend .undo-list;
    > li{
      display: block;
      float: left;
      height: $topBarHeight;
    }
    .logo{
      width: $leftWindowWidth;
      font-size: 2em;
      font-weight: 700;
      color: $logoColor;
      line-height: $topBarHeight - 10px;

      img.icon{
        vertical-align: middle;
        height: 50px;
        width: 50px;
      }
    }
    .navigation{
      width: calc(100% - #{$leftWindowWidth});
      > ul{
        > li{
          width: $navigationButtonWidth;
          float: left;
        }
        .button{
          text-align: center;
          height: $topBarHeight;
          padding-top: 15px;

          .circle{
            display: block;
            margin: 0 auto;

            height: $circularButtonSize;
            width: $circularButtonSize;
            line-height: $circularButtonSize;
            border: 1px solid $logoColor;
            border-radius: 50%;

            color: #2196F3;
          }
          label{
            display: block;
            font-weight: 700;
            font-size: 13px;
            color: rgba(0,0,0,0.5 );
            line-height: 25px;
          }
        }

      }
    }
  }
}