@import 'base';
@import url(https://fonts.googleapis.com/css?family=Roboto:300,100,700);


$topBarHeight : 100px;
$topBarBg : rgba(1, 1, 1, 0.3);
$logoColor: rgba(255, 255, 255, 0.7);
$navigationButtonWidth : 100px;
$circularButtonSize : 50px;

body{
  font-family: 'Roboto', sans-serif;
  *{box-sizing: border-box;}
}

#top-bar{
  height: $topBarHeight;
  background-color: $topBarBg;

  ul.buttons{
    @extend .undo-list;
    > li{
      display: block;
      float: left;
      height: $topBarHeight;
    }
    .logo{
      width: $leftWindowWidth;
      font-size: 2em;
      font-weight: 700;
      color: $logoColor;
      line-height: $topBarHeight - 10px;

      img.icon{
        vertical-align: middle;
        height: 50px;
        width: 50px;
      }
    }
    .navigation{
      width: $rightWindowWidth;
      text-align: center;
      > ul{
        > li{
          width: $navigationButtonWidth;
          display: inline-block;
        }
      }
    }
    .button{
      text-align: center;
      height: $topBarHeight;
      padding-top: 15px;

      .circle{
        text-align: center;
        display: inline-block;
        margin: 0 auto;

        height: $circularButtonSize;
        width: $circularButtonSize;
        line-height: $circularButtonSize;
        border: 1px solid $logoColor;
        border-radius: 50%;

        color: rgba(33, 150, 243, 0.72);
      }
      label{
        display: block;
        font-weight: 700;
        font-size: 13px;
        color: rgba(0,0,0,0.5 );
        line-height: 25px;
      }
    }
    .login{
      width: calc(100% - #{$rightWindowWidth + $leftWindowWidth});
      .user.button{
        text-align: right;
        padding-right: 20px;
      };
    }
  }
}

#top-bar.high{
  height: 150px;
  padding-top: 50px;
  .login{
    position: relative;
    top: -50px;
  }
}