@import url(https://fonts.googleapis.com/css?family=Roboto:300,500,700);
ul.undo-list, #top-bar > ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: block; }

input {
  padding: 0px;
  margin: 0px;
  display: block;
  box-sizing: border-box;
  border: none; }

body {
  font-family: 'Roboto', sans-serif;
  min-width: 950px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.05); }
  body * {
    box-sizing: border-box; }

#top-bar {
  height: 100px;
  background-color: rgba(1, 1, 1, 0.2);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  padding: 0px 20px 0px 60px; }
  #top-bar > ul > li {
    display: block;
    float: left;
    height: 100px; }
  #top-bar > ul .logo {
    width: 350px;
    font-size: 2em;
    font-weight: 700;
    color: white;
    line-height: 90px; }
    #top-bar > ul .logo img.icon {
      vertical-align: middle;
      height: 50px;
      width: 50px; }
  #top-bar > ul .navigation {
    width: calc(100% - 370px);
    padding-right: 30px;
    text-align: left; }
    #top-bar > ul .navigation > ul > li {
      width: 100px;
      display: inline-block; }
  #top-bar > ul .button {
    text-align: center;
    height: 100px;
    padding-top: 15px; }
    #top-bar > ul .button .circle {
      text-align: center;
      display: inline-block;
      margin: 0 auto;
      height: 50px;
      width: 50px;
      line-height: 50px;
      border: 1px solid white;
      border-radius: 50%;
      color: rgba(33, 150, 243, 0.72);
      -webkit-transition: all 100ms ease;
      -moz-transition: all 100ms ease;
      -o-transition: all 100ms ease;
      transition: all 100ms ease; }
    #top-bar > ul .button label {
      display: block;
      font-weight: 700;
      font-size: 13px;
      color: rgba(0, 0, 0, 0.5);
      line-height: 25px;
      -webkit-transition: all 100ms ease;
      -moz-transition: all 100ms ease;
      -o-transition: all 100ms ease;
      transition: all 100ms ease; }
  #top-bar > ul .login {
    float: right; }
    #top-bar > ul .login .user.button {
      text-align: right; }
      #top-bar > ul .login .user.button .circle {
        background: rgba(255, 255, 255, 0.68);
        color: #B3B3B3;
        border: none;
        margin-right: 10px;
        font-size: 25px; }
      #top-bar > ul .login .user.button label:before {
        float: right;
        font-weight: 300; }
  #top-bar > ul .button.active .circle, #top-bar > ul .button:hover .circle {
    border: 1px solid rgba(33, 150, 243, 0.72); }
  #top-bar > ul .button.active label, #top-bar > ul .button:hover label {
    color: rgba(0, 0, 0, 0.6); }

.high #top-bar {
  height: 200px;
  padding-top: 50px;
  padding-bottom: 50px; }
  .high #top-bar * {
    -webkit-transition: all 100ms ease;
    -moz-transition: all 100ms ease;
    -o-transition: all 100ms ease;
    transition: all 100ms ease; }
  .high #top-bar .login {
    position: relative;
    top: -45px; }

ul.undo-list, #top-bar > ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: block; }

input {
  padding: 0px;
  margin: 0px;
  display: block;
  box-sizing: border-box;
  border: none; }

#content {
  padding: 0px 50px; }
  #content .window {
    height: calc(100vh - 200px);
    float: left;
    background-color: rgba(162, 205, 239, 0.1);
    border-radius: 5px;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.2); }
    #content .window .pane {
      height: calc(100% - 50px);
      overflow: auto; }
    #content .window .bar {
      height: 50px;
      background-color: rgba(255, 255, 255, 0.95);
      color: rgba(0, 0, 0, 0.6);
      border: 1px solid white;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.1); }
      #content .window .bar > li {
        display: inline-block;
        height: 50px;
        line-height: 48px; }
      #content .window .bar .icon {
        width: 50px;
        text-align: center; }
      #content .window .bar .more {
        float: right;
        padding-top: 5px;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 0.2); }
  #content .right.window {
    width: calc(100% - 370px);
    margin-left: 20px; }
    #content .right.window .bar .title {
      padding-left: 15px; }
  #content .left.window {
    width: 350px; }

.high #content {
  position: relative;
  top: -45px; }

.right.window .messages > li {
  padding: 0px 10px;
  line-height: 45px;
  font-size: 13px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin: 0px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
.right.window .messages .message {
  padding: 5px;
  height: 100px; }
  .right.window .messages .message .icon > img {
    width: 100%;
    border-radius: 50%; }
  .right.window .messages .message .icon, .right.window .messages .message .text {
    float: left;
    height: 100px;
    padding: 20px 5px; }
  .right.window .messages .message .icon {
    width: 60px; }

body:not(.high) * {
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  transition: all 100ms ease; }
body:not(.high) #top-bar {
  background-color: #EEE !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09); }
  body:not(.high) #top-bar .logo {
    color: #03a9f4 !important; }
  body:not(.high) #top-bar .button .circle {
    border: 1px solid #03a9f4 !important;
    color: #03a9f4 !important; }
body:not(.high) .window {
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.09) !important;
  height: calc(100vh - 120px) !important;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.57) !important;
  overflow: hidden !important; }
  body:not(.high) .window .bar {
    background-color: #EEE !important;
    border: 1px solid transparent !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
    border-radius: 0px !important;
    box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.5) !important; }
    body:not(.high) .window .bar .pane {
      border: 1px solid rgba(0, 0, 0, 0.09) !important; }

/*# sourceMappingURL=index.css.map */
