$topBarHeight : 100px;
$topBarBg : rgba(1, 1, 1, 0.3);
$logoColor: rgba(255, 255, 255, 0.7);
$navigationButtonWidth : 100px;
$circularButtonSize : 50px;

#top-bar{
  height: $topBarHeight;
  background-color: $topBarBg;
  @include transition(all 500ms ease);
  padding: 0px 20px 0px 60px;

  ul.buttons{
    @extend .undo-list;
    > li{
      display: block;
      float: left;
      height: $topBarHeight;
    }
    .logo{
      width: $leftWindowWidth;
      font-size: 2em;
      font-weight: 700;
      color: $logoColor;
      line-height: $topBarHeight - 10px;

      img.icon{
        vertical-align: middle;
        height: 50px;
        width: 50px;
      }
    }
    .navigation{
      width: $rightWindowWidth;
      text-align: right;
      > ul{
        > li{
          width: $navigationButtonWidth;
          display: inline-block;
        }
      }
    }
    .button{
      text-align: center;
      height: $topBarHeight;
      padding-top: 15px;

      .circle{
        text-align: center;
        display: inline-block;
        margin: 0 auto;

        height: $circularButtonSize;
        width: $circularButtonSize;
        line-height: $circularButtonSize;
        border: 1px solid $logoColor;
        border-radius: 50%;

        color: rgba(33, 150, 243, 0.72);
        @include transition(all 100ms ease);
      }
      label{
        display: block;
        font-weight: 700;
        font-size: 13px;
        color: rgba(0,0,0,0.5 );
        line-height: 25px;
        @include transition(all 100ms ease);
      }
    }
    .login{
      width: calc(100% - #{$rightWindowWidth + $leftWindowWidth});
      .user.button{
        text-align: right;
        .circle {
          background: rgba(255, 255, 255, 0.68);
          color: #B3B3B3;
          border: none;
          margin-right: 10px;
          font-size: 25px;
        }
        label:before{
          float: right;
          font-weight: 300;
        }
      };
    }
    .button.active{
      .circle{
        border: 1px solid rgba(33, 150, 243, 0.72);
      }
      label{
        color: $barLabelColor;
      }
    }
    .button:hover{
      @extend .active;
    }
  }
}

.high #top-bar{
  height: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
  .login{
    position: relative;
    top: -50px;
  }
}