body:not(.high){
  * {@include transition(all 100ms ease)};

  #top-bar{
    background-color: #EEE !important;
    .logo{
      color: $themeColor !important;
    }

    .button{
      .circle{
        border: 1px solid #03a9f4 !important;
        color: $themeColor !important;
      }
    }
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  }

  .window{
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.09)  !important;
    height: calc(100vh - 120px) !important;
    margin-bottom: 10px;
    background-color: white !important;
    overflow: hidden !important;
    .bar{
      background-color: #EEE !important;
      border: 1px solid rgba(0, 0, 0, 0)  !important;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
      border-radius: 0px !important;
      box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.5) !important;

      .pane{
        border: 1px solid rgba(0, 0, 0, 0.09)  !important;
      }
    }
  }
}