body:not(.high){
  * {@include transition(all 100ms ease)};

  #top-bar{
    background-color: #EEE !important;
    .logo{
      color: rgba(116, 6, 3, 0.69) !important;
    }

    .button{
      .circle{
        border: 1px solid #03a9f4 !important;
        color: $themeColor !important;
      }
    }
    .button:hover{
      .circle{
        background-color: $themeColor;
        color: white !important;
      }
    }
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  }

  .window{
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.09)  !important;
    height: calc(100vh - 120px) !important;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.57) !important;
    overflow: hidden !important;
    box-shadow: none !important;

    .bar{
      background-color: #EEE !important;
      border: 1px solid rgba(0, 0, 0, 0)  !important;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
      border-radius: 0px !important;
      box-shadow: none !important;

      .pane{
        border: 1px solid rgba(0, 0, 0, 0.09)  !important;
      }
    }
  }
}