
$flipperHeight : 100vh;

ul.undo-list{
  list-style: none;
  margin: 0px auto;
  display: block;
  padding: 0px;
}

$pages : 3;
.flipper{
  @extend .undo-list;
  height: $flipperHeight * $pages;
  overflow: hidden;
  background-color: #EEE;

  .page.opened.closed{
    transform: translateY(-200vh)
  }
  .page.opened{
    transform: translateY(-100vh)
  }
  .page{
    position: fixed;
    top: 100vh;

    width: 100%;

    display: block;
    background-color: white;
    height: 100vh;
    text-align: center;
    transition: transform 500ms cubic-bezier(0,.74,.51,.51);
    h1{margin: 0px;}
  }
}