
$flipperHeight : 100vh;

@mixin transition($property, $time){
  -webkit-transition: $property $time cubic-bezier(0.080, 0.285, 0.400, 0); /* older webkit */
  -webkit-transition: $property $time cubic-bezier(0.080, 0.285, 0.400, -0.075);
  -moz-transition:    $property $time cubic-bezier(0.080, 0.285, 0.400, -0.075);
  -o-transition:      $property $time cubic-bezier(0.080, 0.285, 0.400, -0.075);
  transition:         $property $time cubic-bezier(0.080, 0.285, 0.400, -0.075); /* custom */
}

ul.undo-list{
  list-style: none;
  margin: 0px auto;
  display: block;
  padding: 0px;
}

$pages : 3;
.flipper{
  @extend .undo-list;
  height: $flipperHeight * $pages;
  overflow: hidden;
  background-color: #EEE;

  .page.opened.closed{
    transform: translateY(-200vh)
  }
  .page.opened{
    transform: translateY(-100vh)
  }
  .page{
    position: fixed;
    top: 100vh;

    width: 100%;

    display: block;
    background-color: white;
    height: 100vh;
    text-align: center;
    h1{margin: 0px;}
  }
}