$barHeight : 50px;
$topBarLayer: 205;

header, footer {
  position: fixed;
  width: 100%;
  background-color: #EEE;
}

header {
  top: 0px;
  padding: 15px;
  z-index: $topBarLayer;
  height: $barHeight;
}

header > .logo {
  float: left;
}

header > .reset {
  float: right;
  animation: reset;
}

header > .reset.animate {
  opacity: 0.8;
  animation-name: fadeIn;
  animation-duration: 1000ms;
  animation-timing-function: ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
  to {
    opacity: 1;
    transform : rotate(-360deg);
  }
}

#bottom-bar {
  bottom: 0px;

  .time {
    float: left;
  }

  .time, .submit{
    height: $barHeight;
    padding: 15px;
    width: 50%;
    text-align: center;
  }

  .submit {
    float: right;
  }
  .submit.disabled {
    background-color: #DADADA;
    color: #CBC7C6;
  }
}

