$barHeight : 50px;
$topBarLayer: 205;

header, footer {
  position: fixed;
  width: 100%;
  background-color: #EEE;
}

header {
  top: 0px;
  padding: 15px;
  z-index: $topBarLayer;
  height: $barHeight;
}

header > .logo {
  float: left;
}

header > .reset {
  float: right;
  animation: reset;
}

header > .reset.animate {
  opacity: 0.8;
  animation-name: fadeIn;
  animation-duration: 1000ms;
  animation-timing-function: ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
  to {
    opacity: 1;
    transform : rotate(-360deg);
  }
}

#bottom-bar {
  bottom: 0px;

  .time {
    float: left;
    border: 10px solid rgb(130, 196, 133);
    background-color: rgb(130, 196, 133);
    div{
      border-radius: 1px;

      padding-top: 7.5px;
      font-size: 13px;
      background-color: rgb(211, 235, 212);
      height: 100%;
    }
  }

  .time, .submit{
    height: $barHeight;
    width: 50%;
    text-align: center;
  }

  .submit {
    float: right;
    padding: 15px;
    background-color: #FF9800;
    -webkit-transition: opacity  500ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
    -moz-transition:    opacity  500ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
    -o-transition:      opacity  500ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
    transition:         opacity  500ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
  }
  .submit.disabled {
    background-color: #DADADA;
    color: #CBC7C6;
  }
}

