$navLayer : 100;
$navHeight: calc(100vh - 50px);
$menuButtonSize: 40px;

nav{
  .left-pane, .right-pane, .menu-button{
    -webkit-transition: all 500ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
    -moz-transition:    all 500ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
    -o-transition:      all 500ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
    transition:         all 500ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
  }
}

#menu{
  background-color: black;
  overflow: hidden;
  margin-top: 50px;

  .planets > li, .vehicles > li{
    height: 50px;
  }

  .left-pane,.right-pane{
    z-index: $navLayer;
    position: fixed;
    box-sizing: border-box;
    margin:0;
    padding:0;

    .overview{
      float: left;
      width: 100px;
      height: 50px;

      padding: 10px;
      text-align: center;

      img{
        height: 30px;
        width: 30px;
        border-radius: 50%;
      }
    }
    .description{
      float: left;
      width: 150px;
      height: 50px;

      font-size: 13px;
      line-height: 20px;
      padding: 10px;

      border-bottom: 1px solid rgba(1, 1, 1, 0.1);
    }
  }

  .left-pane{
    transform: translateX(-250px);
    .overview, .description{
      border-bottom: 1px solid rgba(251, 251, 251, 0.3);
    }
  }

  .right-pane{
    right: 0px;
    transform: translateX(250px);
    .overview, .description{
      border-bottom: 1px solid rgba(1, 1, 1, 0.1);
    }
  }
}

#menu.show.planets{
  .left-pane{
    transform: translateX(0px);
  }
}

#menu.show.vehicles{
  .right-pane{
    transform: translateX(0px);
  }
  .left-pane{
    transform: translateX(0px);
  }
}

#menu > .menu-button{
  position: fixed;
  top: 50px;
  right: 0px;
  z-index: $navLayer + 1;

  width: $menuButtonSize;
  height: $menuButtonSize;
  overflow: hidden;

  margin: 10px 10px 0 0;

  background-color: rgba(1, 1, 1, 0.5);
  color: white;

  text-align: center;
  border-radius: 50%;
}

.menu-button > .open, .close{
  font-size: 30px;
  float: left;
  height: $menuButtonSize;
  width: $menuButtonSize;
}

.menu-button > .close{
  position: relative;
  top: -$menuButtonSize;
}

#menu.show > .menu-button{
  transform: rotate(360deg);
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(1, 1, 1, 0.5);
}

#menu:not(.show) > .menu-button > .close{
   visibility: hidden;
}

#menu.show > .menu-button > .open{
   visibility: hidden;
}