$navLayer : 100;
$navHeight: calc(100vh - 50px);

nav{
  .left-pane,.right-pane{
    -webkit-transition: all 500ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
    -moz-transition:    all 500ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
    -o-transition:      all 500ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
    transition:         all 500ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
  }
}

nav{
  background-color: black;
  overflow: hidden;
  margin-top: 50px;

  .menu-button{
    position: fixed;
    top: 50px;
    right: 0px;
    z-index: $navLayer + 1;

    width: 40px;
    height: 40px;

    margin: 10px 10px 0 0;
    padding-top: 10px;

    background-color: rgba(1, 1, 1, 0.5);
    color: white;

    text-align: center;
    border-radius: 50%;
  }

  .left-pane,.right-pane{
    z-index: $navLayer;
    position: fixed;
    box-sizing: border-box;
    margin:0;
    padding:0;

    .overview{
      float: left;
      width: 100px;
      height: $navHeight;
    }
    .description{
      float: left;
      width: 150px;
      height: $navHeight;
    }
  }

  .left-pane{
    transform: translateX(-250px);
  }

  .right-pane{
    right: 0px;
    transform: translateX(250px);
  }
}

nav.show.planets{
  .right-pane{
    transform: translateX(150px);
  }
  .left-pane{
    transform: translateX(0px);
  }
}

nav.show.vehicles{
  .right-pane{
    transform: translateX(0px);
  }
  .left-pane{
    transform: translateX(0px);
  }
}