$navLayer : 100;
$navHeight: calc(100vh - 50px);
$menuButtonSize: 40px;

nav{
  .left-pane, .right-pane, .menu-button{
    -webkit-transition: all 500ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
    -moz-transition:    all 500ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
    -o-transition:      all 500ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
    transition:         all 500ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
  }
}

nav{
  background-color: black;
  overflow: hidden;
  margin-top: 50px;

  .left-pane,.right-pane{
    z-index: $navLayer;
    position: fixed;
    box-sizing: border-box;
    margin:0;
    padding:0;

    .overview{
      float: left;
      width: 100px;
      height: $navHeight;
    }
    .description{
      float: left;
      width: 150px;
      height: $navHeight;
    }
  }

  .left-pane{
    transform: translateX(-250px);
  }

  .right-pane{
    right: 0px;
    transform: translateX(250px);
  }
}

nav.show.planets{
  .right-pane{
    transform: translateX(150px);
  }
  .left-pane{
    transform: translateX(0px);
  }
}

nav.show.vehicles{
  .right-pane{
    transform: translateX(0px);
  }
  .left-pane{
    transform: translateX(0px);
  }
}

nav > .menu-button{
  position: fixed;
  top: 50px;
  right: 0px;
  z-index: $navLayer + 1;

  width: $menuButtonSize;
  height: $menuButtonSize;
  overflow: hidden;

  margin: 10px 10px 0 0;

  background-color: rgba(1, 1, 1, 0.5);
  color: white;

  text-align: center;
  border-radius: 50%;
}

.menu-button > .open, .close{
  padding-top: 10px;
  float: left;
  height: $menuButtonSize;
  width: $menuButtonSize;
}

.menu-button > .close{
  position: relative;
  top: -$menuButtonSize;
}

nav.show > .menu-button{
  transform: rotate(360deg);
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(1, 1, 1, 0.5);
}

nav:not(.show) > .menu-button > .close{
   visibility: hidden;
}

nav.show > .menu-button > .open{
   visibility: hidden;
}
