.timeline{
  .timeline-header{
    .labels.bar{
      width: 100%;
      .position,  .project{
        width: 50%;
        float: left;
        height: $labels_height;
        line-height: $labels_height;
        text-align: center;
      }
    }
  }
}
