@import 'css/config';

$imageWidth: 250px;
$imageHeight: 250px;

$cardHeight: auto;
$cardBorder : 1px;

$cardWidth: $imageWidth + 10px;
$cardPadding : 5px;

$captionHeight: 60px;
$buttonHeight: 45px;
$cardMargin: 15px;

ul.deck{
  list-style: none;
  padding : 0;
  margin: 0;
  display: block;
  > li{
    display: inline-block;
    padding: $cardMargin;
  }
}
.card{
  display: block;
  box-sizing: border-box;

  height: $cardHeight;
  width: $cardWidth;
  overflow: hidden;

  text-align: center;
  border: 1px solid rgba(1, 1, 1, 0.1);
  padding: $cardPadding;

  .picture{
    img{
      width: $imageWidth;
      height: $imageHeight;
      box-sizing: border-box;
    }
  }
  .caption{
    height: $captionHeight;
    .title{
      font-size: 2em;
      display: block;
    }
  }
  button.open{
    display: block;
    margin: auto;
    border: 1px solid rgba(0,0,0,0.1);
    outline: none;
    background-color: white;
    width: 80%;
    height: $buttonHeight;
    border-radius: 2px;
    @include transition(all, 500ms, ease);
  }
  button.open:hover{
    background-color: rgba(0,0,0,0.8);
    color: rgba(255, 255, 255, 0.9);
  }
}