/* start colors */

.dark-txt {
  color: #434A54;
}

.light-txt{
  color: #CECECE;
}

.dark-bg {
  background-color: #E1E5E8;
}

.light-bg {
  background-color: #F3F3F3;
}

.very-light-bg{
  background-color: #F3F3F3;
}

.catchy-bg-color{
  background-color: #6785F0;
}

/* end colors */
