/* start colors */
$darkText: #434A54;
$lightText: #CECECE;
$darkBg: #E1E5E8;
$lightBg: #F3F3F3;
$catchyColor: #6785F0;

.dark-txt {
  color: $darkText;
}

.light-txt{
  color: $lightText;
}

.dark-bg {
  background-color: $darkBg;
}

.light-bg {
  background-color: $lightBg;
}

.very-light-bg{
  background-color: $lightBg;
}

.catchy-bg-color{
  background-color: $catchyColor;
}

/* end colors */
