// This file should be empty
// Use it to create quick fixes, refactor into component later

.very-high-to-test-scroll{
  height: 3000px;
}

.show-loader-for-demo{
  width: 70%;
  display: block;
}

.white-bg{
  background-color: white;
}

table{
  width: 100%;
}
tr {
  margin: 5px;
}

th{
  font-size: 1.2em;
  padding-bottom: 5px;
  border-top: 1px solid #F3F3F3;
  border-bottom: 1px solid #F3F3F3;
  border-right: 1px solid #F3F3F3;
  background-color: #E1E5E8;
}
td {
  padding: 5px;
  border-bottom: 1px solid #E1E5E8;
}

#section-heading{
  border-bottom: 1px solid #EFEFEF;
  text-align: left;
  margin-left: 10px;
}

select{
  height: 35px;
  padding-left: 15px;
  text-align: center;
}


.floating-row-options{
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  position: fixed;
  z-index: 3;
}

.control-option{
  margin: 10%;
  background-color: white;
}


ul.inline{
  list-style-type: none;
  li{
    display: inline-block;
  }
}

a{
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
  padding-top: 10px;
  margin-left: 10px;
}