// This file should be empty
// Use it to create quick fixes, refactor into component later

.very-high-to-test-scroll{
  height: 3000px;
}

.show-loader-for-demo{
  width: 70%;
  display: block;
}


.white-bg{
  background-color: white;
}
