/* start default styling */

input, button{
  padding: 6px 12px 6px 12px;
  margin: 5px;
  min-width: 250px;

  -webkit-border-radius: 5px;
  border-radius: 5px;

  -webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
}

input:hover, button:hover{
  transform: scale(1.05);
}

button:hover{
  border: 0 solid #599f3f;
  color: rgba(247, 242, 242, 0.81);
}

button{
  cursor: pointer;
  background-color: rgba(66, 127, 237, 0.8);
  overflow: hidden;
}


/* end default styling */
