/* start fonts */
$fontFile       : "../fonts/UbuntuTitling-Bold.ttf";
$fontFileFile   : "opentype";
$fontFamily     : UbuntuTitling;

@font-face {
  font-family: $fontFamily;
  src: url($fontFile) format($fontFileFile);
}

body, div, h1, p, span, img, form, input, button, ul, li, a{
  font-family: $fontFamily;
}
/* end fonts */
