/* start fonts */
$fontFile       : "../fonts/UbuntuTitling-Bold.ttf";
$fontFileFile   : "opentype";
$boldFontFamily: UbuntuTitlingBold;

// font size for immediate user attention
$catchyFontSize: 1.3em;

@font-face {
  font-family: $boldFontFamily;
  src: url($fontFile) format($fontFileFile);
}

body, div, h1, p, span, img, form, input, button, ul, li, a{
  font-family: $boldFontFamily;
}

h1{
  font-size: 1.6em;
}

input, button{
  font-size: $catchyFontSize;
}
/* end fonts */
