/* start properties */

 @import 'colors';

.fixed-positioned{
  position: fixed;
}

.absolute-positioned{
  position: absolute;
}

.top-of-window{
  top: 0;
}

.layer-1{
  z-index: 1;
}

.layer-2{
  z-index: 2;
}

.layer-3{
  z-index: 3;
}

.full-width {
  width: 100%;
}

.centered-text {
  text-align: center;
}

.no-display {
  display: none;
}

.dark-txt {
  color: $darkText;
}

.light-txt{
  color: $lightText;
}

.dark-bg {
  background-color: $darkBg;
}

.light-bg {
  background-color: $lightBg;
}

.very-light-bg{
  background-color: $lightBg;
}

.catchy-bg-color{
  background-color: $catchyColor;
}

.pressed-button{
  background-color: #95B6F1;
  transform: scale(0.90) !important;
}
/* start properties */
