body, div, h1, p, span, img, form, input, button, ul, li, a{
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;

  outline: none;
  text-align: center;

  color: #565656;
  background-color: transparent;
  font-size: large;
  border-radius: 0;
}

/* end reset */
