/* start surface design */

@import 'colors';

input, button{
  box-shadow: 4px 3px 3px #ddd;
}

input{
  border-top: 1px solid;
  border-left: 1px solid;
  border-color: $inputBorderColor;
}
/* end surface design */
