ul.period-list > li {
  ul.projects{
    @extend .undo-list;
    @extend .resize-container;
    > li {
      width: 50%;
      float: right;
      clear: right;
      > .card{
        width: calc(100% - #{$padding * 2});
        margin: auto;
        background: green;
      }
    }
  }
}
