ul.timeline
  li(ng-repeat='position in timeline.positions')
    span.period
    .position
      .card
        label.title(ng-bind="position.title")
        label.organisation(ng-bind="position.organisation")
        p.description(ng-bind="position.description")
        label {{position.period.from.month}}/{{position.period.from.year}} - {{position.period.to.month}}/{{position.period.to.year}}
    ul.projects
      li(ng-repeat='project in position.projects')
        .card
          label.title(ng-bind="project.title")
          p.description(ng-bind="project.description")
          label {{project.period.from.month}}/{{project.period.from.year}} - {{project.period.to.month}}/{{project.period.to.year}}