$blastDuration : 0.25s;
$rippleDuration : 0.5s;

$shrinksTo : 0.95;
$expandsTo : 1.5;
.ripple{
  $offset: 5px;
  position: absolute;
  z-index: -1;
  left: -$offset;
  top: -$offset;

  opacity: 0;
  height: 100%;
  width: 100%;

  pointer-events: none;
  border: $offset solid;

  @include transformOrigin(50% 50%);
  @include animation(blast-away-frames $rippleDuration);
  @include animationFunction(cubic-bezier(0.250, 0.460, 0.450, 0.940));
  @include animationDelay(0);
}

.blast-animate{
  position: relative;
  overflow: visible;

  @include transformOrigin(50% 50%);
  @include animation(blast-frames $blastDuration);
  @include animationFunction(ease);
  @include animationDelay(0s);
}
.blast-animate:after{
  @extend .ripple;
  content: " ";
}

@keyframes blast-frames{
  0% {
    transform:  scaleX(1.00) scaleY(1.00) ;
  }
  25% {
    transform:  scaleX($shrinksTo) scaleY($shrinksTo) ;
  }
  50% {
    transform:  scaleX($expandsTo) scaleY($expandsTo) ;
  }
  100% {
    transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-moz-keyframes blast-frames{
  0% {
    -moz-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  25% {
    -moz-transform:  scaleX($shrinksTo) scaleY($shrinksTo) ;
  }
  50% {
    -moz-transform:  scaleX($expandsTo) scaleY($expandsTo) ;
  }
  100% {
    -moz-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-webkit-keyframes blast-frames {
  0% {
    -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  25% {
    -webkit-transform:  scaleX($shrinksTo) scaleY($shrinksTo) ;
  }
  50% {
    -webkit-transform:  scaleX($expandsTo) scaleY($expandsTo) ;
  }
  100% {
    -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-o-keyframes blast-frames {
  0% {
    -o-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  25% {
    -o-transform:  scaleX($shrinksTo) scaleY($shrinksTo) ;
  }
  50% {
    -o-transform:  scaleX($expandsTo) scaleY($expandsTo) ;
  }
  100% {
    -o-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-ms-keyframes blast-frames {
  0% {
    -ms-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  25% {
    -ms-transform:  scaleX($shrinksTo) scaleY($shrinksTo) ;
  }
  50% {
    -ms-transform:  scaleX($expandsTo) scaleY($expandsTo) ;
  }
  100% {
    -ms-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}