$finalOpacity: 0;
$initialOpacity: 0.5;

$initialSize  : 1;
$finalSize    : 1.5;

@keyframes blast-away-frames{
  0% {
    opacity: $initialOpacity;
    transform:  scaleX($initialSize) scaleY($initialSize) ;
  }
  100% {
    opacity: $finalOpacity;
    transform:  scaleX($finalSize) scaleY($finalSize) ;
  }
}
//
//@-moz-keyframes blast-away-frames{
//  0% {
//    opacity: $initialOpacity;
//    -moz-transform:  scaleX(1.00) scaleY(1.00) ;
//  }
//  25% {
//    -moz-transform:  scaleX(0.49) scaleY(0.49) ;
//  }
//  50% {
//    -moz-transform:  scaleX(1.50) scaleY(1.50) ;
//  }
//  100% {
//    opacity: $finalOpacity;
//    -moz-transform:  scaleX(1.00) scaleY(1.00) ;
//  }
//}
//
//@-webkit-keyframes blast-away-frames {
//  0% {
//    opacity: $initialOpacity;
//    -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
//  }
//  25% {
//    -webkit-transform:  scaleX(0.49) scaleY(0.49) ;
//  }
//  50% {
//    -webkit-transform:  scaleX(1.50) scaleY(1.50) ;
//  }
//  100% {
//    opacity: $finalOpacity;
//    -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
//  }
//}
//
//@-o-keyframes blast-away-frames {
//  0% {
//    opacity: $initialOpacity;
//    -o-transform:  scaleX(1.00) scaleY(1.00) ;
//  }
//  25% {
//    -o-transform:  scaleX(0.49) scaleY(0.49) ;
//  }
//  50% {
//    -o-transform:  scaleX(1.50) scaleY(1.50) ;
//  }
//  100% {
//    opacity: $finalOpacity;
//    -o-transform:  scaleX(1.00) scaleY(1.00) ;
//  }
//}
//
//@-ms-keyframes blast-away-frames {
//  0% {
//    opacity: $initialOpacity;
//    -ms-transform:  scaleX(1.00) scaleY(1.00) ;
//  }
//  25% {
//    -ms-transform:  scaleX(0.49) scaleY(0.49) ;
//  }
//  50% {
//    -ms-transform:  scaleX(1.50) scaleY(1.50) ;
//  }
//  100% {
//    opacity: $finalOpacity;
//    -ms-transform:  scaleX(1.00) scaleY(1.00) ;
//  }
//}