$blastDuration : 1s;
$rippleDuration : 1s;

.ripple{
  $offset: 5px;
  position: absolute;
  z-index: -1;
  left: -$offset;
  top: -$offset;

  opacity: 0;
  height: 100%;
  width: 100%;

  pointer-events: none;
  border: $offset solid;

  @include transformOrigin(50% 50%);
  @include animation(blast-away-frames $rippleDuration);
  @include animationFunction(ease);
  @include animationDelay($blastDuration/2);
}

.blast-animate{
  position: relative;
  overflow: visible;

  @include transformOrigin(50% 50%);
  @include animation(blast-frames $blastDuration);
  @include animationFunction(ease);
}
.blast-animate:after{
  @extend .ripple;
  content: " ";
}

@keyframes blast-frames{
  0% {
    transform:  scaleX(1.00) scaleY(1.00) ;
  }
  25% {
    transform:  scaleX(0.49) scaleY(0.49) ;
  }
  50% {
    transform:  scaleX(1.50) scaleY(1.50) ;
  }
  100% {
    transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-moz-keyframes blast-frames{
  0% {
    -moz-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  25% {
    -moz-transform:  scaleX(0.49) scaleY(0.49) ;
  }
  50% {
    -moz-transform:  scaleX(1.50) scaleY(1.50) ;
  }
  100% {
    -moz-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-webkit-keyframes blast-frames {
  0% {
    -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  25% {
    -webkit-transform:  scaleX(0.49) scaleY(0.49) ;
  }
  50% {
    -webkit-transform:  scaleX(1.50) scaleY(1.50) ;
  }
  100% {
    -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-o-keyframes blast-frames {
  0% {
    -o-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  25% {
    -o-transform:  scaleX(0.49) scaleY(0.49) ;
  }
  50% {
    -o-transform:  scaleX(1.50) scaleY(1.50) ;
  }
  100% {
    -o-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}

@-ms-keyframes blast-frames {
  0% {
    -ms-transform:  scaleX(1.00) scaleY(1.00) ;
  }
  25% {
    -ms-transform:  scaleX(0.49) scaleY(0.49) ;
  }
  50% {
    -ms-transform:  scaleX(1.50) scaleY(1.50) ;
  }
  100% {
    -ms-transform:  scaleX(1.00) scaleY(1.00) ;
  }
}