$menuLayer: 100;
$menuHeight: calc(100vh - 50px);
$menuButtonSize: 40px;
$menuItemHeight: 75px;
$topBarHeight : 52px;

nav{
  .left-pane, .right-pane, .menu-button{
    -webkit-transition: all 500ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
    -moz-transition:    all 500ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
    -o-transition:      all 500ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
    transition:         all 500ms cubic-bezier(0.45, 0.515, 0.36, 0.88);
  }
}

#menu{
  background-color: black;
  overflow: hidden;
  margin-top: $topBarHeight;

  .planets > li, .vehicles > li{
    height: $menuItemHeight;
  }

  .left-pane,.right-pane{
    z-index: $menuLayer;
    position: fixed;
    top: $topBarHeight;

    box-sizing: border-box;
    margin:0;
    padding:0;
    font-size: 10px;
    line-height: 13px;


    .overview, .description{
      border-bottom: 1px solid rgba(1, 1, 1, 0.1);
    }
    .overview{
      float: left;
      height: $menuItemHeight;
      color: rgba(0, 0, 0, 0.64);
      padding: 10px 20px;
      text-align: center;
      background-color: rgba(50, 111, 156, 0.84);

      .img-outline{
        background-color: rgba(1,1,1,0.5);
        border-radius: 50%;
        display: inline-block;
        height: 40px;
        width: 40px;
        padding-top: 7.5px;

        border-top: 1px solid rgba(0, 0, 0, 0.43);
        box-shadow: 1px 1px 1px rgba(1, 1, 1, 0.21);
      }
      img{
        height: 25px;
        width: 25px;
        border-radius: 50%;
      }
    }
    .description{
      float: left;
      width: 150px;
      height: $menuItemHeight;

      padding: 10px;
      border-bottom: 1px solid rgba(1, 1, 1, 0.1);
    }
  }

  .left-pane{
    transform: translateX(-250px);
  }

  .planets > li:first-child > .overview {
    border-top-right-radius: 2px;
  }
  .planets > li:last-child > .overview{
    border-bottom-right-radius: 2px;
  }


  .vehicles > li:first-child > .overview {
    border-top-left-radius: 2px;
  }
  .vehicles > li:last-child > .overview{
    border-bottom-left-radius: 2px;
  }


  .right-pane{
    right: 0px;
    transform: translateX(250px);
  }

  .disabled{
    .overview img{
      opacity: 0.3;
    } .description{
      color: rgba(1, 1, 1, 0.3);
    }
  }
}

#menu.show.planets{
  .left-pane{
    transform: translateX(0px);
  }
}

#menu.show.vehicles{
  .right-pane{
    transform: translateX(0px);
  }
  .left-pane{
    transform: translateX(0px);
  }
}

#menu > .menu-button{
  position: fixed;
  top: $topBarHeight;
  right: 0px;
  z-index: $menuLayer + 1;
  margin: 10px 10px 0 0;

  width: $menuButtonSize;
  height: $menuButtonSize;
  overflow: hidden;

  text-shadow: 1px 1px rgb(73, 106, 130);
  background-color: #316487;
  color: black;

  text-align: center;
  border-radius: 50%;
}

.menu-button > .open, .close{
  font-size: 30px;
  float: left;
  height: $menuButtonSize;
  width: $menuButtonSize;
}

.menu-button > .close{
  position: relative;
  top: -$menuButtonSize;
}

#menu.show > .menu-button{
  transform: rotate(360deg);
}

#menu:not(.show) > .menu-button > .close{
   visibility: hidden;
}

#menu.show > .menu-button > .open{
   visibility: hidden;
}

.menu-button.disabled{
  transform: scale(0) !important;
}