$iconSize: 300px;
$iconHeight: $iconSize;
$iconWidth: $iconSize;

#twister{
  background-color: #4285F4;
  > .before, > .after{
    position: relative;
    height: $iconHeight;
    width: $iconWidth;
    border-radius: 50%;
    background-color: #ff9b2f;
  }
  > .before{
    background-color: #ff9b2f;
  }
  > .after{
    background-color: #89deaa;
    top: -$iconHeight;
  }
}