$topBarColor   : #E74C3C;
$topBarPadding : 50px;
$topBarHeight  : 60px;

*{
  box-sizing: border-box;
}
.undo-list{
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: block;
}

.undo-list > li{
  display: block;
}

.undo-link{
  text-decoration: none;
  color: inherit;
}
$defaultFontFamily : 'Raleway', sans-serif;
@import url(https://fonts.googleapis.com/css?family=Raleway:500,900,700,300,400,600,800,200,100);

.light-text{
  font-weight: 200;
}

.very-heavy-text{
  font-weight: 900;
}

@mixin transition($property, $time) {
  -webkit-transition: $property $time cubic-bezier(0.45, 0.515, 0.36, 0.88);
  -moz-transition: $property $time cubic-bezier(0.45, 0.515, 0.36, 0.88);
  -o-transition: $property $time cubic-bezier(0.45, 0.515, 0.36, 0.88);
  transition: $property $time cubic-bezier(0.45, 0.515, 0.36, 0.88);
}