@import 'config';

$topBarIntroPadding: 50px;

#homepage{
  background-color: #E74C3C;
  font-family: $defaultFontFamily;
  font-weight: 200;
  height: 100vh;

  #top-bar{
    height: $topBarHeight + $topBarIntroPadding;
    background-color: #E74C3C;
    color: white;
    padding: $topBarIntroPadding $topBarPadding 0px $topBarPadding*2;
    @include transition(all, 100ms);
    @import "top-bar";
  }

  #article{
    height: calc(100vh - #{$topBarHeight + $topBarIntroPadding});
    overflow: scroll;
    @include transition(all, 100ms);
    @import 'sections/intro';
    @import 'sections/overview';
  }
}

#homepage.reading{
  #top-bar {
    height: $topBarHeight;
    padding-top: 0;
  }

  #article {
    height: calc(100vh - #{$topBarHeight});
  }
}