@import 'config';

.trademark{
  float: left;
  display: inline-block;
  line-height: $topBarHeight;
  margin: 0px;
  font-weight: 800;
  font-size: 30px;
}

ul.menu{
  float: right;
  @extend .undo-list;
  > li{
    display: inline-block;
    padding: 0px 10px;
    float: left;
    line-height: $topBarHeight;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 400;
  }
}