.grid{
  position: relative;
  display: block;
  list-style: none;
}
.grid>li{
  width: 300px;
  box-sizing: border-box;
  display: block;
  float: left;

  position: absolute;
  top: 0;
  left: 0;
}


.grid-box{
  opacity: 0;
  pointer-events: none;
}

.state.home  .grid-box.home, .state.dashboard  .grid-box.dashboard{
  opacity: 1;
  pointer-events: all;
}

.state.all  .grid-box.all{
  opacity: 1;
  pointer-events: all;
}

.state.home  .grid-box:not(.home), .state.dashboard  .grid-box:not(.dashboard), .state.all  .grid-box:not(.all),{
  transform: translateY(100vh);
}
