
ul.bread-crumb{
  @extend .undo-list;
  @extend .resize-container;
  overflow: hidden;

  >li{
    display: inline-block;
    position: relative;
    float: left;
  }

  >li:first-child:before{
    content: ">";
    opacity: 0.5;
    padding: 0px $padding/2;
    font-weight: bold;
  }

  >li:not(:last-child):after{
    content: "/";
    opacity: 0.5;
    padding: 0px $padding/2;
    font-weight: bold;
  }
}