$height : 30px;
$titleHeight: 53px;
$consoleWidth: 500px;

.console{
  height      : 100%;
  width       : 100%;
  overflow    : hidden;
  border      : 1px solid $lightBorderColor;
  background-color: white;

  @include transition(all 250ms ease);

  .title{
    background-color: #EEE;
    padding         : $padding;
    border-bottom   : 1px solid $lightBorderColor;
    height          : $titleHeight;

    @extend .resize-container;
    .status{
      float   : right;
      width   : 100%;
      position: relative;
      height    : $height;
      line-height  : $height;

      .bar{
        position: absolute;
        top     : 0;
        left    : 0;
        display : block;
        height  : 100%;
        width   : 100%;
        border  : 1px solid $lightBorderColor;

        border-radius   : $borderRadius;
        .progress{
          display: block;
          width: 100%;
          height: 100%;
          opacity : 0.3;
          background-color: $playColor;
          @include transformOrigin(0 0);
          @include transition(transform $observableDuration ease);
        }
      }
      .counts{
        position: relative;
        float: left;
        padding-left: $padding;
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }
  .output{
    display     : block;
    width       : 100%;
    height      : calc(100% - #{$titleHeight});
    border-radius: 0px;
    border      : none;
    padding     : 0px;
    overflow    : auto;

    .scenarios {
      @extend .undo-list;
      .scenario{
        display: block;
        border-bottom: 1px solid $lightBorderColor;
        padding: $padding;
        @include transition(all $observableDuration ease);

        .overview{
          @extend .resize-container;

          .status, .name{
            float: left;
          }
          .status{
            padding-left: $padding;
            text-align: center;
            line-height: inherit;
            @extend .fa;
          }
          .toggle{
            float: right;
            padding: 5px;
            background-color: transparent;
            outline: none;
            border: none;
            @include transition(transform $quickDuration ease);
          }
        }

        .detail{
          display   : block;
          max-height: 0px;
          overflow  : hidden;
          @include transition(max-height $quickDuration ease);
        }
       }
      }
      .scenario.show-detail{
        .overview{
          .toggle{
            @include transform(rotate(90deg));
          }
        }
        .detail{
          max-height: 100vh;
        }
      }
      .scenario.success{
        background: $playColor;
        color: rgba(255, 255, 255, 0.76);
        .overview{
          .status{
            @extend .fa-check;
          }
        }
      }
    .scenario:not(.success){
      .overview{
        .status{
          color: $lightBorderColor;
          @extend .fa-exclamation;
        }
      }
    }
    }

}

.console:not(.show){
  opacity: 0;
  @include transform(translateX(calc(100% + 100px)));
}