.readme-text{
  padding: $padding;
  h1, h2, h3, h4, h5{
    margin: 0px;
  }
  .page-heading{
    padding-bottom: $padding;
    margin-bottom: $padding;
    border-bottom: 1px solid $lightBgColor;
  }
  pre{
    background-color: white;
  }
}