$editorBarHeight: 50px;
$rightPaneWidth: 500px;

.task-editor{
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  .editor-section{
    height: 100%;
    padding: $padding;
    #worksheet, .right-pane{
      float: left;
    }
    #worksheet {
      height: 100%;
      width:  calc(100% - #{$rightPaneWidth});
      font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;

      .ace_search.right{
        margin: 2*$padding;
        color: white;
        border    : none;
        background: rgba(0, 0, 0, 0.52);
        border-radius: 0px;
        .ace_button{
          color: rgba(255, 255, 255, 0.72);
        }
        .ace_search_field{
          color: black;
        }
      }
      .ace_gutter{
        background: transparent;
        border-right: 1px solid $lightBorderColor;
        color : $lightBorderColor;
      }
    }
    .right-pane{
      height  : 100%;
      position: relative;
      top     : -2px;
      width   : $rightPaneWidth;
    }
  }

  .editor-bar{
    height      : $topBarHeight;
    line-height : $topBarHeight;

    padding: 0px $padding;
    width: 100%;
    background-color: $editorDarkColor;
    border: 1px solid $lightBorderColor;
    .task-name{
      display: inline-block;
      line-height: 30px;
      .error{
        padding-left: $padding;
        color: $dangerColor;
        opacity: 0.5;
      }
    }
    .editor-menu{
      @extend .undo-list;
      float: right;
      > li {
        display: inline;
        float: left;
        padding-right: $padding;
        button{
          border: 1px solid $lightBorderColor;
          background-color: transparent;
        }
      }
      .run:hover{
        opacity: 0.5;
        button{
          color: $playColor;
        }
      }
      .full-screen{
        button{
          display: inline-block;
          @include transition(transform $quickDuration ease);
        }
      }
    }
    .editor-menu.running-task{
      .refresh, .run{
        opacity: 0.5;
        cursor: not-allowed;
        button{
          pointer-events: none;
        }
      }

    }
  }
}