$editorBarHeight: 50px;
$rightPaneWidth: 500px;

.task-editor{
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .editor-section{
    height: 100%;
    #worksheet, .right-pane{
      float: left;
    }
    #worksheet {
      height: 100%;
      width:  calc(100% - #{$rightPaneWidth + $padding});
      font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;

      .ace_gutter{
        background: transparent;
        border-right: 1px solid $lightBorderColor;
        color : $lightBorderColor;
      }
    }
    .right-pane{
      height: 100%;
      width: $rightPaneWidth;
    }
  }

  .editor-bar{
    height: $topBarHeight;
    line-height: $topBarHeight;

    padding: 0px $padding;
    width: 100%;
    background-color: $editorDarkColor;
    border: 1px solid $lightBorderColor;
    .task-name{
      display: inline-block;
      line-height: 30px;
    }
    .editor-menu{
      @extend .undo-list;
      float: right;
      > li {
        display: inline;
        float: left;
        padding-right: $padding;
        button{
          border: 1px solid $lightBorderColor;
          background-color: transparent;
        }
      }
      .run:hover{
        opacity: 0.5;
        button{
          color: $playColor;
        }
      }
      .run.running-task{
        opacity: 0.5;
        cursor: not-allowed;
      }
      .full-screen{
        button{
          display: inline-block;
          @include transition(transform $quickDuration ease);
        }
      }
    }
  }
}