.task-overview{
  overflow : hidden;
  max-height: 100vh;
  .readme-text{
    padding: $padding;
  }
  @include transition(all $quickDuration ease);
}


.full-screen-editor{
  .practice-task{
    .task-overview{
      max-height: 0px;
    }
  }
}