.task-overview{
  .readme-text{
    padding: $padding;
    pre{
      background-color: white;
    }
  }
  @include transition(all $quickDuration ease);
}


.full-screen-editor{
  .practice-task{
    .task-overview{
      max-height: 0px;
    }
  }
}