@import "config";
$lineHeight : $defaultLineHeight;

.settings-header{
  height: $lineHeight;
  line-height: $lineHeight - 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  li{
    float: left;
    width: $settingsMenuWidth/3;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }
  li:first-child{
    border-left-color: transparent;
  }
}

.contents{
  width: $settingsMenuWidth * 3;
  background-color: white;
  height: $settingsMenuHeight;
  @include transition(transform, 300ms) ;

  li{
    width: $settingsMenuWidth;
    display: block;
    float: left;
    height: 100%;
    overflow: auto;
  }
}

