$topBarHeight: 50px;
$topBarBG    : black;
$topBarColor : #C7C7C7;
$topBarFontSize: 13px;

.undo-list, .undo-list > li{
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: block;
}


@mixin transition($property, $time) {
  -webkit-transition: $property $time cubic-bezier(0.45, 0.515, 0.36, 0.88);
  -moz-transition: $property $time cubic-bezier(0.45, 0.515, 0.36, 0.88);
  -o-transition: $property $time cubic-bezier(0.45, 0.515, 0.36, 0.88);
  transition: $property $time cubic-bezier(0.45, 0.515, 0.36, 0.88);
}