// Top bar
$topBarHeight: 35px;
$topBarBG    : black;
$topBarColor : #C7C7C7;
$topBarFontSize: 13px;

$menuBorder: 1px solid #4d4d4d;

$menuWidth : 350px;
$actionsWidth: 100px;

// Body
$appMinWidth : $actionsWidth + $menuWidth;

//Defaults
$defaultLineHeight : 30px;
$defaultFontSize   : 13px;

//settings panel
$settingsMenuWidth : 330px;
$settingsMenuHeight : 330px;

*{
  box-sizing: border-box;
}
.undo-list{
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: block;
}

.undo-list > li{
  display: block;
}

.undo-link{
  text-decoration: none;
  color: inherit;
}

@mixin transition($property, $time) {
  -webkit-transition: $property $time cubic-bezier(0.45, 0.515, 0.36, 0.88);
  -moz-transition: $property $time cubic-bezier(0.45, 0.515, 0.36, 0.88);
  -o-transition: $property $time cubic-bezier(0.45, 0.515, 0.36, 0.88);
  transition: $property $time cubic-bezier(0.45, 0.515, 0.36, 0.88);
}

@mixin transform( $property) {
  -webkit-transform: $property;
  -moz-transform: $property;
  -ms-transform: $property;
  -o-transform: $property;
  transform: $property;
}

//sections
$articlesCount : 6;
$articlesWidth : 100vw;
$articleHeight : calc(100vh - #{$topBarHeight});

$homeIndex         : 0;
$campaignsIndex    : 1;
$audiencesIndex    : 2;
$assetsIndex       : 3;
$reportsIndex      : 4;
$settingsIndex     : 5;

$defaultIndex      : 1;