@import "config";

body{
  min-width: $appMinWidth;
}

#view{
  height: calc(100vh - #{$topBarHeight});
  width: 100vw;
  overflow: hidden;
}

#top-bar{
  position: relative;
  z-index: 1;

  width: 100%;
  min-width: $appMinWidth;
  height: $topBarHeight;
  line-height: $topBarHeight - 2px;

  background-color: $topBarBG;
  font-size: $topBarFontSize;
  color: $topBarColor;
  @import 'top-bar/top-bar';
}

@import "router/states";