@import "config";

#app{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#view{
  height: $articleHeight;
  width: 100%;
  background-color: white;
}

#top-bar{
  position: relative;
  z-index: 1;

  width: 100%;
  min-width: $appMinWidth;
  height: $topBarHeight;
  line-height: $topBarHeight - 2px;

  text-shadow: 1px 1px 1px rgb(63, 63, 63);
  box-shadow: 0px 1px 3px rgb(63, 63, 63);

  background: linear-gradient(to bottom, #2f2f2f, #020202);
  font-size: $topBarFontSize;
  color: $topBarColor;
  @import 'top-bar/top-bar';
}

@import "router/states";

#user-settings{
  top: $topBarHeight - 5px;
  position: fixed;
  right: 0px;

  margin: 15px 50px; /* margin acts as padding of hover and leaving space for update icon*/

  min-height: $topBarHeight;
  width: 300px;

  background-color: #EEE;
  @include transition(transform, 100ms) ;
}

#app:not(.settings) > #user-settings{
  @include transform(translateX(500px));
}