@import 'config';

.views{
  overflow: hidden;
}
.view{
  width: $articlesWidth;
  float: left;
  overflow: hidden;
}
.state{
  width: 100%;
  height: $articleHeight;
  overflow: auto;

  background-color: white;
  border: 1px solid transparent;
}

.views, .states{
  @include transition(transform, 200ms);
}
