@import "config";

$linkCount : 6;
$linkWidth : 80px;

$menuWidth : 450px;

.left-menu{
  float: left;
  width: $menuWidth;

  .navigation{
    @extend .undo-list;
    li{
      height: $topBarHeight;
      float: left;
      padding: 0px 10px;
      text-align: center;
      border-right: 1px solid #4d4d4d;
    }
    li:hover{
      background-color: $topBarColor;
      color: $topBarBG;
      border-color: #4d4d4d;
    }
  }
}

.right-menu{
  float: right;
  width: calc(100% - #{$menuWidth});

  .business-account{
    float: left;
    @extend .undo-list;
    .indicator{
      float: left;
      height: $topBarHeight;
      max-width: 100px;
      overflow: hidden;
    }
    .indicator:nth-child(n):not(:last-child):after{
      content: " / ";
    }
  }
}
