@import '../../lib/config';

$padding : 10px;
@import "app/app";
$mobile_at : 700px;


@media screen and (max-width: $mobile_at) {
  @import "app/app.mobile";
  .no-mobile{
    display: none !important;
  }
}

@media screen and (min-width: $mobile_at) {
  .mobile-only{
    display: none !important;
  }
}
