$stateWidth: 200px;
$stateMinHeight: 200px;
$stateBgColor: transparent;

$progressBarColorHighlightColor: rgb(48, 131, 251);

$progressBarColor: rgb(164, 205, 255);
$progressBar: 5px solid $progressBarColor;


ul.progress-indicator {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

  li {
    min-height: $stateMinHeight;
    width: $stateWidth;
    display: inline-block;
    background-color: $stateBgColor;
  }

  .line.from.current, .line.to.current {
    width: 0.4 * $stateWidth;
  }

  .line.from, .line.to {
    padding: 10px;
    border-top: $progressBar;
    width: 0.4 * $stateWidth;
  }

  li:last-child span:last-child {
    opacity: 0;
  }

  li:first-child .from:first-child {
    opacity: 0
  }

  .circle.this {
    width: 0.2 * $stateWidth;
    height: 0.2 * $stateWidth;
    border-radius: 50%;
    background-color: $progressBarColor;
  }

}