<!DOCTYPE html>
<html>

<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <!-- external css-->
    <link rel="stylesheet" href="../../lib/normalize-3.0.2.css">
    <link rel="stylesheet" href="../../lib/font-awesome-4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="infield.css">

    <script src="../../lib/angular-1.4.3.js"></script>
    <script src="infield.js"></script>

    <style>
        * {
            box-sizing: border-box;
        }
        body{
            background: #EEE;
            padding: 40px;
        }
        form{
            background: white;
            padding: 50px;
        }
        .infield{
            margin-bottom: 15px;
        }
    </style>
</head>

<body ng-app="infield">
    <form ng-init="user = {name: 'Mohan', phone: 8800493717}">
        <div class="infield">
            <input type="text" ng-model="user.name" required>
            <label>name</label>
        </div>

        <div class="infield">
            <input type="number" ng-model="user.phone" >
            <label>phone</label>
        </div>
    </form>

</body>
</html>
