@import 'config';

$fieldHeight  : 50px;
$padding      : $fieldHeight/6;
$bgColor      : #E8EBED;
$borderRadius : 5px;

$labelHeight    : $fieldHeight/3;
$labelFontSize  : 10px;
$labelColor     : rgba(0, 0, 0, 0.4);

$inputColor     : rgba(0, 0, 0, 0.71);
$inputFontSize  : 16px;

.reset-input{
  margin : 0px;
  padding: 0px;
  border: none;
  outline: none;
}

.infield {
  height: $fieldHeight;
  line-height: $fieldHeight - 2 * $padding;
  overflow: hidden;
  border-radius: $borderRadius;
  border: 1px solid $bgColor;
  @include transition-t(backgound-color, 100ms, ease-in);

  input, label{
    display: block;
  }
  input{
    position: relative;
    z-index: 1;
    height: $fieldHeight;
    width: 100%;
    font-size: $inputFontSize;

    padding: $padding;
    border-radius: inherit;
    background: none;
    color:  $inputColor;

    @include transform(translateY($fieldHeight/12));
    @extend .reset-input;
  }

  label{
    position: relative;

    padding: 0px $padding;
    top: -$fieldHeight;
    line-height: $labelHeight;
    font-size: $labelFontSize;
    color: $labelColor;
    @include transition-t(all, 100ms, ease-in);
  }
}

.infield:not(.active){
  background-color: $bgColor;

  input{
    @include transform(translateY(0px));
  }
  label{
    line-height: $fieldHeight;
    font-size: $inputFontSize;
    @include transition-t(all, 100ms, ease-out);
  }

}

.infield.required{
  label:after{
    content: "*";
    color: #FF5722;
  }
}