@import 'config';

$fieldHeight  : 60px;
$padding      : 10px;
$bgColor      : #E8EBED;
$borderRadius : 5px;

$labelHeight    : 20px;
$labelFontSize  : 10px;
$labelColor     : #a7a7a7;

.reset-input{
  margin : 0px;
  padding: 0px;
  border: none;
  outline: none;
}

.infield {
  height: $fieldHeight;
  line-height: $fieldHeight - 2 * $padding;
  overflow: hidden;
  background-color: $bgColor;
  border-radius: $borderRadius;

  input, label{
    display: block;
  }
  input{
    position: relative;
    z-index: 1;
    height: $fieldHeight;
    width: 100%;

    padding: $padding;
    border-radius: inherit;
    background: none;

    @include transition(opacity, 100ms);
    @extend .reset-input;
  }

  label{
    position: relative;

    padding: 0px $padding;
    top: -$fieldHeight;
    line-height: $labelHeight;
    font-size: $labelFontSize;
    color: $labelColor;
  }
}

.infield:not(.active){
  label{
    line-height: $fieldHeight;
    font-size: 15px;
  }

}

.infield:hover{
  @extend .infield:not(.active);
}