@import 'config';

.select{
  .mask, .select-cover{
    height: $fieldHeight;
    position: relative;
  }
  .select-cover{
    z-index: 1;
    opacity: 0;
  }
  .mask{
    top: -$fieldHeight;
    background-color: red;
  }
}