@import 'config';


$barHeight        : 5px;
$barHeightMargin  : 15px;
$color : #EEE;

.slider {
  height: $fieldHeight;

  .bar{
    height: $barHeight;
    background-color: $color;
    margin: $barHeightMargin 0px;

    .progress{
      height: $barHeightMargin;
      width: $barHeight;
      background: red;
    }
  }

  ul.stages{
    @extend .undo-list;
    li{
      float: left;
      width: 50%;
      padding: 0px 10px;
    }
    li:first-child{
      text-align: left;
    }
    li:last-child{
      text-align: right;
    }
  }
}