body, div, h1, p, span, img, form, input, button, ul, li, a, table, thead, tbody, tr, td, th {
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  outline: none;
  text-align: center;
  color: #727179;
  background-color: transparent;
  font-size: large;
  border-radius: 0; }

/* end reset */
/* start default styling */
/* start colors */
/* end colors */
body, div, h1, p, span, img, form, input, select, button, ul, li, a, table, thead, tbody, tr, td, th {
  margin-left: auto;
  margin-right: auto; }

input, button, select {
  padding: 6px 12px 6px 12px;
  margin: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1); }

input:hover, select:hover, option:hover, button:hover {
  transform: scale(1.05); }

button:hover {
  border: 0 solid #599f3f; }

button {
  cursor: pointer;
  background-color: rgba(66, 127, 237, 0.8);
  overflow: hidden; }

input, select {
  color: #6D7073; }

button {
  color: #CDDCF7; }

::-webkit-input-placeholder {
  color: rgba(221, 221, 221, 0.63); }

:-moz-placeholder {
  color: rgba(221, 221, 221, 0.63); }

::-moz-placeholder {
  color: rgba(221, 221, 221, 0.63); }

:-ms-input-placeholder {
  color: rgba(221, 221, 221, 0.63); }

/* end default styling */
/* start fonts */
@font-face {
  font-family: RalewayRegular;
  src: url("../fonts/Raleway-Regular.ttf") format("opentype"); }
@font-face {
  font-family: UbuntuTitlingBold;
  src: url("../fonts/UbuntuTitling-Bold.ttf") format("opentype"); }
.bold-font, h1, img, form, input, button, select, option {
  font-family: UbuntuTitlingBold; }

.regular-font, body, div, p, span, ul, li, a {
  font-family: RalewayRegular; }

h1 {
  font-size: 1.6em; }

input, button, select, option {
  font-size: 1.3em; }

/* end fonts */
/* start surface design */
/* start colors */
/* end colors */
input, button, select {
  box-shadow: 4px 3px 3px #ddd; }

input, select {
  border-top: 1px solid;
  border-left: 1px solid;
  border-color: #ECE9E9; }

h1 {
  text-shadow: 4px 3px 3px #ECE9E9; }

/* end surface design */
/* start properties */
/* start colors */
/* end colors */
.fixed-positioned {
  position: fixed; }

.absolute-positioned {
  position: absolute; }

.top-of-window {
  top: 0; }

.layer-1 {
  z-index: 1; }

.layer-2 {
  z-index: 2; }

.layer-3 {
  z-index: 3; }

.full-width {
  width: 100%; }

.centered-text {
  text-align: center; }

.no-display {
  display: none; }

.dark-txt {
  color: #6D7073; }

.light-txt {
  color: #CECECE; }

.dark-bg {
  background-color: #E1E5E8; }

.light-bg {
  background-color: #F3F3F3; }

.very-light-bg {
  background-color: #F3F3F3; }

.catchy-bg-color {
  background-color: #6785F0; }

.pressed-button {
  background-color: #95B6F1;
  transform: scale(0.9) !important; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.display-inline {
  display: inline-block; }

button.passive {
  color: #909294;
  background-color: #E1E5E8; }

/* start properties */
/* start design */
.top-bar-height {
  top: -105px;
  /*total height : 105 pixels(hidden by offset)*/ }

.app-menu-height {
  height: 65px; }

.position-below-context-menu {
  top: 45px; }

#loader-bar {
  padding-top: 2px; }

#app-menu {
  /*total height : 60 pixels*/
  padding: 20px 0 0 0;
  height: 40px; }

#context-menu {
  /*total height : 45 pixels*/
  padding: 5px 0 0 0;
  height: 40px; }

#section-heading {
  margin: 45px 0 0 0;
  padding-top: 10px;
  min-height: 50px;
  /* app-bar-height =  minimum-height + top-padding  */ }

/* end design */
.very-high-to-test-scroll {
  height: 3000px; }

.show-loader-for-demo {
  width: 70%;
  display: block; }

.white-bg {
  background-color: white; }

table {
  width: 100%; }

tr {
  margin: 5px; }

th {
  font-size: 1.2em;
  padding: 5px 0 5px 0;
  border-top: 1px solid #F3F3F3;
  border-bottom: 1px solid #F3F3F3;
  border-right: 1px solid #F3F3F3;
  background-color: #E1E5E8; }

td {
  padding: 5px;
  border-bottom: 1px solid #E1E5E8; }

#section-heading {
  border-bottom: 1px solid #EFEFEF;
  text-align: left;
  margin-left: 10px; }

select {
  height: 35px;
  padding-left: 15px;
  text-align: center; }

.floating-row-options {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  position: fixed;
  z-index: 3; }

.control-option {
  margin: 10%;
  background-color: white; }

ul.inline {
  list-style-type: none; }
  ul.inline li {
    display: inline-block; }

a {
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
  padding-top: 10px;
  margin-left: 10px; }

.show-actions-button {
  background-color: transparent;
  box-shadow: none;
  padding-left: 50px; }

.top-sticky-height {
  height: 50px; }

.top-containers {
  width: 100%; }

/*# sourceMappingURL=app.css.map */
