ul.swiper{
  margin: 0px auto;
  list-style: none;
  padding: 0px;

  overflow: hidden;
  background: #EEE;
}

ul.swiper > li{
  height: 100px;
  transition: height 300ms ease-in;
  transition-delay: 100ms;
  overflow: hidden;
}

ul.swiper > li > .swipable{
  border: 1px solid rgba(0,0,0,.1);
  background-color: #4caf50;
  line-height: 100px;
  text-align: center;
}

ul.swiper > li.swiped-out > .swipable{
  transition-delay: 0ms;
  transform : translateX(-100vw);
  opacity: 0;
}

.swiped-out{
  height: 0px !important;
  border: none;
}
.swiping-out > .swipable{
  opacity: 0.8;
}