$labelWidth     : 150px;
$inputWidth     : 350px;
$iconSize       : 50px;
$rowHeight      : 40px;

$padding        : 10px;
$borderRadius   : 5px;
$triangleSize   : 10px;

form{
  height: $rowHeight;
  @extend .resize-container;

  .label, .input, .help-icon, .overlay{
    float: left;
    display: block;
    height: $rowHeight;
    line-height: $rowHeight - 2px;
    box-sizing: border-box;
  }
  .label{
    width: $labelWidth;
    text-align: right;
    padding-right: $padding;
  }
  .input{
    width: $inputWidth;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: $borderRadius;
    padding: 0px $padding;
  }

  .help-icon{
    width: $iconSize;
    text-align: center;
    font-size: 25px;
    color: rgba(0,0,0,0.1);
  }
  .overlay.show{
    opacity: 1;
  }
  .overlay{
    width: calc(100% - #{$labelWidth + $inputWidth + $iconSize});
    overflow: visible;
    position: relative;
    opacity: 0;

    .icon{
      position: absolute;
      top: 0;
      left: -$triangleSize/2;
      border-top: $triangleSize solid transparent;
      border-bottom: $triangleSize solid transparent;
      border-right: $triangleSize solid green;

    }
    .message{
      background-color: #008000;
      height: 350px;
      width: 100%;
      border-radius: $borderRadius;
    }
  }

  .fieldset{
    width: 100%;
    box-sizing: border-box;
  }

  > fieldset{
    @extend .fieldset;
    > label {
      @extend .label;
    }
    > input {
      @extend .input;
      outline: none;
    }
    > span  {
      @extend .help-icon;
    }
  }

}