$labelWidth     : 150px;
$inputWidth     : 350px;
$iconSize       : 40px;
$rowHeight      : 40px;

$padding        : 10px;
$borderRadius   : 4px;
$triangleSize   : 7.5px;
$overlayColor   : #4C4C4C;
$helpFontColor  : rgba(255, 255, 255, 0.9);
$helpFontSize   : 13px;

$solidBorder    : 1px solid rgba(0,0,0,0.1);

form{
  height: $rowHeight;
  font-size: 14px;

  @extend .resize-container;

  .clickable{
    cursor: pointer;
  }
  .label, .input, .help-icon, .overlay{
    float: left;
    display: block;
    height: $rowHeight;
    line-height: $rowHeight - 2px;
    box-sizing: border-box;
  }
  .label{
    width: $labelWidth;
    text-align: right;
    padding-right: $padding;
  }
  .input{
    width: $inputWidth;
    border: $solidBorder;
    border-radius: $borderRadius;
    input{
      width: 100%;
      height: 100%;
      padding: 0px $padding;
      outline: none;
      border-radius: $borderRadius;
    }
  }

  .help-icon{
    width: $iconSize;
    text-align: center;
    font-size: 20px;
    color: rgba(0,0,0,0.1);
  }
  .overlay.show{
    opacity: 1;
  }
  .overlay{
    width: calc(100% - #{$labelWidth + $inputWidth + $iconSize});
    overflow: visible;
    position: relative;
    left: -$iconSize + $padding;
    pointer-events: none;
    opacity: 0;

    .icon{
      position: absolute;
      top: $triangleSize;
      left: -$triangleSize + 2px;
      border-top: $triangleSize solid transparent;
      border-bottom: $triangleSize solid transparent;
      border-right: $triangleSize solid $overlayColor;
    }
    .message{
      position: absolute;

      background-color: $overlayColor;
      color: $helpFontColor;
      border-radius: $borderRadius;
      padding: $padding;
      line-height: $padding*2;
      font-size: small;
    }
  }

  .fieldset{
    width: 100%;
    box-sizing: border-box;
    padding: 0px;
    padding-bottom: $padding;
  }

  > fieldset{
    @extend .fieldset;
    border: none;
    > label {
      @extend .label;
    }
    > input {
      @extend .input;
      outline: none;
      padding: 0px $padding;
    }
    > span  {
      @extend .help-icon;
    }
  }

}

$thumbnailSize : 100px;

form.sourcing-request{
  .input.images{
    height: auto;
    .upload, .added{
      height: $thumbnailSize;
      width: $thumbnailSize;
      display: block;
      float: left;
      margin: 8px;
      img{
        width: 100%;
        height: 100%;
      }
      border: $solidBorder;
    }
    .added{
      position: relative;
      border: $solidBorder;
      .icon{
        position: absolute;
        bottom: 5px;
        right: 5px;
        font-size: 20px;
        color: rgba(255,0,0,0.05);
      }
      .icon:hover{
        color: rgba(255, 0, 0, 0.5);
      }
    }

    .upload{
      line-height: $thumbnailSize;
      text-align: center;
      color: rgba(0,0,0,0.5);
      background-color: rgba(0,0,0,0.05);
      border-radius: $borderRadius;
    }
  }

  .input.urls{
    height: auto;
    padding: 0px;
    .add, .remove{
      @extend .resize-container;
      padding-right: 0px;

      .icon{
        float: right;
        width: $iconSize - 1px;
        text-align: center;
        height: $rowHeight - 2px;
        line-height: $rowHeight;
        font-size: 20px;
        color: rgba(0,0,0,0.1);
      }
      .icon:hover{
        color: rgba(0,0,0,0.5);
      }

      input{
        float: left;
        padding:$padding;
        height: $rowHeight - 2px;
        width: $inputWidth - $iconSize - 1px;
      }
    }
    .add{
      border-bottom: $solidBorder;
    }
    .remove{
      position: relative;
      background-color: rgb(243, 243, 243);

      input{
        color: rgba(0,0,0,0.5);
        background-color: rgba(0,0,0,0);
      }
      .icon{
        color: rgba(255,0,0,0.05);
        background-color: rgba(0,0,0,0);
      }
      .icon:hover{
        color: rgba(255,0,0,0.5);
      }
      .preview{
        position: absolute;
        display: block;
        right: -$iconSize;
        height: $rowHeight;
        width: $iconSize;
        line-height: $rowHeight;
        text-align: center;
        color: rgba(0,0,0,0.1);
        text-decoration: none;
        font-size: small;
      }
    }
  }
}