$positionFromTop: 10px;
@import '../../lib/config';

#video-sticky{
  .video-wrapper{
    padding: $positionFromTop;
    width: 500px;
    height: 299px;
  }
  @include transition(transform, 100ms, ease);
}

#video-sticky.fixed{
  .video-wrapper{
    position: fixed;
    top: 0px;
  }
}

#video-sticky.resize{
  //@include transform(scale(0.5));
}
