@import '../../lib/config';

$documentPadding: 10px;
$collapsedBarHeight: 50px;

#app{
  padding-top: 100px;
  min-height: 1000vh;
  border: 1px solid #EEE;
}

*{
  box-sizing: border-box;
}

@import 'style/video-sticky';
@import 'style/top-fixed-bar';