
$audienceFormHeight : 80vh;
$audienceFormWidth : 80vw;
$formLineHeight    : 30px;

.audience-form{
  height: $audienceFormHeight;
  padding: 10px;
  width: 100%;

  overflow: hidden;

  .editor,.overview{
    height: $audienceFormHeight;
  }
  .editor{
    width: 100%;
    overflow: auto;
    text-align: left;
  }
  .overview{
    position: relative;
    top: -$audienceFormHeight;
    float: right;
    width: 200px;
    border: 1px solid #EEE;
  }

  .form-section{
    min-height: $formLineHeight;
    margin-bottom: 10px;
    width: calc(100% - 300px);
    min-width: 500px;

    label.name, input.value{
      height: $formLineHeight;
      line-height: $formLineHeight - 2px;
    }

    .value{
      line-height: $formLineHeight - 2px;
      width: calc(100% - 100px);
      float: left;
      padding-left: 10px;
      border: 1px solid #EEE;
      min-height: $formLineHeight;
    }

    label.name{
      float: left;
      width: 100px;
      padding-right: 10px;
      text-align: right;
      overflow: hidden;
    }
    .controls{
      float: right;
    }
  }
}