@import '../../css/config';

$formLineHeight     : 30px;
$overviewLineHeight : 25px;
$overviewWidth      : 200px;
$formWidth          : calc(100% - #{$overviewWidth});
$overviewBackground : rgba(255, 255, 255, 0.3);

.audience-form{
  padding-top: 10px;
  height: 100%;
  width: 100%;

  .editor,.overview{
    float: left;
  }
  .editor{
    width: $formWidth;
    text-align: left;
    overflow: auto;
  }

  .overview{
    width: $overviewWidth;
    border: 1px solid #EEE;
    background-color: $overviewBackground;
    .summary{
      text-align: left;
      padding: 10px;
      line-height: $overviewLineHeight - 2px;

      .title{
        line-height: $formLineHeight - 2px;
        font-weight: bold;
        border-bottom: 1px solid #EEE;
      }
    }
    .save-form{
      display: block;
      height: $formLineHeight;
      width: calc(100% - 10px);
      margin: 5px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .form-section{
    min-height: $formLineHeight;
    margin-bottom: 10px;
    width: calc(100% - 300px);
    min-width: 500px;

    label.name, input.value{
      height: $formLineHeight;
      line-height: $formLineHeight - 2px;
    }

    .value{
      line-height: $formLineHeight - 2px;
      width: calc(100% - 100px);
      float: left;
      padding-left: 10px;
      border: 1px solid #EEE;
      min-height: $formLineHeight;
    }

    label.name{
      float: left;
      width: 100px;
      padding-right: 10px;
      text-align: right;
      overflow: hidden;
    }
    .controls{
      float: right;
    }
  }
}