
$audienceFormHeight : 80vh;
$audienceFormWidth : 80vw;

.audience-form{
  height: $audienceFormHeight;
  width: 100%;

  overflow: hidden;

  .editor,.overview{
    height: $audienceFormHeight;
  }
  .editor{
    background-color: red;
    width: 100%;
    overflow: auto;
  }
  .overview{
    position: relative;
    top: -$audienceFormHeight;
    float: right;
    width: 200px;

    background-color: blue;
  }

}