/* modal start on or after this z-index*/
@font-face {
  font-family: Raleway;
  src: url("../../../lib/fonts/Raleway-Regular.ttf") format("opentype"); }
ul.undo-list, ul.undo-list > li {
  margin: 0;
  padding: 0;
  list-style: none; }

.solid-bar, .gradient-bar {
  -webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.gradient-bar {
  background: #dddddd;
  background: -moz-linear-gradient(270deg, #dddddd 27%, #e5e5e5 76%);
  background: -webkit-linear-gradient(270deg, #dddddd 27%, #e5e5e5 76%);
  background: -o-linear-gradient(270deg, #dddddd 27%, #e5e5e5 76%);
  background: -ms-linear-gradient(270deg, #dddddd 27%, #e5e5e5 76%);
  background: linear-gradient(0deg, #dddddd 27%, #e5e5e5 76%); }

.audience-form {
  height: 100%;
  width: 100%;
  overflow: hidden;
  min-width: 700px; }
  .audience-form .editor, .audience-form .overview {
    float: left;
    padding-top: 10px;
    overflow: hidden; }
  .audience-form .editor {
    width: calc(100% - 200px);
    text-align: left;
    padding-right: 5px;
    overflow: hidden; }
    .audience-form .editor .fixed {
      padding-top: 10px; }
    .audience-form .editor .scrollable {
      height: calc(100vh - 100px);
      overflow: auto; }
  .audience-form .overview {
    width: 200px;
    background-color: rgba(255, 255, 255, 0.3);
    overflow: auto;
    height: 100%; }
    .audience-form .overview .summary, .audience-form .overview .reach {
      text-align: left;
      padding: 10px;
      line-height: 23px;
      border: 1px solid #EEE;
      margin: 0px 5px; }
      .audience-form .overview .summary .title, .audience-form .overview .reach .title {
        line-height: 28px;
        font-weight: bold;
        border-bottom: 1px solid #EEE; }
    .audience-form .overview .reach {
      margin-top: 10px; }
  .audience-form .form-section {
    min-height: 30px;
    margin-bottom: 10px;
    min-width: 500px;
    overflow: hidden; }
    .audience-form .form-section label.name, .audience-form .form-section input.value {
      height: 30px;
      line-height: 28px; }
    .audience-form .form-section .value {
      line-height: 28px;
      width: calc(100% - 100px);
      float: left;
      padding-left: 10px;
      border: 1px solid #EEE;
      min-height: 30px; }
    .audience-form .form-section label.name {
      float: left;
      width: 100px;
      padding-right: 10px;
      text-align: right;
      overflow: hidden; }
    .audience-form .form-section .controls {
      width: 100%;
      float: left;
      text-align: right;
      padding: 5px 5px 15px 0px; }
    .audience-form .form-section .value .field {
      width: 100px;
      float: left;
      text-align: right;
      padding-right: 5px;
      overflow: hidden;
      height: 30px;
      background-color: transparent; }
    .audience-form .form-section .value .field-summary {
      width: calc(100% - 100px);
      float: left;
      text-align: left;
      padding-left: 5px;
      overflow: hidden;
      height: 30px; }
  .audience-form .form-section.flash-focus .value {
    -webkit-animation-name: flash-highlight;
    -moz-animation-name: flash-highlight;
    -o-animation-name: flash-highlight;
    animation-name: flash-highlight;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s; }
@keyframes flash-highlight {
  from {
    background-color: transparent; }
  30% {
    background-color: rgba(33, 150, 243, 0.13); }
  to {
    background-color: transparent; } }
@-webkit-keyframes flash-highlight {
  from {
    background-color: transparent; }
  30% {
    background-color: rgba(33, 150, 243, 0.13); }
  to {
    background-color: transparent; } }
@-moz-keyframes flash-highlight {
  from {
    background-color: transparent; }
  30% {
    background-color: rgba(33, 150, 243, 0.13); }
  to {
    background-color: transparent; } }
@-o-keyframes flash-highlight {
  from {
    background-color: transparent; }
  30% {
    background-color: rgba(33, 150, 243, 0.13); }
  to {
    background-color: transparent; } }

/*# sourceMappingURL=audience-form.css.map */
