<div class="audience-form" ng-controller="AudienceFormController">
    <form class="editor">
        <div class="form-section">
            <label class="name">Name</label>
            <input class="value" value="SomeAudienceName">
        </div>

        <div class="form-section"
             ng-repeat="target in form.targets"
             id="{{target.id}}">
            <label class="name" ng-bind="target.label"></label>
            <div class="value">
                <div>
                    <label class="field">Id</label>
                    <label class="field-summary" ng-bind="target.id"></label>
                </div>
                <div>
                    <label class="field">Preview</label>
                    <label class="field-summary" ng-bind="target.previewColumns"></label>
                </div>
                <div>
                    <label class="field">Preview Template</label>
                    <label class="field-summary" ng-bind="target.previewTemplate"></label>
                </div>
                <div>
                    <label class="field">Inline Template</label>
                    <label class="field-summary" ng-bind="target.inlineTemplate"></label>
                </div>
            </div>

            <div class="controls"><span>Remove |</span><span> Edit </span></div>
        </div>


    </form>
    <div class="overview">

        <ul class="summary undo-list">
            <li class="title">Audience Name</li>
            <li  ng-repeat="target in form.targets" ng-bind="target.label" ng-click="goto(target.id)">
            </li>
        </ul>
        <button class="save-form">Save</button>
    </div>
</div>