<!DOCTYPE html>
<html>

<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../lib/normalize-3.0.2.css">
    <link rel="stylesheet" href="../../lib/font-awesome-4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/index.css">
    <style>
        #loader{
            position: fixed;
            top:0px;
            left:0px;
            z-index: 9999;

            height: 100%;
            width: 100%;
            min-height: 100vh;
            min-width: 100vw;

            background-color: black;
            color: white;
            text-align : center;
        }
        #app.ready > #loader{
            display: none;
        }
    </style>

</head>

<body>
<div id="app" class="route {{ui.router.view.name}}" ng-app="xsaas" ng-class="{'ready' : ui.ready}" ng-controller="UIController">
    <header id="top-bar">
        <div class="left-menu">
            <ul class="navigation">
                <li><a href="#/home">home</a></li>
                <li><a href="#/campaigns">campaigns</a></li>
                <li><a href="#/audiences">audiences</a></li>
                <li><a href="#/assets">assets</a></li>
                <li><a href="#/reports">reports</a></li>
                <li class="more" ng-click="__showMore = !__showMore;">
                    <i class="fa fa-chevron-down" ng-mouseenter="__showMore = true"></i>
                    <div class="options"
                         ng-show="__showMore"
                         ng-mouseleave="__showMore = false;">

                    </div>
                </li>
            </ul>
        </div>

        <div class="right-menu">

            <ul class="business-account">
                <li class="indicator"><a href="#/settings">Tookitaki</a></li>
                <li class="indicator"><a href="#/settings">Tookitaki Campaigns</a></li>
                <li class="indicator"><a href="#/settings">Tookitaki Campaigns</a></li>
            </ul>

            <ul class="actions">
                <li class="user notification">
                    <div class="icon fa fa-user"></div>
                    <div class="icon fa fa-envelope "></div>
                </li>
                <li class="refresh fa fa-refresh"></li>
            </ul>
        </div>
    </header>

    <div layout>
        <ul class="views undo-list">
            <li class="view view{{$index}}" ng-repeat="view in ui.views">
                <ul class="states {{view.name}} undo-list">
                    <li class="state state{{$index}}" ng-repeat="state in view.states">
                        {{view.name}} - {{state.name}}
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div id="user-settings">
        <ul class="settings-header undo-list">
            <li>Account</li>
            <li>Login</li>
            <li>Notifications (1)</li>
        </ul>
        <ul class="contents undo-list">
            <li>Business</li>
            <li>Login</li>
            <li>Notifications (1)</li>
        </ul>
    </div>
    <div id="loader"><h1>Loading...</h1></div>
</div>

<script src="../../lib/jquery-2.1.4.min.js"></script>
<script src="../../lib/angular-1.4.3.js"></script>
<script src="app/app.js"></script>
<script src="app/route-config.js"></script>
<script src="app/router/views.js"></script>
<script src="app/router/router.js"></script>
<script src="app/router/urlListener.js"></script>

<script src="app/router/layout.js"></script>
<script src="app/router/state.js"></script>
<script src="app/ui-controller.js"></script>
</body>
</html>
