<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="style/app.css">

    <script src="menu/core/menu-bar.js"></script>
    <script src="menu/core/menu-container.js"></script>
    <script src="menu/core/menu.js"></script>
</head>
<body class="centered-text" ng-app="test-shutter">

    <!-- at layer 3, above both menu bars.-->
    <div id="loader-bar"
         class="fixed-positioned layer-3 top-of-window catchy-bg-color no-display show-loader-for-demo"
         loader-bar>
    </div>

    <!-- at layer 2 and 1, top bar at layer 2, bottom at layer 1.-->
    <div id="navigation-bar"
         shutter-menu
         bottom-bar-class="layer-1"
         top-bar-class="layer-2"
         class="fixed-positioned layer-1 full-width top-bar-height">
        <div id="app-menu"
             shutter-menu-bar
             class="light-txt dark-bg">
            <span menu="menu1" class="navigation-link">dashboard |</span>
            <span menu="menu2" class="navigation-link">reports |</span>
            <span menu="menu3" class="navigation-link">campaign management |</span>
        </div>
        <div id="context-menu"
             shutter-menu-bar
             class="light-bg dark-txt">
            <span sub-menu-of="menu1">
                <span>empty for dashboard |</span>
            </span>
            <span sub-menu-of="menu2">
                <span>audience reports |</span>
                <span>campaign reports |</span>
                <span>ad reports |</span>
            </span>
            <span sub-menu-of="menu3">
                <span>audiences |</span>
                <span>campaigns |</span>
                <span>ads |</span>
            </span>
        </div>
    </div>

    <!-- This represents styling of container, while showing view a sub menu screen-->
    <div id="section-view"
         ng-controller="SectionViewController">

        <!-- stick any content here, while in context menu mode (this blocks top menu, by being in layer 2)-->
        <div id="context-sticky"
             class="full-width fixed-positioned position-below-context-menu white-bg layer-2">
            <div id="context-table-controls"></div>
            <table id="context-table-header-sticker"></table>
        </div>

        <!-- comes right after context menu, top(60 pixel) part will be hidden when app bar shutters down-->
        <div id="section-heading">
            <!-- Start section from here (this is hidden when app bar shows up)-->
            <h1 >Section Heading</h1>
        </div>

        <p>Some informatoins here, dont put though</p>

        <div class="top-sticky-height" stick-to="context-table-controls">
            <a class="pull-left">create audience</a>

            <form class="text-right-aligned pull-right display-inline">
                <div>
                    <label>analytics for</label>
                    <select ng-model="filter.bySelection">
                        <option value="today">today</option>
                        <option value="last-week">last week</option>
                        <option value="last-month">last month</option>
                        <option value="last-year">last year</option>
                    </select>
                </div>
            </form>
        </div>

        <!-- start the section contents here-->
        <div ng-include="'app/data-table/data-table.html'"></div>

        <form>
            <button ng-click="menu.show()" class="passive">Show Menu</button>
            <button ng-click="menu.hide()" class="passive">Hide Menu</button>
            <button ng-click="menu.showAppMenu()" class="passive">App Menu</button>
            <button ng-click="menu.showSubMenu()" >Context Menu</button>

            <button ng-click="loader.start()">Start Loader</button>
            <button ng-click="loader.stop()" class="passive">Stop Loader</button>

        </form>
        <form>
            <input type="text" placeholder="go here">
            <button >go</button>

            <input type="number" value="9453">
            <button >start</button>

            <button >complete before proceeding</button>
            <input type="datetime">
        </form>

    </div>
    <script src="../lib/jquery.js"></script>
    <script src="../lib/angular.js"></script>
    <script src="menu/angular-shutter.js"></script>

    <script>
        var app = angular.module("test-shutter", ["shutter-menu", "data-table", "data-loader"]);
        app.controller("SectionViewController", ["$scope","shutterMenu", "loader","DataTable", function($scope, shutterMenu, loader, DataTable){
            $scope.menu   = shutterMenu;
            $scope.loader = loader;
            $scope.menu.showSubMenu();
            $scope.filter = {bySelection: "last-month"};
            $scope.actions = {
                view: function (item) {
                    alert("view : " + item.name)
                },
                edit: function (item) {
                    alert("edit : " + item.name)
                },
                clone: function (item) {
                    alert("clone : " + item.name)
                },
                delete: function (item) {
                    alert("delete : " + item.name)
                },
            }
            $scope.dataTable = DataTable.new(
                    [{name: "name", colspan:5},{name: "salary"},{name: "gender"},{name: "address", colspan:2},{name: "realtionship"},{name: "licenseNo"}, ],
            [
                { 	name: "name", 	salary: "212121", 	gender: "male", 	address: "very long text, this should be shown gracefull on the table", 	realtionship: "single", 	licenseNo: "abc-1-123232-1212-fsag",  },
                { 	name: "name", 	salary: "212121", 	gender: "male", 	address: "very long text, this should be shown gracefull on the table", 	realtionship: "single", 	licenseNo: "abc-1-123232-1212-fsag", 	 },
                { 	name: "name", 	salary: "212121", 	gender: "male", 	address: "very long text, this should be shown gracefull on the table", 	realtionship: "single", 	licenseNo: "abc-1-123232-1212-fsag", 	 },
                { 	name: "name", 	salary: "212121", 	gender: "male", 	address: "very long text, this should be shown gracefull on the table", 	realtionship: "single", 	licenseNo: "abc-1-123232-1212-fsag", 	 },
                { 	name: "name", 	salary: "212121", 	gender: "male", 	address: "very long text, this should be shown gracefull on the table", 	realtionship: "single", 	licenseNo: "abc-1-123232-1212-fsag", 	 },
                { 	name: "name", 	salary: "212121", 	gender: "male", 	address: "very long text, this should be shown gracefull on the table", 	realtionship: "single", 	licenseNo: "abc-1-123232-1212-fsag", 	 },
                { 	name: "name", 	salary: "212121", 	gender: "male", 	address: "very long text, this should be shown gracefull on the table", 	realtionship: "single", 	licenseNo: "abc-1-123232-1212-fsag", 	 },
                { 	name: "name", 	salary: "212121", 	gender: "male", 	address: "very long text, this should be shown gracefull on the table", 	realtionship: "single", 	licenseNo: "abc-1-123232-1212-fsag", 	 },
                { 	name: "name", 	salary: "212121", 	gender: "male", 	address: "very long text, this should be shown gracefull on the table", 	realtionship: "single", 	licenseNo: "abc-1-123232-1212-fsag", 	 },
                { 	name: "name", 	salary: "212121", 	gender: "male", 	address: "very long text, this should be shown gracefull on the table", 	realtionship: "single", 	licenseNo: "abc-1-123232-1212-fsag", 	 },
                { 	name: "name", 	salary: "212121", 	gender: "male", 	address: "very long text, this should be shown gracefull on the table", 	realtionship: "single", 	licenseNo: "abc-1-123232-1212-fsag", 	 },
                { 	name: "name", 	salary: "212121", 	gender: "male", 	address: "very long text, this should be shown gracefull on the table", 	realtionship: "single", 	licenseNo: "abc-1-123232-1212-fsag", 	 },
                { 	name: "name", 	salary: "212121", 	gender: "male", 	address: "very long text, this should be shown gracefull on the table", 	realtionship: "single", 	licenseNo: "abc-1-123232-1212-fsag", 	 },
                { 	name: "name", 	salary: "212121", 	gender: "male", 	address: "very long text, this should be shown gracefull on the table", 	realtionship: "single", 	licenseNo: "abc-1-123232-1212-fsag", 	 },
                { 	name: "name", 	salary: "212121", 	gender: "male", 	address: "very long text, this should be shown gracefull on the table", 	realtionship: "single", 	licenseNo: "abc-1-123232-1212-fsag", 	 },
                { 	name: "name", 	salary: "212121", 	gender: "male", 	address: "very long text, this should be shown gracefull on the table", 	realtionship: "single", 	licenseNo: "abc-1-123232-1212-fsag", 	 },
                { 	name: "name", 	salary: "212121", 	gender: "male", 	address: "very long text, this should be shown gracefull on the table", 	realtionship: "single", 	licenseNo: "abc-1-123232-1212-fsag", 	 },
                { 	name: "name", 	salary: "212121", 	gender: "male", 	address: "very long text, this should be shown gracefull on the table", 	realtionship: "single", 	licenseNo: "abc-1-123232-1212-fsag", 	 },
                { 	name: "name", 	salary: "212121", 	gender: "male", 	address: "very long text, this should be shown gracefull on the table", 	realtionship: "single", 	licenseNo: "abc-1-123232-1212-fsag", 	 },
                { 	name: "name", 	salary: "212121", 	gender: "male", 	address: "very long text, this should be shown gracefull on the table", 	realtionship: "single", 	licenseNo: "abc-1-123232-1212-fsag", 	 },
                { 	name: "name", 	salary: "212121", 	gender: "male", 	address: "very long text, this should be shown gracefull on the table", 	realtionship: "single", 	licenseNo: "abc-1-123232-1212-fsag", 	 },
                { 	name: "name", 	salary: "212121", 	gender: "male", 	address: "very long text, this should be shown gracefull on the table", 	realtionship: "single", 	licenseNo: "abc-1-123232-1212-fsag", 	 },
                { 	name: "name", 	salary: "212121", 	gender: "male", 	address: "very long text, this should be shown gracefull on the table", 	realtionship: "single", 	licenseNo: "abc-1-123232-1212-fsag", 	 },
                { 	name: "name", 	salary: "212121", 	gender: "male", 	address: "very long text, this should be shown gracefull on the table", 	realtionship: "single", 	licenseNo: "abc-1-123232-1212-fsag", 	 },
                { 	name: "name", 	salary: "212121", 	gender: "male", 	address: "very long text, this should be shown gracefull on the table", 	realtionship: "single", 	licenseNo: "abc-1-123232-1212-fsag", 	 },
                { 	name: "name", 	salary: "212121", 	gender: "male", 	address: "very long text, this should be shown gracefull on the table", 	realtionship: "single", 	licenseNo: "abc-1-123232-1212-fsag", 	 },
                { 	name: "name", 	salary: "212121", 	gender: "male", 	address: "very long text, this should be shown gracefull on the table", 	realtionship: "single", 	licenseNo: "abc-1-123232-1212-fsag", 	 },
                { 	name: "name", 	salary: "212121", 	gender: "male", 	address: "very long text, this should be shown gracefull on the table", 	realtionship: "single", 	licenseNo: "abc-1-123232-1212-fsag", 	 },
                { 	name: "name", 	salary: "212121", 	gender: "male", 	address: "very long text, this should be shown gracefull on the table", 	realtionship: "single", 	licenseNo: "abc-1-123232-1212-fsag", 	 },
            ]

            );
        }]);

        window.module = angular.module("data-loader", []);
        window.datatable = angular.module("data-table", [])
    </script>
    <script src="app/sticky.js"></script>
    <script src="app/button-effect.js"></script>

    <script src="app/data-table/data-table.js"></script>
    <script src="app/data-table/row-options.js"></script>
    <script src="app/data-table/row-options-for.js"></script>

    <script src="app/data-table/sticky-header.js"></script>
    <script src="app/sticky.js"></script>
    <script src="app/select-action.js"></script>


    <script src="app/loader-bar/data-loader.js"></script>
    <script src="app/loader-bar/loader-directive.js"></script>
    <script src="app/loader-bar/loader-service.js"></script>
</body>
</html>
