<table>
    <thead sticky-header sticker-selector="#context-table-header-sticker">
        <tr>
            <th> <!-- this column is for row options--> {{dataTable.rowControl.current.positionFromTop()}}</th>
            <th ng-repeat="column in dataTable.columns" colspan="{{column.colspan}}">
                {{column.name}}
            </th>
        </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in dataTable.rows">
        <td row-options="#template-for-options" row-item="row">options</td>
        <td>{{row.name}}</td>
        <td>{{row.salary}}</td>
        <td>{{row.gender}}</td>
        <td colspan="{{dataTable.colsSpanOf('address')}}">{{row.address}}</td>
        <td>{{row.realtionship}}</td>
        <td>{{row.licenseNo}}</td>
    </tr>
    </tbody>
</table>

<!-- here trigger the next page  call -->
<div id="end-of-table"
     trigger-next-page-on-focus>
</div>