<table>
    <thead sticky-header sticker-selector="#context-table-header-sticker">
        <tr>
            <th> <!-- this column is for row options--> {{dataTable.rowControl.current.positionFromTop()}}</th>
            <th ng-repeat="column in dataTable.columns" colspan="{{dataTable.colsSpanOf(column.name)}}">
                {{column.name}}
            </th>
        </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in dataTable.rows">
        <td row-options-for="row" >options</td>
        <td colspan="{{dataTable.colsSpanOf('name')}}">{{row.name}}</td>
        <td colspan="{{dataTable.colsSpanOf('salary')}}">{{row.salary}}</td>
        <td colspan="{{dataTable.colsSpanOf('gender')}}">{{row.gender}}</td>
        <td colspan="{{dataTable.colsSpanOf('address')}}">{{row.address}}</td>
        <td colspan="{{dataTable.colsSpanOf('realtionship')}}">{{row.realtionship}}</td>
        <td colspan="{{dataTable.colsSpanOf('licenseNo')}}">{{row.licenseNo}}</td>
    </tr>
    </tbody>
</table>

<!-- here trigger the next page  call -->
<div id="end-of-table"
     trigger-next-page-on-focus>
</div>