<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="style/app.css">

    <script src="menu/core/menu-bar.js"></script>
    <script src="menu/core/menu-container.js"></script>
    <script src="menu/core/menu.js"></script>

    <script src="loader.js"></script>
</head>
<body class="centered-text" ng-app="test-shutter">

    <!-- at layer 3, above both menu bars.-->
    <div id="loader-bar"
         class="fixed-positioned layer-3 top-of-window catchy-bg-color no-display show-loader-for-demo"
         loader-bar>
    </div>

    <!-- at layer 2 and 1, top bar at layer 2, bottom at layer 1.-->
    <div id="navigation-bar"
         shutter-menu
         bottom-bar-class="layer-1"
         top-bar-class="layer-2"
         class="fixed-positioned layer-1 full-width top-bar-height">
        <div id="app-menu"
             shutter-menu-bar
             class="light-txt dark-bg">
            <span menu="menu1" class="navigation-link">dashboard |</span>
            <span menu="menu2" class="navigation-link">reports |</span>
            <span menu="menu3" class="navigation-link">campaign management |</span>
        </div>
        <div id="context-menu"
             shutter-menu-bar
             class="light-bg dark-txt">
            <span sub-menu-of="menu1">
                <span>empty for dashboard |</span>
            </span>
            <span sub-menu-of="menu2">
                <span>audience reports |</span>
                <span>campaign reports |</span>
                <span>ad reports |</span>
            </span>
            <span sub-menu-of="menu3">
                <span>audiences |</span>
                <span>campaigns |</span>
                <span>ads |</span>
            </span>
        </div>
    </div>

    <!-- This represents styling of container, while showing view a sub menu screen-->
    <div id="sub-menu-content"
         class="very-high-to-test-scroll"
         ng-controller="ViewPortController">
        <!-- stick any content here, while in context menu mode-->
        <div id="context-sticky"
             class="full-width fixed-positioned position-below-context-menu no-display"
             sticky>
            <!-- This gets eclipsed, when showing both context menus -->
            <h1 class="app-menu-height">Section Heading</h1>
            <span>Stick table/forms-section-headings here</span>
        </div>

        <!-- Start section from here (this is )-->
        <h1>Section Heading</h1>

        <!-- start the section contents here-->
        <p>contents below here are scrollable</p>
        <form>
            <button ng-click="menu.show()">Show Menu</button>
            <button ng-click="menu.hide()">Hide Menu</button>
            <button ng-click="menu.showAppMenu()">App Menu</button>
            <button ng-click="menu.showSubMenu()">Context Menu</button>

            <button ng-click="loader.start()">Start Loader</button>
            <button ng-click="loader.stop()">Stop Loader</button>

        </form>
        <form>
            <input type="text" placeholder="go here">
            <button >go</button>

            <input type="number" value="9453">
            <button >start</button>

            <button >complete before proceeding</button>
            <input type="datetime">
        </form>
    </div>
    <script src="../lib/jquery.js"></script>
    <script src="../lib/angular.js"></script>
    <script src="menu/angular-shutter.js"></script>

    <script>
        var app = angular.module("test-shutter", ["shutter-menu"]);
        app.controller("ViewPortController", ["$scope","shutterMenu","loader", function($scope, shutterMenu, loader){
            $scope.menu   = shutterMenu;
            $scope.loader = loader;

            // TODO remove this
            $scope.menu.showSubMenu();
            loader.start();
        }]);
    </script>
</body>
</html>
