<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <script src="menu/core/menu-bar.js"></script>
    <script src="menu/core/menu-container.js"></script>
    <script src="menu/core/menu.js"></script>

    <script src="loader.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
    <script src="menu/angular-shutter.js"></script>
</head>
<body class="centered-text very-light-bg" ng-app="test-shutter">
    <div id="loader-bar"
         class="fixed-positioned layer-3 top-of-window catchy-bg-color no-display show-loader-for-demo">
    </div>

    <div id="navigation-bar"
         shutter-menu
         bottom-bar-class="layer-1"
         top-bar-class="layer-2"
         class="fixed-positioned layer-1 full-width top-bar-height">
        <div id="app-menu"
             shutter-menu-bar
             class="light-txt dark-bg">
            <span menu="menu1" class="navigation-link">dashboard |</span>
            <span menu="menu2" class="navigation-link">reports |</span>
            <span menu="menu3" class="navigation-link">campaign management |</span>
        </div>
        <div id="context-menu"
             shutter-menu-bar
             class="light-bg dark-txt">
            <span sub-menu-of="menu1">
                <span>empty for dashboard |</span>
            </span>
            <span sub-menu-of="menu2">
                <span>audience reports |</span>
                <span>campaign reports |</span>
                <span>ad reports |</span>
            </span>
            <span sub-menu-of="menu3">
                <span>audiences |</span>
                <span>campaigns |</span>
                <span>ads |</span>
            </span>
        </div>
    </div>

    <!-- This represents styling of container, while showing view a sub menu screen-->
    <div id="sub-menu-content"
         class="very-high-to-test-scroll"
         ng-controller="MenuController">
        <!-- stick any content here, while in context menu mode-->
        <div id="context-sticky" class="full-width fixed-positioned position-below-context-menu no-display">
            <!-- This gets eclipsed, when showing both context menus -->
            <h1 class="app-menu-height">Stick section headings here....</h1>
            <span>Stick table/forms-section-headings here</span>
        </div>

        <!-- Start section from here (this is )-->
        <h1>the section starts from here</h1>

        <form>
            <button ng-click="menu.show()">Show Menu</button>
            <button ng-click="menu.hide()">Hide Menu</button>
            <button ng-click="menu.showAppMenu()">App Menu</button>
            <button ng-click="menu.showSubMenu()">Context Menu</button>

            <input name="expectedTime" type="number" id="myInput" oninput="loaderBar.waitFor(parseInt(this.value))" value="5000">
            <button onclick="loaderBar.waitFor(5000)">Start Loader</button>
            <button onclick="loaderBar.stop()">Stop Loader</button>

        </form>
    </div>

    <script>


        var app = angular.module("test-shutter", ["shutter-menu"]);
        app.controller("MenuController", ["$scope","shutterMenu", function($scope, shutterMenu){
            $scope.menu = shutterMenu;

            // TODO remove this
            $scope.menu.showSubMenu();
        }]);
        $(window).load(function () {
            /* Creates and instanceof data loader,
            doen't show it, unless #waitFor(expectedTimeToFinish) is invoked            */
            window.loaderBar = new DataLoader($("#loader-bar"));
        });

        $(window).bind("scroll", function () {
            if(this.pageYOffset > 100){
                $("#context-sticky").show();
            }
        })
    </script>
</body>
</html>
