/* Defaults and resets*/
body, div, h1, p, span, img, form, input, button, ul, li, a{
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;

  outline: none;
  text-align: center;

  color: #565656;
  background-color: transparent;
  font-size: large;
  border-radius: 0;
}

input, button{
  width: 200px;
  padding: 6px 12px 6px 12px;
  margin: 5px;
  min-width: 300px;
  height: 1.9em;

  -webkit-border-radius: 5px;
  border-radius: 5px;

  -webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
}

input:hover, button:hover{
  transform: scale(1.05);
}

input{
  border: #5E5E5E solid 1px;
}

button:hover{
  border: 0 solid #599f3f;

  background-color: rgb(103, 152, 240);
  color: rgba(247, 242, 242, 0.81);
}

button{
  cursor: pointer;

  background-color: rgba(66, 127, 237, 0.8);
  overflow: hidden;
}

.clickable{
  cursor: pointer;
}

h1{
  font-size: 1.6em;
}

/* library */
.centered-text {
  text-align: center;
}

.dark-txt {
  color: #434A54;
}

.light-txt{
  color: #CECECE;
}

.dark-bg {
  background-color: #E1E5E8;
}

.light-bg {
  background-color: #F3F3F3;
}

.very-light-bg{
  background-color: #F3F3F3;
}

.catchy-bg-color{
  background-color: #6785F0;
}

.full-width {
  width: 100%;
}

.fixed-positioned{
  position: fixed;
}

.absolute-positioned{
  position: absolute;
}

.top-of-window{
  top: 0;
}

.layer-1{
  z-index: 1;
}

.layer-2{
  z-index: 2;
}

.layer-3{
  z-index: 3;
}
/* Design */

.top-bar-height {
  top: -105px; /*total height : 105 pixels(hidden by offset)*/
}

.app-menu-height{
  height: 65px;
}

.position-below-context-menu{
  top: 45px;
}

#loader-bar{
  padding-top: 2px;
}

#app-menu {
  /*total height : 60 pixels*/
  padding: 20px 0 0 0;
  height: 40px;
}

#context-menu {
  /*total height : 45 pixels*/
  padding: 5px 0 0 0;
  height: 40px;
}

#sub-menu-content {
  margin: 110px 0 0 0; /* top-height-of-both-top-bars + 5px */
}

body{
  font-family: UbuntuTitling;
}
@font-face {
  font-family: UbuntuTitling;
  src: url("fonts/UbuntuTitling-Bold.ttf") format("opentype");
}

.no-display {
  display: none;
}

/*TODO remove*/

.very-high-to-test-scroll{
  height: 3000px;
}

.show-loader-for-demo{
  width: 70%;
  display: block;
}
