/* Defaults and resets*/
body, div, h1, p, span, img, form, input, button, ul, li, a{
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;

  outline: none;
  text-align: center;

  color: black;
  background-color: transparent;
  font-size: large;
  border-radius: 0;
}

h1{
  font-size: 1.6em;
}

/* theme */
.centered-text {
  text-align: center;
}

.dark-txt {
  color: #434A54;
}

.light-txt{
  color: #CECECE;
}

.dark-bg {
  background-color: #434A54;
}

.light-bg {
  background-color: #F3F3F3;
}

.very-light-bg{
  background-color: #F3F3F3;
}

.full-width {
  width: 100%;
}

.fixed-positioned{
  position: fixed;
}

.absolute-positioned{
  position: absolute;
}
/* Styling */

.top-bar-height {
  top: -105px; /*total height : 105 pixels(hidden by offset)*/
}

#app-menu {
  /*total height : 60 pixels*/
  padding: 20px 0 0 0;
  height: 40px;
}

#context-menu {
  /*total height : 45 pixels*/
  padding: 5px 0 0 0;
  height: 40px;
}

#content-window {
  margin: 110px 0 0 0; /* top-title-height + 5px */
}

.layer-1{
  z-index: 1;
}

.layer-2{
  z-index: 2;
}

.layer-3{
  z-index: 3;
}

#loader-bar{
  padding-top: 5px;
  background-color: #6987F5;
  display: none;
}
body{
  font-family: UbuntuTitling;
}
@font-face {
  font-family: UbuntuTitling;
  src: url("fonts/UbuntuTitling-Bold.ttf") format("opentype");
}

.app-menu-height{
  height: 65px;
}

.position-below-context-menu{
  top: 45px;
}

.no-display {
  display: none;
}
/*TODO*/
/*#content-window{padding-top: 300px}*/


.very-high-to-test-scroll{
  height: 3000px;
}

