@import '../../style/modules/debt';

.create-audience-progress-bar {
  margin: 10px;
  background-color: #F2F2F2;
  padding: 20px 10px 10px 10px;
}

.wizard-buttons-wrapper{
  margin: 10px;
  background-color: #F2F2F2;
}

.wizard-buttons{
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;

  button{
    @extend .tk-button;
    @extend .tk-button.primary;
    border: none;
    font-size: 1em;
  }
}

.form-wrapper {

  .form-label{
    margin: 5px;
  }
  .form-input {
  }
}

.audience-preview{
  .no-display{
    position: absolute;
    left: -500px;
  }
}

.grid {
  .card {
    display: inline-block;
    width: 200px;
    padding: 5px;
    background-color: white;
    margin: 10px;
    box-shadow: 2px 2px 5px #B9B7B7;

    .title{
      border-bottom: 1px solid grey;
      margin: 5px 15px 0px 15px;
    }
  }
  .card.header-card{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}