$padding      : 10px;

$logoWidth    : 100px;
$mediaWidth   : 100px;
$sessionWidth : 100px;
$searchWidth  : calc(100% - #{$logoWidth + $mediaWidth + $sessionWidth});

$searchMinWidth  : 500px;
$barMinWidth     : $logoWidth + $mediaWidth + $sessionWidth + $searchMinWidth;

nav.navigation{
  min-width: $barMinWidth;
  box-sizing: border-box;

  *{box-sizing: border-box; }

  .navigation-link{
    float: left;
    display: block;
    padding: 0px $padding;
  }

  .logo, .search-and-menu, .select-media, .user-session{
    @extend .navigation-link;
  }

  .navigation-link:not(.logo){
    position: relative;
    left: 1px;
    margin: 10px 0px;
    height: $barHeight - 2*$padding;
    background-color: #EEE;
    line-height: $barHeight - 2*$padding;
    border: 1px solid black;
  }

  .logo{
    width: $mediaWidth;
  }
  .search-and-menu{
    text-align: center;
    width: $searchWidth;
  }
  .select-media{
    width: $mediaWidth;
  }
  .user-session{
    width: $sessionWidth;
  }
  @extend .resize-container;
}